{
  "openapi": "3.0.0",
  "info": {
    "title": "グローバル進出キャンプ API リファレンスドキュメント",
    "version": "1.0.0",
    "description": "Public AI Gateway API Reference"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "モデル一覧の取得",
        "deprecated": false,
        "description": "現在利用可能なモデルの一覧を取得します。\n\nリクエストヘッダーに基づいてレスポンス形式を自動的に識別します：\n- `x-api-key` および `anthropic-version` ヘッダーが含まれる場合は Anthropic 形式を返します\n- `x-goog-api-key` ヘッダーまたは `key` クエリパラメータが含まれる場合は Gemini 形式を返します\n- その他の場合は OpenAI 形式を返します",
        "operationId": "listModels",
        "tags": [
          "モデル一覧の取得"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Google API キー (Gemini 形式用)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Anthropic API Key (Claude 形式用)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Anthropic API バージョン",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Google API キー (Gemini 形式用)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "モデル一覧の取得に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "認証に失敗しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "Gemini 形式の取得",
        "deprecated": false,
        "description": "利用可能なモデルのリストを Gemini API 形式で返します",
        "operationId": "listModelsGemini",
        "tags": [
          "モデル一覧の取得"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "モデル一覧の取得に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "チャットセッションの作成",
        "deprecated": false,
        "description": "対話履歴に基づいてモデルのレスポンスを作成します。ストリーミング形式および非ストリーミング形式のレスポンスをサポートしています。\n\nOpenAI Chat Completions API と互換性があります。",
        "operationId": "createChatCompletion",
        "tags": [
          "OpenAI形式 (Chat)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "レスポンスの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "リクエストパラメータのエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "リクエストレート制限",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "レスポンスの作成 (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses APIは、モデルのレスポンスを作成するために使用されます。\nマルチターン対話、ツール呼び出し、推論などの機能をサポートしています。",
        "operationId": "createResponse",
        "tags": [
          "OpenAI形式 (Responses)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "レスポンスの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Gemini 画像(Nano Banana)",
        "deprecated": false,
        "description": "Gemini 画像生成。\n\nNano BananaシリーズはOpenAI Dall-E形式をサポートしています（詳細は[画像生成/OpenAI Dall-E形式](#tag/%E5%9B%BE%E7%89%87%E7%94%9F%E6%88%90%2FOpenAI%20Dall-E%E6%A0%BC%E5%BC%8F)をご覧ください）。",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "画像生成/Gemini形式"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "モデル名",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string"
                          },
                          "imageSize": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "required": [
                      "responseModalities"
                    ]
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "画像を生成（OpenAI Dall-E互換）",
        "deprecated": false,
        "description": "OpenAI Dall-E形式の画像生成APIです。",
        "operationId": "createImageGeneration",
        "tags": [
          "画像生成/OpenAI Dall-E形式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "モデル名",
                    "example": "dall-e-3"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "画像生成プロンプト"
                  },
                  "n": {
                    "type": "integer",
                    "description": "生成数",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "画像サイズ",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "生成画像の品質",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "スタイル",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "レスポンス形式",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "ユーザー識別子"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "example": {
                "model": "dall-e-3",
                "prompt": "A cute baby sea otter",
                "n": 1,
                "size": "1024x1024"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "画像の生成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "画像を編集（OpenAI Dall-E互換）",
        "deprecated": false,
        "description": "OpenAI Dall-E形式の画像編集APIです。",
        "operationId": "createImageEdit",
        "tags": [
          "画像生成/OpenAI Dall-E形式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "編集対象の画像"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "オプションのマスク画像"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "プロンプトを編集"
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "画像の生成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "動画の生成",
        "deprecated": false,
        "description": "OpenAI Sora 互換形式の動画生成APIです。テキストからの動画生成、および画像・動画リファレンス生成モードをサポートしています。\n\n- `POST /v1/videos`：動画タスクの作成\n- `GET /v1/videos/{video_id}`：タスクステータスの照会\n- `GET /v1/videos/{video_id}/content`：動画バイナリコンテンツの取得（ダウンロード）\n\n現在は外部に提供されていません：\n- `GET /v1/videos`：タスク一覧\n- `POST /v1/videos/{video_id}/remix`：動画の二次編集 / リミックス\n\n標準認証ヘッダー：\n- `Content-Type: application/json`（タスク作成時）\n\n1. `POST /v1/videos` を呼び出してタスクを作成し、`id` を取得します。\n2. `status=completed` または `failed` になるまで `GET /v1/videos/{id}` をポーリングします。\n3. `completed` 後は、レスポンス内の `video_url` を優先的に使用してください。ゲートウェイ経由の統一ダウンロードが必要な場合は `GET /v1/videos/{id}/content` を呼び出すことができます。\n\n## 3.1 コアパラメータ\n\n- `model: string`（必須）\n- 説明：呼び出す動画モデルの名前。\n- 例：`sora-2`、`doubao-seedance-2-0-260128`\n\n- `prompt: string`（推奨）\n- 説明：動画生成のメイン説明文。`content` を使用する場合も必須であり、空にすることはできません。\n- 例：`第一人称视角果茶广告，节奏轻快`\n\n- `seconds: number|string`（オプション）\n- 説明：目標の長さ。`duration` との選択式で、両方指定された場合は通常ゲートウェイの解析結果が優先されます。\n- 例：`8`\n\n- `size: string`（オプション）\n- 説明：出力解像度。一般的には `宽x高` が使用されます。\n- 例：`720x1280`、`1280x720`\n\n- `mode: string`（オプション）\n- 説明：生成モード。指定しない場合のデフォルトは `t2v` です。モードによって素材パラメータの要件が異なります。\n- 例：`t2v`、`i2v`、`i2v_first_last`、`reference_material`\n\n## 3.2 共通互換パラメータ\n\n- `aspect_ratio` または `ratio`：アスペクト比。\n- `duration`：再生時間のエイリアス（`seconds` とのいずれか一方を選択）。\n- `quality` または `resolution`：解像度関連パラメータ。\n- `fps`：フレームレート。\n- `function_mode`：オプション機能モード。特定の動作をトリガーするために使用されます（例：`omni_reference` は万能参照セマンティクスを表します）。\n\n## 3.3 参照素材パラメータ\n\n- `input_reference`：標準参照入力オブジェクト。\n- 説明：文字列 URL 形式のみをサポートし、オブジェクト形式はサポートしていません。\n- 正しい例：`\"input_reference\": \"https://example.com/ref.png\"`\n- 誤った例：`\"input_reference\": { \"image_url\": \"https://example.com/ref.png\" }`\n\n- `image_url` / `image_urls`：画像参照。\n- 説明：`image_url` は通常、単一の画像に使用されます。`image_urls` は複数の画像または万能参照に使用されます。\n\n- `end_image_url` / `last_image_url`：最終フレーム参照。\n- 説明：通常 `mode=i2v_first_last` と組み合わせて、動画の終了画面を表します。\n\n- `video_urls`：動画参照リスト。\n- 説明：通常 `reference_material` または `content` の万能参照シナリオで使用されます。\n\n- `audio_urls`：音声参照リスト。\n- 説明：BGMやナレーションのスタイル参照に使用されます（有効かどうかはモデルの能力に依存します）。\n\n- `reference_images`：マルチ画像参照。\n- 説明：通常、マルチフレーム/マルチ画像参照モードで使用されます。\n\n説明：モデルによって素材フィールドの要件が異なるため、以下の「モードと最小入力パラメータ」に従ってパラメータを渡すことを推奨します。\n\n## 3.4 content 高度なモード（複雑な参照シナリオに推奨）\n\n`content` 配列を直接渡すことが可能です：\n- `type=text`：テキスト指示。\n- `type=image_url|video_url|audio_url`：メディア入力。\n- テキスト内で `@名称` を使用して素材を参照するための `name` をサポートしています。\n\n必須制約：\n- `content` を使用する場合でも、`prompt` は必須であり、空にすることはできません。\n\n互換性のある記述方法：\n- `image_url/video_url/audio_url` は文字列、またはオブジェクト `{ \"url\": \"https://...\" }` として指定可能です。\n- `role` では `material` を使用でき、`reference_image/reference_video/reference_audio` にも互換性があります。\n\n同時に含めることが可能な項目：\n- `generate_audio: boolean`\n- `watermark: boolean`\n\n補足説明：\n- `generate_audio=true`：モデルに音声の同時生成をリクエストします（この機能をサポートするモデルでのみ有効）。\n- `watermark=false`：ウォーターマークのオフをリクエストします（実際に有効になるかは、モデルおよびチャネルのポリシーに依存します）。\n- `name`：素材のエイリアス。モデルが素材を正確に関連付けられるよう、`text` 内の `@名称` と一致させることを推奨します。\n\nモデルファミリーによってパラメータのサポート状況が大きく異なるため、下表に従ってパラメータを選択することを推奨します：\n\n| モデルファミリー | 主なモデル名（例） | 推奨される最小入力パラメータ | よく使われる拡張パラメータ | 注意事項 |\n|---|---|---|---|---|\n| Seedance | `doubao-seedance-*` | `model + prompt + mode` | `image_url/image_urls/end_image_url/reference_images/video_urls/audio_urls/function_mode/content` | `mode` に対して最も敏感です。すべてのバージョンが `reference_material` をサポートしているわけではありません。 |\n| Sora 汎用 | `sora-2` `sora-2-pro` および `*-stable/*-official` | `model + prompt` | `seconds/size`。`input_reference`（文字列 URL）の追加を推奨 | マルチチャネルのフォールバック時、画像の要否が異なる場合があるため、成功率を高めるために参考画像の用意を推奨します。 |\n| Sora 長さプリセット | `sora2-landscape-10s` `sora2-pro-portrait-25s` など | `model + prompt` | `image_url/input_reference` | 長さとアスペクト比は通常モデル名によって決定され、`seconds/ratio` はモデルが許可する場合のみ有効になります。 |\n| Veo | `veo3*` `veo3.1*` | `model + prompt` | `mode + image_url/reference_images/content + ratio/seconds` | `i2v/r2v` タイプのモデルは通常、参考画像や参考素材を必要とします。`t2v` タイプは通常テキストのみで可能です。 |\n| Kling | `kling-video` `kling-*` | `model + prompt + mode` | `mode=t2v/i2v/multi_i2v` および `image/image_list` などの公式フィールド | 公式パスのセマンティクス（text2video/image2video/multi-image2video）に対応し `/v1/videos` に統合済みです。動画の延長機能は提供していません。 |\n| 統合拡張モデル | `happyhorse*` `grok-imagine-1.0-video*` など | `model + prompt` | `seconds/size/content` | 具体的な対応フィールドはモデルとチャネルの実装に依存します。標準フィールドを優先し、不足している場合に `content` を使用することを推奨します。 |\n\n説明：\n1. 固定エイリアスモデル（`*-stable`、`*-official` など）を使用する場合、基盤側でチャネルが自動的に切り替わることがあるため、可能な限り「マルチチャネル互換パラメータ」（`prompt + model + seconds/duration + size/ratio + 必要参考图`）を渡してください。\n2. 複雑なマルチ素材シーン（画像+動画+音声+@名称）では `content` を優先して使用してください。互換性が最も高くなります。\n3. モデルドキュメントで特定のフィールドのサポートが明記されていない場合は、まず「最小入力パラメータ」で疎通を確認してから、段階的に拡張パラメータを追加してください。\n\n### 4.1 Kling 公式モードの補足\n\n- `mode=t2v`：テキストから動画生成（Text-to-Video）\n- `mode=i2v`：画像から動画生成（`image` または `image_url` が必要）\n- `mode=multi_i2v`：複数画像リファレンス（`image_list` または複数の `image_urls` が必要）\n- `mode=extend`：未対応（動画の延長は現在 `/v1/videos` の外部提供を行っていません）\n\n一般的な公式パラメータは、`/v1/videos` リクエストボディに含めて直接透過的に渡すことができます：\n- `model_name` `negative_prompt` `cfg_scale` `mode(std/pro)` `duration` `aspect_ratio`\n- `sound` `camera_control` `callback_url` `external_task_id` `watermark_info`\n\n### 4.2 Grok 動画モードの補足\n\n推奨パラメータ：\n- `model`：例 `grok-video-3`\n- `prompt`\n- `ratio` または `aspect_ratio`\n- `resolution` または `size`\n- `seconds` または `duration`\n- `image` / `image_url` / `input_reference`（単一画像リファレンス）\n- `reference_images` / `reference_image_urls`（複数画像リファレンス、公式の `reference-to-video` セマンティクス）\n- `mode`（任意）：`image-to-video`、`reference-to-video`\n\n制約事項：\n- `mode=edit-video` / `mode=extend-video` は未対応です（動画編集および延長機能は現在外部に公開されていません）。\n- `image/input_reference` と `reference_images` を同時に渡すことはできません。\n\n- `mode=t2v`\n- 最小入力パラメータ：`model + prompt`\n\n- `mode=i2v`（`i2v_first` と同等）\n- 最小入力パラメータ：`model + prompt + image_url`（または `input_reference` 文字列 URL）\n\n- `mode=i2v_first_last`\n- 最小入力パラメータ：`model + prompt + image_url + end_image_url`\n\n- `mode=reference_images`\n- 最小入力パラメータ：`model + prompt + reference_images`（通常 1〜4枚）\n\n- `mode=reference_material`\n- 最小入力パラメータ：`model + prompt + (image_urls/video_urls/audio_urls 至少一种)`\n- 複雑なシナリオでは `content + function_mode=omni_reference` の使用を推奨します\n- 説明：`function_mode=omni_reference` を渡す際、`mode=reference_material` を明示的に渡さなくても、万能リファレンス（all-around reference）のセマンティクスとして処理されます。",
        "operationId": "createVideo",
        "tags": [
          "動画生成/Sora互換フォーマット"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "呼び出す動画モデルの名前。例：`sora-2`、`doubao-seedance-2-0-260128`",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "動画生成のメイン説明文です。`content` を使用する場合も必須であり、空にすることはできません。例：`第一人称视角果茶广告，节奏轻快`"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "単一画像エントリ。一部の互換モードでは images にマッピングされます。"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "期間のエイリアス（`seconds` とのどちらか一方を指定してください）。"
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "フレームレート。"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "動的拡張フィールドコンテナです。モデル固有の大量のフィールドがここからデシリアライズされます。"
                  },
                  "mode": {
                    "type": "string",
                    "description": "生成モード。指定しない場合のデフォルトは `t2v` です。モードによって素材パラメータの要件が異なります。例：`t2v`、`i2v`、`i2v_first_last`、`reference_material`"
                  },
                  "images": {
                    "type": "array",
                    "description": "マルチ画像入力用エントリポイントを統一します。[[KEEP_0]]、[[KEEP_1]]、[[KEEP_2]] などで使用されます。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "出力解像度。一般的には `宽x高` が使用されます。例：`720x1280`、`1280x720`"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "目標時間。`duration` との排他選択です。両方が渡された場合、通常はゲートウェイの解析結果が優先されます。例：`8`"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "標準参照入力オブジェクトです。"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "呼び出す動画モデルの名前。例：`sora-2`、`doubao-seedance-2-0-260128`",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "動画生成のメイン説明文です。`content` を使用する場合も必須であり、空にすることはできません。例：`第一人称视角果茶广告，节奏轻快`"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "単一画像エントリ。一部の互換モードでは images にマッピングされます。"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "期間のエイリアス（`seconds` とのどちらか一方を指定してください）。"
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "フレームレート。"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "動的拡張フィールドコンテナです。モデル固有の大量のフィールドがここからデシリアライズされます。"
                  },
                  "mode": {
                    "type": "string",
                    "description": "生成モード。指定しない場合のデフォルトは `t2v` です。モードによって素材パラメータの要件が異なります。例：`t2v`、`i2v`、`i2v_first_last`、`reference_material`"
                  },
                  "images": {
                    "type": "array",
                    "description": "マルチ画像入力用エントリポイントを統一します。[[KEEP_0]]、[[KEEP_1]]、[[KEEP_2]] などで使用されます。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "出力解像度。一般的には `宽x高` が使用されます。例：`720x1280`、`1280x720`"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "目標時間。`duration` との排他選択です。両方が渡された場合、通常はゲートウェイの解析結果が優先されます。例：`8`"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "標準参照入力オブジェクトです。"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "openai_t2v": {
                  "summary": "OpenAI t2v (prompt/model)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_i2v_input_reference": {
                  "summary": "OpenAI i2v (input_reference)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_alias_compat": {
                  "summary": "Alias兼容 (image_url/duration/aspect_ratio)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                },
                "seedance_i2v_first": {
                  "summary": "Seedance i2v_first",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_i2v_first_last": {
                  "summary": "Seedance i2v_first_last",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_images": {
                  "summary": "Seedance reference_images",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_material": {
                  "summary": "Seedance 万能リファレンスモード (reference_material)",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_volc_content": {
                  "summary": "Seedance 火山方舟 content モード",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "veo_first_last_frame": {
                  "summary": "Veo 先頭・末尾フレームモード",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "veo_reference_images_1to3": {
                  "summary": "Veo 1〜3枚のリファレンス画像モード",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "kling_text2video": {
                  "summary": "Kling テキストからの動画生成",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "kling_image2video": {
                  "summary": "Kling イメージ動画生成",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "grok_reference_video": {
                  "summary": "Grok ビデオモード",
                  "value": {
                    "model": "grok-video-3",
                    "prompt": "A dramatic cinematic shot with fast motion and rich lighting",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_img2video": {
                  "summary": "Vidu イメージから動画生成",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A stylish ad clip from a product still image",
                    "images": [
                      "https://example.com/product.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_first_tail": {
                  "summary": "Vidu 先頭・末尾フレームモード",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A smooth shot from start frame to end frame",
                    "images": [
                      "https://example.com/start.jpg",
                      "https://example.com/end.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_reference": {
                  "summary": "Vidu マルチリファレンスイメージモード",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "Maintain product style and character consistency",
                    "images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg",
                      "https://example.com/ref-3.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "hailuo_text2video": {
                  "summary": "Hailuo テキストからビデオ生成",
                  "value": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "動画タスクの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "タスクID（その後の照会やダウンロードに使用）。"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "レガシーAPI互換（非推奨予定）"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "タスクのステータス。",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed"
                      ]
                    },
                    "progress": {
                      "type": "integer",
                      "description": "進捗状況（0～100、近似値）。"
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "作成日時（Unix秒）。"
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "完了時刻。"
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "video_url": {
                      "type": "string",
                      "description": "直接ダウンロード可能な動画のURL。"
                    },
                    "url": {
                      "type": "string",
                      "description": "一部のモデルまたはチャネルでは、このフィールドが結果のURLとして返される場合があります。"
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "リクエストパラメータのエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "動画タスクステータスの取得",
        "deprecated": false,
        "description": "OpenAI 互換のビデオタスクステータス照会インターフェースです。\n\nビデオタスクの詳細なステータス情報を返します。",
        "operationId": "getVideo",
        "tags": [
          "動画生成/Sora互換フォーマット"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ビデオタスク ID",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "動画タスクのステータスを取得しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "動画結果のURLです。モデルによって `video_url` または `url` のいずれか一方が返されます。"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "動画結果のURLです。モデルによって `url` または `video_url` のいずれか一方が返されます。"
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "完了時間（Unix秒）。"
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "結果の有効期限（Unix秒）。"
                    },
                    "error": {
                      "type": "object",
                      "description": "失敗時のエラーメッセージ。"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "追加のメタデータ。"
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "タスクが存在しません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "動画コンテンツの取得",
        "deprecated": false,
        "description": "完了した動画タスクの動画ファイルの内容を取得します。\n\nこのインターフェースは、動画ファイルストリームをプロキシ経由で返します。",
        "operationId": "getVideoContent",
        "tags": [
          "動画生成/Sora互換フォーマット"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ビデオタスク ID",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "動画コンテンツの取得に成功しました",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "ビデオが存在しないか、または生成が完了していません。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling テキストからの動画生成",
        "deprecated": false,
        "description": "このシリーズはOpenAIの動画生成形式に対応しています（詳細はリンク [動画生成/Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video) を参照してください）。\n\nKling モデルを使用して、テキスト記述から動画を生成します。\n\n対応モデル：kling-v1, kling-v1-5 など",
        "operationId": "createKlingText2Video",
        "tags": [
          "動画生成/Kling形式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "動画生成タスクの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "リクエストパラメータのエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "Kling Text-to-Videoタスクの状態を取得",
        "deprecated": false,
        "description": "このシリーズはOpenAIの動画生成形式に対応しています（詳細はリンク [動画生成/Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video) を参照してください）。\n\nKling の Text-to-Video タスクの状態と結果を照会します。",
        "operationId": "getKlingText2Video",
        "tags": [
          "動画生成/Kling形式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "タスクID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "タスクステータスの取得に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "タスクが存在しません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling イメージ動画生成",
        "deprecated": false,
        "description": "このシリーズはOpenAIの動画生成形式に対応しています（詳細はリンク [動画生成/Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video) を参照してください）。\n\nKling モデルを使用して画像から動画を生成します。\n\nimage パラメータを介した画像 URL または Base64 エンコードされた画像データの入力に対応しています。",
        "operationId": "createKlingImage2Video",
        "tags": [
          "動画生成/Kling形式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "動画生成タスクの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "リクエストパラメータのエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "Kling イメージからの動画生成タスクの状態を取得",
        "deprecated": false,
        "description": "このシリーズはOpenAIの動画生成形式に対応しています（詳細はリンク [動画生成/Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video) を参照してください）。\n\nKling イメージからの動画生成タスクの状態と結果を照会します。",
        "operationId": "getKlingImage2Video",
        "tags": [
          "動画生成/Kling形式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "タスクID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "タスクステータスの取得に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "タスクが存在しません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/api/v3/contents/generations/tasks": {
      "post": {
        "summary": "動画の生成（Seedance）",
        "description": "このシリーズはOpenAIの動画生成形式に対応しています（詳細はリンク [動画生成/Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video) を参照してください）。\n\n動画生成タスクを作成し、タスクIDを使用してステータスと結果を照会するために使用します。\n\nタスク作成の主要フィールド：\n- `model`：必須、モデル名。\n- `prompt`：必須、動画生成のメイン説明文。\n- `content`：任意、アドバンスドモードにおけるマルチメディア入力配列。\n- `function_mode`：任意、通常、万能リファレンスなどのアドバンスドモードで使用されます。\n\n互換性のある入力パラメータ：\n- `mode`：`t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\n呼び出しの詳細：\n- `mode=reference_material` または `function_mode=omni_reference` の場合、`content` を介してテキストとリファレンス素材を渡すことを推奨します。\n- `content` 内のメディアフィールドは、URL文字列の直接入力と、`{ \"url\": \"https://example.com/ref.mp4\" }` のようなオブジェクト形式の両方をサポートしています。\n- `ratio`、`duration`、`resolution`、`fps` は、最終的な生成設定に影響します。\n\n照会結果の注目フィールド：\n- `items[].status`\n- `items[].content.video_url` または `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n```json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n```",
        "operationId": "create__seedance__task",
        "tags": [
          "動画生成/Seedance火山方舟（Volcengine Ark）"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "doubao-seedance-2-0-260128",
                    "description": "必須。モデル名。"
                  },
                  "prompt": {
                    "type": "string",
                    "example": "参考素材生成一段剧情短视频",
                    "description": "必須。動画生成のメイン説明です。空にすることはできません。"
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "text",
                            "image_url",
                            "video_url",
                            "audio_url"
                          ]
                        },
                        "text": {
                          "type": "string"
                        },
                        "image_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "video_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "audio_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "role": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "任意。アドバンスドモードにおけるマルチメディア入力の配列です。複雑な参照シナリオでの使用を推奨します。"
                  },
                  "function_mode": {
                    "type": "string",
                    "description": "任意。高度な機能モードです。全般的なリファレンス用の `omni_reference` などがあります。"
                  },
                  "mode": {
                    "type": "string",
                    "description": "任意。`t2v`、`i2v`、`i2v_first_last`、`reference_images`、`reference_material` などの互換モードフィールドです。"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "任意。単一の参照画像URL。"
                  },
                  "image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "任意。複数の参照画像URLのリスト。"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "任意。互換性のためのリファレンス入力フィールドです。"
                  },
                  "end_image_url": {
                    "type": "string",
                    "description": "任意。最終フレームの参照画像の URL。"
                  },
                  "last_image_url": {
                    "type": "string",
                    "description": "オプション。最終フレームの参照画像URLのエイリアス。"
                  },
                  "video_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "任意。参照用動画URLのリスト。"
                  },
                  "audio_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "任意。参照オーディオURLのリスト。"
                  },
                  "seconds": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "オプション。動画の長さ（秒）。`duration` と互換性があります。"
                  },
                  "duration": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "オプション。動画の長さ（秒）。`seconds` と互換性があります。"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "任意。アスペクト比（例：`16:9`）。"
                  },
                  "ratio": {
                    "type": "string",
                    "description": "任意。アスペクト比のエイリアス（例：`16:9`）。"
                  },
                  "size": {
                    "type": "string",
                    "description": "任意。解像度またはサイズ互換フィールド。"
                  },
                  "quality": {
                    "type": "string",
                    "description": "任意。生成品質の設定。"
                  },
                  "resolution": {
                    "type": "string",
                    "description": "任意。出力解像度。"
                  },
                  "fps": {
                    "type": "number",
                    "description": "任意。フレームレート。"
                  },
                  "generate_audio": {
                    "type": "boolean",
                    "description": "任意。オーディオを生成するかどうか。"
                  },
                  "watermark": {
                    "type": "boolean",
                    "description": "任意。ウォーターマークを追加するかどうか。"
                  }
                }
              },
              "example": {
                "model": "doubao-seedance-2-0-260128",
                "prompt": "参考素材生成一段剧情短视频",
                "content": [
                  {
                    "type": "text",
                    "text": "@角色A 在咖啡馆和 @角色B 聊天，@背景视频 作为场景，配上 @背景音乐 --ratio 16:9 --dur 10"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterA.jpg",
                    "role": "material",
                    "name": "角色A"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterB.jpg",
                    "role": "material",
                    "name": "角色B"
                  },
                  {
                    "type": "video_url",
                    "video_url": "https://example.com/cafe-scene.mp4",
                    "role": "material",
                    "name": "背景视频"
                  },
                  {
                    "type": "audio_url",
                    "audio_url": "https://example.com/bgm.mp3",
                    "name": "背景音乐"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "タスクの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "task_xxx",
                      "description": "タスク ID。"
                    },
                    "status": {
                      "type": "string",
                      "description": "タスクのステータス。",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "description": "作成日時（Unix秒）。"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/contents/generations/tasks/{task_id}": {
      "get": {
        "summary": "タスクの照会（Seedance）",
        "description": "このシリーズはOpenAIの動画生成形式に対応しています（詳細はリンク [動画生成/Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video) を参照してください）。\n\n動画生成タスクを作成し、タスクIDを使用してステータスと結果を照会するために使用します。\n\nタスク作成の主要フィールド：\n- `model`：必須、モデル名。\n- `prompt`：必須、動画生成のメイン説明文。\n- `content`：任意、アドバンスドモードにおけるマルチメディア入力配列。\n- `function_mode`：任意、通常、万能リファレンスなどのアドバンスドモードで使用されます。\n\n互換性のある入力パラメータ：\n- `mode`：`t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\n呼び出しの詳細：\n- `mode=reference_material` または `function_mode=omni_reference` の場合、`content` を介してテキストとリファレンス素材を渡すことを推奨します。\n- `content` 内のメディアフィールドは、URL文字列の直接入力と、`{ \"url\": \"https://example.com/ref.mp4\" }` のようなオブジェクト形式の両方をサポートしています。\n- `ratio`、`duration`、`resolution`、`fps` は、最終的な生成設定に影響します。\n\n照会結果の注目フィールド：\n- `items[].status`\n- `items[].content.video_url` または `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n```json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n```",
        "operationId": "query__seedance__task",
        "tags": [
          "動画生成/Seedance火山方舟（Volcengine Ark）"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "?? ID"
          }
        ],
        "responses": {
          "200": {
            "description": "照会に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "タスク ID。"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ],
                      "description": "タスクのステータス。"
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "作成日時（Unix秒）。"
                    },
                    "updated_at": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "video_url": {
                          "type": "string"
                        },
                        "last_frame_url": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/models/{model}:predictLongRunning": {
      "post": {
        "summary": "動画の作成（Veo3形式）",
        "description": "このシリーズはOpenAIの動画生成形式に対応しています（詳細はリンク [動画生成/Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video) を参照してください）。\n\nこの API 特集ページは、Veo のネイティブ形式と現在のゲートウェイのサポート状況を説明するためのものです。\n\n現在の Veo シリーズの外部利用については、OpenAI Sora 互換モード（`POST /v1/videos`）を使用してください。\n\nGoogle ネイティブモードのパスは `POST /v1beta/models/{model}:predictLongRunning` として予約されています。現在、ゲートウェイは Veo ネイティブタスク配信リンクに接続されていないため、ネイティブの `instances/parameters` リクエストボディによる呼び出しはサポートされていません。",
        "operationId": "create_veo3_google_native_task",
        "tags": [
          "動画生成/Veo3形式"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "veo3.1-fast",
              "enum": [
                "veo3",
                "veo3-fast",
                "veo3-fast-frames",
                "veo3-frames",
                "veo3-pro",
                "veo3-pro-frames",
                "veo3.1",
                "veo3.1-4k",
                "veo3.1-components",
                "veo3.1-fast",
                "veo3.1-pro",
                "veo3.1-pro-4k"
              ]
            },
            "description": "Veo モデル名。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instances"
                ],
                "properties": {
                  "instances": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "prompt": {
                          "type": "string",
                          "example": "A cinematic aerial shot of a modern city at sunrise",
                          "description": "プロンプトを生成"
                        },
                        "referenceImages": {
                          "type": "array",
                          "description": "省略可能。1〜3枚の参照画像。Googleネイティブの `inlineData` またはファイルURI構造を使用します。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "image": {
                                "type": "object",
                                "properties": {
                                  "inlineData": {
                                    "type": "object",
                                    "properties": {
                                      "mimeType": {
                                        "type": "string",
                                        "example": "image/png"
                                      },
                                      "data": {
                                        "type": "string",
                                        "example": "BASE64_IMAGE_DATA"
                                      }
                                    }
                                  }
                                }
                              },
                              "referenceType": {
                                "type": "string",
                                "example": "asset"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "1:1",
                          "9:16"
                        ],
                        "default": "16:9"
                      },
                      "durationSeconds": {
                        "type": "integer",
                        "enum": [
                          5,
                          6,
                          8,
                          10
                        ],
                        "default": 5
                      },
                      "resolution": {
                        "type": "string",
                        "example": "720p"
                      }
                    }
                  }
                }
              },
              "example": {
                "instances": [
                  {
                    "prompt": "A cinematic aerial shot of a modern city at sunrise",
                    "referenceImages": [
                      {
                        "image": {
                          "inlineData": {
                            "mimeType": "image/png",
                            "data": "BASE64_IMAGE_DATA"
                          }
                        },
                        "referenceType": "asset"
                      }
                    ]
                  }
                ],
                "parameters": {
                  "aspectRatio": "16:9",
                  "durationSeconds": 5,
                  "resolution": "720p"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "予約済みの成功レスポンス構造です。現在はプロトコルの説明用であり、実際の呼び出しはサポートされていません。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "models/veo3.1-fast/operations/abc123",
                      "description": "operation name。後続のステータス照会に使用されます。"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/{operation_name}": {
      "get": {
        "summary": "タスクの照会（Veo3形式）",
        "description": "このシリーズはOpenAIの動画生成形式に対応しています（詳細はリンク [動画生成/Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video) を参照してください）。\n\nこのインターフェース専用ページは、Veo ネイティブクエリプロトコルの説明のみを目的としています。\n\n現在の Veo シリーズについては、代わりに `/v1/videos` 統合インターフェースを使用して作成およびクエリを行ってください。\n\n以下の `operation_name` クエリ構造は予約プロトコルの説明として保持されているものであり、現時点では実際の呼び出しには対応していません。",
        "operationId": "query_veo3_google_native_task",
        "tags": [
          "動画生成/Veo3形式"
        ],
        "parameters": [
          {
            "name": "operation_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "models/veo3.1-fast/operations/abc123"
            },
            "description": "作成 API が返した完全な operation name です。呼び出し時には `/` を URL エンコードする必要があります。"
          }
        ],
        "responses": {
          "200": {
            "description": "予約済みのクエリレスポンス構造です。現在はプロトコルの説明のみであり、実際の呼び出しには対応していません。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name",
                    "done"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "操作名です。作成APIのレスポンスに含まれる `name` と一致します。"
                    },
                    "done": {
                      "type": "boolean",
                      "description": "タスクが完了したかどうか。"
                    },
                    "response": {
                      "type": "object",
                      "description": "正常に完了した後の結果オブジェクト。",
                      "properties": {
                        "generatedVideos": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "video": {
                                "type": "object",
                                "properties": {
                                  "uri": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "生成に成功した後の動画のURL。"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "description": "失敗時のエラーメッセージ。",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "エラーの説明。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "name": "models/veo3.1-fast/operations/abc123",
                  "done": true,
                  "response": {
                    "generatedVideos": [
                      {
                        "video": {
                          "uri": "https://example.com/generated-video.mp4"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "エラーメッセージ"
              },
              "type": {
                "type": "string",
                "description": "エラータイプ"
              },
              "param": {
                "type": "string",
                "description": "関連パラメータ",
                "nullable": true
              },
              "code": {
                "type": "string",
                "description": "エラーコード",
                "nullable": true
              }
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "プロンプトのトークン数"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "完了トークン数"
          },
          "total_tokens": {
            "type": "integer",
            "description": "合計トークン数"
          },
          "prompt_tokens_details": {
            "type": "object",
            "properties": {
              "cached_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              },
              "image_tokens": {
                "type": "integer"
              }
            }
          },
          "completion_tokens_details": {
            "type": "object",
            "properties": {
              "text_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              },
              "reasoning_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "モデル ID",
            "example": "gpt-4"
          },
          "object": {
            "type": "string",
            "description": "オブジェクト型",
            "example": "model"
          },
          "created": {
            "type": "integer",
            "description": "作成タイムスタンプ"
          },
          "owned_by": {
            "type": "string",
            "description": "モデル所有者",
            "example": "openai"
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "GeminiModelsResponse": {
        "type": "object",
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "models/gemini-pro"
                },
                "version": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "inputTokenLimit": {
                  "type": "integer"
                },
                "outputTokenLimit": {
                  "type": "integer"
                },
                "supportedGenerationMethods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool",
              "developer"
            ],
            "description": "メッセージロール"
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessageContent"
                }
              }
            ],
            "description": "メッセージ内容"
          },
          "name": {
            "type": "string",
            "description": "送信者名"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          },
          "tool_call_id": {
            "type": "string",
            "description": "ツール呼び出し ID（tool ロールのメッセージ用）"
          },
          "reasoning_content": {
            "type": "string",
            "description": "推論内容"
          }
        }
      },
      "MessageContent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image_url",
              "input_audio",
              "file",
              "video_url"
            ]
          },
          "text": {
            "type": "string"
          },
          "image_url": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "画像の URL または base64"
              },
              "detail": {
                "type": "string",
                "enum": [
                  "low",
                  "high",
                  "auto"
                ]
              }
            }
          },
          "input_audio": {
            "type": "object",
            "properties": {
              "data": {
                "type": "string",
                "description": "Base64でエンコードされたオーディオデータ"
              },
              "format": {
                "type": "string",
                "enum": [
                  "wav",
                  "mp3"
                ]
              }
            }
          },
          "file": {
            "type": "object",
            "properties": {
              "filename": {
                "type": "string"
              },
              "file_data": {
                "type": "string"
              },
              "file_id": {
                "type": "string"
              }
            }
          },
          "video_url": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              }
            }
          }
        }
      },
      "ToolCall": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "function"
          },
          "function": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "arguments": {
                "type": "string"
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "function"
          },
          "function": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "parameters": {
                "type": "object",
                "description": "JSON Schema 形式のパラメータ定義",
                "properties": {}
              }
            }
          }
        }
      },
      "ResponseFormat": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "json_object",
              "json_schema"
            ]
          },
          "json_schema": {
            "type": "object",
            "description": "JSON Schema の定義",
            "properties": {}
          }
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "モデル ID",
            "example": "gpt-4"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "description": "対話メッセージ一覧"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "default": 1,
            "description": "サンプリング温度"
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 1,
            "description": "核サンプリングパラメータ"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "生成数"
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "ストリームレスポンスにするかどうか"
          },
          "stream_options": {
            "type": "object",
            "properties": {
              "include_usage": {
                "type": "boolean"
              }
            }
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "停止シーケンス"
          },
          "max_tokens": {
            "type": "integer",
            "description": "最大生成トークン数"
          },
          "max_completion_tokens": {
            "type": "integer",
            "description": "最大生成トークン数"
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "default": 0
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "default": 0
          },
          "logit_bias": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "properties": {}
          },
          "user": {
            "type": "string"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "none",
                  "auto",
                  "required"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "function": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            ]
          },
          "response_format": {
            "$ref": "#/components/schemas/ResponseFormat"
          },
          "seed": {
            "type": "integer"
          },
          "reasoning_effort": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ],
            "description": "推論の強さ (推論対応モデル用)"
          },
          "modalities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "text",
                "audio"
              ]
            }
          },
          "audio": {
            "type": "object",
            "properties": {
              "voice": {
                "type": "string"
              },
              "format": {
                "type": "string"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "message": {
                  "$ref": "#/components/schemas/Message"
                },
                "finish_reason": {
                  "type": "string",
                  "enum": [
                    "stop",
                    "length",
                    "tool_calls",
                    "content_filter"
                  ]
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          },
          "system_fingerprint": {
            "type": "string"
          }
        }
      },
      "ChatCompletionStreamResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "chat.completion.chunk"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "delta": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "reasoning_content": {
                      "type": "string"
                    },
                    "tool_calls": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ToolCall"
                      }
                    }
                  }
                },
                "finish_reason": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "CompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string"
          },
          "prompt": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "max_tokens": {
            "type": "integer"
          },
          "temperature": {
            "type": "number"
          },
          "top_p": {
            "type": "number"
          },
          "n": {
            "type": "integer"
          },
          "stream": {
            "type": "boolean"
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "suffix": {
            "type": "string"
          },
          "echo": {
            "type": "boolean"
          }
        }
      },
      "CompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "text_completion"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
[...]
