{
  "openapi": "3.0.0",
  "info": {
    "title": "出海营 API 参考ドキュメント",
    "version": "1.0.0",
    "description": "Public AI Gateway API Reference"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "モデル一覧の取得",
        "deprecated": false,
        "description": "現在利用可能なモデルの一覧を取得します。\n\nリクエストヘッダーに基づいてレスポンス形式を自動的に識別します：\n- `x-api-key` および `anthropic-version` ヘッダーが含まれる場合は Anthropic 形式を返します\n- `x-goog-api-key` ヘッダーまたは `key` クエリパラメータが含まれる場合は Gemini 形式を返します\n- その他の場合は OpenAI 形式を返します",
        "operationId": "listModels",
        "tags": [
          "モデル一覧の取得"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Google API キー（Gemini 形式用）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Anthropic API キー（Claude 形式用）",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Anthropic API バージョン",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Google API キー（Gemini 形式用）",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "モデル一覧の取得に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "認証に失敗しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ja/モデル一覧の取得/モデル一覧の取得"
        }
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "Gemini 形式の取得",
        "deprecated": false,
        "description": "Gemini API 形式で利用可能なモデル一覧を返します",
        "operationId": "listModelsGemini",
        "tags": [
          "モデル一覧の取得"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "モデル一覧の取得に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ja/モデル一覧の取得/gemini-形式の取得"
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "チャットセッションの作成",
        "deprecated": false,
        "description": "対話履歴に基づいてモデルのレスポンスを作成します。ストリーミング形式および非ストリーミング形式のレスポンスをサポートしています。\n\nOpenAI Chat Completions API と互換性があります。",
        "operationId": "createChatCompletion",
        "tags": [
          "OpenAI形式(Chat)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "レスポンスの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "リクエストパラメータのエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "リクエストレート制限",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ja/openai形式chat/チャットセッションの作成"
        }
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "レスポンスを作成 (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses API、モデルのレスポンスを作成するために使用します。\nマルチターン対話、ツール呼び出し、推論などの機能をサポートしています。",
        "operationId": "createResponse",
        "tags": [
          "OpenAI形式（Responses）"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "レスポンスの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ja/openai形式（responses）/レスポンスを作成-openai-responses-api"
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Gemini 画像(Nano Banana)",
        "deprecated": false,
        "description": "Gemini 画像生成。\n\nNano BananaシリーズはOpenAI Dall-E 形式をサポートします（詳細はリンク [画像生成OpenAI DALL-E 形式](#tag/%E5%9B%BE%E7%89%87%E7%94%9F%E6%88%90OpenAI%20DALL-E%E6%A0%BC%E5%BC%8F) を参照）。\n\n/v1beta/models/{model}:generateContent の Gemini 画像生成フィールドの説明を補完し、公開 OpenAPI でネストされたフィールドの description が欠落するのを防ぎます。",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "画像生成Gemini形式"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "モデル名",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "メッセージのロール。一般的な値は `user` または `model` です。"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "テキスト入力内容。"
                              },
                              "inlineData": {
                                "type": "object",
                                "description": "base64画像などの入力に適した、インラインのバイナリコンテンツオブジェクト。",
                                "properties": {
                                  "mimeType": {
                                    "type": "string",
                                    "description": "インラインコンテンツの MIME タイプ。例: `image/png`。"
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "Base64 エンコード後のバイナリデータの内容。"
                                  }
                                }
                              }
                            }
                          },
                          "description": "メッセージ片の配列。テキスト、画像などの入力はすべてここに含めます。"
                        }
                      }
                    },
                    "description": "必須。Gemini の入力コンテンツ配列。通常は少なくとも 1 件の user メッセージを含みます。"
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "レスポンスモードの一覧。画像生成では通常 `IMAGE` を渡します。"
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string",
                            "description": "アスペクト比。たとえば `16:9`、`1:1`、`9:16`。"
                          },
                          "imageSize": {
                            "type": "string",
                            "description": "出力解像度レベル。例: `1K`、`2K`、`4K`。"
                          }
                        },
                        "description": "画像生成設定オブジェクト。"
                      }
                    },
                    "required": [
                      "responseModalities"
                    ],
                    "description": "生成設定オブジェクト。"
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ja/画像生成gemini形式/gemini-画像nano-banana"
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "画像を生成（OpenAI Dall-E互換）",
        "deprecated": false,
        "description": "OpenAI Dall-E形式の画像生成API。\n\n- `POST /v1/images/generations`：画像生成タスクを作成\n\n標準認証ヘッダー：\n- `Content-Type: application/json`\n\n- `model: string`：必須、外部向けモデル名\n- `prompt: string`：推奨、画像生成の説明\n- `n: number`：任意、生成枚数\n- `size: string`：任意、サイズまたは解像度の指定\n- `quality: string`：任意、品質レベル\n- `response_format: string`：任意、返却形式\n\nよく使われる互換拡張パラメータ：\n- `image`\n- `image_url`\n- `image_urls`\n- `image_list`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `negative_prompt`\n- `aspect_ratio`\n- `resolution`\n- `callback_url`\n- `external_task_id`\n\nKling 専用拡張パラメータ：\n- `model_name`\n- `element_list`\n- `result_type`\n- `series_amount`\n- `human_image`\n- `cloth_image`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n### 3.1 Nano Banana シリーズ\n\n公開モデル：\n- `nano-banana`\n- `nano-banana-pro`\n- `nano-banana-pro-2k`\n- `nano-banana-pro-4k`\n- `nano-banana-2`\n- `nano-banana-2-2k`\n- `nano-banana-2-4k`\n\n機能説明：\n- `nano-banana`：基本的なテキストから画像生成。画像編集にも対応\n- `nano-banana-pro*`：より高品質なバージョン\n- `nano-banana-2*`：更新されたバージョンファミリー\n- `*-2k` / `*-4k`：高解像度モデル\n\nよく使うパラメータ：\n- テキストから画像生成：`model + prompt`\n- 画像編集：`model + prompt + image`、`image_urls` にも対応\n- よく使われる拡張：`n` `size` `quality` `response_format`\n\n例:\n\n```json\n{\n\"model\": \"nano-banana\",\n\"prompt\": \"a cute cat running in cloud\",\n\"n\": 1,\n\"size\": \"1024x1792\"\n}\n```\n\n```json\n{\n\"model\": \"nano-banana-pro\",\n\"prompt\": \"把主体改成赛博朋克夜景\",\n\"image\": \"https://example.com/input.png\",\n\"n\": 1\n}\n```\n\n### 3.2 Seedream シリーズ\n\n公開モデル：\n- `doubao-seedream-3-0-t2i-250415`\n- `doubao-seedream-4-0-250828`\n- `doubao-seedream-4-5-251128`\n- `doubao-seedream-5-0-260128`\n\n機能説明：\n- テキストから画像生成として統一して呼び出します\n- 標準パラメータを優先して渡すことを推奨します：`prompt + model + size/aspect_ratio`\n\nよく使うパラメータ：\n- `model + prompt`\n- 任意：`size` `aspect_ratio` `n`\n\n### 3.3 Kling 汎用画像メインモデル\n\n公開メインモデル：\n- `kling-image`\n\n必須：\n- `model`\n- `model_name`\n\nサポートされる `model_name`：\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v2`\n- `kling-v2-new`\n- `kling-v2-1`\n- `kling-v3`\n\n機能説明：\n- テキストから画像生成：`model + model_name + prompt`\n- 画像から画像生成：テキストから画像生成をベースに `image` を追加\n- 複数画像から画像生成：`subject_image_list` を渡すか、複数の `image_urls/images` を渡します\n- アウトペイント：`image` とアウトペイント比率パラメータを渡します\n\nよく使うパラメータ：\n- `image`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `aspect_ratio`\n- `resolution`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n例:\n\n```json\n{\n\"model\": \"kling-image\",\n\"model_name\": \"kling-v3\",\n\"prompt\": \"海边日落，电影感人像\",\n\"aspect_ratio\": \"16:9\",\n\"n\": 1\n}\n```\n\n### 3.4 Kling Omni画像メインモデル\n\n公開メインモデル：\n- `kling-omni-image`\n\n必須：\n- `model`\n- `model_name`\n\nサポートされる `model_name`：\n- `kling-image-o1`\n- `kling-v3-omni`\n\nよく使うパラメータ：\n- `image_list`\n- `element_list`\n- `resolution`\n- `aspect_ratio`\n- `result_type`\n- `series_amount`\n\n例:\n\n```json\n{\n\"model\": \"kling-omni-image\",\n\"model_name\": \"kling-v3-omni\",\n\"prompt\": \"生成一张海边跳舞的图片\",\n\"element_list\": [\n{ \"element_id\": 835266081714884677 }\n]\n}\n```\n\n### 3.5 Kling バーチャル試着モデル\n\n公開モデル：\n- `kolors-virtual-try-on-v1`\n- `kolors-virtual-try-on-v1-5`\n\n最小入力パラメータ：\n- `model + human_image + cloth_image`\n\n説明：\n- これら2つのモデル自体が完全なメインモデルであるため、`model_name` を追加で渡す必要はありません\n\n例:\n\n```json\n{\n\"model\": \"kolors-virtual-try-on-v1\",\n\"human_image\": \"https://example.com/human.jpg\",\n\"cloth_image\": \"https://example.com/cloth.jpg\"\n}\n```",
        "operationId": "createImageGeneration",
        "tags": [
          "画像生成OpenAI DALL-E形式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "外部向け画像モデル名。",
                    "example": "dall-e-3",
                    "enum": [
                      "nano-banana",
                      "doubao-seedream-3-0-t2i-250415",
                      "kling-image",
                      "kling-omni-image",
                      "kolors-virtual-try-on-v1",
                      "kolors-virtual-try-on-v1-5"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "画像生成の説明です。バーチャル試着モデルでは省略可能です。"
                  },
                  "n": {
                    "type": "integer",
                    "description": "生成枚数。",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "サイズまたは解像度の表現。",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "品質レベル。",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "スタイル",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "返却形式。",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "ユーザー識別子"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "nano_banana_text2img": {
                  "summary": "Nano Banana テキストから画像生成",
                  "value": {
                    "model": "nano-banana",
                    "prompt": "a cute cat running in cloud",
                    "n": 1,
                    "size": "1024x1792"
                  }
                },
                "seedream_text2img": {
                  "summary": "Seedream テキストから画像生成",
                  "value": {
                    "model": "doubao-seedream-3-0-t2i-250415",
                    "prompt": "一张电影感海边日落人像",
                    "size": "1536x1024",
                    "n": 1
                  }
                },
                "kling_text2img": {
                  "summary": "Kling テキストから画像を生成",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v3",
                    "prompt": "海边日落，电影感人像",
                    "aspect_ratio": "16:9",
                    "n": 1
                  }
                },
                "kling_img2img": {
                  "summary": "Kling 画像から画像へ",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v2-1",
                    "prompt": "改成赛博朋克夜景风格",
                    "image": "https://example.com/input.png",
                    "n": 1
                  }
                },
                "kling_omni_image": {
                  "summary": "Kling Omni 画像",
                  "value": {
                    "model": "kling-omni-image",
                    "model_name": "kling-v3-omni",
                    "prompt": "生成一张海边跳舞的图片",
                    "element_list": [
                      {
                        "element_id": 835266081714884677
                      }
                    ]
                  }
                },
                "kling_virtual_try_on": {
                  "summary": "Kling バーチャル試着",
                  "value": {
                    "model": "kolors-virtual-try-on-v1",
                    "human_image": "https://example.com/human.jpg",
                    "cloth_image": "https://example.com/cloth.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "画像の生成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ja/画像生成openai-dall-e形式/画像を生成（openai-dall-e互換）"
        }
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "画像を編集する（OpenAI Dall-E互換）",
        "deprecated": false,
        "description": "OpenAI Dall-E形式の画像編集インターフェース。",
        "operationId": "createImageEdit",
        "tags": [
          "画像生成OpenAI DALL-E形式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "編集対象の画像"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "オプションのマスク画像"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "プロンプトを編集"
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "画像の生成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ja/画像生成openai-dall-e形式/画像を編集する（openai-dall-e互換）"
        }
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "動画の生成",
        "deprecated": false,
        "description": "OpenAI Sora 互換形式の動画生成インターフェース。テキストから動画の生成と、画像/動画参照による生成モードに対応しています。\n\n- `POST /v1/videos`：動画タスクの作成\n- `GET /v1/videos/{video_id}`：タスクステータスの照会\n- `GET /v1/videos/{video_id}/content`：動画のバイナリコンテンツを取得\n\n現在は外部に提供されていません：\n- `GET /v1/videos`\n- `POST /v1/videos/{video_id}/remix`\n\n標準認証ヘッダー：\n- `Content-Type: application/json`\n\n1. `POST /v1/videos` でタスクを作成し、`id` を取得\n2. `GET /v1/videos/{id}` を `completed` または `failed` になるまでポーリング\n3. 完了後は、レスポンス内の `video_url` を優先して使用\n4. 統一的にダウンロードする必要がある場合は、`GET /v1/videos/{id}/content` を呼び出す\n\n主要パラメータ：\n- `model: string`：必須、外部向けモデル名\n- `prompt: string`：推奨、動画生成の説明\n- `seconds: number|string`：任意、目標の長さ\n- `duration: number|string`：任意、長さのエイリアス\n- `size: string`：任意、出力サイズ\n- `mode: string`：任意、一般的な値 `t2v` `i2v` `i2v_first_last` `reference_material`\n\nよく使われる互換パラメータ：\n- `aspect_ratio`\n- `ratio`\n- `quality`\n- `resolution`\n- `fps`\n- `image`\n- `image_url`\n- `image_urls`\n- `images`\n- `reference_images`\n- `input_reference`\n- `end_image_url`\n- `last_image_url`\n- `video_urls`\n- `audio_urls`\n- `function_mode`\n- `content`\n- `callback_url`\n- `external_task_id`\n\nKling のよく使う拡張パラメータ：\n- `model_name`\n- `negative_prompt`\n- `cfg_scale`\n- `sound`\n- `camera_control`\n- `image_list`\n- `video_id`\n- `task_id`\n- `watermark_info`\n\n### 4.1 Veo シリーズ\n\n説明：`stable`、`official` などは異なるグループを示しており、外部向けの `model` サフィックスではありません。呼び出し時は `model` をベースモデル名のままにしてください。実際にどのグループが使われるかは、アカウントまたはトークンのグループによって決まります。\n\n#### Veo 3.x メインモデル\n\n- `veo3`\n- `veo3-fast`\n- `veo3-fast-frames`\n- `veo3-frames`\n- `veo3-pro`\n- `veo3-pro-frames`\n- `veo3.1`\n- `veo3.1-fast`\n- `veo3.1-pro`\n- `veo3.1-components`\n- `veo3.1-4k`\n- `veo3.1-pro-4k`\n\n推奨:\n- テキストのみから動画を生成する場合は、`veo3*` / `veo3.1*` メインモデルを優先して使用\n- 画像からの動画生成や参照ベースの動画生成シーンでは、`mode + image_url/reference_images` を明示的に渡すことを推奨\n\n### 4.2 Sora シリーズ\n\n基本モデル：\n- `sora-2`\n- `sora-2-pro`\n\n推奨:\n- `sora-2*` は汎用的な呼び出しに適しています\n- `stable` / `official` などのグループを使用する場合は、`model` をベースモデル名のままにし、モデル名の末尾にサフィックスを追加しないでください。\n\n### 4.3 Seedance シリーズ\n\n公開モデル：\n- `doubao-seedance-1-0-lite-t2v-250428`\n- `doubao-seedance-1-0-lite-i2v-250428`\n- `doubao-seedance-1-0-pro-250528`\n- `doubao-seedance-1-0-pro-fast-251015`\n- `doubao-seedance-1-5-pro-251215`\n- `doubao-seedance-2-0-260128`\n- `doubao-seedance-2-0-fast-260128`\n\n推奨:\n- テキストから動画を生成する場合は、`*-t2v-*` または `pro / fast` を優先してください\n- 画像から動画を生成する場合は、`*-i2v-*` を優先してください\n- 複雑な参考素材を用いるシナリオでは、`content` を優先して使用してください\n\n### 4.4 Grok 動画シリーズ\n\n公開モデル：\n- `grok-imagine-1.0-video`\n- `grok-video-3`\n\nよく使うパラメータ：\n- `prompt`\n- `ratio` / `aspect_ratio`\n- `resolution` / `size`\n- `seconds` / `duration`\n- `image` / `image_url` / `input_reference`\n- `reference_images`\n\n例:\n\n```json\n{\n\"model\": \"grok-imagine-1.0-video\",\n\"prompt\": \"雨夜霓虹街道上的电影感推镜，光影丰富，运动自然\",\n\"reference_images\": [\n\"https://example.com/ref-1.jpg\"\n],\n\"seconds\": 10,\n\"aspect_ratio\": \"16:9\",\n\"resolution\": \"720P\"\n}\n```\n\n### 4.5 Kling 動画メインモデル\n\n公開メインモデル：\n- `kling-video`\n\n必須：\n- `model`\n- `model_name`\n\nサポートされる `model_name`：\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v1-6`\n- `kling-v2-master`\n- `kling-v2-1`\n- `kling-v2-1-master`\n- `kling-v2-5-turbo`\n- `kling-v2-6`\n- `kling-v3`\n\n一般的な `mode`:\n- `t2v`\n- `i2v`\n- `multi_i2v`\n- `extend`\n\n最小入力パラメータ：\n- テキストから動画: `model + model_name + prompt + mode=t2v`\n- 画像から動画: `model + model_name + prompt + mode=i2v + image`\n- 複数画像参照: `model + model_name + prompt + mode=multi_i2v + image_list`\n- 動画の延長: `model + model_name + mode=extend + video_id`\n\n例:\n\n```json\n{\n\"model\": \"kling-video\",\n\"model_name\": \"kling-v2-6\",\n\"mode\": \"t2v\",\n\"prompt\": \"海边日落镜头，电影感，风吹长发\",\n\"duration\": 5,\n\"aspect_ratio\": \"16:9\"\n}\n```\n\n- `mode=t2v`\n- 最小入力パラメータ：`model + prompt`\n\n- `mode=i2v`\n- 最小入力パラメータ：`model + prompt + image_url`\n\n- `mode=i2v_first_last`\n- 最小入力パラメータ：`model + prompt + image_url + end_image_url`\n\n- `mode=reference_images`\n- 最小入力パラメータ：`model + prompt + reference_images`\n\n- `mode=reference_material`\n- 最小入力パラメータ：`model + prompt + (image_urls/video_urls/audio_urls 至少一种)`\n\n### Gemini Omni の呼び出し方法\n\n- `gemini-omni` は new-api の外部公開動画モデル名で、`POST /v1/videos` を直接利用できます。\n- `mode=t2v`：テキストから動画を生成します。最小入力パラメータは `model + prompt` です。\n- `mode=r2v`：参照画像/参照素材による生成。画像は `image`、`image_url`、`images`、`image_urls`、`reference_images`、`input_reference`、または `content` に設定できます。\n- `mode=edit`：動画編集。動画は `video`、`video_url`、`videos`、または `content` に設定でき、参照画像も同時に送信できます。\n- 再生時間フィールドは `seconds` または `duration` を使用でき、4 / 6 / 8 / 10 秒のいずれかに自動でマッチします。",
        "operationId": "createVideo",
        "tags": [
          "動画生成Sora対応形式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "必須。外部公開モデル名。`gemini-omni` は `/v1/videos` から呼び出せます。",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "gemini-omni",
                      "happyhorse-1.0",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-imagine-1.0-video",
                      "grok-video-3",
                      "viduq3-turbo",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "共通プロンプトの入力欄。ほとんどのモデルで必須です。"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "単一画像エントリ。一部の互換モードでは images にマッピングされます。"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "duration の統一された入力パラメータです。一部のモデルでは seconds も受け付けます。"
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "動的拡張フィールドコンテナです。モデル固有の大量のフィールドがここからデシリアライズされます。"
                  },
                  "mode": {
                    "type": "string",
                    "description": "任意、動画生成モード。 `gemini-omni` は `t2v`、`r2v`、`edit` をサポートします。"
                  },
                  "images": {
                    "type": "array",
                    "description": "複数画像の統一エントリ。Vidu、Seedance、Veo などで使用されます。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "サイズの統一入力口で、resolution/aspect_ratio などにマッピングされます。"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora の互換エントリ。実行時には duration にフォールバックします。"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Sora/Veo 互換の参照画像エントリ。multipartファイルまたは互換オブジェクトを指定できます。"
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "必須。外部公開モデル名。`gemini-omni` は `/v1/videos` から呼び出せます。",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "gemini-omni",
                      "happyhorse-1.0",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-imagine-1.0-video",
                      "grok-video-3",
                      "viduq3-turbo",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "共通プロンプトの入力欄。ほとんどのモデルで必須です。"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "単一画像エントリ。一部の互換モードでは images にマッピングされます。"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "duration の統一された入力パラメータです。一部のモデルでは seconds も受け付けます。"
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "動的拡張フィールドコンテナです。モデル固有の大量のフィールドがここからデシリアライズされます。"
                  },
                  "mode": {
                    "type": "string",
                    "description": "任意、動画生成モード。 `gemini-omni` は `t2v`、`r2v`、`edit` をサポートします。"
                  },
                  "images": {
                    "type": "array",
                    "description": "複数画像の統一エントリ。Vidu、Seedance、Veo などで使用されます。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "サイズの統一入力口で、resolution/aspect_ratio などにマッピングされます。"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora の互換エントリ。実行時には duration にフォールバックします。"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Sora/Veo 互換の参照画像エントリ。multipartファイルまたは互換オブジェクトを指定できます。"
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "openai_t2v": {
                  "summary": "OpenAI t2v (prompt/model)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_i2v_input_reference": {
                  "summary": "OpenAI i2v (input_reference)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_alias_compat": {
                  "summary": "Alias兼容 (image_url/duration/aspect_ratio)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                },
                "gemini_omni_sora_t2v": {
                  "summary": "Gemini Omni Sora t2v",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "t2v",
                    "prompt": "A cinematic product video with smooth camera motion",
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "gemini_omni_sora_r2v": {
                  "summary": "Gemini Omni Sora r2v",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "r2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "Keep the product consistent and create a short ad video"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/product.jpg"
                        }
                      }
                    ],
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "gemini_omni_sora_edit": {
                  "summary": "Gemini Omni Sora edit",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "edit",
                    "content": [
                      {
                        "type": "text",
                        "text": "Change the outfit color while keeping the motion natural"
                      },
                      {
                        "type": "video_url",
                        "video_url": {
                          "url": "https://example.com/input.mp4"
                        }
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/style.jpg"
                        }
                      }
                    ],
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "happyhorse_sora_t2v": {
                  "summary": "HappyHorse Sora t2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "t2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic white horse running through a neon city street"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P",
                    "ratio": "16:9"
                  }
                },
                "happyhorse_sora_i2v": {
                  "summary": "HappyHorse Sora i2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "i2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "The camera slowly pushes in, natural motion"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/first-frame.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P"
                  }
                },
                "happyhorse_sora_r2v": {
                  "summary": "HappyHorse Sora r2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "r2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "Keep the character and product consistent in a short cinematic clip"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-2.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P",
                    "ratio": "16:9"
                  }
                },
                "happyhorse_sora_video_edit": {
                  "summary": "HappyHorse Sora video_edit",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "video_edit",
                    "content": [
                      {
                        "type": "text",
                        "text": "Change the jacket to a striped sweater and keep the motion natural"
                      },
                      {
                        "type": "video_url",
                        "video_url": "https://example.com/input.mp4"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/reference.jpg"
                      }
                    ],
                    "resolution": "720P"
                  }
                },
                "seedance_i2v_first": {
                  "summary": "Seedance i2v_first",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_i2v_first_last": {
                  "summary": "Seedance i2v_first_last",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_images": {
                  "summary": "Seedance reference_images",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_material": {
                  "summary": "Seedance オールインワン参考モード(reference_material)",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_volc_content": {
                  "summary": "Seedance Volcano Ark content モード",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "veo_first_last_frame": {
                  "summary": "Veo 先頭・末尾フレームモード",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "veo_reference_images_1to3": {
                  "summary": "Veo 1～3枚の参考画像モード",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "kling_text2video": {
                  "summary": "Kling テキストから動画を生成",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "kling_image2video": {
                  "summary": "Kling イメージから動画生成",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "grok_reference_video": {
                  "summary": "Grok ビデオモード",
                  "value": {
                    "model": "grok-imagine-1.0-video",
                    "prompt": "A dramatic cinematic shot with fast motion and rich lighting",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": 10,
                    "aspect_ratio": "16:9",
                    "resolution": "720P"
                  }
                },
                "vidu_sora_t2v": {
                  "summary": "Vidu Sora t2v",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "t2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A stylish product ad clip with cinematic lighting"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_sora_i2v": {
                  "summary": "Vidu Sora i2v",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "i2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A stylish ad clip from a product still image"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/product.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_sora_first_last": {
                  "summary": "Vidu Sora i2v_first_last",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "i2v_first_last",
                    "content": [
                      {
                        "type": "text",
                        "text": "A smooth shot from start frame to end frame"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/start.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/end.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_sora_reference": {
                  "summary": "Vidu Sora reference_images",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "reference_images",
                    "content": [
                      {
                        "type": "text",
                        "text": "Maintain product style and character consistency"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-2.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-3.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "hailuo_text2video": {
                  "summary": "Hailuo テキストから動画生成",
                  "value": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "動画タスクの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "レガシーAPI互換（非推奨予定）"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "Should use VideoStatus constants: VideoStatusQueued, VideoStatusInProgress, VideoStatusCompleted, VideoStatusFailed",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed",
                        "video_url",
                        "url",
                        "completed_at"
                      ]
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "completed_at": {
                      "type": "integer"
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "リクエストパラメータのエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ja/動画生成sora対応形式/動画の生成"
        }
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "動画タスクステータスの取得",
        "deprecated": false,
        "description": "OpenAI に対応した動画タスク状態照会 API です。\n\nビデオタスクの詳細なステータス情報を返します。",
        "operationId": "getVideo",
        "tags": [
          "動画生成Sora対応形式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ビデオタスク ID",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "動画タスクのステータスを取得しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "動画結果のURLです。モデルによって `video_url` または `url` のいずれか一方が返されます。"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "動画結果のURLです。モデルによって `url` または `video_url` のいずれか一方が返されます。"
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "完了時間（Unix秒）。"
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "結果の有効期限（Unix秒）。"
                    },
                    "error": {
                      "type": "object",
                      "description": "失敗時のエラーメッセージ。"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "追加のメタデータ。"
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "タスクが存在しません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ja/動画生成sora対応形式/動画タスクステータスの取得"
        }
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "動画コンテンツの取得",
        "deprecated": false,
        "description": "完了した動画タスクの動画ファイルの内容を取得します。\n\nこのインターフェースは、動画ファイルストリームをプロキシ経由で返します。",
        "operationId": "getVideoContent",
        "tags": [
          "動画生成Sora対応形式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ビデオタスク ID",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "動画コンテンツの取得に成功しました",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "ビデオが存在しないか、または生成が完了していません。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ja/動画生成sora対応形式/動画コンテンツの取得"
        }
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling テキストから動画を生成",
        "deprecated": false,
        "description": "このシリーズはOpenAIの動画生成形式をサポートしています（詳細はリンク [動画生成Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video) を参照してください）。\n\nKling モデルを使用して、テキスト説明から動画を生成します。\n\n対応モデル：kling-v1, kling-v1-5 など",
        "operationId": "createKlingText2Video",
        "tags": [
          "動画生成Kling形式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "動画生成タスクの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "リクエストパラメータのエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ja/動画生成kling形式/kling-テキストから動画を生成"
        }
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "Kling のテキストから動画生成タスクのステータスを取得",
        "deprecated": false,
        "description": "このシリーズはOpenAIの動画生成形式をサポートしています（詳細はリンク [動画生成Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video) を参照してください）。\n\nKling のテキストから動画を生成するタスクの状態と結果を取得します。",
        "operationId": "getKlingText2Video",
        "tags": [
          "動画生成Kling形式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "タスクID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "タスクステータスの取得に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "タスクが存在しません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ja/動画生成kling形式/kling-のテキストから動画生成タスクのステータスを取得"
        }
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling イメージから動画生成",
        "deprecated": false,
        "description": "このシリーズはOpenAIの動画生成形式をサポートしています（詳細はリンク [動画生成Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video) を参照してください）。\n\nKling モデルを使用して、画像から動画を生成します。\n\nimage パラメータを介した画像 URL または Base64 エンコードされた画像データの入力に対応しています。",
        "operationId": "createKlingImage2Video",
        "tags": [
          "動画生成Kling形式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "動画生成タスクの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "リクエストパラメータのエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ja/動画生成kling形式/kling-イメージから動画生成"
        }
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "Kling の画像から動画へのタスク状態を取得",
        "deprecated": false,
        "description": "このシリーズはOpenAIの動画生成形式をサポートしています（詳細はリンク [動画生成Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video) を参照してください）。\n\nKling の画像から動画生成タスクのステータスと結果を取得します。",
        "operationId": "getKlingImage2Video",
        "tags": [
          "動画生成Kling形式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "タスクID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "タスクステータスの取得に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "タスクが存在しません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ja/動画生成kling形式/kling-の画像から動画へのタスク状態を取得"
        }
      }
    },
    "/api/v1/services/aigc/video-generation/video-synthesis": {
      "post": {
        "summary": "動画を作成(HappyHorse)",
        "description": "このシリーズはOpenAIの動画生成形式をサポートしています（詳細はリンク [動画生成Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video) を参照してください）。\n\nHappyHorse アリの動画生成API。公開パスは DashScope の公式プロトコルに従います。\n\n対外公開モデルは 5 つサポートしています：`happyhorse-1.0`、`happyhorse-1.0-i2v`、`happyhorse-1.0-t2v`、`happyhorse-1.0-r2v`、`happyhorse-1.0-video-edit`。このうち `happyhorse-1.0` は集約モデルで、`mode` により `t2v`、`i2v`、`r2v`、`video_edit` を区別する必要があります。\n\n公開APIは公式エンドポイント形式を維持します。チャネル専用プレフィックスは、ゲートウェイが特定の上流チャネルにリクエストする際の内部連結にのみ使用します。クライアントが `X-DashScope-Async` を明示的に渡す必要はなく、ゲートウェイまたは公式チャネル適配層が処理します。\n\nHappyHorse アリ公式の動画生成フォーマットにおける公開リクエストの骨子、タスク照会構造、および推奨検証テンプレートを補足します。公開パスは公式エンドポイント形式を維持します。\n\n対応モデル：\nhappyhorse-1.0, happyhorse-1.0-t2v, happyhorse-1.0-i2v, happyhorse-1.0-r2v, happyhorse-1.0-video-edit\n\n共通リクエストフィールド：\n- `model` (string, 必須): HappyHorse の対外モデル名。集約モデル `happyhorse-1.0` は `mode` と併用する必要があります。\n- `mode` (string, 任意): 集約モデルのモード。一般的な値は `t2v`、`i2v`、`r2v`、`video_edit` です。固定サブモデルの場合は省略できます。\n- `input.prompt` (string, 必須): 動画生成または編集のプロンプト。\n- `input.media` (array[object], 任意): マルチメディア入力。画像から動画では `first_frame` を使用し、参照動画生成では `reference_image` を使用し、動画編集では `video` と任意の `reference_image` を使用します。\n- `parameters.duration` (integer, 任意): 生成時間。秒単位で課金されます。\n- `parameters.resolution` (string, 任意): 出力解像度。一般的な値は `720P`、`1080P` です。\n- `parameters.ratio` (string, 任意): 出力アスペクト比。テキストから動画、参照から動画でよく使用されます。\n- `parameters.watermark` (boolean, 任意): ウォーターマークを追加するかどうか。\n- `parameters.seed` (integer, 任意): 乱数シード。\n\n代表的なモデル/モードの違い：\n- `HappyHorse 聚合模型`: 対応モデルは happyhorse-1.0。集約モデルは mode で最終モデルを区別します。\n- `HappyHorse 文生视频`: 対応モデルは happyhorse-1.0-t2v。公式フォーマットのテキストから動画です。\n- `HappyHorse 首帧图生视频`: 対応モデルは happyhorse-1.0-i2v。公式フォーマットの先頭フレーム画像から動画です。\n- `HappyHorse 参考生视频`: 対応モデルは happyhorse-1.0-r2v。公式フォーマットの複数参照画像から動画です。\n- `HappyHorse 视频编辑`: 対応モデルは happyhorse-1.0-video-edit。公式フォーマットの動画編集です。",
        "operationId": "create__happyhorse__task",
        "tags": [
          "動画生成HappyHorseアリ"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "happyhorse-1.0",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit"
                    ],
                    "example": "happyhorse-1.0-t2v",
                    "description": "HappyHorse の外部向けモデル名。集約モデル `happyhorse-1.0` は `mode` と併用する必要があります。"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "t2v",
                      "i2v",
                      "r2v",
                      "video_edit"
                    ],
                    "description": "アグリゲーションモデルのモード。一般的な値は `t2v`、`i2v`、`r2v`、`video_edit` です。固定サブモデルは指定しなくてもかまいません。"
                  },
                  "input": {
                    "type": "object",
                    "required": [
                      "prompt"
                    ],
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "example": "A white horse running through a neon city street, cinematic",
                        "description": "動画生成または編集のプロンプト。"
                      },
                      "media": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "url"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "first_frame",
                                "reference_image",
                                "video"
                              ]
                            },
                            "url": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        },
                        "description": "マルチメディア入力。画像から動画には `first_frame` を使用し、参照から動画には `reference_image` を使用し、動画編集には `video` と任意の `reference_image` を使用します。"
                      }
                    }
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "720P",
                          "1080P"
                        ],
                        "example": "720P",
                        "description": "出力解像度。一般的な値は `720P`、`1080P` です。"
                      },
                      "ratio": {
                        "type": "string",
                        "example": "16:9",
                        "description": "出力のアスペクト比。テキストから動画と参照動画の生成でよく使用されます。"
                      },
                      "duration": {
                        "type": "integer",
                        "example": 5,
                        "description": "生成時間。秒単位で課金されます。"
                      },
                      "watermark": {
                        "type": "boolean",
                        "description": "透かしを追加するかどうか。"
                      },
                      "seed": {
                        "type": "integer",
                        "description": "乱数シード。"
                      }
                    }
                  }
                }
              },
              "examples": {
                "happyhorse_native_aggregate_t2v": {
                  "summary": "HappyHorse 集約モデル",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "t2v",
                    "input": {
                      "prompt": "A white horse running through a neon city street, cinematic"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_t2v": {
                  "summary": "HappyHorse テキストから動画",
                  "value": {
                    "model": "happyhorse-1.0-t2v",
                    "input": {
                      "prompt": "A white horse running through a neon city street, cinematic"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_i2v": {
                  "summary": "HappyHorse 最初のフレーム画像から動画生成",
                  "value": {
                    "model": "happyhorse-1.0-i2v",
                    "input": {
                      "prompt": "The subject walks forward naturally",
                      "media": [
                        {
                          "type": "first_frame",
                          "url": "https://example.com/first-frame.jpg"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_r2v": {
                  "summary": "HappyHorse 参考動画",
                  "value": {
                    "model": "happyhorse-1.0-r2v",
                    "input": {
                      "prompt": "Keep the character and product consistent in a cinematic shot",
                      "media": [
                        {
                          "type": "reference_image",
                          "url": "https://example.com/ref-1.jpg"
                        },
                        {
                          "type": "reference_image",
                          "url": "https://example.com/ref-2.jpg"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_video_edit": {
                  "summary": "HappyHorse 動画編集",
                  "value": {
                    "model": "happyhorse-1.0-video-edit",
                    "input": {
                      "prompt": "Change the jacket to a striped sweater",
                      "media": [
                        {
                          "type": "video",
                          "url": "https://example.com/input.mp4"
                        },
                        {
                          "type": "reference_image",
                          "url": "https://example.com/reference.jpg"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "タスクの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "task_xxx"
                    },
                    "output": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string",
                          "description": "タスク作成時に返されるタスク ID。タスクの照会に使用します。"
                        },
                        "task_status": {
                          "type": "string",
                          "description": "タスクの状態。一般的な値は `PENDING`、`RUNNING`、`SUCCEEDED`、`FAILED` です。"
                        },
                        "video_url": {
                          "type": "string",
                          "description": "タスク成功後に生成される動画の URL。"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "duration": {
                          "type": "string",
                          "description": "課金対象の通話時間。単位は秒です。"
                        },
                        "SR": {
                          "type": "string",
                          "description": "出力解像度のレベル。"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/ja/動画生成happyhorseアリ/動画を作成happyhorse"
        }
      }
    },
    "/api/v1/tasks/{task_id}": {
      "get": {
        "summary": "タスクを照会(HappyHorse)",
        "description": "このシリーズはOpenAIの動画生成形式をサポートしています（詳細はリンク [動画生成Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video) を参照してください）。\n\nHappyHorse アリの動画生成API。公開パスは DashScope の公式プロトコルに従います。\n\n対外公開モデルは 5 つサポートしています：`happyhorse-1.0`、`happyhorse-1.0-i2v`、`happyhorse-1.0-t2v`、`happyhorse-1.0-r2v`、`happyhorse-1.0-video-edit`。このうち `happyhorse-1.0` は集約モデルで、`mode` により `t2v`、`i2v`、`r2v`、`video_edit` を区別する必要があります。\n\n公開APIは公式エンドポイント形式を維持します。チャネル専用プレフィックスは、ゲートウェイが特定の上流チャネルにリクエストする際の内部連結にのみ使用します。クライアントが `X-DashScope-Async` を明示的に渡す必要はなく、ゲートウェイまたは公式チャネル適配層が処理します。\n\nHappyHorse アリ公式の動画生成フォーマットにおける公開リクエストの骨子、タスク照会構造、および推奨検証テンプレートを補足します。公開パスは公式エンドポイント形式を維持します。\n\n対応モデル：\nhappyhorse-1.0, happyhorse-1.0-t2v, happyhorse-1.0-i2v, happyhorse-1.0-r2v, happyhorse-1.0-video-edit\n\n共通リクエストフィールド：\n- `model` (string, 必須): HappyHorse の対外モデル名。集約モデル `happyhorse-1.0` は `mode` と併用する必要があります。\n- `mode` (string, 任意): 集約モデルのモード。一般的な値は `t2v`、`i2v`、`r2v`、`video_edit` です。固定サブモデルの場合は省略できます。\n- `input.prompt` (string, 必須): 動画生成または編集のプロンプト。\n- `input.media` (array[object], 任意): マルチメディア入力。画像から動画では `first_frame` を使用し、参照動画生成では `reference_image` を使用し、動画編集では `video` と任意の `reference_image` を使用します。\n- `parameters.duration` (integer, 任意): 生成時間。秒単位で課金されます。\n- `parameters.resolution` (string, 任意): 出力解像度。一般的な値は `720P`、`1080P` です。\n- `parameters.ratio` (string, 任意): 出力アスペクト比。テキストから動画、参照から動画でよく使用されます。\n- `parameters.watermark` (boolean, 任意): ウォーターマークを追加するかどうか。\n- `parameters.seed` (integer, 任意): 乱数シード。\n\n代表的なモデル/モードの違い：\n- `HappyHorse 聚合模型`: 対応モデルは happyhorse-1.0。集約モデルは mode で最終モデルを区別します。\n- `HappyHorse 文生视频`: 対応モデルは happyhorse-1.0-t2v。公式フォーマットのテキストから動画です。\n- `HappyHorse 首帧图生视频`: 対応モデルは happyhorse-1.0-i2v。公式フォーマットの先頭フレーム画像から動画です。\n- `HappyHorse 参考生视频`: 対応モデルは happyhorse-1.0-r2v。公式フォーマットの複数参照画像から動画です。\n- `HappyHorse 视频编辑`: 対応モデルは happyhorse-1.0-video-edit。公式フォーマットの動画編集です。",
        "operationId": "query__happyhorse__task",
        "tags": [
          "動画生成HappyHorseアリ"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "タスク ID。タスク作成の応答で返される `id` から取得します。"
          }
        ],
        "responses": {
          "200": {
            "description": "照会に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string",
                          "description": "タスク作成時に返されるタスク ID。タスクの照会に使用します。"
                        },
                        "task_status": {
                          "type": "string",
                          "enum": [
                            "PENDING",
                            "RUNNING",
                            "SUCCEEDED",
                            "FAILED",
                            "UNKNOWN"
                          ],
                          "description": "タスクの状態。一般的な値は `PENDING`、`RUNNING`、`SUCCEEDED`、`FAILED` です。"
                        },
                        "submit_time": {
                          "type": "string"
                        },
                        "scheduled_time": {
                          "type": "string"
                        },
                        "end_time": {
                          "type": "string"
                        },
                        "video_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "タスク成功後に生成される動画の URL。"
                        },
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "duration": {
                          "type": "integer",
                          "description": "課金対象の通話時間。単位は秒です。"
                        },
                        "SR": {
                          "type": "integer",
                          "description": "出力解像度のレベル。"
                        },
                        "video_count": {
                          "type": "integer"
                        }
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/ja/動画生成happyhorseアリ/タスクを照会happyhorse"
        }
      }
    },
    "/ent/v2/text2video": {
      "post": {
        "summary": "テキストから動画を作成(Vidu)",
        "description": "このシリーズはOpenAIの動画生成形式をサポートしています（詳細はリンク [動画生成Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video) を参照してください）。\n\nVidu 公式動画生成API。公開パスは Vidu 公式仕様に準拠します。\n\n現在公開されているモデル：`viduq3-turbo`。テキストから動画、画像から動画、開始・終了フレームから動画、参考動画から動画に対応しています。同一モデルは `/v1/videos` Sora 互換形式でも接続でき、一般的な `mode` は `t2v`、`i2v`、`i2v_first_last`、`reference_images` です。\n\nVidu 公式動画生成フォーマットの公開リクエスト骨格、タスク照会構造、推奨検証テンプレートを補足します。公開パスは Vidu 公式エンドポイント形式を維持します。\n\n対応モデル：\nviduq3-turbo\n\n共通リクエストフィールド：\n- `model` (string, 必須): Vidu の対外公開モデル名。現在公開中の `viduq3-turbo`。\n- `prompt` (string, 任意): 動画生成プロンプト。テキストから動画では必須、画像から/開始・終了フレーム/参考動画からは業務要件に応じて送信します。\n- `images` (array[string], 任意): 画像入力。画像から動画は1枚、開始・終了フレームは2枚、参考動画からは1〜7枚。\n- `videos` (array[string], 任意): 参考動画から動画で使用できる動画主体入力。Vidu 公式モデルの機能に応じて使用します。\n- `subjects` (array[object], 任意): 参考動画から動画の主体ライブラリ形式の入力。主体名、画像、動画、音色などのフィールドを含めることができます。\n- `duration` (integer, 任意): 動画の長さ。単位は秒です。`viduq3-turbo` は通常 5 秒で、公式の範囲に従って設定できます。\n- `resolution` (string, 任意): 出力解像度。一般的な値は `540p`、`720p`、`1080p` です。\n- `aspect_ratio` (string, 任意): 出力アスペクト比。テキストから動画/参考動画から動画で一般的に使用されます。例: `16:9`、`9:16`、`1:1`。\n- `seed` (integer, 任意): 乱数シード。\n- `movement_amplitude` (string, 任意): モーションの強さ。一般的な値は `auto`、`small`、`medium`、`large` です。\n- `audio` (boolean, 任意): 音声付き動画の直接出力を有効にするかどうか。\n- `off_peak` (boolean, 任意): オフピーク生成を使用するかどうか。\n- `watermark` (boolean, 任意): ウォーターマークを追加するかどうか。\n\n代表的なモデル/モードの違い：\n- `Vidu 文生视频`: サポートモデル viduq3-turbo；公式形式のテキストから動画。\n- `Vidu 图生视频`: サポートモデル viduq3-turbo；公式形式の単一画像から動画。\n- `Vidu 首尾帧生视频`: サポートモデル viduq3-turbo；公式形式の開始・終了フレームの2画像から動画。\n- `Vidu 参考生视频`: サポートモデル viduq3-turbo；公式形式の複数参考画像から動画。",
        "operationId": "createViduTextVideo",
        "tags": [
          "動画生成Vidu公式"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "viduq3-turbo"
                    ],
                    "example": "viduq3-turbo",
                    "description": "Vidu の外部向けモデル名。現在公開中の `viduq3-turbo`。"
                  },
                  "prompt": {
                    "type": "string",
                    "example": "A cinematic product ad with smooth camera motion",
                    "description": "動画生成用プロンプト。テキストから動画生成では必須。画像から動画生成／開始・終了フレーム／参照による動画生成では、業務要件に応じて指定してください。"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "example": [
                      "https://example.com/input.jpg"
                    ],
                    "description": "画像入力。画像から動画は1枚、開始/終了フレームは2枚、参照画像からの動画生成は1〜7枚。"
                  },
                  "videos": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "description": "参考となる生動画は、オプションの動画主体入力です。Vidu の公式モデル機能に従って使用してください。"
                  },
                  "subjects": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "videos": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "voice_id": {
                          "type": "string"
                        },
                        "server_id": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "生成動画の主体ライブラリ形式を参照して入力します。主体名、画像、動画、音色などのフィールドを含めることができます。"
                  },
                  "auto_subjects": {
                    "type": "boolean"
                  },
                  "duration": {
                    "type": "integer",
                    "example": 5,
                    "description": "動画の長さ。単位は秒。`viduq3-turbo` 通常は5秒で、公式の範囲に従って設定できます。"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "540p",
                      "720p",
                      "1080p"
                    ],
                    "example": "720p",
                    "description": "出力解像度。一般的な値は `540p`、`720p`、`1080p` です。"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "16:9",
                      "9:16",
                      "4:3",
                      "3:4",
                      "1:1"
                    ],
                    "example": "16:9",
                    "description": "出力のアスペクト比。テキスト生成/参照生成動画でよく使用されます。例: `16:9`、`9:16`、`1:1`。"
                  },
                  "seed": {
                    "type": "integer",
                    "description": "乱数シード。"
                  },
                  "movement_amplitude": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "small",
                      "medium",
                      "large"
                    ],
                    "example": "auto",
                    "description": "動作範囲。一般的な値は `auto`、`small`、`medium`、`large` です。"
                  },
                  "audio": {
                    "type": "boolean",
                    "description": "音声・映像の直接出力を有効にするかどうか。"
                  },
                  "audio_type": {
                    "type": "string",
                    "enum": [
                      "all",
                      "speech_only",
                      "sound_effect_only"
                    ]
                  },
                  "voice_id": {
                    "type": "string"
                  },
                  "is_rec": {
                    "type": "boolean"
                  },
                  "bgm": {
                    "type": "boolean"
                  },
                  "payload": {
                    "type": "string"
                  },
                  "off_peak": {
                    "type": "boolean",
                    "description": "生成をオフピークで実行するかどうか。"
                  },
                  "watermark": {
                    "type": "boolean",
                    "description": "透かしを追加するかどうか。"
                  },
                  "wm_position": {
                    "type": "integer",
                    "enum": [
                      1,
                      2,
                      3,
                      4
                    ]
                  },
                  "wm_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              },
              "examples": {
                "vidu_native_t2v": {
                  "summary": "Vidu テキストから動画を生成",
                  "value": {
                    "model": "viduq3-turbo",
                    "prompt": "A cinematic product ad with smooth camera motion",
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_native_i2v": {
                  "summary": "Vidu 画像から動画を生成",
                  "value": {
                    "model": "viduq3-turbo",
                    "images": [
                      "https://example.com/product.jpg"
                    ],
                    "prompt": "The product rotates slowly under studio light",
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_native_start_end": {
                  "summary": "Vidu 先頭・末尾フレームから動画を生成",
                  "value": {
                    "model": "viduq3-turbo",
                    "images": [
                      "https://example.com/start.jpg",
                      "https://example.com/end.jpg"
                    ],
                    "prompt": "A smooth camera move from the first frame to the final frame",
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_native_reference": {
                  "summary": "Vidu 参照生成動画",
                  "value": {
                    "model": "viduq3-turbo",
                    "images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg",
                      "https://example.com/ref-3.jpg"
                    ],
                    "prompt": "Keep the same character and product style in a cinematic shot",
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "タスクの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "task_id",
                    "state"
                  ],
                  "properties": {
                    "task_id": {
                      "type": "string",
[...]
