{
  "openapi": "3.0.0",
  "info": {
    "title": "グローバル進出キャンプ API リファレンスドキュメント",
    "version": "1.0.0",
    "description": "Public AI Gateway API Reference"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "モデル一覧の取得",
        "deprecated": false,
        "description": "現在利用可能なモデルの一覧を取得します。\n\nリクエストヘッダーに基づいてレスポンス形式を自動的に識別します：\n- `x-api-key` および `anthropic-version` ヘッダーが含まれる場合は Anthropic 形式を返します\n- `x-goog-api-key` ヘッダーまたは `key` クエリパラメータが含まれる場合は Gemini 形式を返します\n- その他の場合は OpenAI 形式を返します",
        "operationId": "listModels",
        "tags": [
          "モデル一覧の取得"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Google API キー (Gemini 形式用)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Anthropic API Key (Claude 形式用)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Anthropic API バージョン",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Google API キー (Gemini 形式用)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "モデル一覧の取得に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "認証に失敗しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "Gemini 形式の取得",
        "deprecated": false,
        "description": "利用可能なモデルのリストを Gemini API 形式で返します",
        "operationId": "listModelsGemini",
        "tags": [
          "モデル一覧の取得"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "モデル一覧の取得に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "チャットセッションの作成",
        "deprecated": false,
        "description": "対話履歴に基づいてモデルのレスポンスを作成します。ストリーミング形式および非ストリーミング形式のレスポンスをサポートしています。\n\nOpenAI Chat Completions API と互換性があります。",
        "operationId": "createChatCompletion",
        "tags": [
          "OpenAI形式 (Chat)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "レスポンスの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "リクエストパラメータのエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "リクエストレート制限",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "レスポンスの作成 (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses APIは、モデルのレスポンスを作成するために使用されます。\nマルチターン対話、ツール呼び出し、推論などの機能をサポートしています。",
        "operationId": "createResponse",
        "tags": [
          "OpenAI形式 (Responses)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "レスポンスの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Gemini 画像(Nano Banana)",
        "deprecated": false,
        "description": "Gemini 画像生成。\n\nNano BananaシリーズはOpenAI Dall-E形式をサポートしています（詳細は [画像生成OpenAI DALL-E形式](#tag/%E5%9B%BE%E7%89%87%E7%94%9F%E6%88%90OpenAI%20DALL-E%E6%A0%BC%E5%BC%8F) を参照してください）。\n\n/v1beta/models/{model}:generateContent の Gemini 画像生成フィールドの説明を補足し、公開 OpenAPI でネストされたフィールドの description が欠落することを防ぎます。",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "画像生成Gemini形式"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "モデル名",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "メッセージのロール。一般的な値は `user` または `model` です。"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "テキスト入力内容。"
                              },
                              "inlineData": {
                                "type": "object",
                                "description": "base64画像などの入力に適した、インラインのバイナリコンテンツオブジェクト。",
                                "properties": {
                                  "mimeType": {
                                    "type": "string",
                                    "description": "インラインコンテンツの MIME タイプ。例: `image/png`。"
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "Base64 エンコード後のバイナリデータの内容。"
                                  }
                                }
                              }
                            }
                          },
                          "description": "メッセージ片の配列。テキスト、画像などの入力はすべてここに含めます。"
                        }
                      }
                    },
                    "description": "必須。Gemini の入力コンテンツ配列。通常は少なくとも 1 件の user メッセージを含みます。"
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "レスポンスモードの一覧。画像生成では通常 `IMAGE` を渡します。"
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string",
                            "description": "アスペクト比。たとえば `16:9`、`1:1`、`9:16`。"
                          },
                          "imageSize": {
                            "type": "string",
                            "description": "出力解像度レベル。例: `1K`、`2K`、`4K`。"
                          }
                        },
                        "description": "画像生成設定オブジェクト。"
                      }
                    },
                    "required": [
                      "responseModalities"
                    ],
                    "description": "生成設定オブジェクト。"
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "画像を生成（OpenAI Dall-E互換）",
        "deprecated": false,
        "description": "OpenAI Dall-E形式の画像生成APIです。\n\n- `POST /v1/images/generations`：画像生成タスクを作成\n\n標準認証ヘッダー：\n- `Content-Type: application/json`\n\n- `model: string`：必須、外部向けモデル名\n- `prompt: string`：推奨、画像生成の説明\n- `n: number`：任意、生成枚数\n- `size: string`：任意、サイズまたは解像度の指定\n- `quality: string`：任意、品質レベル\n- `response_format: string`：任意、返却形式\n\nよく使われる互換拡張パラメータ：\n- `image`\n- `image_url`\n- `image_urls`\n- `image_list`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `negative_prompt`\n- `aspect_ratio`\n- `resolution`\n- `callback_url`\n- `external_task_id`\n\nKling 専用拡張パラメータ：\n- `model_name`\n- `element_list`\n- `result_type`\n- `series_amount`\n- `human_image`\n- `cloth_image`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n### 3.1 Nano Banana シリーズ\n\n公開モデル：\n- `nano-banana`\n- `nano-banana-pro`\n- `nano-banana-pro-2k`\n- `nano-banana-pro-4k`\n- `nano-banana-2`\n- `nano-banana-2-2k`\n- `nano-banana-2-4k`\n\n機能説明：\n- `nano-banana`：基本的なテキストから画像生成。画像編集にも対応\n- `nano-banana-pro*`：より高品質なバージョン\n- `nano-banana-2*`：更新されたバージョンファミリー\n- `*-2k` / `*-4k`：高解像度モデル\n\nよく使うパラメータ：\n- テキストから画像生成：`model + prompt`\n- 画像編集：`model + prompt + image`、`image_urls` にも対応\n- よく使われる拡張：`n` `size` `quality` `response_format`\n\n例:\n\n```json\n{\n\"model\": \"nano-banana\",\n\"prompt\": \"a cute cat running in cloud\",\n\"n\": 1,\n\"size\": \"1024x1792\"\n}\n```\n\n```json\n{\n\"model\": \"nano-banana-pro\",\n\"prompt\": \"把主体改成赛博朋克夜景\",\n\"image\": \"https://example.com/input.png\",\n\"n\": 1\n}\n```\n\n### 3.2 Seedream シリーズ\n\n公開モデル：\n- `doubao-seedream-3-0-t2i-250415`\n- `doubao-seedream-4-0-250828`\n- `doubao-seedream-4-5-251128`\n- `doubao-seedream-5-0-260128`\n\n機能説明：\n- テキストから画像生成として統一して呼び出します\n- 標準パラメータを優先して渡すことを推奨します：`prompt + model + size/aspect_ratio`\n\nよく使うパラメータ：\n- `model + prompt`\n- 任意：`size` `aspect_ratio` `n`\n\n### 3.3 Kling 標準画像メインモデル\n\n公開メインモデル：\n- `kling-image`\n\n必須：\n- `model`\n- `model_name`\n\nサポートされる `model_name`：\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v2`\n- `kling-v2-new`\n- `kling-v2-1`\n- `kling-v3`\n\n機能説明：\n- テキストから画像生成：`model + model_name + prompt`\n- 画像から画像生成：テキストから画像生成をベースに `image` を追加\n- 複数画像から画像生成：`subject_image_list` を渡すか、複数の `image_urls/images` を渡します\n- アウトペイント：`image` とアウトペイント比率パラメータを渡します\n\nよく使うパラメータ：\n- `image`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `aspect_ratio`\n- `resolution`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n例:\n\n```json\n{\n\"model\": \"kling-image\",\n\"model_name\": \"kling-v3\",\n\"prompt\": \"海边日落，电影感人像\",\n\"aspect_ratio\": \"16:9\",\n\"n\": 1\n}\n```\n\n### 3.4 Kling Omni 画像メインモデル\n\n公開メインモデル：\n- `kling-omni-image`\n\n必須：\n- `model`\n- `model_name`\n\nサポートされる `model_name`：\n- `kling-image-o1`\n- `kling-v3-omni`\n\nよく使うパラメータ：\n- `image_list`\n- `element_list`\n- `resolution`\n- `aspect_ratio`\n- `result_type`\n- `series_amount`\n\n例:\n\n```json\n{\n\"model\": \"kling-omni-image\",\n\"model_name\": \"kling-v3-omni\",\n\"prompt\": \"生成一张海边跳舞的图片\",\n\"element_list\": [\n{ \"element_id\": 835266081714884677 }\n]\n}\n```\n\n### 3.5 Kling バーチャル試着モデル\n\n公開モデル：\n- `kolors-virtual-try-on-v1`\n- `kolors-virtual-try-on-v1-5`\n\n最小入力パラメータ：\n- `model + human_image + cloth_image`\n\n説明：\n- これら2つのモデル自体が完全なメインモデルであるため、`model_name` を追加で渡す必要はありません\n\n例:\n\n```json\n{\n\"model\": \"kolors-virtual-try-on-v1\",\n\"human_image\": \"https://example.com/human.jpg\",\n\"cloth_image\": \"https://example.com/cloth.jpg\"\n}\n```",
        "operationId": "createImageGeneration",
        "tags": [
          "画像生成OpenAI DALL-E形式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "外部向け画像モデル名。",
                    "example": "dall-e-3",
                    "enum": [
                      "nano-banana",
                      "doubao-seedream-3-0-t2i-250415",
                      "kling-image",
                      "kling-omni-image",
                      "kolors-virtual-try-on-v1",
                      "kolors-virtual-try-on-v1-5"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "画像生成の説明です。バーチャル試着モデルでは省略可能です。"
                  },
                  "n": {
                    "type": "integer",
                    "description": "生成枚数。",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "サイズまたは解像度の表現。",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "品質レベル。",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "スタイル",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "返却形式。",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "ユーザー識別子"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "nano_banana_text2img": {
                  "summary": "Nano Banana テキストから画像生成",
                  "value": {
                    "model": "nano-banana",
                    "prompt": "a cute cat running in cloud",
                    "n": 1,
                    "size": "1024x1792"
                  }
                },
                "seedream_text2img": {
                  "summary": "Seedream テキストから画像生成",
                  "value": {
                    "model": "doubao-seedream-3-0-t2i-250415",
                    "prompt": "一张电影感海边日落人像",
                    "size": "1536x1024",
                    "n": 1
                  }
                },
                "kling_text2img": {
                  "summary": "Kling テキストから画像生成",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v3",
                    "prompt": "海边日落，电影感人像",
                    "aspect_ratio": "16:9",
                    "n": 1
                  }
                },
                "kling_img2img": {
                  "summary": "Kling 画像から画像生成",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v2-1",
                    "prompt": "改成赛博朋克夜景风格",
                    "image": "https://example.com/input.png",
                    "n": 1
                  }
                },
                "kling_omni_image": {
                  "summary": "Kling Omni 画像",
                  "value": {
                    "model": "kling-omni-image",
                    "model_name": "kling-v3-omni",
                    "prompt": "生成一张海边跳舞的图片",
                    "element_list": [
                      {
                        "element_id": 835266081714884677
                      }
                    ]
                  }
                },
                "kling_virtual_try_on": {
                  "summary": "Kling バーチャル試着",
                  "value": {
                    "model": "kolors-virtual-try-on-v1",
                    "human_image": "https://example.com/human.jpg",
                    "cloth_image": "https://example.com/cloth.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "画像の生成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "画像を編集（OpenAI Dall-E互換）",
        "deprecated": false,
        "description": "OpenAI Dall-E形式の画像編集APIです。",
        "operationId": "createImageEdit",
        "tags": [
          "画像生成OpenAI DALL-E形式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "編集対象の画像"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "オプションのマスク画像"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "プロンプトを編集"
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "画像の生成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "動画の生成",
        "deprecated": false,
        "description": "OpenAI Sora 互換形式の動画生成APIです。テキストからの動画生成、および画像・動画リファレンス生成モードをサポートしています。\n\n- `POST /v1/videos`：動画タスクの作成\n- `GET /v1/videos/{video_id}`：タスクステータスの照会\n- `GET /v1/videos/{video_id}/content`：動画のバイナリコンテンツを取得\n\n現在は外部に提供されていません：\n- `GET /v1/videos`\n- `POST /v1/videos/{video_id}/remix`\n\n標準認証ヘッダー：\n- `Content-Type: application/json`\n\n1. `POST /v1/videos` でタスクを作成し、`id` を取得\n2. `GET /v1/videos/{id}` を `completed` または `failed` になるまでポーリング\n3. 完了後は、レスポンス内の `video_url` を優先して使用\n4. 統一的にダウンロードする必要がある場合は、`GET /v1/videos/{id}/content` を呼び出す\n\n主要パラメータ：\n- `model: string`：必須、外部向けモデル名\n- `prompt: string`：推奨、動画生成の説明\n- `seconds: number|string`：任意、目標の長さ\n- `duration: number|string`：任意、長さのエイリアス\n- `size: string`：任意、出力サイズ\n- `mode: string`：任意、一般的な値 `t2v` `i2v` `i2v_first_last` `reference_material`\n\nよく使われる互換パラメータ：\n- `aspect_ratio`\n- `ratio`\n- `quality`\n- `resolution`\n- `fps`\n- `image`\n- `image_url`\n- `image_urls`\n- `images`\n- `reference_images`\n- `input_reference`\n- `end_image_url`\n- `last_image_url`\n- `video_urls`\n- `audio_urls`\n- `function_mode`\n- `content`\n- `callback_url`\n- `external_task_id`\n\nKling のよく使われる拡張パラメータ：\n- `model_name`\n- `negative_prompt`\n- `cfg_scale`\n- `sound`\n- `camera_control`\n- `image_list`\n- `video_id`\n- `task_id`\n- `watermark_info`\n\n### 4.1 Veo シリーズ\n\n#### Veo 3.x メインモデル\n\n- `veo3`\n- `veo3-fast`\n- `veo3-fast-frames`\n- `veo3-frames`\n- `veo3-pro`\n- `veo3-pro-frames`\n- `veo3.1`\n- `veo3.1-fast`\n- `veo3.1-fast-stable`\n- `veo3.1-fast-official`\n- `veo3.1-pro`\n- `veo3.1-components`\n- `veo3.1-4k`\n- `veo3.1-pro-4k`\n\n#### Veo 2.x / 3.1 プリセットモデル\n\n- `veo_2_0_t2v_landscape`\n- `veo_2_0_t2v_landscape-stable`\n- `veo_2_0_t2v_portrait`\n- `veo_2_0_t2v_portrait-stable`\n- `veo_2_0_i2v_landscape`\n- `veo_2_0_i2v_landscape-stable`\n- `veo_2_0_i2v_portrait`\n- `veo_2_0_i2v_portrait-stable`\n- `veo_2_1_fast_d_15_t2v_landscape`\n- `veo_2_1_fast_d_15_t2v_landscape-stable`\n- `veo_2_1_fast_d_15_t2v_portrait`\n- `veo_2_1_fast_d_15_t2v_portrait-stable`\n- `veo_2_1_fast_d_15_i2v_landscape`\n- `veo_2_1_fast_d_15_i2v_landscape-stable`\n- `veo_2_1_fast_d_15_i2v_portrait`\n- `veo_2_1_fast_d_15_i2v_portrait-stable`\n- `veo_3_1_t2v_landscape`\n- `veo_3_1_t2v_landscape-stable`\n- `veo_3_1_t2v_portrait`\n- `veo_3_1_t2v_portrait-stable`\n- `veo_3_1_t2v_fast_landscape`\n- `veo_3_1_t2v_fast_landscape-stable`\n- `veo_3_1_t2v_fast_portrait`\n- `veo_3_1_t2v_fast_portrait-stable`\n- `veo_3_1_t2v_fast_1080p`\n- `veo_3_1_t2v_fast_1080p-stable`\n- `veo_3_1_t2v_fast_4k`\n- `veo_3_1_t2v_fast_4k-stable`\n- `veo_3_1_t2v_fast_portrait_1080p`\n- `veo_3_1_t2v_fast_portrait_1080p-stable`\n- `veo_3_1_t2v_fast_portrait_4k`\n- `veo_3_1_t2v_fast_portrait_4k-stable`\n- `veo_3_1_t2v_fast_ultra`\n- `veo_3_1_t2v_fast_ultra-stable`\n- `veo_3_1_t2v_fast_ultra_1080p`\n- `veo_3_1_t2v_fast_ultra_1080p-stable`\n- `veo_3_1_t2v_fast_ultra_4k`\n- `veo_3_1_t2v_fast_ultra_4k-stable`\n- `veo_3_1_t2v_fast_ultra_relaxed`\n- `veo_3_1_t2v_fast_ultra_relaxed-stable`\n- `veo_3_1_t2v_fast_portrait_ultra`\n- `veo_3_1_t2v_fast_portrait_ultra-stable`\n- `veo_3_1_t2v_fast_portrait_ultra_1080p`\n- `veo_3_1_t2v_fast_portrait_ultra_1080p-stable`\n- `veo_3_1_t2v_fast_portrait_ultra_4k`\n- `veo_3_1_t2v_fast_portrait_ultra_4k-stable`\n- `veo_3_1_t2v_fast_portrait_ultra_relaxed`\n- `veo_3_1_t2v_fast_portrait_ultra_relaxed-stable`\n- `veo_3_1_i2v_s_landscape`\n- `veo_3_1_i2v_s_landscape-stable`\n- `veo_3_1_i2v_s_portrait`\n- `veo_3_1_i2v_s_portrait-stable`\n- `veo_3_1_i2v_s_fast_fl`\n- `veo_3_1_i2v_s_fast_fl-stable`\n- `veo_3_1_i2v_s_fast_ultra_fl`\n- `veo_3_1_i2v_s_fast_ultra_fl-stable`\n- `veo_3_1_i2v_s_fast_ultra_fl_1080p`\n- `veo_3_1_i2v_s_fast_ultra_fl_1080p-stable`\n- `veo_3_1_i2v_s_fast_ultra_fl_4k`\n- `veo_3_1_i2v_s_fast_ultra_fl_4k-stable`\n- `veo_3_1_i2v_s_fast_ultra_relaxed`\n- `veo_3_1_i2v_s_fast_ultra_relaxed-stable`\n- `veo_3_1_i2v_s_fast_portrait_fl`\n- `veo_3_1_i2v_s_fast_portrait_fl-stable`\n- `veo_3_1_i2v_s_fast_portrait_ultra_fl`\n- `veo_3_1_i2v_s_fast_portrait_ultra_fl-stable`\n- `veo_3_1_i2v_s_fast_portrait_ultra_fl_1080p`\n- `veo_3_1_i2v_s_fast_portrait_ultra_fl_1080p-stable`\n- `veo_3_1_i2v_s_fast_portrait_ultra_fl_4k`\n- `veo_3_1_i2v_s_fast_portrait_ultra_fl_4k-stable`\n- `veo_3_1_i2v_s_fast_portrait_ultra_relaxed`\n- `veo_3_1_i2v_s_fast_portrait_ultra_relaxed-stable`\n- `veo_3_1_r2v_fast`\n- `veo_3_1_r2v_fast-stable`\n- `veo_3_1_r2v_fast_ultra`\n- `veo_3_1_r2v_fast_ultra-stable`\n- `veo_3_1_r2v_fast_ultra_1080p`\n- `veo_3_1_r2v_fast_ultra_1080p-stable`\n- `veo_3_1_r2v_fast_ultra_4k`\n- `veo_3_1_r2v_fast_ultra_4k-stable`\n- `veo_3_1_r2v_fast_ultra_relaxed`\n- `veo_3_1_r2v_fast_ultra_relaxed-stable`\n- `veo_3_1_r2v_fast_portrait`\n- `veo_3_1_r2v_fast_portrait-stable`\n- `veo_3_1_r2v_fast_portrait_ultra`\n- `veo_3_1_r2v_fast_portrait_ultra-stable`\n- `veo_3_1_r2v_fast_portrait_ultra_1080p`\n- `veo_3_1_r2v_fast_portrait_ultra_1080p-stable`\n- `veo_3_1_r2v_fast_portrait_ultra_4k`\n- `veo_3_1_r2v_fast_portrait_ultra_4k-stable`\n- `veo_3_1_r2v_fast_portrait_ultra_relaxed`\n- `veo_3_1_r2v_fast_portrait_ultra_relaxed-stable`\n\n推奨:\n- テキストのみから動画を生成する場合は、`veo3*` / `veo3.1*` メインモデルを優先して使用\n- サイズ、向き、長さに固定要件がある場合は、プリセットモデル名を優先して使用\n- 画像からの動画生成や参照ベースの動画生成シーンでは、`mode + image_url/reference_images` を明示的に渡すことを推奨\n\n### 4.2 Sora シリーズ\n\n基本モデル：\n- `sora-2`\n- `sora-2-pro`\n- `sora-2-stable`\n- `sora-2-pro-stable`\n- `sora-2-official`\n- `sora-2-pro-official`\n\nプリセットモデル：\n- `sora2-landscape-10s`\n- `sora2-landscape-10s-stable`\n- `sora2-landscape-10s-official`\n- `sora2-portrait-10s`\n- `sora2-portrait-10s-stable`\n- `sora2-portrait-10s-official`\n- `sora2-landscape-15s`\n- `sora2-landscape-15s-stable`\n- `sora2-landscape-15s-official`\n- `sora2-portrait-15s`\n- `sora2-portrait-15s-stable`\n- `sora2-portrait-15s-official`\n- `sora2-pro-landscape-25s`\n- `sora2-pro-landscape-25s-stable`\n- `sora2-pro-landscape-25s-official`\n- `sora2-pro-portrait-25s`\n- `sora2-pro-portrait-25s-stable`\n- `sora2-pro-portrait-25s-official`\n- `sora2-pro-landscape-hd-15s`\n- `sora2-pro-landscape-hd-15s-stable`\n- `sora2-pro-landscape-hd-15s-official`\n- `sora2-pro-portrait-hd-15s`\n- `sora2-pro-portrait-hd-15s-stable`\n- `sora2-pro-portrait-hd-15s-official`\n\n推奨:\n- `sora-2*` は汎用的な呼び出しに適しています\n- `sora2-*` のプリセットモデルは、長さや向きが固定されたシナリオに適しています\n- 安定性や公式推奨の構成が必要な場合は、`*-stable` / `*-official` を直接選択してください\n\n### 4.3 Seedance シリーズ\n\n公開モデル：\n- `doubao-seedance-1-0-lite-t2v-250428`\n- `doubao-seedance-1-0-lite-t2v-250428-official`\n- `doubao-seedance-1-0-lite-i2v-250428`\n- `doubao-seedance-1-0-lite-i2v-250428-official`\n- `doubao-seedance-1-0-pro-250528`\n- `doubao-seedance-1-0-pro-250528-official`\n- `doubao-seedance-1-0-pro-fast-251015`\n- `doubao-seedance-1-0-pro-fast-251015-official`\n- `doubao-seedance-1-5-pro-251215`\n- `doubao-seedance-1-5-pro-251215-official`\n- `doubao-seedance-2-0-260128`\n- `doubao-seedance-2-0-260128-official`\n- `doubao-seedance-2-0-fast-260128`\n- `doubao-seedance-2-0-fast-260128-official`\n\n推奨:\n- テキストから動画を生成する場合は、`*-t2v-*` または `pro / fast` を優先してください\n- 画像から動画を生成する場合は、`*-i2v-*` を優先してください\n- 複雑な参考素材を用いるシナリオでは、`content` を優先して使用してください\n\n### 4.4 Grok 動画シリーズ\n\n公開モデル：\n- `grok-video-3`\n\nよく使うパラメータ：\n- `prompt`\n- `ratio` / `aspect_ratio`\n- `resolution` / `size`\n- `seconds` / `duration`\n- `image` / `image_url` / `input_reference`\n- `reference_images`\n\n### 4.5 Kling 動画メインモデル\n\n公開メインモデル：\n- `kling-video`\n\n必須：\n- `model`\n- `model_name`\n\nサポートされる `model_name`：\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v1-6`\n- `kling-v2-master`\n- `kling-v2-1`\n- `kling-v2-1-master`\n- `kling-v2-5-turbo`\n- `kling-v2-6`\n- `kling-v3`\n\n一般的な `mode`:\n- `t2v`\n- `i2v`\n- `multi_i2v`\n- `extend`\n\n最小入力パラメータ：\n- テキストから動画: `model + model_name + prompt + mode=t2v`\n- 画像から動画: `model + model_name + prompt + mode=i2v + image`\n- 複数画像参照: `model + model_name + prompt + mode=multi_i2v + image_list`\n- 動画の延長: `model + model_name + mode=extend + video_id`\n\n例:\n\n```json\n{\n\"model\": \"kling-video\",\n\"model_name\": \"kling-v2-6\",\n\"mode\": \"t2v\",\n\"prompt\": \"海边日落镜头，电影感，风吹长发\",\n\"duration\": 5,\n\"aspect_ratio\": \"16:9\"\n}\n```\n\n- `mode=t2v`\n- 最小入力パラメータ：`model + prompt`\n\n- `mode=i2v`\n- 最小入力パラメータ：`model + prompt + image_url`\n\n- `mode=i2v_first_last`\n- 最小入力パラメータ：`model + prompt + image_url + end_image_url`\n\n- `mode=reference_images`\n- 最小入力パラメータ：`model + prompt + reference_images`\n\n- `mode=reference_material`\n- 最小入力パラメータ：`model + prompt + (image_urls/video_urls/audio_urls 至少一种)`",
        "operationId": "createVideo",
        "tags": [
          "動画生成Sora互換フォーマット"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "モデル名。モデルによって、異なる上流の適応ロジックがトリガーされます。",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "共通プロンプトの入力欄。ほとんどのモデルで必須です。"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "単一画像エントリ。一部の互換モードでは images にマッピングされます。"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "duration の統一された入力パラメータです。一部のモデルでは seconds も受け付けます。"
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "動的拡張フィールドコンテナです。モデル固有の大量のフィールドがここからデシリアライズされます。"
                  },
                  "mode": {
                    "type": "string",
                    "description": "チャネル/モードのプロンプトフィールド。例: i2v_first、reference_images など。"
                  },
                  "images": {
                    "type": "array",
                    "description": "マルチ画像入力用エントリポイントを統一します。[[KEEP_0]]、[[KEEP_1]]、[[KEEP_2]] などで使用されます。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "サイズの統一入力口で、resolution/aspect_ratio などにマッピングされます。"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora 互換エントリ。実行時には duration にフォールバックします。"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Sora/Veo 互換の参照画像入力。multipart ファイルまたは互換オブジェクトを指定できます。"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "モデル名。モデルによって、異なる上流の適応ロジックがトリガーされます。",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "共通プロンプトの入力欄。ほとんどのモデルで必須です。"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "単一画像エントリ。一部の互換モードでは images にマッピングされます。"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "duration の統一された入力パラメータです。一部のモデルでは seconds も受け付けます。"
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "動的拡張フィールドコンテナです。モデル固有の大量のフィールドがここからデシリアライズされます。"
                  },
                  "mode": {
                    "type": "string",
                    "description": "チャネル/モードのプロンプトフィールド。例: i2v_first、reference_images など。"
                  },
                  "images": {
                    "type": "array",
                    "description": "マルチ画像入力用エントリポイントを統一します。[[KEEP_0]]、[[KEEP_1]]、[[KEEP_2]] などで使用されます。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "サイズの統一入力口で、resolution/aspect_ratio などにマッピングされます。"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora 互換エントリ。実行時には duration にフォールバックします。"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Sora/Veo 互換の参照画像入力。multipart ファイルまたは互換オブジェクトを指定できます。"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "openai_t2v": {
                  "summary": "OpenAI t2v (prompt/model)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_i2v_input_reference": {
                  "summary": "OpenAI i2v (input_reference)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_alias_compat": {
                  "summary": "Alias兼容 (image_url/duration/aspect_ratio)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                },
                "seedance_i2v_first": {
                  "summary": "Seedance i2v_first",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_i2v_first_last": {
                  "summary": "Seedance i2v_first_last",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_images": {
                  "summary": "Seedance reference_images",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_material": {
                  "summary": "Seedance 万能リファレンスモード (reference_material)",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_volc_content": {
                  "summary": "Seedance 火山方舟 content モード",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "veo_first_last_frame": {
                  "summary": "Veo 先頭・末尾フレームモード",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "veo_reference_images_1to3": {
                  "summary": "Veo 1〜3枚のリファレンス画像モード",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "kling_text2video": {
                  "summary": "Kling テキストからの動画生成",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "kling_image2video": {
                  "summary": "Kling イメージ動画生成",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "grok_reference_video": {
                  "summary": "Grok ビデオモード",
                  "value": {
                    "model": "grok-video-3",
                    "prompt": "A dramatic cinematic shot with fast motion and rich lighting",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_img2video": {
                  "summary": "Vidu イメージから動画生成",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A stylish ad clip from a product still image",
                    "images": [
                      "https://example.com/product.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_first_tail": {
                  "summary": "Vidu 先頭・末尾フレームモード",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A smooth shot from start frame to end frame",
                    "images": [
                      "https://example.com/start.jpg",
                      "https://example.com/end.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_reference": {
                  "summary": "Vidu マルチリファレンスイメージモード",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "Maintain product style and character consistency",
                    "images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg",
                      "https://example.com/ref-3.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "hailuo_text2video": {
                  "summary": "Hailuo テキストからビデオ生成",
                  "value": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "動画タスクの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "レガシーAPI互換（非推奨予定）"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "Should use VideoStatus constants: VideoStatusQueued, VideoStatusInProgress, VideoStatusCompleted, VideoStatusFailed",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed",
                        "video_url",
                        "url",
                        "completed_at"
                      ]
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "completed_at": {
                      "type": "integer"
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "リクエストパラメータのエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "動画タスクステータスの取得",
        "deprecated": false,
        "description": "OpenAI 互換のビデオタスクステータス照会インターフェースです。\n\nビデオタスクの詳細なステータス情報を返します。",
        "operationId": "getVideo",
        "tags": [
          "動画生成Sora互換フォーマット"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ビデオタスク ID",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "動画タスクのステータスを取得しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "動画結果のURLです。モデルによって `video_url` または `url` のいずれか一方が返されます。"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "動画結果のURLです。モデルによって `url` または `video_url` のいずれか一方が返されます。"
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "完了時間（Unix秒）。"
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "結果の有効期限（Unix秒）。"
                    },
                    "error": {
                      "type": "object",
                      "description": "失敗時のエラーメッセージ。"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "追加のメタデータ。"
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "タスクが存在しません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "動画コンテンツの取得",
        "deprecated": false,
        "description": "完了した動画タスクの動画ファイルの内容を取得します。\n\nこのインターフェースは、動画ファイルストリームをプロキシ経由で返します。",
        "operationId": "getVideoContent",
        "tags": [
          "動画生成Sora互換フォーマット"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ビデオタスク ID",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "動画コンテンツの取得に成功しました",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "ビデオが存在しないか、または生成が完了していません。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling テキストからの動画生成",
        "deprecated": false,
        "description": "このシリーズはOpenAI動画生成形式に対応しています（詳細はリンク「[動画生成Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video)」をご覧ください）。\n\nKling モデルを使用して、テキスト記述から動画を生成します。\n\n対応モデル：kling-v1, kling-v1-5 など",
        "operationId": "createKlingText2Video",
        "tags": [
          "動画生成Kling形式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "動画生成タスクの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "リクエストパラメータのエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "Kling Text-to-Videoタスクの状態を取得",
        "deprecated": false,
        "description": "このシリーズはOpenAI動画生成形式に対応しています（詳細はリンク「[動画生成Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video)」をご覧ください）。\n\nKling の Text-to-Video タスクの状態と結果を照会します。",
        "operationId": "getKlingText2Video",
        "tags": [
          "動画生成Kling形式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "タスクID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "タスクステータスの取得に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "タスクが存在しません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling イメージ動画生成",
        "deprecated": false,
        "description": "このシリーズはOpenAI動画生成形式に対応しています（詳細はリンク「[動画生成Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video)」をご覧ください）。\n\nKling モデルを使用して画像から動画を生成します。\n\nimage パラメータを介した画像 URL または Base64 エンコードされた画像データの入力に対応しています。",
        "operationId": "createKlingImage2Video",
        "tags": [
          "動画生成Kling形式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "動画生成タスクの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "リクエストパラメータのエラー",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "Kling イメージからの動画生成タスクの状態を取得",
        "deprecated": false,
        "description": "このシリーズはOpenAI動画生成形式に対応しています（詳細はリンク「[動画生成Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video)」をご覧ください）。\n\nKling イメージからの動画生成タスクの状態と結果を照会します。",
        "operationId": "getKlingImage2Video",
        "tags": [
          "動画生成Kling形式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "タスクID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "タスクステータスの取得に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "タスクが存在しません",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/api/v3/contents/generations/tasks": {
      "post": {
        "summary": "動画の生成（Seedance）",
        "description": "このシリーズはOpenAI動画生成形式に対応しています（詳細はリンク「[動画生成Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video)」をご覧ください）。\n\n動画生成タスクを作成し、タスクIDを使用してステータスと結果を照会するために使用します。\n\nタスク作成の主要フィールド：\n- `model`：必須、モデル名。\n- `prompt`：必須、動画生成のメイン説明文。\n- `content`：任意、アドバンスドモードにおけるマルチメディア入力配列。\n- `function_mode`：任意、通常、万能リファレンスなどのアドバンスドモードで使用されます。\n\n互換性のある入力パラメータ：\n- `mode`：`t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\n呼び出しの詳細：\n- `mode=reference_material` または `function_mode=omni_reference` の場合、`content` を介してテキストとリファレンス素材を渡すことを推奨します。\n- `content` 内のメディアフィールドは、URL文字列の直接入力と、`{ \"url\": \"https://example.com/ref.mp4\" }` のようなオブジェクト形式の両方をサポートしています。\n- `ratio`、`duration`、`resolution`、`fps` は、最終的な生成設定に影響します。\n\n照会結果の注目フィールド：\n- `items[].status`\n- `items[].content.video_url` または `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n```json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n```",
        "operationId": "create__seedance__task",
        "tags": [
          "動画生成Seedance火山方舟"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "doubao-seedance-2-0-260128",
                    "description": "必須。モデル名。"
                  },
                  "prompt": {
                    "type": "string",
                    "example": "参考素材生成一段剧情短视频",
                    "description": "必須。動画生成のメイン説明です。空にすることはできません。"
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "text",
                            "image_url",
                            "video_url",
                            "audio_url"
                          ]
                        },
                        "text": {
                          "type": "string"
                        },
                        "image_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "video_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "audio_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "role": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "任意。アドバンスドモードにおけるマルチメディア入力の配列です。複雑な参照シナリオでの使用を推奨します。"
                  },
                  "function_mode": {
                    "type": "string",
                    "description": "任意。高度な機能モードです。全般的なリファレンス用の `omni_reference` などがあります。"
                  },
                  "mode": {
                    "type": "string",
                    "description": "任意。`t2v`、`i2v`、`i2v_first_last`、`reference_images`、`reference_material` などの互換モードフィールドです。"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "任意。単一の参照画像URL。"
                  },
                  "image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "任意。複数の参照画像URLのリスト。"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "任意。互換性のためのリファレンス入力フィールドです。"
                  },
                  "end_image_url": {
                    "type": "string",
                    "description": "任意。最終フレームの参照画像の URL。"
                  },
                  "last_image_url": {
                    "type": "string",
                    "description": "オプション。最終フレームの参照画像URLのエイリアス。"
                  },
                  "video_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "任意。参照用動画URLのリスト。"
                  },
                  "audio_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "任意。参照オーディオURLのリスト。"
                  },
                  "seconds": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "オプション。動画の長さ（秒）。`duration` と互換性があります。"
                  },
                  "duration": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "オプション。動画の長さ（秒）。`seconds` と互換性があります。"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "任意。アスペクト比（例：`16:9`）。"
                  },
                  "ratio": {
                    "type": "string",
                    "description": "任意。アスペクト比のエイリアス（例：`16:9`）。"
                  },
                  "size": {
                    "type": "string",
                    "description": "任意。解像度またはサイズ互換フィールド。"
                  },
                  "quality": {
                    "type": "string",
                    "description": "任意。生成品質の設定。"
                  },
                  "resolution": {
                    "type": "string",
                    "description": "任意。出力解像度。"
                  },
                  "fps": {
                    "type": "number",
                    "description": "任意。フレームレート。"
                  },
                  "generate_audio": {
                    "type": "boolean",
                    "description": "任意。オーディオを生成するかどうか。"
                  },
                  "watermark": {
                    "type": "boolean",
                    "description": "任意。ウォーターマークを追加するかどうか。"
                  }
                }
              },
              "example": {
                "model": "doubao-seedance-2-0-260128",
                "prompt": "参考素材生成一段剧情短视频",
                "content": [
                  {
                    "type": "text",
                    "text": "@角色A 在咖啡馆和 @角色B 聊天，@背景视频 作为场景，配上 @背景音乐 --ratio 16:9 --dur 10"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterA.jpg",
                    "role": "material",
                    "name": "角色A"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterB.jpg",
                    "role": "material",
                    "name": "角色B"
                  },
                  {
                    "type": "video_url",
                    "video_url": "https://example.com/cafe-scene.mp4",
                    "role": "material",
                    "name": "背景视频"
                  },
                  {
                    "type": "audio_url",
                    "audio_url": "https://example.com/bgm.mp3",
                    "name": "背景音乐"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "タスクの作成に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "task_xxx",
                      "description": "タスク ID。"
                    },
                    "status": {
                      "type": "string",
                      "description": "タスクのステータス。",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "description": "作成日時（Unix秒）。"
                    },
                    "items": {
                      "type": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "タスク ID。"
                          },
                          "status": {
                            "type": "string",
                            "description": "タスクのステータス。一般的には `queued`、`running`、`succeeded`、`failed` があります。"
                          },
                          "content": {
                            "type": "object",
                            "properties": {
                              "video_url": {
                                "type": "string",
                                "description": "動画結果のURL。"
                              }
                            }
                          },
                          "video_url": {
                            "type": "string",
                            "description": "動画結果のURL。"
                          },
                          "error": {
                            "type": "string",
                            "description": "失敗時のエラーメッセージ。"
                          },
                          "progress": {
                            "type": "string",
                            "description": "タスクの進捗。"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/contents/generations/tasks/{task_id}": {
      "get": {
        "summary": "タスクの照会（Seedance）",
        "description": "このシリーズはOpenAI動画生成形式に対応しています（詳細はリンク「[動画生成Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video)」をご覧ください）。\n\n動画生成タスクを作成し、タスクIDを使用してステータスと結果を照会するために使用します。\n\nタスク作成の主要フィールド：\n- `model`：必須、モデル名。\n- `prompt`：必須、動画生成のメイン説明文。\n- `content`：任意、アドバンスドモードにおけるマルチメディア入力配列。\n- `function_mode`：任意、通常、万能リファレンスなどのアドバンスドモードで使用されます。\n\n互換性のある入力パラメータ：\n- `mode`：`t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\n呼び出しの詳細：\n- `mode=reference_material` または `function_mode=omni_reference` の場合、`content` を介してテキストとリファレンス素材を渡すことを推奨します。\n- `content` 内のメディアフィールドは、URL文字列の直接入力と、`{ \"url\": \"https://example.com/ref.mp4\" }` のようなオブジェクト形式の両方をサポートしています。\n- `ratio`、`duration`、`resolution`、`fps` は、最終的な生成設定に影響します。\n\n照会結果の注目フィールド：\n- `items[].status`\n- `items[].content.video_url` または `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n```json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n```",
        "operationId": "query__seedance__task",
        "tags": [
          "動画生成Seedance火山方舟"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "?? ID"
          }
        ],
        "responses": {
          "200": {
            "description": "照会に成功しました",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "タスク ID。"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ],
                      "description": "タスクのステータス。"
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "作成日時（Unix秒）。"
                    },
                    "updated_at": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "video_url": {
                          "type": "string"
                        },
                        "last_frame_url": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    },
                    "items": {
                      "type": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "タスク ID。"
                          },
                          "status": {
                            "type": "string",
                            "description": "タスクのステータス。一般的には `queued`、`running`、`succeeded`、`failed` があります。"
                          },
                          "content": {
                            "type": "object",
                            "properties": {
                              "video_url": {
                                "type": "string",
                                "description": "動画結果のURL。"
                              }
                            }
                          },
                          "video_url": {
                            "type": "string",
                            "description": "動画結果のURL。"
                          },
                          "error": {
                            "type": "string",
                            "description": "失敗時のエラーメッセージ。"
                          },
                          "progress": {
                            "type": "string",
                            "description": "タスクの進捗。"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/models/{model}:predictLongRunning": {
      "post": {
        "summary": "動画の作成（Veo3形式）",
        "description": "このシリーズはOpenAI動画生成形式に対応しています（詳細はリンク「[動画生成Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video)」をご覧ください）。\n\nこの API 特集ページは、Veo のネイティブ形式と現在のゲートウェイのサポート状況を説明するためのものです。\n\n現在の Veo シリーズの外部利用については、OpenAI Sora 互換モード（`POST /v1/videos`）を使用してください。\n\nGoogle ネイティブモードのパスは `POST /v1beta/models/{model}:predictLongRunning` として予約されています。現在、ゲートウェイは Veo ネイティブタスク配信リンクに接続されていないため、ネイティブの `instances/parameters` リクエストボディによる呼び出しはサポートされていません。",
        "operationId": "create_veo3_google_native_task",
        "tags": [
          "動画生成Veo3形式"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "veo3.1-fast",
              "enum": [
                "veo3",
                "veo3-fast",
                "veo3-fast-frames",
                "veo3-frames",
                "veo3-pro",
                "veo3-pro-frames",
                "veo3.1",
                "veo3.1-4k",
                "veo3.1-components",
                "veo3.1-fast",
                "veo3.1-pro",
                "veo3.1-pro-4k"
              ]
            },
            "description": "Veo モデル名。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instances"
                ],
                "properties": {
                  "instances": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "prompt": {
                          "type": "string",
                          "example": "A cinematic aerial shot of a modern city at sunrise",
                          "description": "プロンプトを生成"
                        },
                        "referenceImages": {
                          "type": "array",
                          "description": "省略可能。1〜3枚の参照画像。Googleネイティブの `inlineData` またはファイルURI構造を使用します。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "image": {
                                "type": "object",
                                "properties": {
                                  "inlineData": {
                                    "type": "object",
                                    "properties": {
                                      "mimeType": {
                                        "type": "string",
                                        "example": "image/png"
                                      },
                                      "data": {
                                        "type": "string",
                                        "example": "BASE64_IMAGE_DATA"
                                      }
                                    }
                                  }
                                }
                              },
                              "referenceType": {
                                "type": "string",
                                "example": "asset"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "1:1",
                          "9:16"
                        ],
                        "default": "16:9"
                      },
                      "durationSeconds": {
                        "type": "integer",
                        "enum": [
                          5,
                          6,
                          8,
                          10
                        ],
                        "default": 5
                      },
                      "resolution": {
                        "type": "string",
                        "example": "720p"
                      }
                    }
                  }
                }
              },
              "example": {
                "instances": [
                  {
                    "prompt": "A cinematic aerial shot of a modern city at sunrise",
                    "referenceImages": [
                      {
                        "image": {
                          "inlineData": {
                            "mimeType": "image/png",
                            "data": "BASE64_IMAGE_DATA"
                          }
                        },
                        "referenceType": "asset"
                      }
                    ]
                  }
                ],
                "parameters": {
                  "aspectRatio": "16:9",
                  "durationSeconds": 5,
                  "resolution": "720p"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "予約済みの成功レスポンス構造です。現在はプロトコルの説明用であり、実際の呼び出しはサポートされていません。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "models/veo3.1-fast/operations/abc123",
                      "description": "operation name。後続のステータス照会に使用されます。"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/{operation_name}": {
      "get": {
        "summary": "タスクの照会（Veo3形式）",
        "description": "このシリーズはOpenAI動画生成形式に対応しています（詳細はリンク「[動画生成Sora互換形式](/api-reference/ja/video-generation-sora-compatible-format/create-video)」をご覧ください）。\n\nこのインターフェース専用ページは、Veo ネイティブクエリプロトコルの説明のみを目的としています。\n\n現在の Veo シリーズについては、代わりに `/v1/videos` 統合インターフェースを使用して作成およびクエリを行ってください。\n\n以下の `operation_name` クエリ構造は予約プロトコルの説明として保持されているものであり、現時点では実際の呼び出しには対応していません。",
        "operationId": "query_veo3_google_native_task",
        "tags": [
          "動画生成Veo3形式"
        ],
        "parameters": [
          {
            "name": "operation_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "models/veo3.1-fast/operations/abc123"
            },
            "description": "作成 API が返した完全な operation name です。呼び出し時には `/` を URL エンコードする必要があります。"
          }
        ],
        "responses": {
          "200": {
            "description": "予約済みのクエリレスポンス構造です。現在はプロトコルの説明のみであり、実際の呼び出しには対応していません。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name",
                    "done"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "操作名です。作成APIのレスポンスに含まれる `name` と一致します。"
                    },
                    "done": {
                      "type": "boolean",
                      "description": "タスクが完了したかどうか。"
                    },
                    "response": {
                      "type": "object",
                      "description": "正常に完了した後の結果オブジェクト。",
                      "properties": {
                        "generatedVideos": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "video": {
                                "type": "object",
                                "properties": {
                                  "uri": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "生成に成功した後の動画のURL。"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "description": "失敗時のエラーメッセージ。",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "エラーの説明。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "name": "models/veo3.1-fast/operations/abc123",
                  "done": true,
                  "response": {
                    "generatedVideos": [
                      {
                        "video": {
                          "uri": "https://example.com/generated-video.mp4"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "エラーメッセージ"
              },
              "type": {
                "type": "string",
                "description": "エラータイプ"
              },
              "param": {
                "type": "string",
                "description": "関連パラメータ",
                "nullable": true
              },
              "code": {
                "type": "string",
                "description": "エラーコード",
                "nullable": true
              }
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "プロンプトのトークン数"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "完了トークン数"
          },
          "total_tokens": {
            "type": "integer",
            "description": "合計トークン数"
          },
          "prompt_tokens_details": {
            "type": "object",
            "properties": {
              "cached_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              },
              "image_tokens": {
                "type": "integer"
              }
            }
          },
          "completion_tokens_details": {
            "type": "object",
            "properties": {
              "text_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              },
              "reasoning_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "モデル ID",
            "example": "gpt-4"
          },
          "object": {
            "type": "string",
            "description": "オブジェクト型",
            "example": "model"
          },
          "created": {
            "type": "integer",
            "description": "作成タイムスタンプ"
          },
          "owned_by": {
            "type": "string",
            "description": "モデル所有者",
            "example": "openai"
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "GeminiModelsResponse": {
        "type": "object",
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "models/gemini-pro"
                },
                "version": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "inputTokenLimit": {
                  "type": "integer"
                },
                "outputTokenLimit": {
                  "type": "integer"
                },
                "supportedGenerationMethods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool",
              "developer"
            ],
            "description": "メッセージロール"
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessageContent"
                }
              }
            ],
            "description": "メッセージ内容"
          },
          "name": {
            "type": "string",
            "description": "送信者名"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          },
          "tool_call_id": {
            "type": "string",
[...]
