{
  "openapi": "3.0.0",
  "info": {
    "title": "出海營 API 參考文件",
    "version": "1.0.0",
    "description": "Public AI Gateway API Reference"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "取得模型列表",
        "deprecated": false,
        "description": "获取当前可用的模型列表。\n\n根据请求头自动识别返回格式：\n- 包含 `x-api-key` 和 `anthropic-version` 头时返回 Anthropic 格式\n- 包含 `x-goog-api-key` 头或 `key` 查询参数时返回 Gemini 格式\n- 其他情况返回 OpenAI 格式",
        "operationId": "listModels",
        "tags": [
          "取得模型列表"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Google API Key (用于 Gemini 格式)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Anthropic API Key (用于 Claude 格式)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Anthropic API 版本",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Google API Key (用于 Gemini 格式)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取模型列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "驗證失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/取得模型列表/取得模型列表"
        }
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "gemini格式取得",
        "deprecated": false,
        "description": "以 Gemini API 格式返回可用模型列表",
        "operationId": "listModelsGemini",
        "tags": [
          "取得模型列表"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功获取模型列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/取得模型列表/gemini格式取得"
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "建立聊天對話",
        "deprecated": false,
        "description": "根据对话历史创建模型响应。支持流式和非流式响应。\n\n兼容 OpenAI Chat Completions API。",
        "operationId": "createChatCompletion",
        "tags": [
          "openai格式-chat"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功创建响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "请求频率限制",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/openai格式-chat/建立聊天對話"
        }
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "建立回應",
        "deprecated": false,
        "description": "OpenAI Responses API，用于创建模型响应。\n支持多轮对话、工具调用、推理等功能。",
        "operationId": "createResponse",
        "tags": [
          "openai格式-responses"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功创建响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/openai格式-responses/建立回應"
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "gemini圖片-nano-banana",
        "deprecated": false,
        "description": "Gemini 图片生成。\n\nNano Banana系列支持OpenAI Dall-E格式（详见链接 [图片生成OpenAI DALL-E格式](#tag/%E5%9B%BE%E7%89%87%E7%94%9F%E6%88%90OpenAI%20DALL-E%E6%A0%BC%E5%BC%8F)）。\n\n补充 /v1beta/models/{model}:generateContent 的 Gemini 图片生成字段说明，避免公开 OpenAPI 在嵌套字段上丢失 description。",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "圖片生成-gemini格式"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "模型名称",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "消息角色，常见值为 `user` 或 `model`。"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "文本输入内容。"
                              },
                              "inlineData": {
                                "type": "object",
                                "description": "内联二进制内容对象，适用于 base64 图片等输入。",
                                "properties": {
                                  "mimeType": {
                                    "type": "string",
                                    "description": "内联内容 MIME 类型，例如 `image/png`。"
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "Base64 编码后的二进制数据内容。"
                                  }
                                }
                              }
                            }
                          },
                          "description": "消息片段数组；文本、图片等输入都放在这里。"
                        }
                      }
                    },
                    "description": "必填。Gemini 输入内容数组，通常至少包含一条 user 消息。"
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "响应模式列表；图片生成通常传 `IMAGE`。"
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string",
                            "description": "宽高比，例如 `16:9`、`1:1`、`9:16`。"
                          },
                          "imageSize": {
                            "type": "string",
                            "description": "输出分辨率等级，例如 `1K`、`2K`、`4K`。"
                          }
                        },
                        "description": "图片生成配置对象。"
                      }
                    },
                    "required": [
                      "responseModalities"
                    ],
                    "description": "生成配置对象。"
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/圖片生成-gemini格式/gemini圖片-nano-banana"
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "生成圖片（openai-dall-e相容）",
        "deprecated": false,
        "description": "OpenAI Dall-E格式图片生成介面。\n\n- `POST /v1/images/generations`：创建图片生成任务\n\n标准鉴权头：\n- `Content-Type: application/json`\n\n- `model: string`：必填，对外模型名\n- `prompt: string`：推荐，图片生成描述\n- `n: number`：可选，生成张数\n- `size: string`：可选，尺寸或分辨率表达\n- `quality: string`：可选，质量等级\n- `response_format: string`：可选，返回格式\n\n常用兼容扩展参数：\n- `image`\n- `image_url`\n- `image_urls`\n- `image_list`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `negative_prompt`\n- `aspect_ratio`\n- `resolution`\n- `callback_url`\n- `external_task_id`\n\nKling 专用扩展参数：\n- `model_name`\n- `element_list`\n- `result_type`\n- `series_amount`\n- `human_image`\n- `cloth_image`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n### 3.1 Nano Banana 系列\n\n对外模型：\n- `nano-banana`\n- `nano-banana-pro`\n- `nano-banana-pro-2k`\n- `nano-banana-pro-4k`\n- `nano-banana-2`\n- `nano-banana-2-2k`\n- `nano-banana-2-4k`\n\n能力说明：\n- `nano-banana`：基础文生图，也兼容图编辑\n- `nano-banana-pro*`：更高质量版本\n- `nano-banana-2*`：更新版本族\n- `*-2k` / `*-4k`：高分辨率型号\n\n常用参数：\n- 文生图：`model + prompt`\n- 图编辑：`model + prompt + image`，也兼容 `image_urls`\n- 常用扩展：`n` `size` `quality` `response_format`\n\n示例：\n\n```json\n{\n\"model\": \"nano-banana\",\n\"prompt\": \"a cute cat running in cloud\",\n\"n\": 1,\n\"size\": \"1024x1792\"\n}\n```\n\n```json\n{\n\"model\": \"nano-banana-pro\",\n\"prompt\": \"把主体改成赛博朋克夜景\",\n\"image\": \"https://example.com/input.png\",\n\"n\": 1\n}\n```\n\n### 3.2 Seedream 系列\n\n对外模型：\n- `doubao-seedream-3-0-t2i-250415`\n- `doubao-seedream-4-0-250828`\n- `doubao-seedream-4-5-251128`\n- `doubao-seedream-5-0-260128`\n\n能力说明：\n- 统一按文生图调用\n- 建议优先传标准参数：`prompt + model + size/aspect_ratio`\n\n常用参数：\n- `model + prompt`\n- 可选：`size` `aspect_ratio` `n`\n\n### 3.3 Kling 常规图片主模型\n\n对外主模型：\n- `kling-image`\n\n必填：\n- `model`\n- `model_name`\n\n支持的 `model_name`：\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v2`\n- `kling-v2-new`\n- `kling-v2-1`\n- `kling-v3`\n\n能力说明：\n- 文生图：`model + model_name + prompt`\n- 图生图：在文生图基础上增加 `image`\n- 多图生图：传 `subject_image_list`，或传多张 `image_urls/images`\n- 扩图：传 `image` 和扩图比例参数\n\n常用参数：\n- `image`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `aspect_ratio`\n- `resolution`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n示例：\n\n```json\n{\n\"model\": \"kling-image\",\n\"model_name\": \"kling-v3\",\n\"prompt\": \"海边日落，电影感人像\",\n\"aspect_ratio\": \"16:9\",\n\"n\": 1\n}\n```\n\n### 3.4 Kling Omni 图片主模型\n\n对外主模型：\n- `kling-omni-image`\n\n必填：\n- `model`\n- `model_name`\n\n支持的 `model_name`：\n- `kling-image-o1`\n- `kling-v3-omni`\n\n常用参数：\n- `image_list`\n- `element_list`\n- `resolution`\n- `aspect_ratio`\n- `result_type`\n- `series_amount`\n\n示例：\n\n```json\n{\n\"model\": \"kling-omni-image\",\n\"model_name\": \"kling-v3-omni\",\n\"prompt\": \"生成一张海边跳舞的图片\",\n\"element_list\": [\n{ \"element_id\": 835266081714884677 }\n]\n}\n```\n\n### 3.5 Kling 虚拟试衣模型\n\n对外模型：\n- `kolors-virtual-try-on-v1`\n- `kolors-virtual-try-on-v1-5`\n\n最小入参：\n- `model + human_image + cloth_image`\n\n说明：\n- 这两个模型本身就是完整主模型，不需要再传 `model_name`\n\n示例：\n\n```json\n{\n\"model\": \"kolors-virtual-try-on-v1\",\n\"human_image\": \"https://example.com/human.jpg\",\n\"cloth_image\": \"https://example.com/cloth.jpg\"\n}\n```",
        "operationId": "createImageGeneration",
        "tags": [
          "圖片生成-openai-dall-e格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "对外图片模型名称。",
                    "example": "dall-e-3",
                    "enum": [
                      "nano-banana",
                      "doubao-seedream-3-0-t2i-250415",
                      "kling-image",
                      "kling-omni-image",
                      "kolors-virtual-try-on-v1",
                      "kolors-virtual-try-on-v1-5"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "图片生成描述。虚拟试衣模型可不传。"
                  },
                  "n": {
                    "type": "integer",
                    "description": "生成张数。",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "尺寸或分辨率表达。",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "质量等级。",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "风格",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "返回格式。",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "用户标识"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "nano_banana_text2img": {
                  "summary": "Nano Banana 文生图",
                  "value": {
                    "model": "nano-banana",
                    "prompt": "a cute cat running in cloud",
                    "n": 1,
                    "size": "1024x1792"
                  }
                },
                "seedream_text2img": {
                  "summary": "Seedream 文生图",
                  "value": {
                    "model": "doubao-seedream-3-0-t2i-250415",
                    "prompt": "一张电影感海边日落人像",
                    "size": "1536x1024",
                    "n": 1
                  }
                },
                "kling_text2img": {
                  "summary": "Kling 文生图",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v3",
                    "prompt": "海边日落，电影感人像",
                    "aspect_ratio": "16:9",
                    "n": 1
                  }
                },
                "kling_img2img": {
                  "summary": "Kling 图生图",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v2-1",
                    "prompt": "改成赛博朋克夜景风格",
                    "image": "https://example.com/input.png",
                    "n": 1
                  }
                },
                "kling_omni_image": {
                  "summary": "Kling Omni 图片",
                  "value": {
                    "model": "kling-omni-image",
                    "model_name": "kling-v3-omni",
                    "prompt": "生成一张海边跳舞的图片",
                    "element_list": [
                      {
                        "element_id": 835266081714884677
                      }
                    ]
                  }
                },
                "kling_virtual_try_on": {
                  "summary": "Kling 虚拟试衣",
                  "value": {
                    "model": "kolors-virtual-try-on-v1",
                    "human_image": "https://example.com/human.jpg",
                    "cloth_image": "https://example.com/cloth.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功生成图像",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/圖片生成-openai-dall-e格式/生成圖片（openai-dall-e相容）"
        }
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "編輯圖片（openai-dall-e相容）",
        "deprecated": false,
        "description": "OpenAI Dall-E格式图片编辑介面。",
        "operationId": "createImageEdit",
        "tags": [
          "圖片生成-openai-dall-e格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "需编辑的图片"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "可选遮罩图"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "编辑提示词"
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功生成图像",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/圖片生成-openai-dall-e格式/編輯圖片（openai-dall-e相容）"
        }
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "建立影片",
        "deprecated": false,
        "description": "OpenAI Sora 兼容格式的视频生成介面。支持文生视频与图/视频参考生成模式。\n\n- `POST /v1/videos`：创建视频任务\n- `GET /v1/videos/{video_id}`：查询任务状态\n- `GET /v1/videos/{video_id}/content`：获取视频二进制内容\n\n当前对外不提供：\n- `GET /v1/videos`\n- `POST /v1/videos/{video_id}/remix`\n\n标准鉴权头：\n- `Content-Type: application/json`\n\n1. `POST /v1/videos` 创建任务，获取 `id`\n2. 轮询 `GET /v1/videos/{id}` 直到 `completed` 或 `failed`\n3. 完成后优先使用返回中的 `video_url`\n4. 如需统一下载，调用 `GET /v1/videos/{id}/content`\n\n核心参数：\n- `model: string`：必填，对外模型名\n- `prompt: string`：推荐，视频生成描述\n- `seconds: number|string`：可选，目标时长\n- `duration: number|string`：可选，时长别名\n- `size: string`：可选，输出尺寸\n- `mode: string`：可选，常见值 `t2v` `i2v` `i2v_first_last` `reference_material`\n\n常用兼容参数：\n- `aspect_ratio`\n- `ratio`\n- `quality`\n- `resolution`\n- `fps`\n- `image`\n- `image_url`\n- `image_urls`\n- `images`\n- `reference_images`\n- `input_reference`\n- `end_image_url`\n- `last_image_url`\n- `video_urls`\n- `audio_urls`\n- `function_mode`\n- `content`\n- `callback_url`\n- `external_task_id`\n\nKling 常用扩展参数：\n- `model_name`\n- `negative_prompt`\n- `cfg_scale`\n- `sound`\n- `camera_control`\n- `image_list`\n- `video_id`\n- `task_id`\n- `watermark_info`\n\n### 4.1 Veo 系列\n\n说明：`stable`、`official` 等表示不同分组，不是对外 `model` 后缀；调用时请保持 `model` 为基础模型名，由账户或令牌分组决定实际走哪个分组。\n\n#### Veo 3.x 主模型\n\n- `veo3`\n- `veo3-fast`\n- `veo3-fast-frames`\n- `veo3-frames`\n- `veo3-pro`\n- `veo3-pro-frames`\n- `veo3.1`\n- `veo3.1-fast`\n- `veo3.1-pro`\n- `veo3.1-components`\n- `veo3.1-4k`\n- `veo3.1-pro-4k`\n\n建议：\n- 纯文生视频优先使用 `veo3*` / `veo3.1*` 主模型\n- 图生或参考生视频场景，建议显式传 `mode + image_url/reference_images`\n\n### 4.2 Sora 系列\n\n基础模型：\n- `sora-2`\n- `sora-2-pro`\n\n建议：\n- `sora-2*` 适合通用调用\n- 如需使用 `stable` / `official` 等分组，请保持 `model` 为基础模型名，不要在模型名后追加后缀。\n\n### 4.3 Seedance 系列\n\n对外模型：\n- `doubao-seedance-1-0-lite-t2v-250428`\n- `doubao-seedance-1-0-lite-i2v-250428`\n- `doubao-seedance-1-0-pro-250528`\n- `doubao-seedance-1-0-pro-fast-251015`\n- `doubao-seedance-1-5-pro-251215`\n- `doubao-seedance-2-0-260128`\n- `doubao-seedance-2-0-fast-260128`\n\n建议：\n- 文生视频优先 `*-t2v-*` 或 `pro / fast`\n- 图生视频优先 `*-i2v-*`\n- 复杂参考素材场景优先使用 `content`\n\n### 4.4 Grok 视频系列\n\n对外模型：\n- `grok-imagine-1.0-video`\n- `grok-video-3`\n\n常用参数：\n- `prompt`\n- `ratio` / `aspect_ratio`\n- `resolution` / `size`\n- `seconds` / `duration`\n- `image` / `image_url` / `input_reference`\n- `reference_images`\n\n示例：\n\n```json\n{\n\"model\": \"grok-imagine-1.0-video\",\n\"prompt\": \"雨夜霓虹街道上的电影感推镜，光影丰富，运动自然\",\n\"reference_images\": [\n\"https://example.com/ref-1.jpg\"\n],\n\"seconds\": 10,\n\"aspect_ratio\": \"16:9\",\n\"resolution\": \"720P\"\n}\n```\n\n### 4.5 Kling 视频主模型\n\n对外主模型：\n- `kling-video`\n\n必填：\n- `model`\n- `model_name`\n\n支持的 `model_name`：\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v1-6`\n- `kling-v2-master`\n- `kling-v2-1`\n- `kling-v2-1-master`\n- `kling-v2-5-turbo`\n- `kling-v2-6`\n- `kling-v3`\n\n常见 `mode`：\n- `t2v`\n- `i2v`\n- `multi_i2v`\n- `extend`\n\n最小入参：\n- 文生视频：`model + model_name + prompt + mode=t2v`\n- 图生视频：`model + model_name + prompt + mode=i2v + image`\n- 多图参考：`model + model_name + prompt + mode=multi_i2v + image_list`\n- 视频延长：`model + model_name + mode=extend + video_id`\n\n示例：\n\n```json\n{\n\"model\": \"kling-video\",\n\"model_name\": \"kling-v2-6\",\n\"mode\": \"t2v\",\n\"prompt\": \"海边日落镜头，电影感，风吹长发\",\n\"duration\": 5,\n\"aspect_ratio\": \"16:9\"\n}\n```\n\n- `mode=t2v`\n- 最小入参：`model + prompt`\n\n- `mode=i2v`\n- 最小入参：`model + prompt + image_url`\n\n- `mode=i2v_first_last`\n- 最小入参：`model + prompt + image_url + end_image_url`\n\n- `mode=reference_images`\n- 最小入参：`model + prompt + reference_images`\n\n- `mode=reference_material`\n- 最小入参：`model + prompt + (image_urls/video_urls/audio_urls 至少一种)`\n\n### Gemini Omni 调用说明\n\n- `gemini-omni` 是 new-api 对外公开的视频模型名，可直接走 `POST /v1/videos`。\n- `mode=t2v`：文生视频，最小入参为 `model + prompt`。\n- `mode=r2v`：参考图/参考素材生成，图片可放在 `image`、`image_url`、`images`、`image_urls`、`reference_images`、`input_reference` 或 `content` 中。\n- `mode=edit`：视频编辑，视频可放在 `video`、`video_url`、`videos` 或 `content` 中，也可同时传参考图。\n- 时长字段可用 `seconds` 或 `duration`，会自动匹配到 4 / 6 / 8 / 10 秒档。",
        "operationId": "createVideo",
        "tags": [
          "影片生成sora相容格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "必填，对外模型名。 `gemini-omni` 可透過 `/v1/videos` 调用。",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "gemini-omni",
                      "happyhorse-1.0",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-imagine-1.0-video",
                      "grok-video-3",
                      "viduq3-turbo",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "统一提示词入口。大多数模型必填。"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "单图入口，部分兼容模式会映射到 images。"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "统一时长入口，部分模型也接受 seconds。"
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "动态扩展字段容器。大量模型特有字段从这里反序列化。"
                  },
                  "mode": {
                    "type": "string",
                    "description": "可选，视频生成模式。 `gemini-omni` 支持 `t2v`、`r2v`、`edit`。"
                  },
                  "images": {
                    "type": "array",
                    "description": "统一多图入口。Vidu、Seedance、Veo 等会使用。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "统一尺寸入口，会映射为 resolution/aspect_ratio 等。"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora 兼容入口，运行时会回退到 duration。"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Sora/Veo 兼容参考图入口，可为 multipart 文件或兼容对象。"
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "必填，对外模型名。 `gemini-omni` 可透過 `/v1/videos` 调用。",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "gemini-omni",
                      "happyhorse-1.0",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-imagine-1.0-video",
                      "grok-video-3",
                      "viduq3-turbo",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "统一提示词入口。大多数模型必填。"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "单图入口，部分兼容模式会映射到 images。"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "统一时长入口，部分模型也接受 seconds。"
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "动态扩展字段容器。大量模型特有字段从这里反序列化。"
                  },
                  "mode": {
                    "type": "string",
                    "description": "可选，视频生成模式。 `gemini-omni` 支持 `t2v`、`r2v`、`edit`。"
                  },
                  "images": {
                    "type": "array",
                    "description": "统一多图入口。Vidu、Seedance、Veo 等会使用。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "统一尺寸入口，会映射为 resolution/aspect_ratio 等。"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora 兼容入口，运行时会回退到 duration。"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Sora/Veo 兼容参考图入口，可为 multipart 文件或兼容对象。"
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "openai_t2v": {
                  "summary": "OpenAI t2v (prompt/model)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_i2v_input_reference": {
                  "summary": "OpenAI i2v (input_reference)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_alias_compat": {
                  "summary": "Alias兼容 (image_url/duration/aspect_ratio)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                },
                "gemini_omni_sora_t2v": {
                  "summary": "Gemini Omni Sora t2v",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "t2v",
                    "prompt": "A cinematic product video with smooth camera motion",
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "gemini_omni_sora_r2v": {
                  "summary": "Gemini Omni Sora r2v",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "r2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "Keep the product consistent and create a short ad video"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/product.jpg"
                        }
                      }
                    ],
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "gemini_omni_sora_edit": {
                  "summary": "Gemini Omni Sora edit",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "edit",
                    "content": [
                      {
                        "type": "text",
                        "text": "Change the outfit color while keeping the motion natural"
                      },
                      {
                        "type": "video_url",
                        "video_url": {
                          "url": "https://example.com/input.mp4"
                        }
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/style.jpg"
                        }
                      }
                    ],
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "happyhorse_sora_t2v": {
                  "summary": "HappyHorse Sora t2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "t2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic white horse running through a neon city street"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P",
                    "ratio": "16:9"
                  }
                },
                "happyhorse_sora_i2v": {
                  "summary": "HappyHorse Sora i2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "i2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "The camera slowly pushes in, natural motion"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/first-frame.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P"
                  }
                },
                "happyhorse_sora_r2v": {
                  "summary": "HappyHorse Sora r2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "r2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "Keep the character and product consistent in a short cinematic clip"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-2.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P",
                    "ratio": "16:9"
                  }
                },
                "happyhorse_sora_video_edit": {
                  "summary": "HappyHorse Sora video_edit",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "video_edit",
                    "content": [
                      {
                        "type": "text",
                        "text": "Change the jacket to a striped sweater and keep the motion natural"
                      },
                      {
                        "type": "video_url",
                        "video_url": "https://example.com/input.mp4"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/reference.jpg"
                      }
                    ],
                    "resolution": "720P"
                  }
                },
                "seedance_i2v_first": {
                  "summary": "Seedance i2v_first",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_i2v_first_last": {
                  "summary": "Seedance i2v_first_last",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_images": {
                  "summary": "Seedance reference_images",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_material": {
                  "summary": "Seedance 全能参考模式(reference_material)",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_volc_content": {
                  "summary": "Seedance 火山方舟 content 模式",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "veo_first_last_frame": {
                  "summary": "Veo 首尾帧模式",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "veo_reference_images_1to3": {
                  "summary": "Veo 1~3张参考图模式",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "kling_text2video": {
                  "summary": "Kling 文生视频",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "kling_image2video": {
                  "summary": "Kling 图生视频",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "grok_reference_video": {
                  "summary": "Grok 视频模式",
                  "value": {
                    "model": "grok-imagine-1.0-video",
                    "prompt": "A dramatic cinematic shot with fast motion and rich lighting",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": 10,
                    "aspect_ratio": "16:9",
                    "resolution": "720P"
                  }
                },
                "vidu_sora_t2v": {
                  "summary": "Vidu Sora t2v",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "t2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A stylish product ad clip with cinematic lighting"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_sora_i2v": {
                  "summary": "Vidu Sora i2v",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "i2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A stylish ad clip from a product still image"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/product.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_sora_first_last": {
                  "summary": "Vidu Sora i2v_first_last",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "i2v_first_last",
                    "content": [
                      {
                        "type": "text",
                        "text": "A smooth shot from start frame to end frame"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/start.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/end.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_sora_reference": {
                  "summary": "Vidu Sora reference_images",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "reference_images",
                    "content": [
                      {
                        "type": "text",
                        "text": "Maintain product style and character consistency"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-2.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-3.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "hailuo_text2video": {
                  "summary": "Hailuo 文生视频",
                  "value": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建视频任务",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "兼容旧介面 待废弃"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "Should use VideoStatus constants: VideoStatusQueued, VideoStatusInProgress, VideoStatusCompleted, VideoStatusFailed",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed",
                        "video_url",
                        "url",
                        "completed_at"
                      ]
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "completed_at": {
                      "type": "integer"
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成sora相容格式/建立影片"
        }
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "取得影片任務狀態",
        "deprecated": false,
        "description": "OpenAI 兼容的视频任务状态查询介面。\n\n返回视频任务的详细状态信息。",
        "operationId": "getVideo",
        "tags": [
          "影片生成sora相容格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "视频任务 ID",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取视频任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "视频结果地址。不同模型可能返回 `video_url` 或 `url`，二者取其一。"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "视频结果地址。不同模型可能返回 `url` 或 `video_url`，二者取其一。"
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "完成时间（Unix 秒）。"
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "结果过期时间（Unix 秒）。"
                    },
                    "error": {
                      "type": "object",
                      "description": "失败时的错误信息。"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "附加元数据。"
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任务不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成sora相容格式/取得影片任務狀態"
        }
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "取得影片內容",
        "deprecated": false,
        "description": "获取已完成视频任务的视频文件内容。\n\n此介面会代理返回视频文件流。",
        "operationId": "getVideoContent",
        "tags": [
          "影片生成sora相容格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "视频任务 ID",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取视频内容",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "视频不存在或未完成",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成sora相容格式/取得影片內容"
        }
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "kling文生影片",
        "deprecated": false,
        "description": "该系列支持OpenAI视频生成格式（详见链接 [视频生成Sora兼容格式](/api-reference/zh-tw/影片生成sora相容格式/建立影片)）。\n\n使用 Kling 模型从文本描述生成视频。\n\n支持的模型：kling-v1, kling-v1-5 等",
        "operationId": "createKlingText2Video",
        "tags": [
          "影片生成kling格式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建视频生成任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成kling格式/kling文生影片"
        }
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "取得kling文生影片任務狀態",
        "deprecated": false,
        "description": "该系列支持OpenAI视频生成格式（详见链接 [视频生成Sora兼容格式](/api-reference/zh-tw/影片生成sora相容格式/建立影片)）。\n\n查询 Kling 文生视频任务的状态和结果。",
        "operationId": "getKlingText2Video",
        "tags": [
          "影片生成kling格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "任务 ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任务不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成kling格式/取得kling文生影片任務狀態"
        }
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "kling圖生影片",
        "deprecated": false,
        "description": "该系列支持OpenAI视频生成格式（详见链接 [视频生成Sora兼容格式](/api-reference/zh-tw/影片生成sora相容格式/建立影片)）。\n\n使用 Kling 模型从图片生成视频。\n\n支持透過 image 参数传入图片 URL 或 Base64 编码的图片数据。",
        "operationId": "createKlingImage2Video",
        "tags": [
          "影片生成kling格式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建视频生成任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成kling格式/kling圖生影片"
        }
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "取得kling圖生影片任務狀態",
        "deprecated": false,
        "description": "该系列支持OpenAI视频生成格式（详见链接 [视频生成Sora兼容格式](/api-reference/zh-tw/影片生成sora相容格式/建立影片)）。\n\n查询 Kling 图生视频任务的状态和结果。",
        "operationId": "getKlingImage2Video",
        "tags": [
          "影片生成kling格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "任务 ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任务不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成kling格式/取得kling圖生影片任務狀態"
        }
      }
    },
    "/api/v1/services/aigc/video-generation/video-synthesis": {
      "post": {
        "summary": "建立影片(HappyHorse)",
        "description": "该系列支持OpenAI视频生成格式（详见链接 [视频生成Sora兼容格式](/api-reference/zh-tw/影片生成sora相容格式/建立影片)）。\n\nHappyHorse 阿里视频生成介面，公开路径遵循 DashScope 官方协议。\n\n支持 5 个对外模型：`happyhorse-1.0`、`happyhorse-1.0-i2v`、`happyhorse-1.0-t2v`、`happyhorse-1.0-r2v`、`happyhorse-1.0-video-edit`。其中 `happyhorse-1.0` 是聚合模型，需要透過 `mode` 区分 `t2v`、`i2v`、`r2v`、`video_edit`。\n\n公开介面保持官方端点格式；渠道专用前缀仅用于网关请求特定上游渠道时内部拼接。客户端不需要显式传 `X-DashScope-Async`，由网关或官方渠道适配层处理。\n\n补充 HappyHorse 阿里官方视频生成格式的公开请求骨架、任务查询结构和推荐验证模板，公开路径保持官方端点格式。\n\n支持模型：\nhappyhorse-1.0, happyhorse-1.0-t2v, happyhorse-1.0-i2v, happyhorse-1.0-r2v, happyhorse-1.0-video-edit\n\n统一请求字段：\n- `model` (string, 必填): HappyHorse 对外模型名。聚合模型 `happyhorse-1.0` 需配合 `mode` 使用。\n- `mode` (string, 可选): 聚合模型模式，常见值为 `t2v`、`i2v`、`r2v`、`video_edit`。固定子模型可不传。\n- `input.prompt` (string, 必填): 视频生成或编辑提示词。\n- `input.media` (array[object], 可选): 多媒体输入。图生视频使用 `first_frame`，参考生视频使用 `reference_image`，视频编辑使用 `video` 和可选 `reference_image`。\n- `parameters.duration` (integer, 可选): 生成时长，按秒计费。\n- `parameters.resolution` (string, 可选): 输出分辨率，常见值 `720P`、`1080P`。\n- `parameters.ratio` (string, 可选): 输出宽高比，文生视频和参考生视频常用。\n- `parameters.watermark` (boolean, 可选): 是否添加水印。\n- `parameters.seed` (integer, 可选): 随机种子。\n\n常见模型/模式差异：\n- `HappyHorse 聚合模型`: 支持模型 happyhorse-1.0；聚合模型透過 mode 区分最终模型。\n- `HappyHorse 文生视频`: 支持模型 happyhorse-1.0-t2v；官方格式文生视频。\n- `HappyHorse 首帧图生视频`: 支持模型 happyhorse-1.0-i2v；官方格式首帧图生视频。\n- `HappyHorse 参考生视频`: 支持模型 happyhorse-1.0-r2v；官方格式多参考图生视频。\n- `HappyHorse 视频编辑`: 支持模型 happyhorse-1.0-video-edit；官方格式视频编辑。",
        "operationId": "create__happyhorse__task",
        "tags": [
          "影片生成happyhorse-阿里"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "happyhorse-1.0",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit"
                    ],
                    "example": "happyhorse-1.0-t2v",
                    "description": "HappyHorse 对外模型名。聚合模型 `happyhorse-1.0` 需配合 `mode` 使用。"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "t2v",
                      "i2v",
                      "r2v",
                      "video_edit"
                    ],
                    "description": "聚合模型模式，常见值为 `t2v`、`i2v`、`r2v`、`video_edit`。固定子模型可不传。"
                  },
                  "input": {
                    "type": "object",
                    "required": [
                      "prompt"
                    ],
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "example": "A white horse running through a neon city street, cinematic",
                        "description": "视频生成或编辑提示词。"
                      },
                      "media": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "url"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "first_frame",
                                "reference_image",
                                "video"
                              ]
                            },
                            "url": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        },
                        "description": "多媒体输入。图生视频使用 `first_frame`，参考生视频使用 `reference_image`，视频编辑使用 `video` 和可选 `reference_image`。"
                      }
                    }
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "720P",
                          "1080P"
                        ],
                        "example": "720P",
                        "description": "输出分辨率，常见值 `720P`、`1080P`。"
                      },
                      "ratio": {
                        "type": "string",
                        "example": "16:9",
                        "description": "输出宽高比，文生视频和参考生视频常用。"
                      },
                      "duration": {
                        "type": "integer",
                        "example": 5,
                        "description": "生成时长，按秒计费。"
                      },
                      "watermark": {
                        "type": "boolean",
                        "description": "是否添加水印。"
                      },
                      "seed": {
                        "type": "integer",
                        "description": "随机种子。"
                      }
                    }
                  }
                }
              },
              "examples": {
                "happyhorse_native_aggregate_t2v": {
                  "summary": "HappyHorse 聚合模型",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "t2v",
                    "input": {
                      "prompt": "A white horse running through a neon city street, cinematic"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_t2v": {
                  "summary": "HappyHorse 文生视频",
                  "value": {
                    "model": "happyhorse-1.0-t2v",
                    "input": {
                      "prompt": "A white horse running through a neon city street, cinematic"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_i2v": {
                  "summary": "HappyHorse 首帧图生视频",
                  "value": {
                    "model": "happyhorse-1.0-i2v",
                    "input": {
                      "prompt": "The subject walks forward naturally",
                      "media": [
                        {
                          "type": "first_frame",
                          "url": "https://example.com/first-frame.jpg"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_r2v": {
                  "summary": "HappyHorse 参考生视频",
                  "value": {
                    "model": "happyhorse-1.0-r2v",
                    "input": {
                      "prompt": "Keep the character and product consistent in a cinematic shot",
                      "media": [
                        {
                          "type": "reference_image",
                          "url": "https://example.com/ref-1.jpg"
                        },
                        {
                          "type": "reference_image",
                          "url": "https://example.com/ref-2.jpg"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_video_edit": {
                  "summary": "HappyHorse 视频编辑",
                  "value": {
                    "model": "happyhorse-1.0-video-edit",
                    "input": {
                      "prompt": "Change the jacket to a striped sweater",
                      "media": [
                        {
                          "type": "video",
                          "url": "https://example.com/input.mp4"
                        },
                        {
                          "type": "reference_image",
                          "url": "https://example.com/reference.jpg"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "task_xxx"
                    },
                    "output": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string",
                          "description": "创建任务返回的任务 ID，用于查询任务。"
                        },
                        "task_status": {
                          "type": "string",
                          "description": "任务状态，常见值 `PENDING`、`RUNNING`、`SUCCEEDED`、`FAILED`。"
                        },
                        "video_url": {
                          "type": "string",
                          "description": "任务成功后的生成视频 URL。"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "duration": {
                          "type": "string",
                          "description": "计费时长，单位秒。"
                        },
                        "SR": {
                          "type": "string",
                          "description": "输出分辨率档位。"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成happyhorse-阿里/建立影片happyhorse"
        }
      }
    },
    "/api/v1/tasks/{task_id}": {
      "get": {
        "summary": "查詢任務(HappyHorse)",
        "description": "该系列支持OpenAI视频生成格式（详见链接 [视频生成Sora兼容格式](/api-reference/zh-tw/影片生成sora相容格式/建立影片)）。\n\nHappyHorse 阿里视频生成介面，公开路径遵循 DashScope 官方协议。\n\n支持 5 个对外模型：`happyhorse-1.0`、`happyhorse-1.0-i2v`、`happyhorse-1.0-t2v`、`happyhorse-1.0-r2v`、`happyhorse-1.0-video-edit`。其中 `happyhorse-1.0` 是聚合模型，需要透過 `mode` 区分 `t2v`、`i2v`、`r2v`、`video_edit`。\n\n公开介面保持官方端点格式；渠道专用前缀仅用于网关请求特定上游渠道时内部拼接。客户端不需要显式传 `X-DashScope-Async`，由网关或官方渠道适配层处理。\n\n补充 HappyHorse 阿里官方视频生成格式的公开请求骨架、任务查询结构和推荐验证模板，公开路径保持官方端点格式。\n\n支持模型：\nhappyhorse-1.0, happyhorse-1.0-t2v, happyhorse-1.0-i2v, happyhorse-1.0-r2v, happyhorse-1.0-video-edit\n\n统一请求字段：\n- `model` (string, 必填): HappyHorse 对外模型名。聚合模型 `happyhorse-1.0` 需配合 `mode` 使用。\n- `mode` (string, 可选): 聚合模型模式，常见值为 `t2v`、`i2v`、`r2v`、`video_edit`。固定子模型可不传。\n- `input.prompt` (string, 必填): 视频生成或编辑提示词。\n- `input.media` (array[object], 可选): 多媒体输入。图生视频使用 `first_frame`，参考生视频使用 `reference_image`，视频编辑使用 `video` 和可选 `reference_image`。\n- `parameters.duration` (integer, 可选): 生成时长，按秒计费。\n- `parameters.resolution` (string, 可选): 输出分辨率，常见值 `720P`、`1080P`。\n- `parameters.ratio` (string, 可选): 输出宽高比，文生视频和参考生视频常用。\n- `parameters.watermark` (boolean, 可选): 是否添加水印。\n- `parameters.seed` (integer, 可选): 随机种子。\n\n常见模型/模式差异：\n- `HappyHorse 聚合模型`: 支持模型 happyhorse-1.0；聚合模型透過 mode 区分最终模型。\n- `HappyHorse 文生视频`: 支持模型 happyhorse-1.0-t2v；官方格式文生视频。\n- `HappyHorse 首帧图生视频`: 支持模型 happyhorse-1.0-i2v；官方格式首帧图生视频。\n- `HappyHorse 参考生视频`: 支持模型 happyhorse-1.0-r2v；官方格式多参考图生视频。\n- `HappyHorse 视频编辑`: 支持模型 happyhorse-1.0-video-edit；官方格式视频编辑。",
        "operationId": "query__happyhorse__task",
        "tags": [
          "影片生成happyhorse-阿里"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "任务 ID，来自创建任务返回的 `id`。"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string",
                          "description": "创建任务返回的任务 ID，用于查询任务。"
                        },
                        "task_status": {
                          "type": "string",
                          "enum": [
                            "PENDING",
                            "RUNNING",
                            "SUCCEEDED",
                            "FAILED",
                            "UNKNOWN"
                          ],
                          "description": "任务状态，常见值 `PENDING`、`RUNNING`、`SUCCEEDED`、`FAILED`。"
                        },
                        "submit_time": {
                          "type": "string"
                        },
                        "scheduled_time": {
                          "type": "string"
                        },
                        "end_time": {
                          "type": "string"
                        },
                        "video_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "任务成功后的生成视频 URL。"
                        },
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "duration": {
                          "type": "integer",
                          "description": "计费时长，单位秒。"
                        },
                        "SR": {
                          "type": "integer",
                          "description": "输出分辨率档位。"
                        },
                        "video_count": {
                          "type": "integer"
                        }
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成happyhorse-阿里/查詢任務happyhorse"
        }
      }
    },
    "/ent/v2/text2video": {
      "post": {
        "summary": "建立vidu文生影片",
        "description": "该系列支持OpenAI视频生成格式（详见链接 [视频生成Sora兼容格式](/api-reference/zh-tw/影片生成sora相容格式/建立影片)）。\n\nVidu 官方视频生成介面，公开路径遵循 Vidu 官方协议。\n\n当前公开模型：`viduq3-turbo`。支持文生视频、图生视频、首尾帧生视频、参考生视频。同一模型也支持透過 `/v1/videos` Sora 兼容格式接入，常用 `mode` 为 `t2v`、`i2v`、`i2v_first_last`、`reference_images`。\n\n补充 Vidu 官方视频生成格式的公开请求骨架、任务查询结构和推荐验证模板，公开路径保持 Vidu 官方端点格式。\n\n支持模型：\nviduq3-turbo\n\n统一请求字段：\n- `model` (string, 必填): Vidu 对外模型名，当前公开 `viduq3-turbo`。\n- `prompt` (string, 可选): 视频生成提示词；文生视频必填，图生/首尾帧/参考生视频按业务需要传。\n- `images` (array[string], 可选): 图片输入。图生视频 1 张，首尾帧 2 张，参考生视频 1~7 张。\n- `videos` (array[string], 可选): 参考生视频可选视频主体输入，按 Vidu 官方模型能力使用。\n- `subjects` (array[object], 可选): 参考生视频主体库格式输入，可包含主体名称、图片、视频或音色等字段。\n- `duration` (integer, 可选): 视频时长，单位秒。`viduq3-turbo` 常用 5 秒，可按官方范围设置。\n- `resolution` (string, 可选): 输出分辨率，常见值 `540p`、`720p`、`1080p`。\n- `aspect_ratio` (string, 可选): 输出宽高比，文生/参考生视频常用，如 `16:9`、`9:16`、`1:1`。\n- `seed` (integer, 可选): 随机种子。\n- `movement_amplitude` (string, 可选): 运动幅度，常见值 `auto`、`small`、`medium`、`large`。\n- `audio` (boolean, 可选): 是否开启音视频直出。\n- `off_peak` (boolean, 可选): 是否使用错峰生成。\n- `watermark` (boolean, 可选): 是否添加水印。\n\n常见模型/模式差异：\n- `Vidu 文生视频`: 支持模型 viduq3-turbo；官方格式文生视频。\n- `Vidu 图生视频`: 支持模型 viduq3-turbo；官方格式单图图生视频。\n- `Vidu 首尾帧生视频`: 支持模型 viduq3-turbo；官方格式首尾帧双图生视频。\n- `Vidu 参考生视频`: 支持模型 viduq3-turbo；官方格式多参考图生视频。",
        "operationId": "createViduTextVideo",
        "tags": [
          "影片生成vidu官方"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "viduq3-turbo"
                    ],
                    "example": "viduq3-turbo",
                    "description": "Vidu 对外模型名，当前公开 `viduq3-turbo`。"
                  },
                  "prompt": {
                    "type": "string",
                    "example": "A cinematic product ad with smooth camera motion",
                    "description": "视频生成提示词；文生视频必填，图生/首尾帧/参考生视频按业务需要传。"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "example": [
                      "https://example.com/input.jpg"
                    ],
                    "description": "图片输入。图生视频 1 张，首尾帧 2 张，参考生视频 1~7 张。"
                  },
                  "videos": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "description": "参考生视频可选视频主体输入，按 Vidu 官方模型能力使用。"
                  },
                  "subjects": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "videos": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "voice_id": {
                          "type": "string"
                        },
                        "server_id": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "参考生视频主体库格式输入，可包含主体名称、图片、视频或音色等字段。"
                  },
                  "auto_subjects": {
                    "type": "boolean"
                  },
                  "duration": {
                    "type": "integer",
                    "example": 5,
                    "description": "视频时长，单位秒。`viduq3-turbo` 常用 5 秒，可按官方范围设置。"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "540p",
                      "720p",
                      "1080p"
                    ],
                    "example": "720p",
                    "description": "输出分辨率，常见值 `540p`、`720p`、`1080p`。"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "16:9",
                      "9:16",
                      "4:3",
                      "3:4",
                      "1:1"
                    ],
                    "example": "16:9",
                    "description": "输出宽高比，文生/参考生视频常用，如 `16:9`、`9:16`、`1:1`。"
                  },
                  "seed": {
                    "type": "integer",
                    "description": "随机种子。"
                  },
                  "movement_amplitude": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "small",
                      "medium",
                      "large"
                    ],
                    "example": "auto",
                    "description": "运动幅度，常见值 `auto`、`small`、`medium`、`large`。"
                  },
                  "audio": {
                    "type": "boolean",
                    "description": "是否开启音视频直出。"
                  },
                  "audio_type": {
                    "type": "string",
                    "enum": [
                      "all",
                      "speech_only",
                      "sound_effect_only"
                    ]
                  },
                  "voice_id": {
                    "type": "string"
                  },
                  "is_rec": {
                    "type": "boolean"
                  },
                  "bgm": {
                    "type": "boolean"
                  },
                  "payload": {
                    "type": "string"
                  },
                  "off_peak": {
                    "type": "boolean",
                    "description": "是否使用错峰生成。"
                  },
                  "watermark": {
                    "type": "boolean",
                    "description": "是否添加水印。"
                  },
                  "wm_position": {
                    "type": "integer",
                    "enum": [
                      1,
                      2,
                      3,
                      4
                    ]
                  },
                  "wm_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              },
              "examples": {
                "vidu_native_t2v": {
                  "summary": "Vidu 文生视频",
                  "value": {
                    "model": "viduq3-turbo",
                    "prompt": "A cinematic product ad with smooth camera motion",
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_native_i2v": {
                  "summary": "Vidu 图生视频",
                  "value": {
                    "model": "viduq3-turbo",
                    "images": [
                      "https://example.com/product.jpg"
                    ],
                    "prompt": "The product rotates slowly under studio light",
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_native_start_end": {
                  "summary": "Vidu 首尾帧生视频",
                  "value": {
                    "model": "viduq3-turbo",
                    "images": [
                      "https://example.com/start.jpg",
                      "https://example.com/end.jpg"
                    ],
                    "prompt": "A smooth camera move from the first frame to the final frame",
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_native_reference": {
                  "summary": "Vidu 参考生视频",
                  "value": {
                    "model": "viduq3-turbo",
                    "images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg",
                      "https://example.com/ref-3.jpg"
                    ],
                    "prompt": "Keep the same character and product style in a cinematic shot",
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "task_id",
                    "state"
                  ],
                  "properties": {
                    "task_id": {
                      "type": "string",
                      "description": "创建任务返回的任务 ID，用于查询任务。"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "created",
                        "queueing",
                        "processing",
                        "success",
                        "failed"
                      ],
                      "description": "任务状态，常见值 `created`、`queueing`、`processing`、`success`、`failed`。"
                    },
                    "model": {
                      "type": "string"
                    },
                    "prompt": {
                      "type": "string"
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "duration": {
                      "type": "integer"
                    },
                    "resolution": {
                      "type": "string"
                    },
                    "credits": {
                      "type": "integer",
                      "description": "本次任务消耗的积分。"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "creations": {
                      "type": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "任务成功后的生成视频 URL。"
                          },
                          "cover_url": {
                            "type": "string",
                            "description": "任务成功后的封面 URL。"
                          },
                          "watermarked_url": {
                            "type": "string",
                            "description": "带水印视频 URL。"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成vidu官方/建立vidu文生影片"
        }
      }
    },
    "/ent/v2/img2video": {
      "post": {
        "summary": "建立vidu圖生影片",
[...]
