{
  "openapi": "3.0.0",
  "info": {
    "title": "出海營 API 參考文件",
    "version": "1.0.0",
    "description": "Public AI Gateway API Reference"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "獲取模型列表",
        "deprecated": false,
        "description": "獲取目前可用的模型列表。\n\n根據請求標頭自動辨識傳回格式：\n- 包含 `x-api-key` 與 `anthropic-version` 標頭時傳回 Anthropic 格式\n- 包含 `x-goog-api-key` 標頭或 `key` 查詢參數時傳回 Gemini 格式\n- 其他情況傳回 OpenAI 格式",
        "operationId": "listModels",
        "tags": [
          "取得模型清單"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Google API Key (用於 Gemini 格式)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Anthropic API Key (用於 Claude 格式)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Anthropic API 版本",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Google API Key (用於 Gemini 格式)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功取得模型列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "驗證失敗",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "取得 Gemini 格式",
        "deprecated": false,
        "description": "以 Gemini API 格式傳回可用模型清單",
        "operationId": "listModelsGemini",
        "tags": [
          "取得模型清單"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功取得模型列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "建立聊天對話",
        "deprecated": false,
        "description": "根據對話歷史建立模型回應。支援串流與非串流回應。\n\n相容於 OpenAI Chat Completions API。",
        "operationId": "createChatCompletion",
        "tags": [
          "OpenAI格式 (Chat)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功建立回應",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "請求參數錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "請求頻率限制",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "建立回應 (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses API，用於建立模型回應。\n支援多輪對話、工具呼叫、推理等功能。",
        "operationId": "createResponse",
        "tags": [
          "OpenAI格式 (Responses)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功建立回應",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Gemini 圖片(Nano Banana)",
        "deprecated": false,
        "description": "Gemini 圖片生成。\n\nNano Banana系列支援OpenAI Dall-E格式（詳見連結 [圖片生成/OpenAI Dall-E格式](https://www.google.com/search?q=%5B%5BKEEP_0%5D%5D)）。",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "圖片生成/Gemini 格式"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "模型名稱",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string"
                          },
                          "imageSize": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "required": [
                      "responseModalities"
                    ]
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "產生圖像（OpenAI Dall-E 相容）",
        "deprecated": false,
        "description": "OpenAI Dall-E 格式圖片生成介面。",
        "operationId": "createImageGeneration",
        "tags": [
          "圖片生成/OpenAI Dall-E 格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "模型名稱",
                    "example": "dall-e-3"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "產圖提示詞"
                  },
                  "n": {
                    "type": "integer",
                    "description": "生成數量",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "圖像尺寸",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "產圖品質",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "風格",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "回應格式",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "使用者標識"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "example": {
                "model": "dall-e-3",
                "prompt": "A cute baby sea otter",
                "n": 1,
                "size": "1024x1024"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功產生圖片",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "編輯圖像（OpenAI Dall-E 相容）",
        "deprecated": false,
        "description": "OpenAI Dall-E 格式圖片編輯介面。",
        "operationId": "createImageEdit",
        "tags": [
          "圖片生成/OpenAI Dall-E 格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "需編輯的圖片"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "選填遮罩圖"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "編輯提示詞"
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功產生圖片",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "建立影片",
        "deprecated": false,
        "description": "OpenAI Sora 相容格式的影片生成介面。支援文字生成影片與圖片/影片參考生成模式。\n\n- `POST /v1/videos`：建立影片任務\n- `GET /v1/videos/{video_id}`：查詢任務狀態\n- `GET /v1/videos/{video_id}/content`：獲取影片二進位內容（下載）\n\n目前不對外提供：\n- `GET /v1/videos`：任務清單\n- `POST /v1/videos/{video_id}/remix`：影片二次編輯 / remix\n\n標準鑑權標頭：\n- `Content-Type: application/json`（建立任務時）\n\n1. 呼叫 `POST /v1/videos` 建立任務，取得 `id`。\n2. 輪詢 `GET /v1/videos/{id}`，直到 `status=completed` 或 `failed`。\n3. `completed` 後優先使用回傳內容中的 `video_url`；如需閘道統一下載可呼叫 `GET /v1/videos/{id}/content`。\n\n## 3.1 核心參數\n\n- `model: string`（必填）\n- 說明：要呼叫的影片模型名稱。\n- 範例：`sora-2`、`doubao-seedance-2-0-260128`\n\n- `prompt: string`（推薦）\n- 說明：影片生成主描述。使用 `content` 時也必須傳送，不能為空。\n- 範例：`第一人称视角果茶广告，节奏轻快`\n\n- `seconds: number|string`（選填）\n- 說明：目標時長。與 `duration` 二選一，若同時傳送通常以閘道解析結果為準。\n- 範例：`8`\n\n- `size: string`（選填）\n- 說明：輸出解析度，常用 `宽x高`。\n- 範例：`720x1280`、`1280x720`\n\n- `mode: string`（選填）\n- 說明：生成模式，不傳送預設為 `t2v`。不同模式對素材參數要求不同。\n- 範例：`t2v`、`i2v`、`i2v_first_last`、`reference_material`\n\n## 3.2 通用相容參數\n\n- `aspect_ratio` 或 `ratio`：寬高比。\n- `duration`：時長別名（與 `seconds` 二選一即可）。\n- `quality` 或 `resolution`：解析度相關參數。\n- `fps`：影格率。\n- `function_mode`：可選功能模式，用於觸發特定行為（如 `omni_reference` 表示全能參考語義）。\n\n## 3.3 參考素材參數\n\n- `input_reference`：標準參考輸入物件。\n- 說明：僅支援字串 URL 寫法，不支援物件寫法。\n- 正確範例：`\"input_reference\": \"https://example.com/ref.png\"`\n- 錯誤範例：`\"input_reference\": { \"image_url\": \"https://example.com/ref.png\" }`\n\n- `image_url` / `image_urls`：圖片參考。\n- 說明：`image_url` 常用於單圖；`image_urls` 用於多圖或全能參考。\n\n- `end_image_url` / `last_image_url`：末格參考。\n- 說明：通常與 `mode=i2v_first_last` 搭配，表示影片結束畫面。\n\n- `video_urls`：影片參考列表。\n- 說明：常用於 `reference_material` 或 `content` 全能參考場景。\n\n- `audio_urls`：音訊參考列表。\n- 說明：用於背景音樂/旁白風格參考（是否生效取決於模型能力）。\n\n- `reference_images`：多圖參考。\n- 說明：常用於多格/多圖參考模式。\n\n說明：不同模型對素材欄位要求不同，建議依下文「模式與最小入參」傳遞參數。\n\n## 3.4 content 進階模式（推薦給複雜參考場景）\n\n可直接傳入 `content` 陣列：\n- `type=text`：文字指令。\n- `type=image_url|video_url|audio_url`：媒體輸入。\n- 支援 `name`，用於在文字中透過 `@名称` 指代素材。\n\n必填限制：\n- 使用 `content` 時，`prompt` 仍必須傳入且不能為空。\n\n相容寫法：\n- `image_url/video_url/audio_url` 可為字串，或物件 `{ \"url\": \"https://...\" }`。\n- `role` 可使用 `material`，也相容 `reference_image/reference_video/reference_audio`。\n\n可同時攜帶：\n- `generate_audio: boolean`\n- `watermark: boolean`\n\n補充說明：\n- `generate_audio=true`：請求模型同時生成音訊（僅支援該能力的模型才會生效）。\n- `watermark=false`：請求關閉浮水印（實際是否生效取決於模型與管道策略）。\n- `name`：素材別名，建議與 `text` 中的 `@名称` 一致，便於模型準確關聯素材。\n\n不同模型族群對參數的支援差異較大，建議參考下表選擇參數：\n\n| 模型族群 | 常見模型名稱（範例） | 建議最小傳入參數 | 常用擴充參數 | 注意事項 |\n|---|---|---|---|---|\n| Seedance | `doubao-seedance-*` | `model + prompt + mode` | `image_url/image_urls/end_image_url/reference_images/video_urls/audio_urls/function_mode/content` | 對 `mode` 最敏感；並非所有版本都支援 `reference_material`。 |\n| Sora 通用 | `sora-2` `sora-2-pro` 及 `*-stable/*-official` | `model + prompt` | `seconds/size`，建議補上 `input_reference`（字串 URL） | 多管道 fallback 時，是否要求圖片可能不同，建議準備參考圖以提高成功率。 |\n| Sora 時長預設 | `sora2-landscape-10s` `sora2-pro-portrait-25s` 等 | `model + prompt` | `image_url/input_reference` | 時長和方向通常由模型名稱決定，`seconds/ratio` 僅在模型允許時生效。 |\n| Veo | `veo3*` `veo3.1*` | `model + prompt` | `mode + image_url/reference_images/content + ratio/seconds` | `i2v/r2v` 類模型通常需要參考圖或參考素材；`t2v` 類通常可使用純文字。 |\n| Kling | `kling-video` `kling-*` | `model + prompt + mode` | `mode=t2v/i2v/multi_i2v`，以及 `image/image_list` 等官方欄位 | 已相容官方路徑語義（text2video/image2video/multi-image2video）並統一到 `/v1/videos`；不提供影片延長對外能力。 |\n| 聚合擴充模型 | `happyhorse*` `grok-imagine-1.0-video*` 等 | `model + prompt` | `seconds/size/content` | 具體支援的欄位取決於模型與管道實作，建議優先使用標準欄位，不足時再使用 `content`。 |\n\n說明：\n1. 若您使用穩定別名模型（如 `*-stable`、`*-official`），底層可能會自動切換管道，請儘量傳入「跨管道相容參數」（`prompt + model + seconds/duration + size/ratio + 必要参考图`）。\n2. 複雜多素材場景（圖+影片+音訊+@名稱）優先使用 `content`，相容性最高。\n3. 若模型文件未明確支援某欄位，請按「最小入參」先跑通，再逐步增加擴充參數。\n\n### 4.1 Kling 官方模式補充\n\n- `mode=t2v`：文生影片\n- `mode=i2v`：圖生影片（需 `image` 或 `image_url`）\n- `mode=multi_i2v`：多圖參考（需 `image_list` 或多張 `image_urls`）\n- `mode=extend`：不支援（影片延長暫不提供 `/v1/videos` 對外能力）\n\n常見官方參數可直接放在 `/v1/videos` 請求體中透傳：\n- `model_name` `negative_prompt` `cfg_scale` `mode(std/pro)` `duration` `aspect_ratio`\n- `sound` `camera_control` `callback_url` `external_task_id` `watermark_info`\n\n### 4.2 Grok 影片模式補充\n\n推薦參數：\n- `model`：如 `grok-video-3`\n- `prompt`\n- `ratio` 或 `aspect_ratio`\n- `resolution` 或 `size`\n- `seconds` 或 `duration`\n- `image` / `image_url` / `input_reference`（單圖參考）\n- `reference_images` / `reference_image_urls`（多圖參考，官方 `reference-to-video` 語意）\n- `mode`（選填）：`image-to-video`、`reference-to-video`\n\n約束：\n- 不支援 `mode=edit-video` / `mode=extend-video`（影片編輯與延長暫不對外）。\n- `image/input_reference` 與 `reference_images` 不能同時傳送。\n\n- `mode=t2v`\n- 最小輸入參數：`model + prompt`\n\n- `mode=i2v`（等同 `i2v_first`）\n- 最小入參：`model + prompt + image_url`（或 `input_reference` 字串 URL）\n\n- `mode=i2v_first_last`\n- 最小輸入參數：`model + prompt + image_url + end_image_url`\n\n- `mode=reference_images`\n- 最小輸入參數：`model + prompt + reference_images`（通常為 1~4 張）\n\n- `mode=reference_material`\n- 最小輸入參數：`model + prompt + (image_urls/video_urls/audio_urls 至少一种)`\n- 複雜場景更推薦使用 `content + function_mode=omni_reference`\n- 說明：當傳入 `function_mode=omni_reference` 時，即使未顯式傳入 `mode=reference_material`，也會按全能參考語義處理。",
        "operationId": "createVideo",
        "tags": [
          "影片生成/Sora相容格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "欲呼叫的影片模型名稱。範例：`sora-2`、`doubao-seedance-2-0-260128`",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "影片生成主描述。使用 `content` 時也必須傳入，不能為空。 範例：`第一人称视角果茶广告，节奏轻快`"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "單圖進入點，部分相容模式會映射至 images。"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "時長別名（與 `seconds` 二選一即可）。"
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "幀率。"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "動態擴充欄位容器。大量模型特定欄位由此進行還原序列化。"
                  },
                  "mode": {
                    "type": "string",
                    "description": "生成模式，未傳送時預設為 `t2v`。不同模式對素材參數的要求不同。 示例：`t2v`、`i2v`、`i2v_first_last`、`reference_material`"
                  },
                  "images": {
                    "type": "array",
                    "description": "統一多圖進入點。Vidu、Seedance、Veo 等將會使用。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "輸出解析度，常用 `宽x高`。 示例：`720x1280`、`1280x720`"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "目標時長。與 `duration` 二選一，若同時傳入，通常以閘道解析結果為準。 範例：`8`"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "標準參考輸入物件。"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "欲呼叫的影片模型名稱。範例：`sora-2`、`doubao-seedance-2-0-260128`",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "影片生成主描述。使用 `content` 時也必須傳入，不能為空。 範例：`第一人称视角果茶广告，节奏轻快`"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "單圖進入點，部分相容模式會映射至 images。"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "時長別名（與 `seconds` 二選一即可）。"
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "幀率。"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "動態擴充欄位容器。大量模型特定欄位由此進行還原序列化。"
                  },
                  "mode": {
                    "type": "string",
                    "description": "生成模式，未傳送時預設為 `t2v`。不同模式對素材參數的要求不同。 示例：`t2v`、`i2v`、`i2v_first_last`、`reference_material`"
                  },
                  "images": {
                    "type": "array",
                    "description": "統一多圖進入點。Vidu、Seedance、Veo 等將會使用。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "輸出解析度，常用 `宽x高`。 示例：`720x1280`、`1280x720`"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "目標時長。與 `duration` 二選一，若同時傳入，通常以閘道解析結果為準。 範例：`8`"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "標準參考輸入物件。"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "openai_t2v": {
                  "summary": "OpenAI t2v (prompt/model)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_i2v_input_reference": {
                  "summary": "OpenAI i2v (input_reference)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_alias_compat": {
                  "summary": "Alias兼容 (image_url/duration/aspect_ratio)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                },
                "seedance_i2v_first": {
                  "summary": "Seedance i2v_first",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_i2v_first_last": {
                  "summary": "Seedance i2v_first_last",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_images": {
                  "summary": "Seedance reference_images",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_material": {
                  "summary": "Seedance 全能參考模式(reference_material)",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_volc_content": {
                  "summary": "Seedance 火山方舟 content 模式",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "veo_first_last_frame": {
                  "summary": "Veo 首尾影格模式",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "veo_reference_images_1to3": {
                  "summary": "Veo 1~3張參考圖模式",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "kling_text2video": {
                  "summary": "Kling 文字生成影片",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "kling_image2video": {
                  "summary": "Kling 圖生影片",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "grok_reference_video": {
                  "summary": "Grok 影片模式",
                  "value": {
                    "model": "grok-video-3",
                    "prompt": "A dramatic cinematic shot with fast motion and rich lighting",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_img2video": {
                  "summary": "Vidu 圖生影片",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A stylish ad clip from a product still image",
                    "images": [
                      "https://example.com/product.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_first_tail": {
                  "summary": "Vidu 首尾影格模式",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A smooth shot from start frame to end frame",
                    "images": [
                      "https://example.com/start.jpg",
                      "https://example.com/end.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_reference": {
                  "summary": "Vidu 多參考圖模式",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "Maintain product style and character consistency",
                    "images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg",
                      "https://example.com/ref-3.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "hailuo_text2video": {
                  "summary": "Hailuo 文字生成影片",
                  "value": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功建立影片任務",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "任務 ID（供後續查詢/下載使用）。"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "相容舊介面 待廢棄"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "任務狀態。",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed"
                      ]
                    },
                    "progress": {
                      "type": "integer",
                      "description": "進度（0~100，近似值）。"
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "建立時間 (Unix 秒)。"
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "完成時間。"
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "video_url": {
                      "type": "string",
                      "description": "可直接下載的影片位址。"
                    },
                    "url": {
                      "type": "string",
                      "description": "部分模型/通路可能傳回該欄位作為結果位址。"
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "請求參數錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "取得影片任務狀態",
        "deprecated": false,
        "description": "OpenAI 相容的影片任務狀態查詢介面。\n\n傳回影片任務的詳細狀態資訊。",
        "operationId": "getVideo",
        "tags": [
          "影片生成/Sora相容格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "影片任務 ID",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功獲取影片任務狀態",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "影片結果位址。不同模型可能會傳回 `video_url` 或 `url`，兩者擇其一。"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "影片結果位址。不同模型可能會傳回 `url` 或 `video_url`，兩者擇其一。"
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "完成時間（Unix 秒）。"
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "結果過期時間 (Unix 秒)。"
                    },
                    "error": {
                      "type": "object",
                      "description": "失敗時的錯誤訊息。"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "附加中繼資料。"
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任務不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "獲取影片內容",
        "deprecated": false,
        "description": "獲取已完成影片任務的影片檔案內容。\n\n此介面會代理回傳影片檔案串流。",
        "operationId": "getVideoContent",
        "tags": [
          "影片生成/Sora相容格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "影片任務 ID",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功獲取影片內容",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "影片不存在或未完成",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling 文字生成影片",
        "deprecated": false,
        "description": "該系列支援 OpenAI 影片生成格式（詳見連結 [影片生成/Sora相容格式](/api-reference/zh-tw/%E5%BD%B1%E7%89%87%E7%94%9F%E6%88%90sora%E7%9B%B8%E5%AE%B9%E6%A0%BC%E5%BC%8F/%E5%BB%BA%E7%AB%8B%E5%BD%B1%E7%89%87)）。\n\n使用 Kling 模型從文字描述生成影片。\n\n支援的模型：kling-v1, kling-v1-5 等",
        "operationId": "createKlingText2Video",
        "tags": [
          "影片生成/Kling格式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功建立影片生成任務",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "請求參數錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "獲取 Kling 文字生成影片任務狀態",
        "deprecated": false,
        "description": "該系列支援 OpenAI 影片生成格式（詳見連結 [影片生成/Sora相容格式](/api-reference/zh-tw/%E5%BD%B1%E7%89%87%E7%94%9F%E6%88%90sora%E7%9B%B8%E5%AE%B9%E6%A0%BC%E5%BC%8F/%E5%BB%BA%E7%AB%8B%E5%BD%B1%E7%89%87)）。\n\n查詢 Kling 文字生成影片任務的狀態與結果。",
        "operationId": "getKlingText2Video",
        "tags": [
          "影片生成/Kling格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "任務 ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功獲取任務狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任務不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling 圖生影片",
        "deprecated": false,
        "description": "該系列支援 OpenAI 影片生成格式（詳見連結 [影片生成/Sora相容格式](/api-reference/zh-tw/%E5%BD%B1%E7%89%87%E7%94%9F%E6%88%90sora%E7%9B%B8%E5%AE%B9%E6%A0%BC%E5%BC%8F/%E5%BB%BA%E7%AB%8B%E5%BD%B1%E7%89%87)）。\n\n使用 Kling 模型從圖片生成影片。\n\n支援透過 image 參數傳入圖片 URL 或 Base64 編碼的圖片資料。",
        "operationId": "createKlingImage2Video",
        "tags": [
          "影片生成/Kling格式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功建立影片生成任務",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "請求參數錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "獲取 Kling 圖生影片任務狀態",
        "deprecated": false,
        "description": "該系列支援 OpenAI 影片生成格式（詳見連結 [影片生成/Sora相容格式](/api-reference/zh-tw/%E5%BD%B1%E7%89%87%E7%94%9F%E6%88%90sora%E7%9B%B8%E5%AE%B9%E6%A0%BC%E5%BC%8F/%E5%BB%BA%E7%AB%8B%E5%BD%B1%E7%89%87)）。\n\n查詢 Kling 圖生影音任務的狀態與結果。",
        "operationId": "getKlingImage2Video",
        "tags": [
          "影片生成/Kling格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "任務 ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功獲取任務狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任務不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/api/v3/contents/generations/tasks": {
      "post": {
        "summary": "建立影片（Seedance）",
        "description": "該系列支援 OpenAI 影片生成格式（詳見連結 [影片生成/Sora相容格式](/api-reference/zh-tw/%E5%BD%B1%E7%89%87%E7%94%9F%E6%88%90sora%E7%9B%B8%E5%AE%B9%E6%A0%BC%E5%BC%8F/%E5%BB%BA%E7%AB%8B%E5%BD%B1%E7%89%87)）。\n\n用於建立影片生成任務，並透過任務 ID 查詢狀態與結果。\n\n建立任務核心欄位：\n- `model`：必填，模型名稱。\n- `prompt`：必填，影片生成主描述。\n- `content`：選填，進階模式下的多媒體輸入陣列。\n- `function_mode`：選填，常用於全能參考等進階模式。\n\n相容入參：\n- `mode`：`t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\n呼叫細節：\n- 當 `mode=reference_material` 或 `function_mode=omni_reference` 時，建議透過 `content` 傳遞文字與參考素材。\n- `content` 中的媒體欄位支援直接傳送 URL 字串，也支援物件寫法，例如 `{ \"url\": \"https://example.com/ref.mp4\" }`。\n- `ratio`、`duration`、`resolution`、`fps` 會影響最終生成配置。\n\n查詢結果關注欄位：\n- `items[].status`\n- `items[].content.video_url` 或 `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n```json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n```",
        "operationId": "create__seedance__task",
        "tags": [
          "影片生成/Seedance火山方舟"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "doubao-seedance-2-0-260128",
                    "description": "必填。模型名稱。"
                  },
                  "prompt": {
                    "type": "string",
                    "example": "参考素材生成一段剧情短视频",
                    "description": "必填。影片生成主描述，不可為空。"
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "text",
                            "image_url",
                            "video_url",
                            "audio_url"
                          ]
                        },
                        "text": {
                          "type": "string"
                        },
                        "image_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "video_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "audio_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "role": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "選填。進階模式下的多媒體輸入陣列；建議用於複雜的參考情境。"
                  },
                  "function_mode": {
                    "type": "string",
                    "description": "選填。進階功能模式，例如 `omni_reference` 用於全方位參考。"
                  },
                  "mode": {
                    "type": "string",
                    "description": "選填。相容模式欄位，如 `t2v`、`i2v`、`i2v_first_last`、`reference_images`、`reference_material`。"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "選填。單張參考圖 URL。"
                  },
                  "image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "選填。多張參考圖 URL 列表。"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "選填。兼容參考輸入欄位。"
                  },
                  "end_image_url": {
                    "type": "string",
                    "description": "選填。末幀參考圖 URL。"
                  },
                  "last_image_url": {
                    "type": "string",
                    "description": "選填。末幀參考圖 URL 別名。"
                  },
                  "video_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "選填。參考影片 URL 列表。"
                  },
                  "audio_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "選填。參考音訊 URL 列表。"
                  },
                  "seconds": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "選填。影片長度（秒）；與 `duration` 相容。"
                  },
                  "duration": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "選填。影片長度（秒）；與 `seconds` 相容。"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "選填。長寬比，例如 `16:9`。"
                  },
                  "ratio": {
                    "type": "string",
                    "description": "選填。畫幅比例別名，如 `16:9`。"
                  },
                  "size": {
                    "type": "string",
                    "description": "選填。解析度或尺寸相容欄位。"
                  },
                  "quality": {
                    "type": "string",
                    "description": "選填。生成品質設定。"
                  },
                  "resolution": {
                    "type": "string",
                    "description": "選填。輸出解析度。"
                  },
                  "fps": {
                    "type": "number",
                    "description": "選填。影格率。"
                  },
                  "generate_audio": {
                    "type": "boolean",
                    "description": "選填。是否產生音訊。"
                  },
                  "watermark": {
                    "type": "boolean",
                    "description": "選填。是否添加浮水印。"
                  }
                }
              },
              "example": {
                "model": "doubao-seedance-2-0-260128",
                "prompt": "参考素材生成一段剧情短视频",
                "content": [
                  {
                    "type": "text",
                    "text": "@角色A 在咖啡馆和 @角色B 聊天，@背景视频 作为场景，配上 @背景音乐 --ratio 16:9 --dur 10"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterA.jpg",
                    "role": "material",
                    "name": "角色A"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterB.jpg",
                    "role": "material",
                    "name": "角色B"
                  },
                  {
                    "type": "video_url",
                    "video_url": "https://example.com/cafe-scene.mp4",
                    "role": "material",
                    "name": "背景视频"
                  },
                  {
                    "type": "audio_url",
                    "audio_url": "https://example.com/bgm.mp3",
                    "name": "背景音乐"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任務建立成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "task_xxx",
                      "description": "任務 ID。"
                    },
                    "status": {
                      "type": "string",
                      "description": "任務狀態。",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "description": "建立時間 (Unix 秒)。"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/contents/generations/tasks/{task_id}": {
      "get": {
        "summary": "查詢任務（Seedance）",
        "description": "該系列支援 OpenAI 影片生成格式（詳見連結 [影片生成/Sora相容格式](/api-reference/zh-tw/%E5%BD%B1%E7%89%87%E7%94%9F%E6%88%90sora%E7%9B%B8%E5%AE%B9%E6%A0%BC%E5%BC%8F/%E5%BB%BA%E7%AB%8B%E5%BD%B1%E7%89%87)）。\n\n用於建立影片生成任務，並透過任務 ID 查詢狀態與結果。\n\n建立任務核心欄位：\n- `model`：必填，模型名稱。\n- `prompt`：必填，影片生成主描述。\n- `content`：選填，進階模式下的多媒體輸入陣列。\n- `function_mode`：選填，常用於全能參考等進階模式。\n\n相容入參：\n- `mode`：`t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\n呼叫細節：\n- 當 `mode=reference_material` 或 `function_mode=omni_reference` 時，建議透過 `content` 傳遞文字與參考素材。\n- `content` 中的媒體欄位支援直接傳送 URL 字串，也支援物件寫法，例如 `{ \"url\": \"https://example.com/ref.mp4\" }`。\n- `ratio`、`duration`、`resolution`、`fps` 會影響最終生成配置。\n\n查詢結果關注欄位：\n- `items[].status`\n- `items[].content.video_url` 或 `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n```json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n```",
        "operationId": "query__seedance__task",
        "tags": [
          "影片生成/Seedance火山方舟"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "?? ID"
          }
        ],
        "responses": {
          "200": {
            "description": "查詢成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "任務 ID。"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ],
                      "description": "任務狀態。"
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "建立時間 (Unix 秒)。"
                    },
                    "updated_at": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "video_url": {
                          "type": "string"
                        },
                        "last_frame_url": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/models/{model}:predictLongRunning": {
      "post": {
        "summary": "建立影片（[[KEEP_0]]3 格式）",
        "description": "該系列支援 OpenAI 影片生成格式（詳見連結 [影片生成/Sora相容格式](/api-reference/zh-tw/%E5%BD%B1%E7%89%87%E7%94%9F%E6%88%90sora%E7%9B%B8%E5%AE%B9%E6%A0%BC%E5%BC%8F/%E5%BB%BA%E7%AB%8B%E5%BD%B1%E7%89%87)）。\n\n該介面專題頁僅用於說明 Veo 原生格式與目前閘道支援狀態。\n\n目前 Veo 系列對外請使用 OpenAI Sora 相容模式：`POST /v1/videos`。\n\nGoogle 原生模式路徑預留為：`POST /v1beta/models/{model}:predictLongRunning`。目前閘道尚未接通 Veo 原生任務分發鏈路，因此按原生 `instances/parameters` 請求體呼叫暫不支援。",
        "operationId": "create_veo3_google_native_task",
        "tags": [
          "影片生成/Veo3格式"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "veo3.1-fast",
              "enum": [
                "veo3",
                "veo3-fast",
                "veo3-fast-frames",
                "veo3-frames",
                "veo3-pro",
                "veo3-pro-frames",
                "veo3.1",
                "veo3.1-4k",
                "veo3.1-components",
                "veo3.1-fast",
                "veo3.1-pro",
                "veo3.1-pro-4k"
              ]
            },
            "description": "Veo 模型名稱。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instances"
                ],
                "properties": {
                  "instances": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "prompt": {
                          "type": "string",
                          "example": "A cinematic aerial shot of a modern city at sunrise",
                          "description": "生成提示詞"
                        },
                        "referenceImages": {
                          "type": "array",
                          "description": "選填。1 至 3 張參考圖，使用 Google 原生 `inlineData` 或檔案 URI 結構。",
                          "items": {
                            "type": "object",
                            "properties": {
                              "image": {
                                "type": "object",
                                "properties": {
                                  "inlineData": {
                                    "type": "object",
                                    "properties": {
                                      "mimeType": {
                                        "type": "string",
                                        "example": "image/png"
                                      },
                                      "data": {
                                        "type": "string",
                                        "example": "BASE64_IMAGE_DATA"
                                      }
                                    }
                                  }
                                }
                              },
                              "referenceType": {
                                "type": "string",
                                "example": "asset"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "1:1",
                          "9:16"
                        ],
                        "default": "16:9"
                      },
                      "durationSeconds": {
                        "type": "integer",
                        "enum": [
                          5,
                          6,
                          8,
                          10
                        ],
                        "default": 5
                      },
                      "resolution": {
                        "type": "string",
                        "example": "720p"
                      }
                    }
                  }
                }
              },
              "example": {
                "instances": [
                  {
                    "prompt": "A cinematic aerial shot of a modern city at sunrise",
                    "referenceImages": [
                      {
                        "image": {
                          "inlineData": {
                            "mimeType": "image/png",
                            "data": "BASE64_IMAGE_DATA"
                          }
                        },
                        "referenceType": "asset"
                      }
                    ]
                  }
                ],
                "parameters": {
                  "aspectRatio": "16:9",
                  "durationSeconds": 5,
                  "resolution": "720p"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "預留中的成功回應結構。目前僅作協議說明，不支援實際呼叫。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "models/veo3.1-fast/operations/abc123",
                      "description": "operation name，用於後續狀態查詢。"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/{operation_name}": {
      "get": {
        "summary": "查詢任務（Veo3格式）",
        "description": "該系列支援 OpenAI 影片生成格式（詳見連結 [影片生成/Sora相容格式](/api-reference/zh-tw/%E5%BD%B1%E7%89%87%E7%94%9F%E6%88%90sora%E7%9B%B8%E5%AE%B9%E6%A0%BC%E5%BC%8F/%E5%BB%BA%E7%AB%8B%E5%BD%B1%E7%89%87)）。\n\n本介面專題頁面僅用於說明 Veo 原生查詢協定。\n\n目前的 Veo 系列請改用 `/v1/videos` 統一介面進行建立與查詢。\n\n下述 `operation_name` 查詢結構僅作為預留協定說明保留，暫不支援實際呼叫。",
        "operationId": "query_veo3_google_native_task",
        "tags": [
          "影片生成/Veo3格式"
        ],
        "parameters": [
          {
            "name": "operation_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "models/veo3.1-fast/operations/abc123"
            },
            "description": "建立介面傳回的完整 operation name。呼叫時需對 `/` 進行 URL 編碼。"
          }
        ],
        "responses": {
          "200": {
            "description": "預留中的查詢回應結構。目前僅供協定說明，不支援實際呼叫。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name",
                    "done"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "操作名稱，與建立介面回傳的 `name` 一致。"
                    },
                    "done": {
                      "type": "boolean",
                      "description": "任務是否完成。"
                    },
                    "response": {
                      "type": "object",
                      "description": "成功完成後的結果物件。",
                      "properties": {
                        "generatedVideos": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "video": {
                                "type": "object",
                                "properties": {
                                  "uri": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "生成成功後的影片位址。"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "description": "失敗時的錯誤訊息。",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "錯誤描述。"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "name": "models/veo3.1-fast/operations/abc123",
                  "done": true,
                  "response": {
                    "generatedVideos": [
                      {
                        "video": {
                          "uri": "https://example.com/generated-video.mp4"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "錯誤訊息"
              },
              "type": {
                "type": "string",
                "description": "錯誤類型"
              },
              "param": {
                "type": "string",
                "description": "相關參數",
                "nullable": true
              },
              "code": {
                "type": "string",
                "description": "錯誤代碼",
                "nullable": true
              }
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "提示詞 Token 數"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "補全 Token 數"
          },
          "total_tokens": {
            "type": "integer",
            "description": "總 Token 數"
          },
          "prompt_tokens_details": {
            "type": "object",
            "properties": {
              "cached_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              },
              "image_tokens": {
                "type": "integer"
              }
            }
          },
          "completion_tokens_details": {
            "type": "object",
            "properties": {
              "text_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              },
              "reasoning_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "模型 ID",
            "example": "gpt-4"
          },
          "object": {
            "type": "string",
            "description": "物件類型",
            "example": "model"
          },
          "created": {
            "type": "integer",
            "description": "建立時間戳記"
          },
          "owned_by": {
            "type": "string",
            "description": "模型擁有者",
            "example": "openai"
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "GeminiModelsResponse": {
        "type": "object",
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "models/gemini-pro"
                },
                "version": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "inputTokenLimit": {
                  "type": "integer"
                },
                "outputTokenLimit": {
                  "type": "integer"
                },
                "supportedGenerationMethods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool",
              "developer"
            ],
            "description": "訊息角色"
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessageContent"
                }
              }
            ],
            "description": "訊息內容"
          },
          "name": {
            "type": "string",
            "description": "發送者名稱"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          },
          "tool_call_id": {
            "type": "string",
            "description": "工具呼叫 ID（用於 tool 角色訊息）"
          },
          "reasoning_content": {
            "type": "string",
            "description": "推理內容"
          }
        }
      },
      "MessageContent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image_url",
              "input_audio",
              "file",
              "video_url"
            ]
          },
          "text": {
            "type": "string"
          },
          "image_url": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "圖片 URL 或 base64"
              },
              "detail": {
                "type": "string",
                "enum": [
                  "low",
                  "high",
                  "auto"
                ]
              }
            }
          },
          "input_audio": {
            "type": "object",
            "properties": {
              "data": {
                "type": "string",
                "description": "Base64 編碼的音訊資料"
              },
              "format": {
                "type": "string",
                "enum": [
                  "wav",
                  "mp3"
                ]
              }
            }
          },
          "file": {
            "type": "object",
            "properties": {
              "filename": {
                "type": "string"
              },
              "file_data": {
                "type": "string"
              },
              "file_id": {
                "type": "string"
              }
            }
          },
          "video_url": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              }
            }
          }
        }
      },
      "ToolCall": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "function"
          },
          "function": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "arguments": {
                "type": "string"
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "function"
          },
          "function": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "parameters": {
                "type": "object",
                "description": "JSON Schema 格式的參數定義",
                "properties": {}
              }
            }
          }
        }
      },
      "ResponseFormat": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "json_object",
              "json_schema"
            ]
          },
          "json_schema": {
            "type": "object",
            "description": "JSON Schema 定義",
            "properties": {}
          }
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型 ID",
            "example": "gpt-4"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "description": "對話訊息列表"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "default": 1,
            "description": "取樣溫度"
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 1,
            "description": "核採樣參數"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "生成數量"
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "是否串流回應"
          },
          "stream_options": {
            "type": "object",
            "properties": {
              "include_usage": {
                "type": "boolean"
              }
            }
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "停止序列"
          },
          "max_tokens": {
            "type": "integer",
            "description": "最大生成 Token 數"
          },
          "max_completion_tokens": {
            "type": "integer",
            "description": "最大生成 Token 數"
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "default": 0
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "default": 0
          },
          "logit_bias": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "properties": {}
          },
          "user": {
            "type": "string"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "none",
                  "auto",
                  "required"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "function": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            ]
          },
          "response_format": {
            "$ref": "#/components/schemas/ResponseFormat"
          },
          "seed": {
            "type": "integer"
          },
          "reasoning_effort": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ],
            "description": "推理強度 (用於支援推理的模型)"
          },
          "modalities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "text",
                "audio"
              ]
            }
          },
          "audio": {
            "type": "object",
            "properties": {
              "voice": {
                "type": "string"
              },
              "format": {
                "type": "string"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "message": {
                  "$ref": "#/components/schemas/Message"
                },
                "finish_reason": {
                  "type": "string",
                  "enum": [
                    "stop",
                    "length",
                    "tool_calls",
                    "content_filter"
                  ]
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          },
          "system_fingerprint": {
            "type": "string"
          }
        }
      },
      "ChatCompletionStreamResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "chat.completion.chunk"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "delta": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "reasoning_content": {
                      "type": "string"
                    },
                    "tool_calls": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ToolCall"
                      }
                    }
                  }
                },
                "finish_reason": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "CompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string"
          },
          "prompt": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "max_tokens": {
            "type": "integer"
          },
          "temperature": {
            "type": "number"
          },
          "top_p": {
            "type": "number"
          },
          "n": {
            "type": "integer"
          },
          "stream": {
            "type": "boolean"
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "suffix": {
            "type": "string"
          },
          "echo": {
            "type": "boolean"
          }
        }
      },
      "CompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "text_completion"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                },
                "index": {
                  "type": "integer"
                },
                "finish_reason": {
                  "type": "string"
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "ResponsesRequest": {
        "type": "object",
        "required": [
          "model"
        ],
        "properties": {
          "model": {
            "type": "string"
          },
          "input": {
            "description": "輸入內容，可以是字串或訊息陣列",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            ]
          },
          "instructions": {
            "type": "string"
          },
          "max_output_tokens": {
            "type": "integer"
          },
          "temperature": {
            "type": "number"
          },
          "top_p": {
            "type": "number"
          },
          "stream": {
            "type": "boolean"
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "properties": {}
              }
            ]
          },
          "reasoning": {
            "type": "object",
            "properties": {
              "effort": {
                "type": "string",
                "enum": [
                  "low",
                  "medium",
                  "high"
                ]
              },
              "summary": {
                "type": "string"
              }
            }
          },
          "previous_response_id": {
            "type": "string"
          },
          "truncation": {
            "type": "string",
            "enum": [
              "auto",
              "disabled"
            ]
          }
        }
      },
      "ResponsesResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "response"
          },
[...]
