{
  "openapi": "3.0.0",
  "info": {
    "title": "出海營 API 參考文件",
    "version": "1.0.0",
    "description": "Public AI Gateway API Reference"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "獲取模型列表",
        "deprecated": false,
        "description": "獲取目前可用的模型列表。\n\n根據請求標頭自動辨識傳回格式：\n- 包含 `x-api-key` 與 `anthropic-version` 標頭時傳回 Anthropic 格式\n- 包含 `x-goog-api-key` 標頭或 `key` 查詢參數時傳回 Gemini 格式\n- 其他情況返回 OpenAI 格式",
        "operationId": "listModels",
        "tags": [
          "獲取模型列表"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Google API 金鑰（用於 Gemini 格式）",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Anthropic API 金鑰（用於 Claude 格式）",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Anthropic API 版本",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Google API 金鑰（用於 Gemini 格式）",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功取得模型列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "驗證失敗",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/獲取模型列表/獲取模型列表"
        }
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "取得 Gemini 格式",
        "deprecated": false,
        "description": "以 Gemini API 格式返回可用模型清單",
        "operationId": "listModelsGemini",
        "tags": [
          "獲取模型列表"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功取得模型列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/獲取模型列表/取得-gemini-格式"
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "建立聊天對話",
        "deprecated": false,
        "description": "根據對話歷史建立模型回應。支援串流與非串流回應。\n\n相容 OpenAI Chat Completions API。",
        "operationId": "createChatCompletion",
        "tags": [
          "OpenAI格式（Chat）"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功建立回應",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "請求參數錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "請求頻率限制",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/openai格式（chat）/建立聊天對話"
        }
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "建立回應 (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses API，用於建立模型回應。\n支援多輪對話、工具呼叫、推理等功能。",
        "operationId": "createResponse",
        "tags": [
          "OpenAI格式（Responses）"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功建立回應",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/openai格式（responses）/建立回應-openai-responses-api"
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Gemini 圖片(Nano Banana)",
        "deprecated": false,
        "description": "Gemini 圖片生成。\n\nNano Banana系列支援OpenAI Dall-E 格式（詳見連結 [圖片生成OpenAI DALL-E 格式](#tag/%E5%9B%BE%E7%89%87%E7%94%9F%E6%88%90OpenAI%20DALL-E%E6%A0%BC%E5%BC%8F)）。\n\n補充 /v1beta/models/{model}:generateContent 的 Gemini 圖片生成欄位說明，避免公開 OpenAPI 在巢狀欄位上遺失 description。",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "圖片生成 Gemini 格式"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "模型名稱",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "訊息角色，常見值為 `user` 或 `model`。"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "文字輸入內容。"
                              },
                              "inlineData": {
                                "type": "object",
                                "description": "內嵌二進位內容物件，適用於 base64 圖片等輸入。",
                                "properties": {
                                  "mimeType": {
                                    "type": "string",
                                    "description": "內嵌內容 MIME 類型，例如 `image/png`。"
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "Base64 編碼後的二進位資料內容。"
                                  }
                                }
                              }
                            }
                          },
                          "description": "訊息片段陣列；文字、圖片等輸入都放在這裡。"
                        }
                      }
                    },
                    "description": "必填。Gemini 輸入內容陣列，通常至少包含一則 user 訊息。"
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "回應模式清單；圖片生成通常傳 `IMAGE`。"
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string",
                            "description": "寬高比，例如 `16:9`、`1:1`、`9:16`。"
                          },
                          "imageSize": {
                            "type": "string",
                            "description": "輸出解析度等級，例如 `1K`、`2K`、`4K`。"
                          }
                        },
                        "description": "圖片生成配置物件。"
                      }
                    },
                    "required": [
                      "responseModalities"
                    ],
                    "description": "生成設定物件。"
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/圖片生成-gemini-格式/gemini-圖片nano-banana"
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "生成圖像（OpenAI 與 Dall-E 相容）",
        "deprecated": false,
        "description": "OpenAI Dall-E 格式圖片生成介面。\n\n- `POST /v1/images/generations`：建立圖片生成任務\n\n標準鑑權標頭：\n- `Content-Type: application/json`\n\n- `model: string`：必填，對外模型名稱\n- `prompt: string`：推薦，圖片生成描述\n- `n: number`：可選，生成張數\n- `size: string`：可選，尺寸或解析度表達\n- `quality: string`：可選，品質等級\n- `response_format: string`：可選，回傳格式\n\n常用相容擴展參數：\n- `image`\n- `image_url`\n- `image_urls`\n- `image_list`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `negative_prompt`\n- `aspect_ratio`\n- `resolution`\n- `callback_url`\n- `external_task_id`\n\nKling 專用擴充參數：\n- `model_name`\n- `element_list`\n- `result_type`\n- `series_amount`\n- `human_image`\n- `cloth_image`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n### 3.1 Nano Banana 系列\n\n對外模型：\n- `nano-banana`\n- `nano-banana-pro`\n- `nano-banana-pro-2k`\n- `nano-banana-pro-4k`\n- `nano-banana-2`\n- `nano-banana-2-2k`\n- `nano-banana-2-4k`\n\n能力說明：\n- `nano-banana`：基礎文字生圖，也相容圖片編輯\n- `nano-banana-pro*`：更高品質版本\n- `nano-banana-2*`：更新版本系列\n- `*-2k` / `*-4k`：高解析度型號\n\n常用參數：\n- 文生圖：`model + prompt`\n- 圖片編輯：`model + prompt + image`，也相容 `image_urls`\n- 常用擴展：`n` `size` `quality` `response_format`\n\n範例：\n\n```json\n{\n\"model\": \"nano-banana\",\n\"prompt\": \"a cute cat running in cloud\",\n\"n\": 1,\n\"size\": \"1024x1792\"\n}\n```\n\n```json\n{\n\"model\": \"nano-banana-pro\",\n\"prompt\": \"把主体改成赛博朋克夜景\",\n\"image\": \"https://example.com/input.png\",\n\"n\": 1\n}\n```\n\n### 3.2 Seedream 系列\n\n對外模型：\n- `doubao-seedream-3-0-t2i-250415`\n- `doubao-seedream-4-0-250828`\n- `doubao-seedream-4-5-251128`\n- `doubao-seedream-5-0-260128`\n\n能力說明：\n- 統一按文生圖呼叫\n- 建議優先傳入標準參數：`prompt + model + size/aspect_ratio`\n\n常用參數：\n- `model + prompt`\n- 可選：`size` `aspect_ratio` `n`\n\n### 3.3 Kling 常規圖片主模型\n\n對外主模型：\n- `kling-image`\n\n必填：\n- `model`\n- `model_name`\n\n支援的 `model_name`：\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v2`\n- `kling-v2-new`\n- `kling-v2-1`\n- `kling-v3`\n\n能力說明：\n- 文生圖：`model + model_name + prompt`\n- 圖生圖：在文生圖基礎上增加 `image`\n- 多圖生圖：傳 `subject_image_list`，或傳多張 `image_urls/images`\n- 擴圖：傳 `image` 和擴圖比例參數\n\n常用參數：\n- `image`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `aspect_ratio`\n- `resolution`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n範例：\n\n```json\n{\n\"model\": \"kling-image\",\n\"model_name\": \"kling-v3\",\n\"prompt\": \"海边日落，电影感人像\",\n\"aspect_ratio\": \"16:9\",\n\"n\": 1\n}\n```\n\n### 3.4 Kling Omni 圖片主模型\n\n對外主模型：\n- `kling-omni-image`\n\n必填：\n- `model`\n- `model_name`\n\n支援的 `model_name`：\n- `kling-image-o1`\n- `kling-v3-omni`\n\n常用參數：\n- `image_list`\n- `element_list`\n- `resolution`\n- `aspect_ratio`\n- `result_type`\n- `series_amount`\n\n範例：\n\n```json\n{\n\"model\": \"kling-omni-image\",\n\"model_name\": \"kling-v3-omni\",\n\"prompt\": \"生成一张海边跳舞的图片\",\n\"element_list\": [\n{ \"element_id\": 835266081714884677 }\n]\n}\n```\n\n### 3.5 Kling 虛擬試衣模型\n\n對外模型：\n- `kolors-virtual-try-on-v1`\n- `kolors-virtual-try-on-v1-5`\n\n最小輸入參數：\n- `model + human_image + cloth_image`\n\n說明：\n- 這兩個模型本身就是完整主模型，不需要再傳 `model_name`\n\n範例：\n\n```json\n{\n\"model\": \"kolors-virtual-try-on-v1\",\n\"human_image\": \"https://example.com/human.jpg\",\n\"cloth_image\": \"https://example.com/cloth.jpg\"\n}\n```",
        "operationId": "createImageGeneration",
        "tags": [
          "圖片生成OpenAI DALL-E 格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "對外圖片模型名稱。",
                    "example": "dall-e-3",
                    "enum": [
                      "nano-banana",
                      "doubao-seedream-3-0-t2i-250415",
                      "kling-image",
                      "kling-omni-image",
                      "kolors-virtual-try-on-v1",
                      "kolors-virtual-try-on-v1-5"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "圖片生成描述。虛擬試衣模型可不傳。"
                  },
                  "n": {
                    "type": "integer",
                    "description": "生成張數。",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "尺寸或解析度表達。",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "品質等級。",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "風格",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "回傳格式。",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "使用者標識"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "nano_banana_text2img": {
                  "summary": "Nano Banana 文生圖",
                  "value": {
                    "model": "nano-banana",
                    "prompt": "a cute cat running in cloud",
                    "n": 1,
                    "size": "1024x1792"
                  }
                },
                "seedream_text2img": {
                  "summary": "Seedream 文生圖",
                  "value": {
                    "model": "doubao-seedream-3-0-t2i-250415",
                    "prompt": "一张电影感海边日落人像",
                    "size": "1536x1024",
                    "n": 1
                  }
                },
                "kling_text2img": {
                  "summary": "Kling 文生圖",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v3",
                    "prompt": "海边日落，电影感人像",
                    "aspect_ratio": "16:9",
                    "n": 1
                  }
                },
                "kling_img2img": {
                  "summary": "Kling 圖生圖",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v2-1",
                    "prompt": "改成赛博朋克夜景风格",
                    "image": "https://example.com/input.png",
                    "n": 1
                  }
                },
                "kling_omni_image": {
                  "summary": "Kling Omni 圖片",
                  "value": {
                    "model": "kling-omni-image",
                    "model_name": "kling-v3-omni",
                    "prompt": "生成一张海边跳舞的图片",
                    "element_list": [
                      {
                        "element_id": 835266081714884677
                      }
                    ]
                  }
                },
                "kling_virtual_try_on": {
                  "summary": "Kling 虛擬試衣",
                  "value": {
                    "model": "kolors-virtual-try-on-v1",
                    "human_image": "https://example.com/human.jpg",
                    "cloth_image": "https://example.com/cloth.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功產生圖片",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/圖片生成openai-dall-e-格式/生成圖像（openai-與-dall-e-相容）"
        }
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "編輯圖像（OpenAI Dall-E 相容）",
        "deprecated": false,
        "description": "OpenAI Dall-E 格式圖片編輯介面。",
        "operationId": "createImageEdit",
        "tags": [
          "圖片生成OpenAI DALL-E 格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "需編輯的圖片"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "選填遮罩圖"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "編輯提示詞"
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功產生圖片",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/圖片生成openai-dall-e-格式/編輯圖像（openai-dall-e-相容）"
        }
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "建立影片",
        "deprecated": false,
        "description": "OpenAI Sora 相容格式的影片生成介面。支援文生影片與圖/影片參考生成模式。\n\n- `POST /v1/videos`：建立影片任務\n- `GET /v1/videos/{video_id}`：查詢任務狀態\n- `GET /v1/videos/{video_id}/content`：取得影片二進位內容\n\n目前不對外提供：\n- `GET /v1/videos`\n- `POST /v1/videos/{video_id}/remix`\n\n標準鑑權標頭：\n- `Content-Type: application/json`\n\n1. `POST /v1/videos` 建立任務，取得 `id`\n2. 輪詢 `GET /v1/videos/{id}`，直到 `completed` 或 `failed`\n3. 完成後優先使用回傳中的 `video_url`\n4. 如需統一下載，呼叫 `GET /v1/videos/{id}/content`\n\n核心參數：\n- `model: string`：必填，對外模型名稱\n- `prompt: string`：建議，影片生成描述\n- `seconds: number|string`：可選，目標時長\n- `duration: number|string`：可選，時長別名\n- `size: string`：可選，輸出尺寸\n- `mode: string`：可選，常見值 `t2v` `i2v` `i2v_first_last` `reference_material`\n\n常用相容參數：\n- `aspect_ratio`\n- `ratio`\n- `quality`\n- `resolution`\n- `fps`\n- `image`\n- `image_url`\n- `image_urls`\n- `images`\n- `reference_images`\n- `input_reference`\n- `end_image_url`\n- `last_image_url`\n- `video_urls`\n- `audio_urls`\n- `function_mode`\n- `content`\n- `callback_url`\n- `external_task_id`\n\nKling 常用擴充參數：\n- `model_name`\n- `negative_prompt`\n- `cfg_scale`\n- `sound`\n- `camera_control`\n- `image_list`\n- `video_id`\n- `task_id`\n- `watermark_info`\n\n### 4.1 Veo 系列\n\n說明：`stable`、`official` 等表示不同分組，並非對外的 `model` 後綴；呼叫時請保持 `model` 為基礎模型名稱，由帳戶或權杖分組決定實際使用哪個分組。\n\n#### Veo 3.x 主模型\n\n- `veo3`\n- `veo3-fast`\n- `veo3-fast-frames`\n- `veo3-frames`\n- `veo3-pro`\n- `veo3-pro-frames`\n- `veo3.1`\n- `veo3.1-fast`\n- `veo3.1-pro`\n- `veo3.1-components`\n- `veo3.1-4k`\n- `veo3.1-pro-4k`\n\n建議：\n- 純文字生成影片優先使用 `veo3*` / `veo3.1*` 主模型\n- 圖生影片或參考生成影片的場景，建議明確傳入 `mode + image_url/reference_images`\n\n### 4.2 Sora 系列\n\n基礎模型：\n- `sora-2`\n- `sora-2-pro`\n\n建議：\n- `sora-2*` 適合通用調用\n- 如需使用 `stable` / `official` 等分組，請保持 `model` 為基礎模型名稱，不要在模型名稱後追加後綴。\n\n### 4.3 Seedance 系列\n\n對外模型：\n- `doubao-seedance-1-0-lite-t2v-250428`\n- `doubao-seedance-1-0-lite-i2v-250428`\n- `doubao-seedance-1-0-pro-250528`\n- `doubao-seedance-1-0-pro-fast-251015`\n- `doubao-seedance-1-5-pro-251215`\n- `doubao-seedance-2-0-260128`\n- `doubao-seedance-2-0-fast-260128`\n\n建議：\n- 文生影片優先 `*-t2v-*` 或 `pro / fast`\n- 圖生影片優先 `*-i2v-*`\n- 複雜參考素材場景優先使用 `content`\n\n### 4.4 Grok 影片系列\n\n對外模型：\n- `grok-imagine-1.0-video`\n- `grok-video-3`\n\n常用參數：\n- `prompt`\n- `ratio` / `aspect_ratio`\n- `resolution` / `size`\n- `seconds` / `duration`\n- `image` / `image_url` / `input_reference`\n- `reference_images`\n\n範例：\n\n```json\n{\n\"model\": \"grok-imagine-1.0-video\",\n\"prompt\": \"雨夜霓虹街道上的电影感推镜，光影丰富，运动自然\",\n\"reference_images\": [\n\"https://example.com/ref-1.jpg\"\n],\n\"seconds\": 10,\n\"aspect_ratio\": \"16:9\",\n\"resolution\": \"720P\"\n}\n```\n\n### 4.5 Kling 影片主模型\n\n對外主模型：\n- `kling-video`\n\n必填：\n- `model`\n- `model_name`\n\n支援的 `model_name`：\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v1-6`\n- `kling-v2-master`\n- `kling-v2-1`\n- `kling-v2-1-master`\n- `kling-v2-5-turbo`\n- `kling-v2-6`\n- `kling-v3`\n\n常見 `mode`：\n- `t2v`\n- `i2v`\n- `multi_i2v`\n- `extend`\n\n最小輸入參數：\n- 文生影片：`model + model_name + prompt + mode=t2v`\n- 圖生影片：`model + model_name + prompt + mode=i2v + image`\n- 多圖參考：`model + model_name + prompt + mode=multi_i2v + image_list`\n- 影片延長：`model + model_name + mode=extend + video_id`\n\n範例：\n\n```json\n{\n\"model\": \"kling-video\",\n\"model_name\": \"kling-v2-6\",\n\"mode\": \"t2v\",\n\"prompt\": \"海边日落镜头，电影感，风吹长发\",\n\"duration\": 5,\n\"aspect_ratio\": \"16:9\"\n}\n```\n\n- `mode=t2v`\n- 最小輸入參數：`model + prompt`\n\n- `mode=i2v`\n- 最小輸入參數：`model + prompt + image_url`\n\n- `mode=i2v_first_last`\n- 最小輸入參數：`model + prompt + image_url + end_image_url`\n\n- `mode=reference_images`\n- 最小輸入參數：`model + prompt + reference_images`\n\n- `mode=reference_material`\n- 最小輸入參數：`model + prompt + (image_urls/video_urls/audio_urls 至少一种)`\n\n### Gemini Omni 呼叫說明\n\n- `gemini-omni` 是 new-api 對外公開的影片模型名稱，可直接走 `POST /v1/videos`。\n- `mode=t2v`：文生影片，最小入參為 `model + prompt`。\n- `mode=r2v`：參考圖/參考素材生成，圖片可放在 `image`、`image_url`、`images`、`image_urls`、`reference_images`、`input_reference` 或 `content` 中。\n- `mode=edit`：影片編輯，影片可放在 `video`、`video_url`、`videos` 或 `content` 中，也可同時傳參考圖。\n- 時長欄位可用 `seconds` 或 `duration`，會自動匹配到 4 / 6 / 8 / 10 秒檔。",
        "operationId": "createVideo",
        "tags": [
          "影片生成Sora相容格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "必填，對外模型名稱。 `gemini-omni` 可透過 `/v1/videos` 呼叫。",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "gemini-omni",
                      "happyhorse-1.0",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-imagine-1.0-video",
                      "grok-video-3",
                      "viduq3-turbo",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "統一提示詞入口。大多數模型必填。"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "單圖進入點，部分相容模式會映射至 images。"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "統一時長入口，部分模型也接受 seconds。"
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "動態擴充欄位容器。大量模型特定欄位由此進行還原序列化。"
                  },
                  "mode": {
                    "type": "string",
                    "description": "選填，影片生成模式。 `gemini-omni` 支援 `t2v`、`r2v`、`edit`。"
                  },
                  "images": {
                    "type": "array",
                    "description": "統一多圖入口。Vidu、Seedance、Veo 等會使用。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "統一尺寸入口，會映射為 resolution/aspect_ratio 等。"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora 相容入口，執行時會回退到 duration。"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Sora/Veo 相容參考圖入口，可為 multipart 檔案或相容物件。"
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "必填，對外模型名稱。 `gemini-omni` 可透過 `/v1/videos` 呼叫。",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "gemini-omni",
                      "happyhorse-1.0",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-imagine-1.0-video",
                      "grok-video-3",
                      "viduq3-turbo",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "統一提示詞入口。大多數模型必填。"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "單圖進入點，部分相容模式會映射至 images。"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "統一時長入口，部分模型也接受 seconds。"
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "動態擴充欄位容器。大量模型特定欄位由此進行還原序列化。"
                  },
                  "mode": {
                    "type": "string",
                    "description": "選填，影片生成模式。 `gemini-omni` 支援 `t2v`、`r2v`、`edit`。"
                  },
                  "images": {
                    "type": "array",
                    "description": "統一多圖入口。Vidu、Seedance、Veo 等會使用。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "統一尺寸入口，會映射為 resolution/aspect_ratio 等。"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora 相容入口，執行時會回退到 duration。"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Sora/Veo 相容參考圖入口，可為 multipart 檔案或相容物件。"
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "openai_t2v": {
                  "summary": "OpenAI t2v (prompt/model)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_i2v_input_reference": {
                  "summary": "OpenAI i2v (input_reference)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_alias_compat": {
                  "summary": "Alias兼容 (image_url/duration/aspect_ratio)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                },
                "gemini_omni_sora_t2v": {
                  "summary": "Gemini Omni Sora t2v",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "t2v",
                    "prompt": "A cinematic product video with smooth camera motion",
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "gemini_omni_sora_r2v": {
                  "summary": "Gemini Omni Sora r2v",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "r2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "Keep the product consistent and create a short ad video"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/product.jpg"
                        }
                      }
                    ],
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "gemini_omni_sora_edit": {
                  "summary": "Gemini Omni Sora edit",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "edit",
                    "content": [
                      {
                        "type": "text",
                        "text": "Change the outfit color while keeping the motion natural"
                      },
                      {
                        "type": "video_url",
                        "video_url": {
                          "url": "https://example.com/input.mp4"
                        }
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/style.jpg"
                        }
                      }
                    ],
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "happyhorse_sora_t2v": {
                  "summary": "HappyHorse Sora t2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "t2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic white horse running through a neon city street"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P",
                    "ratio": "16:9"
                  }
                },
                "happyhorse_sora_i2v": {
                  "summary": "HappyHorse Sora i2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "i2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "The camera slowly pushes in, natural motion"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/first-frame.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P"
                  }
                },
                "happyhorse_sora_r2v": {
                  "summary": "HappyHorse Sora r2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "r2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "Keep the character and product consistent in a short cinematic clip"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-2.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P",
                    "ratio": "16:9"
                  }
                },
                "happyhorse_sora_video_edit": {
                  "summary": "HappyHorse Sora video_edit",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "video_edit",
                    "content": [
                      {
                        "type": "text",
                        "text": "Change the jacket to a striped sweater and keep the motion natural"
                      },
                      {
                        "type": "video_url",
                        "video_url": "https://example.com/input.mp4"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/reference.jpg"
                      }
                    ],
                    "resolution": "720P"
                  }
                },
                "seedance_i2v_first": {
                  "summary": "Seedance i2v_first",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_i2v_first_last": {
                  "summary": "Seedance i2v_first_last",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_images": {
                  "summary": "Seedance reference_images",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_material": {
                  "summary": "Seedance 全能參考模式(reference_material)",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_volc_content": {
                  "summary": "Seedance 火山方舟 content 模式",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "veo_first_last_frame": {
                  "summary": "Veo 首尾幀模式",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "veo_reference_images_1to3": {
                  "summary": "Veo 1~3 張參考圖模式",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "kling_text2video": {
                  "summary": "Kling 文生影片",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "kling_image2video": {
                  "summary": "Kling 圖生影片",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "grok_reference_video": {
                  "summary": "Grok 視訊模式",
                  "value": {
                    "model": "grok-imagine-1.0-video",
                    "prompt": "A dramatic cinematic shot with fast motion and rich lighting",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": 10,
                    "aspect_ratio": "16:9",
                    "resolution": "720P"
                  }
                },
                "vidu_sora_t2v": {
                  "summary": "Vidu Sora t2v",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "t2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A stylish product ad clip with cinematic lighting"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_sora_i2v": {
                  "summary": "Vidu Sora i2v",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "i2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A stylish ad clip from a product still image"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/product.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_sora_first_last": {
                  "summary": "Vidu Sora i2v_first_last",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "i2v_first_last",
                    "content": [
                      {
                        "type": "text",
                        "text": "A smooth shot from start frame to end frame"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/start.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/end.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_sora_reference": {
                  "summary": "Vidu Sora reference_images",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "reference_images",
                    "content": [
                      {
                        "type": "text",
                        "text": "Maintain product style and character consistency"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-2.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-3.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "hailuo_text2video": {
                  "summary": "Hailuo 文生影片",
                  "value": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功建立影片任務",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "相容舊介面 待廢棄"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "Should use VideoStatus constants: VideoStatusQueued, VideoStatusInProgress, VideoStatusCompleted, VideoStatusFailed",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed",
                        "video_url",
                        "url",
                        "completed_at"
                      ]
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "completed_at": {
                      "type": "integer"
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "請求參數錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成sora相容格式/建立影片"
        }
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "取得影片任務狀態",
        "deprecated": false,
        "description": "OpenAI 相容的影片任務狀態查詢介面。\n\n傳回影片任務的詳細狀態資訊。",
        "operationId": "getVideo",
        "tags": [
          "影片生成Sora相容格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "影片任務 ID",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功獲取影片任務狀態",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "影片結果位址。不同模型可能會傳回 `video_url` 或 `url`，兩者擇其一。"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "影片結果位址。不同模型可能會傳回 `url` 或 `video_url`，兩者擇其一。"
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "完成時間（Unix 秒）。"
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "結果過期時間 (Unix 秒)。"
                    },
                    "error": {
                      "type": "object",
                      "description": "失敗時的錯誤訊息。"
                    },
                    "metadata": {
                      "type": "object",
                      "description": "附加中繼資料。"
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任務不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成sora相容格式/取得影片任務狀態"
        }
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "獲取影片內容",
        "deprecated": false,
        "description": "獲取已完成影片任務的影片檔案內容。\n\n此介面會代理回傳影片檔案串流。",
        "operationId": "getVideoContent",
        "tags": [
          "影片生成Sora相容格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "影片任務 ID",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功獲取影片內容",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "影片不存在或未完成",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成sora相容格式/獲取影片內容"
        }
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling 文生影片",
        "deprecated": false,
        "description": "此系列支援OpenAI影片生成格式（詳見連結 [影片生成Sora相容格式](/api-reference/zh-tw/%E5%BD%B1%E7%89%87%E7%94%9F%E6%88%90sora%E7%9B%B8%E5%AE%B9%E6%A0%BC%E5%BC%8F/%E5%BB%BA%E7%AB%8B%E5%BD%B1%E7%89%87)）。\n\n使用 Kling 模型從文字描述生成影片。\n\n支援的模型：kling-v1, kling-v1-5 等",
        "operationId": "createKlingText2Video",
        "tags": [
          "影片生成Kling格式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功建立影片生成任務",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "請求參數錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成kling格式/kling-文生影片"
        }
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "取得 Kling 文生影片任務狀態",
        "deprecated": false,
        "description": "此系列支援OpenAI影片生成格式（詳見連結 [影片生成Sora相容格式](/api-reference/zh-tw/%E5%BD%B1%E7%89%87%E7%94%9F%E6%88%90sora%E7%9B%B8%E5%AE%B9%E6%A0%BC%E5%BC%8F/%E5%BB%BA%E7%AB%8B%E5%BD%B1%E7%89%87)）。\n\n查詢 Kling 文生影片任務的狀態和結果。",
        "operationId": "getKlingText2Video",
        "tags": [
          "影片生成Kling格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "任務 ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功獲取任務狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任務不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成kling格式/取得-kling-文生影片任務狀態"
        }
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling 圖生影片",
        "deprecated": false,
        "description": "此系列支援OpenAI影片生成格式（詳見連結 [影片生成Sora相容格式](/api-reference/zh-tw/%E5%BD%B1%E7%89%87%E7%94%9F%E6%88%90sora%E7%9B%B8%E5%AE%B9%E6%A0%BC%E5%BC%8F/%E5%BB%BA%E7%AB%8B%E5%BD%B1%E7%89%87)）。\n\n使用 Kling 模型從圖片生成影片。\n\n支援透過 image 參數傳入圖片 URL 或 Base64 編碼的圖片資料。",
        "operationId": "createKlingImage2Video",
        "tags": [
          "影片生成Kling格式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功建立影片生成任務",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "請求參數錯誤",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成kling格式/kling-圖生影片"
        }
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "取得 Kling 圖生影片任務狀態",
        "deprecated": false,
        "description": "此系列支援OpenAI影片生成格式（詳見連結 [影片生成Sora相容格式](/api-reference/zh-tw/%E5%BD%B1%E7%89%87%E7%94%9F%E6%88%90sora%E7%9B%B8%E5%AE%B9%E6%A0%BC%E5%BC%8F/%E5%BB%BA%E7%AB%8B%E5%BD%B1%E7%89%87)）。\n\n查詢 Kling 圖生影片任務的狀態和結果。",
        "operationId": "getKlingImage2Video",
        "tags": [
          "影片生成Kling格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "任務 ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功獲取任務狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任務不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成kling格式/取得-kling-圖生影片任務狀態"
        }
      }
    },
    "/api/v1/services/aigc/video-generation/video-synthesis": {
      "post": {
        "summary": "建立影片(HappyHorse)",
        "description": "此系列支援OpenAI影片生成格式（詳見連結 [影片生成Sora相容格式](/api-reference/zh-tw/%E5%BD%B1%E7%89%87%E7%94%9F%E6%88%90sora%E7%9B%B8%E5%AE%B9%E6%A0%BC%E5%BC%8F/%E5%BB%BA%E7%AB%8B%E5%BD%B1%E7%89%87)）。\n\nHappyHorse 阿里影片生成介面，公開路徑遵循 DashScope 官方協議。\n\n支援 5 個對外模型：`happyhorse-1.0`、`happyhorse-1.0-i2v`、`happyhorse-1.0-t2v`、`happyhorse-1.0-r2v`、`happyhorse-1.0-video-edit`。其中 `happyhorse-1.0` 是聚合模型，需要透過 `mode` 區分 `t2v`、`i2v`、`r2v`、`video_edit`。\n\n公開介面維持官方端點格式；渠道專用前綴僅用於閘道請求特定上游渠道時內部拼接。用戶端不需要明確傳入 `X-DashScope-Async`，由閘道或官方渠道適配層處理。\n\n補充 HappyHorse 阿里官方影片生成格式的公開請求骨架、任務查詢結構和推薦驗證模板，公開路徑維持官方端點格式。\n\n支援模型：\nhappyhorse-1.0, happyhorse-1.0-t2v, happyhorse-1.0-i2v, happyhorse-1.0-r2v, happyhorse-1.0-video-edit\n\n統一請求欄位：\n- `model` (string, 必填): HappyHorse 對外模型名。聚合模型 `happyhorse-1.0` 需配合 `mode` 使用。\n- `mode` (string, 可選): 聚合模型模式，常見值為 `t2v`、`i2v`、`r2v`、`video_edit`。固定子模型可不傳。\n- `input.prompt` (string, 必填): 影片生成或編輯提示詞。\n- `input.media` (array[object], 可選): 多媒體輸入。圖生影片使用 `first_frame`，參考生影片使用 `reference_image`，影片編輯使用 `video` 和可選 `reference_image`。\n- `parameters.duration` (integer, 可選): 生成時長，按秒計費。\n- `parameters.resolution` (string, 可選): 輸出解析度，常見值 `720P`、`1080P`。\n- `parameters.ratio` (string, 可選): 輸出寬高比，文生影片和參考生影片常用。\n- `parameters.watermark` (boolean, 可選): 是否新增浮水印。\n- `parameters.seed` (integer, 可選): 隨機種子。\n\n常見模型／模式差異：\n- `HappyHorse 聚合模型`: 支援模型 happyhorse-1.0；聚合模型透過 mode 區分最終模型。\n- `HappyHorse 文生视频`: 支援模型 happyhorse-1.0-t2v；官方格式文生影片。\n- `HappyHorse 首帧图生视频`: 支援模型 happyhorse-1.0-i2v；官方格式首幀圖生影片。\n- `HappyHorse 参考生视频`: 支援模型 happyhorse-1.0-r2v；官方格式多參考圖生影片。\n- `HappyHorse 视频编辑`: 支援模型 happyhorse-1.0-video-edit；官方格式影片編輯。",
        "operationId": "create__happyhorse__task",
        "tags": [
          "影片生成HappyHorse阿里"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "happyhorse-1.0",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit"
                    ],
                    "example": "happyhorse-1.0-t2v",
                    "description": "HappyHorse 對外模型名。聚合模型 `happyhorse-1.0` 需配合 `mode` 使用。"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "t2v",
                      "i2v",
                      "r2v",
                      "video_edit"
                    ],
                    "description": "聚合模型模式，常見值為 `t2v`、`i2v`、`r2v`、`video_edit`。固定子模型可不傳。"
                  },
                  "input": {
                    "type": "object",
                    "required": [
                      "prompt"
                    ],
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "example": "A white horse running through a neon city street, cinematic",
                        "description": "影片生成或編輯提示詞。"
                      },
                      "media": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "url"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "first_frame",
                                "reference_image",
                                "video"
                              ]
                            },
                            "url": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        },
                        "description": "多媒體輸入。圖生影片使用 `first_frame`，參考生影片使用 `reference_image`，影片編輯使用 `video` 和可選 `reference_image`。"
                      }
                    }
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "720P",
                          "1080P"
                        ],
                        "example": "720P",
                        "description": "輸出解析度，常見值 `720P`、`1080P`。"
                      },
                      "ratio": {
                        "type": "string",
                        "example": "16:9",
                        "description": "輸出寬高比，文生影片和參考生影片常用。"
                      },
                      "duration": {
                        "type": "integer",
                        "example": 5,
                        "description": "生成時長，按秒計費。"
                      },
                      "watermark": {
                        "type": "boolean",
                        "description": "是否加上浮水印。"
                      },
                      "seed": {
                        "type": "integer",
                        "description": "隨機種子。"
                      }
                    }
                  }
                }
              },
              "examples": {
                "happyhorse_native_aggregate_t2v": {
                  "summary": "HappyHorse 聚合模型",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "t2v",
                    "input": {
                      "prompt": "A white horse running through a neon city street, cinematic"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_t2v": {
                  "summary": "HappyHorse 文生影片",
                  "value": {
                    "model": "happyhorse-1.0-t2v",
                    "input": {
                      "prompt": "A white horse running through a neon city street, cinematic"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_i2v": {
                  "summary": "HappyHorse 首幀圖生影片",
                  "value": {
                    "model": "happyhorse-1.0-i2v",
                    "input": {
                      "prompt": "The subject walks forward naturally",
                      "media": [
                        {
                          "type": "first_frame",
                          "url": "https://example.com/first-frame.jpg"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_r2v": {
                  "summary": "HappyHorse 參考生影片",
                  "value": {
                    "model": "happyhorse-1.0-r2v",
                    "input": {
                      "prompt": "Keep the character and product consistent in a cinematic shot",
                      "media": [
                        {
                          "type": "reference_image",
                          "url": "https://example.com/ref-1.jpg"
                        },
                        {
                          "type": "reference_image",
                          "url": "https://example.com/ref-2.jpg"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_video_edit": {
                  "summary": "HappyHorse 影片編輯",
                  "value": {
                    "model": "happyhorse-1.0-video-edit",
                    "input": {
                      "prompt": "Change the jacket to a striped sweater",
                      "media": [
                        {
                          "type": "video",
                          "url": "https://example.com/input.mp4"
                        },
                        {
                          "type": "reference_image",
                          "url": "https://example.com/reference.jpg"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任務建立成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "task_xxx"
                    },
                    "output": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string",
                          "description": "建立任務時返回的任務 ID，用於查詢任務。"
                        },
                        "task_status": {
                          "type": "string",
                          "description": "任務狀態，常見值 `PENDING`、`RUNNING`、`SUCCEEDED`、`FAILED`。"
                        },
                        "video_url": {
                          "type": "string",
                          "description": "任務成功後生成的影片 URL。"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "duration": {
                          "type": "string",
                          "description": "計費時長，單位為秒。"
                        },
                        "SR": {
                          "type": "string",
                          "description": "輸出解析度檔位。"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成happyhorse阿里/建立影片happyhorse"
        }
      }
    },
    "/api/v1/tasks/{task_id}": {
      "get": {
        "summary": "查詢任務(HappyHorse)",
        "description": "此系列支援OpenAI影片生成格式（詳見連結 [影片生成Sora相容格式](/api-reference/zh-tw/%E5%BD%B1%E7%89%87%E7%94%9F%E6%88%90sora%E7%9B%B8%E5%AE%B9%E6%A0%BC%E5%BC%8F/%E5%BB%BA%E7%AB%8B%E5%BD%B1%E7%89%87)）。\n\nHappyHorse 阿里影片生成介面，公開路徑遵循 DashScope 官方協議。\n\n支援 5 個對外模型：`happyhorse-1.0`、`happyhorse-1.0-i2v`、`happyhorse-1.0-t2v`、`happyhorse-1.0-r2v`、`happyhorse-1.0-video-edit`。其中 `happyhorse-1.0` 是聚合模型，需要透過 `mode` 區分 `t2v`、`i2v`、`r2v`、`video_edit`。\n\n公開介面維持官方端點格式；渠道專用前綴僅用於閘道請求特定上游渠道時內部拼接。用戶端不需要明確傳入 `X-DashScope-Async`，由閘道或官方渠道適配層處理。\n\n補充 HappyHorse 阿里官方影片生成格式的公開請求骨架、任務查詢結構和推薦驗證模板，公開路徑維持官方端點格式。\n\n支援模型：\nhappyhorse-1.0, happyhorse-1.0-t2v, happyhorse-1.0-i2v, happyhorse-1.0-r2v, happyhorse-1.0-video-edit\n\n統一請求欄位：\n- `model` (string, 必填): HappyHorse 對外模型名。聚合模型 `happyhorse-1.0` 需配合 `mode` 使用。\n- `mode` (string, 可選): 聚合模型模式，常見值為 `t2v`、`i2v`、`r2v`、`video_edit`。固定子模型可不傳。\n- `input.prompt` (string, 必填): 影片生成或編輯提示詞。\n- `input.media` (array[object], 可選): 多媒體輸入。圖生影片使用 `first_frame`，參考生影片使用 `reference_image`，影片編輯使用 `video` 和可選 `reference_image`。\n- `parameters.duration` (integer, 可選): 生成時長，按秒計費。\n- `parameters.resolution` (string, 可選): 輸出解析度，常見值 `720P`、`1080P`。\n- `parameters.ratio` (string, 可選): 輸出寬高比，文生影片和參考生影片常用。\n- `parameters.watermark` (boolean, 可選): 是否新增浮水印。\n- `parameters.seed` (integer, 可選): 隨機種子。\n\n常見模型／模式差異：\n- `HappyHorse 聚合模型`: 支援模型 happyhorse-1.0；聚合模型透過 mode 區分最終模型。\n- `HappyHorse 文生视频`: 支援模型 happyhorse-1.0-t2v；官方格式文生影片。\n- `HappyHorse 首帧图生视频`: 支援模型 happyhorse-1.0-i2v；官方格式首幀圖生影片。\n- `HappyHorse 参考生视频`: 支援模型 happyhorse-1.0-r2v；官方格式多參考圖生影片。\n- `HappyHorse 视频编辑`: 支援模型 happyhorse-1.0-video-edit；官方格式影片編輯。",
        "operationId": "query__happyhorse__task",
        "tags": [
          "影片生成HappyHorse阿里"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "任務 ID，來自建立任務回傳的 `id`。"
          }
        ],
        "responses": {
          "200": {
            "description": "查詢成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string",
                          "description": "建立任務時返回的任務 ID，用於查詢任務。"
                        },
                        "task_status": {
                          "type": "string",
                          "enum": [
                            "PENDING",
                            "RUNNING",
                            "SUCCEEDED",
                            "FAILED",
                            "UNKNOWN"
                          ],
                          "description": "任務狀態，常見值 `PENDING`、`RUNNING`、`SUCCEEDED`、`FAILED`。"
                        },
                        "submit_time": {
                          "type": "string"
                        },
                        "scheduled_time": {
                          "type": "string"
                        },
                        "end_time": {
                          "type": "string"
                        },
                        "video_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "任務成功後生成的影片 URL。"
                        },
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "duration": {
                          "type": "integer",
                          "description": "計費時長，單位為秒。"
                        },
                        "SR": {
                          "type": "integer",
                          "description": "輸出解析度檔位。"
                        },
                        "video_count": {
                          "type": "integer"
                        }
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成happyhorse阿里/查詢任務happyhorse"
        }
      }
    },
    "/ent/v2/text2video": {
      "post": {
        "summary": "建立文生影片(Vidu)",
        "description": "此系列支援OpenAI影片生成格式（詳見連結 [影片生成Sora相容格式](/api-reference/zh-tw/%E5%BD%B1%E7%89%87%E7%94%9F%E6%88%90sora%E7%9B%B8%E5%AE%B9%E6%A0%BC%E5%BC%8F/%E5%BB%BA%E7%AB%8B%E5%BD%B1%E7%89%87)）。\n\nVidu 官方影片生成介面，公開路徑遵循 Vidu 官方協議。\n\n目前公開模型：`viduq3-turbo`。支援文生影片、圖生影片、首尾幀生影片、參考生影片。同一模型也支援透過 `/v1/videos` Sora 相容格式接入，常用 `mode` 為 `t2v`、`i2v`、`i2v_first_last`、`reference_images`。\n\n補充 Vidu 官方影片生成格式的公開請求骨架、任務查詢結構和推薦驗證模板，公開路徑保持 Vidu 官方端點格式。\n\n支援模型：\nviduq3-turbo\n\n統一請求欄位：\n- `model` (string, 必填): Vidu 對外模型名，目前公開 `viduq3-turbo`。\n- `prompt` (string, 可選): 影片生成提示詞；文生影片必填，圖生/首尾幀/參考生影片按業務需要傳。\n- `images` (array[string], 可選): 圖片輸入。圖生影片 1 張，首尾幀 2 張，參考生影片 1~7 張。\n- `videos` (array[string], 可選): 參考生影片可選影片主體輸入，按 Vidu 官方模型能力使用。\n- `subjects` (array[object], 可選): 參考生影片主體庫格式輸入，可包含主體名稱、圖片、影片或音色等欄位。\n- `duration` (integer, 可選): 影片時長，單位秒。`viduq3-turbo` 常用 5 秒，可按官方範圍設定。\n- `resolution` (string, 可選): 輸出解析度，常見值 `540p`、`720p`、`1080p`。\n- `aspect_ratio` (string, 可選): 輸出寬高比，文生/參考生影片常用，如 `16:9`、`9:16`、`1:1`。\n- `seed` (integer, 可選): 隨機種子。\n- `movement_amplitude` (string, 可選): 運動幅度，常見值 `auto`、`small`、`medium`、`large`。\n- `audio` (boolean, 可選): 是否開啟音影片直出。\n- `off_peak` (boolean, 可選): 是否使用錯峰生成。\n- `watermark` (boolean, 可選): 是否新增浮水印。\n\n常見模型／模式差異：\n- `Vidu 文生视频`: 支援模型 viduq3-turbo；官方格式文生影片。\n- `Vidu 图生视频`: 支援模型 viduq3-turbo；官方格式單圖圖生影片。\n- `Vidu 首尾帧生视频`: 支援模型 viduq3-turbo；官方格式首尾幀雙圖生影片。\n- `Vidu 参考生视频`: 支援模型 viduq3-turbo；官方格式多參考圖生影片。",
        "operationId": "createViduTextVideo",
        "tags": [
          "影片生成 Vidu 格式"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "viduq3-turbo"
                    ],
                    "example": "viduq3-turbo",
                    "description": "Vidu 對外模型名，目前公開 `viduq3-turbo`。"
                  },
                  "prompt": {
                    "type": "string",
                    "example": "A cinematic product ad with smooth camera motion",
                    "description": "影片生成提示詞；文生影片必填，圖生／首尾幀／參考生影片依業務需要傳入。"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "example": [
                      "https://example.com/input.jpg"
                    ],
                    "description": "圖片輸入。圖生影片 1 張，首尾幀 2 張，參考生影片 1~7 張。"
                  },
                  "videos": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "description": "參考生影片可選影片主體輸入，按 Vidu 官方模型能力使用。"
                  },
                  "subjects": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "videos": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "voice_id": {
                          "type": "string"
                        },
                        "server_id": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "請參考生影片主體庫格式輸入，可包含主體名稱、圖片、影片或音色等欄位。"
                  },
                  "auto_subjects": {
                    "type": "boolean"
                  },
                  "duration": {
                    "type": "integer",
                    "example": 5,
                    "description": "影片時長，單位為秒。`viduq3-turbo` 常用 5 秒，可依官方範圍設定。"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "540p",
                      "720p",
                      "1080p"
                    ],
                    "example": "720p",
                    "description": "輸出解析度，常見值 `540p`、`720p`、`1080p`。"
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "enum": [
                      "16:9",
                      "9:16",
                      "4:3",
                      "3:4",
                      "1:1"
                    ],
                    "example": "16:9",
                    "description": "輸出寬高比，文生/參考生影片常用，如 `16:9`、`9:16`、`1:1`。"
                  },
                  "seed": {
                    "type": "integer",
                    "description": "隨機種子。"
                  },
                  "movement_amplitude": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "small",
                      "medium",
                      "large"
                    ],
                    "example": "auto",
                    "description": "運動幅度，常見值 `auto`、`small`、`medium`、`large`。"
                  },
                  "audio": {
                    "type": "boolean",
                    "description": "是否開啟音視訊直出。"
                  },
                  "audio_type": {
                    "type": "string",
                    "enum": [
                      "all",
                      "speech_only",
                      "sound_effect_only"
                    ]
                  },
                  "voice_id": {
                    "type": "string"
                  },
                  "is_rec": {
                    "type": "boolean"
                  },
                  "bgm": {
                    "type": "boolean"
                  },
                  "payload": {
                    "type": "string"
                  },
                  "off_peak": {
                    "type": "boolean",
                    "description": "是否使用錯峰生成。"
                  },
                  "watermark": {
                    "type": "boolean",
                    "description": "是否加上浮水印。"
                  },
                  "wm_position": {
                    "type": "integer",
                    "enum": [
                      1,
                      2,
                      3,
                      4
                    ]
                  },
                  "wm_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              },
              "examples": {
                "vidu_native_t2v": {
                  "summary": "Vidu 文生影片",
                  "value": {
                    "model": "viduq3-turbo",
                    "prompt": "A cinematic product ad with smooth camera motion",
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_native_i2v": {
                  "summary": "Vidu 圖生影片",
                  "value": {
                    "model": "viduq3-turbo",
                    "images": [
                      "https://example.com/product.jpg"
                    ],
                    "prompt": "The product rotates slowly under studio light",
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_native_start_end": {
                  "summary": "Vidu 首尾幀生成影片",
                  "value": {
                    "model": "viduq3-turbo",
                    "images": [
                      "https://example.com/start.jpg",
                      "https://example.com/end.jpg"
                    ],
                    "prompt": "A smooth camera move from the first frame to the final frame",
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_native_reference": {
                  "summary": "Vidu 參考生影片",
                  "value": {
                    "model": "viduq3-turbo",
                    "images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg",
                      "https://example.com/ref-3.jpg"
                    ],
                    "prompt": "Keep the same character and product style in a cinematic shot",
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任務建立成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "task_id",
                    "state"
                  ],
                  "properties": {
                    "task_id": {
                      "type": "string",
                      "description": "建立任務時返回的任務 ID，用於查詢任務。"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "created",
                        "queueing",
                        "processing",
                        "success",
                        "failed"
                      ],
                      "description": "任務狀態，常見值 `created`、`queueing`、`processing`、`success`、`failed`。"
                    },
                    "model": {
                      "type": "string"
                    },
                    "prompt": {
                      "type": "string"
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "duration": {
                      "type": "integer"
                    },
                    "resolution": {
                      "type": "string"
                    },
                    "credits": {
                      "type": "integer",
                      "description": "本次任務消耗的點數。"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "creations": {
                      "type": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "任務成功後生成的影片 URL。"
                          },
                          "cover_url": {
                            "type": "string",
                            "description": "任務成功後的封面 URL。"
                          },
                          "watermarked_url": {
                            "type": "string",
                            "description": "帶浮水印的影片 URL。"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/zh-tw/影片生成-vidu-格式/建立文生影片vidu"
        }
      }
    },
    "/ent/v2/img2video": {
      "post": {
        "summary": "建立圖生影片(Vidu)",
[...]
