{
  "openapi": "3.0.0",
  "info": {
    "title": "Global Expansion Camp API Reference Documentation",
    "version": "1.0.0",
    "description": "Public AI Gateway API Reference"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "List models",
        "deprecated": false,
        "description": "Retrieve a list of currently available models.\n\nThe response format is automatically identified based on the request headers:\n- Returns the Anthropic format when both `x-api-key` and `anthropic-version` headers are included\n- Returns the Gemini format when the `x-goog-api-key` header or the `key` query parameter is included\n- Returns the OpenAI format in all other cases",
        "operationId": "listModels",
        "tags": [
          "List models"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Google API Key (for Gemini format)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Anthropic API Key (for Claude format)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Anthropic API version",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Google API Key (for Gemini format)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the model list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "Get Gemini Format",
        "deprecated": false,
        "description": "Returns a list of available models in Gemini API format",
        "operationId": "listModelsGemini",
        "tags": [
          "List models"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successfully retrieved the model list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Create chat session",
        "deprecated": false,
        "description": "Creates model responses based on conversation history. Supports both streaming and non-streaming responses.\n\nCompatible with OpenAI Chat Completions API.",
        "operationId": "createChatCompletion",
        "tags": [
          "OpenAI Format (Chat)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "Rate Limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "Create Response (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses API, used to create model responses.\nSupports multi-turn conversations, tool calling, reasoning, and other features.",
        "operationId": "createResponse",
        "tags": [
          "OpenAI Format (Responses)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Gemini Images (Nano Banana)",
        "deprecated": false,
        "description": "Gemini image generation.\n\nThe Nano Banana series supports the OpenAI Dall-E format (see [Image Generation OpenAI DALL-E Format](#tag/%E5%9B%BE%E7%89%87%E7%94%9F%E6%88%90OpenAI%20DALL-E%E6%A0%BC%E5%BC%8F) for details).\n\nAdd field descriptions for Gemini image generation in /v1beta/models/{model}:generateContent to prevent the public OpenAPI from losing descriptions on nested fields.",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "Gemini Format for Image Generation"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "Model Name",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "Message role. Common values are `user` or `model`."
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "Text input content."
                              },
                              "inlineData": {
                                "type": "object",
                                "description": "An inline binary content object for inputs such as base64 images.",
                                "properties": {
                                  "mimeType": {
                                    "type": "string",
                                    "description": "The MIME type of the inline content, for example `image/png`."
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "The binary data content after Base64 encoding."
                                  }
                                }
                              }
                            }
                          },
                          "description": "Array of message segments; text, images, and other inputs are placed here."
                        }
                      }
                    },
                    "description": "Required. Array of Gemini input content, typically containing at least one user message."
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of response modes; image generation usually passes `IMAGE`."
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string",
                            "description": "Aspect ratio, for example `16:9`, `1:1`, and `9:16`."
                          },
                          "imageSize": {
                            "type": "string",
                            "description": "Output resolution level, for example `1K`, `2K`, and `4K`."
                          }
                        },
                        "description": "Image generation configuration object."
                      }
                    },
                    "required": [
                      "responseModalities"
                    ],
                    "description": "Generate the configuration object."
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "Generate images (OpenAI Dall-E compatible)",
        "deprecated": false,
        "description": "OpenAI DALL-E format image generation API.\n\n- `POST /v1/images/generations`: Create an image generation task\n\nStandard authentication headers:\n- `Content-Type: application/json`\n\n- `model: string`: Required, public model name\n- `prompt: string`: Recommended, image generation prompt\n- `n: number`: Optional, number of images to generate\n- `size: string`: Optional, size or resolution specification\n- `quality: string`: Optional, quality level\n- `response_format: string`: Optional, response format\n\nCommon compatible extension parameters:\n- `image`\n- `image_url`\n- `image_urls`\n- `image_list`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `negative_prompt`\n- `aspect_ratio`\n- `resolution`\n- `callback_url`\n- `external_task_id`\n\nKling-specific extension parameters:\n- `model_name`\n- `element_list`\n- `result_type`\n- `series_amount`\n- `human_image`\n- `cloth_image`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n### 3.1 Nano Banana Series\n\nPublic model:\n- `nano-banana`\n- `nano-banana-pro`\n- `nano-banana-pro-2k`\n- `nano-banana-pro-4k`\n- `nano-banana-2`\n- `nano-banana-2-2k`\n- `nano-banana-2-4k`\n\nCapabilities:\n- `nano-banana`: Basic text-to-image, also compatible with image editing\n- `nano-banana-pro*`: Higher-quality version\n- `nano-banana-2*`: Newer model family\n- `*-2k` / `*-4k`: High-resolution variants\n\nCommon parameters:\n- Text-to-image: `model + prompt`\n- Image editing: `model + prompt + image`, also compatible with `image_urls`\n- Common extensions: `n` `size` `quality` `response_format`\n\nExample:\n\n```json\n{\n\"model\": \"nano-banana\",\n\"prompt\": \"a cute cat running in cloud\",\n\"n\": 1,\n\"size\": \"1024x1792\"\n}\n```\n\n```json\n{\n\"model\": \"nano-banana-pro\",\n\"prompt\": \"把主体改成赛博朋克夜景\",\n\"image\": \"https://example.com/input.png\",\n\"n\": 1\n}\n```\n\n### 3.2 Seedream Series\n\nPublic model:\n- `doubao-seedream-3-0-t2i-250415`\n- `doubao-seedream-4-0-250828`\n- `doubao-seedream-4-5-251128`\n- `doubao-seedream-5-0-260128`\n\nCapabilities:\n- Use the text-to-image call uniformly\n- It is recommended to pass the standard parameter first: `prompt + model + size/aspect_ratio`\n\nCommon parameters:\n- `model + prompt`\n- Optional: `size` `aspect_ratio` `n`\n\n### 3.3 Kling Standard Image Base Model\n\nPublic base model:\n- `kling-image`\n\nRequired:\n- `model`\n- `model_name`\n\nSupported `model_name`:\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v2`\n- `kling-v2-new`\n- `kling-v2-1`\n- `kling-v3`\n\nCapabilities:\n- Text-to-image: `model + model_name + prompt`\n- Image-to-image: add `image` on top of text-to-image\n- Multi-image generation: pass `subject_image_list`, or pass multiple `image_urls/images`\n- Outpainting: pass `image` and the outpainting ratio parameter\n\nCommon parameters:\n- `image`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `aspect_ratio`\n- `resolution`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\nExample:\n\n```json\n{\n\"model\": \"kling-image\",\n\"model_name\": \"kling-v3\",\n\"prompt\": \"海边日落，电影感人像\",\n\"aspect_ratio\": \"16:9\",\n\"n\": 1\n}\n```\n\n### 3.4 Kling Omni Image Base Model\n\nPublic base model:\n- `kling-omni-image`\n\nRequired:\n- `model`\n- `model_name`\n\nSupported `model_name`:\n- `kling-image-o1`\n- `kling-v3-omni`\n\nCommon parameters:\n- `image_list`\n- `element_list`\n- `resolution`\n- `aspect_ratio`\n- `result_type`\n- `series_amount`\n\nExample:\n\n```json\n{\n\"model\": \"kling-omni-image\",\n\"model_name\": \"kling-v3-omni\",\n\"prompt\": \"生成一张海边跳舞的图片\",\n\"element_list\": [\n{ \"element_id\": 835266081714884677 }\n]\n}\n```\n\n### 3.5 Kling Virtual Try-On Model\n\nPublic model:\n- `kolors-virtual-try-on-v1`\n- `kolors-virtual-try-on-v1-5`\n\nMinimum input parameters:\n- `model + human_image + cloth_image`\n\nDescription:\n- These two models are already complete primary models themselves, so there is no need to pass `model_name` again.\n\nExample:\n\n```json\n{\n\"model\": \"kolors-virtual-try-on-v1\",\n\"human_image\": \"https://example.com/human.jpg\",\n\"cloth_image\": \"https://example.com/cloth.jpg\"\n}\n```",
        "operationId": "createImageGeneration",
        "tags": [
          "Image generation OpenAI DALL-E format"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Public image model name.",
                    "example": "dall-e-3",
                    "enum": [
                      "nano-banana",
                      "doubao-seedream-3-0-t2i-250415",
                      "kling-image",
                      "kling-omni-image",
                      "kolors-virtual-try-on-v1",
                      "kolors-virtual-try-on-v1-5"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Image generation description. This can be omitted for the virtual try-on model."
                  },
                  "n": {
                    "type": "integer",
                    "description": "Number of images to generate.",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "Size or resolution representation.",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "Quality level.",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "Style",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "Response format.",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "User ID"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "nano_banana_text2img": {
                  "summary": "Nano Banana Text-to-image",
                  "value": {
                    "model": "nano-banana",
                    "prompt": "a cute cat running in cloud",
                    "n": 1,
                    "size": "1024x1792"
                  }
                },
                "seedream_text2img": {
                  "summary": "Seedream Text-to-Image",
                  "value": {
                    "model": "doubao-seedream-3-0-t2i-250415",
                    "prompt": "一张电影感海边日落人像",
                    "size": "1536x1024",
                    "n": 1
                  }
                },
                "kling_text2img": {
                  "summary": "Kling Text-to-image",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v3",
                    "prompt": "海边日落，电影感人像",
                    "aspect_ratio": "16:9",
                    "n": 1
                  }
                },
                "kling_img2img": {
                  "summary": "Kling Image-to-Image",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v2-1",
                    "prompt": "改成赛博朋克夜景风格",
                    "image": "https://example.com/input.png",
                    "n": 1
                  }
                },
                "kling_omni_image": {
                  "summary": "Kling Omni image",
                  "value": {
                    "model": "kling-omni-image",
                    "model_name": "kling-v3-omni",
                    "prompt": "生成一张海边跳舞的图片",
                    "element_list": [
                      {
                        "element_id": 835266081714884677
                      }
                    ]
                  }
                },
                "kling_virtual_try_on": {
                  "summary": "Kling Virtual Try-On",
                  "value": {
                    "model": "kolors-virtual-try-on-v1",
                    "human_image": "https://example.com/human.jpg",
                    "cloth_image": "https://example.com/cloth.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "Edit Image (OpenAI DALL-E Compatible)",
        "deprecated": false,
        "description": "OpenAI Dall-E format image editing API.",
        "operationId": "createImageEdit",
        "tags": [
          "Image generation OpenAI DALL-E format"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image to edit"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "Optional mask image"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Edit Prompt"
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "Create video",
        "deprecated": false,
        "description": "Video generation interface compatible with OpenAI Sora. Supports text-to-video and image/video reference generation modes.\n\n- `POST /v1/videos`: Create video task\n- `GET /v1/videos/{video_id}`: Query task status\n- `GET /v1/videos/{video_id}/content`: Retrieve the video binary content\n\nCurrently not available externally:\n- `GET /v1/videos`\n- `POST /v1/videos/{video_id}/remix`\n\nStandard authentication headers:\n- `Content-Type: application/json`\n\n1. Use `POST /v1/videos` to create a task and obtain `id`\n2. Poll `GET /v1/videos/{id}` until `completed` or `failed`\n3. After completion, prefer using `video_url` returned in the response\n4. For unified download, call `GET /v1/videos/{id}/content`\n\nCore parameters:\n- `model: string`: Required, public model name\n- `prompt: string`: Recommended, video generation description\n- `seconds: number|string`: Optional, target duration\n- `duration: number|string`: Optional, duration alias\n- `size: string`: Optional, output resolution\n- `mode: string`: Optional, common values: `t2v` `i2v` `i2v_first_last` `reference_material`\n\nCommon compatibility parameters:\n- `aspect_ratio`\n- `ratio`\n- `quality`\n- `resolution`\n- `fps`\n- `image`\n- `image_url`\n- `image_urls`\n- `images`\n- `reference_images`\n- `input_reference`\n- `end_image_url`\n- `last_image_url`\n- `video_urls`\n- `audio_urls`\n- `function_mode`\n- `content`\n- `callback_url`\n- `external_task_id`\n\nCommon extended parameters for Kling:\n- `model_name`\n- `negative_prompt`\n- `cfg_scale`\n- `sound`\n- `camera_control`\n- `image_list`\n- `video_id`\n- `task_id`\n- `watermark_info`\n\n### 4.1 Veo Series\n\n#### Veo 3.x Base Models\n\n- `veo3`\n- `veo3-fast`\n- `veo3-fast-frames`\n- `veo3-frames`\n- `veo3-pro`\n- `veo3-pro-frames`\n- `veo3.1`\n- `veo3.1-fast`\n- `veo3.1-fast-stable`\n- `veo3.1-fast-official`\n- `veo3.1-pro`\n- `veo3.1-components`\n- `veo3.1-4k`\n- `veo3.1-pro-4k`\n\n#### Veo 2.x / 3.1 Preset Models\n\n- `veo_2_0_t2v_landscape`\n- `veo_2_0_t2v_landscape-stable`\n- `veo_2_0_t2v_portrait`\n- `veo_2_0_t2v_portrait-stable`\n- `veo_2_0_i2v_landscape`\n- `veo_2_0_i2v_landscape-stable`\n- `veo_2_0_i2v_portrait`\n- `veo_2_0_i2v_portrait-stable`\n- `veo_2_1_fast_d_15_t2v_landscape`\n- `veo_2_1_fast_d_15_t2v_landscape-stable`\n- `veo_2_1_fast_d_15_t2v_portrait`\n- `veo_2_1_fast_d_15_t2v_portrait-stable`\n- `veo_2_1_fast_d_15_i2v_landscape`\n- `veo_2_1_fast_d_15_i2v_landscape-stable`\n- `veo_2_1_fast_d_15_i2v_portrait`\n- `veo_2_1_fast_d_15_i2v_portrait-stable`\n- `veo_3_1_t2v_landscape`\n- `veo_3_1_t2v_landscape-stable`\n- `veo_3_1_t2v_portrait`\n- `veo_3_1_t2v_portrait-stable`\n- `veo_3_1_t2v_fast_landscape`\n- `veo_3_1_t2v_fast_landscape-stable`\n- `veo_3_1_t2v_fast_portrait`\n- `veo_3_1_t2v_fast_portrait-stable`\n- `veo_3_1_t2v_fast_1080p`\n- `veo_3_1_t2v_fast_1080p-stable`\n- `veo_3_1_t2v_fast_4k`\n- `veo_3_1_t2v_fast_4k-stable`\n- `veo_3_1_t2v_fast_portrait_1080p`\n- `veo_3_1_t2v_fast_portrait_1080p-stable`\n- `veo_3_1_t2v_fast_portrait_4k`\n- `veo_3_1_t2v_fast_portrait_4k-stable`\n- `veo_3_1_t2v_fast_ultra`\n- `veo_3_1_t2v_fast_ultra-stable`\n- `veo_3_1_t2v_fast_ultra_1080p`\n- `veo_3_1_t2v_fast_ultra_1080p-stable`\n- `veo_3_1_t2v_fast_ultra_4k`\n- `veo_3_1_t2v_fast_ultra_4k-stable`\n- `veo_3_1_t2v_fast_ultra_relaxed`\n- `veo_3_1_t2v_fast_ultra_relaxed-stable`\n- `veo_3_1_t2v_fast_portrait_ultra`\n- `veo_3_1_t2v_fast_portrait_ultra-stable`\n- `veo_3_1_t2v_fast_portrait_ultra_1080p`\n- `veo_3_1_t2v_fast_portrait_ultra_1080p-stable`\n- `veo_3_1_t2v_fast_portrait_ultra_4k`\n- `veo_3_1_t2v_fast_portrait_ultra_4k-stable`\n- `veo_3_1_t2v_fast_portrait_ultra_relaxed`\n- `veo_3_1_t2v_fast_portrait_ultra_relaxed-stable`\n- `veo_3_1_i2v_s_landscape`\n- `veo_3_1_i2v_s_landscape-stable`\n- `veo_3_1_i2v_s_portrait`\n- `veo_3_1_i2v_s_portrait-stable`\n- `veo_3_1_i2v_s_fast_fl`\n- `veo_3_1_i2v_s_fast_fl-stable`\n- `veo_3_1_i2v_s_fast_ultra_fl`\n- `veo_3_1_i2v_s_fast_ultra_fl-stable`\n- `veo_3_1_i2v_s_fast_ultra_fl_1080p`\n- `veo_3_1_i2v_s_fast_ultra_fl_1080p-stable`\n- `veo_3_1_i2v_s_fast_ultra_fl_4k`\n- `veo_3_1_i2v_s_fast_ultra_fl_4k-stable`\n- `veo_3_1_i2v_s_fast_ultra_relaxed`\n- `veo_3_1_i2v_s_fast_ultra_relaxed-stable`\n- `veo_3_1_i2v_s_fast_portrait_fl`\n- `veo_3_1_i2v_s_fast_portrait_fl-stable`\n- `veo_3_1_i2v_s_fast_portrait_ultra_fl`\n- `veo_3_1_i2v_s_fast_portrait_ultra_fl-stable`\n- `veo_3_1_i2v_s_fast_portrait_ultra_fl_1080p`\n- `veo_3_1_i2v_s_fast_portrait_ultra_fl_1080p-stable`\n- `veo_3_1_i2v_s_fast_portrait_ultra_fl_4k`\n- `veo_3_1_i2v_s_fast_portrait_ultra_fl_4k-stable`\n- `veo_3_1_i2v_s_fast_portrait_ultra_relaxed`\n- `veo_3_1_i2v_s_fast_portrait_ultra_relaxed-stable`\n- `veo_3_1_r2v_fast`\n- `veo_3_1_r2v_fast-stable`\n- `veo_3_1_r2v_fast_ultra`\n- `veo_3_1_r2v_fast_ultra-stable`\n- `veo_3_1_r2v_fast_ultra_1080p`\n- `veo_3_1_r2v_fast_ultra_1080p-stable`\n- `veo_3_1_r2v_fast_ultra_4k`\n- `veo_3_1_r2v_fast_ultra_4k-stable`\n- `veo_3_1_r2v_fast_ultra_relaxed`\n- `veo_3_1_r2v_fast_ultra_relaxed-stable`\n- `veo_3_1_r2v_fast_portrait`\n- `veo_3_1_r2v_fast_portrait-stable`\n- `veo_3_1_r2v_fast_portrait_ultra`\n- `veo_3_1_r2v_fast_portrait_ultra-stable`\n- `veo_3_1_r2v_fast_portrait_ultra_1080p`\n- `veo_3_1_r2v_fast_portrait_ultra_1080p-stable`\n- `veo_3_1_r2v_fast_portrait_ultra_4k`\n- `veo_3_1_r2v_fast_portrait_ultra_4k-stable`\n- `veo_3_1_r2v_fast_portrait_ultra_relaxed`\n- `veo_3_1_r2v_fast_portrait_ultra_relaxed-stable`\n\nRecommendations:\n- For text-to-video only, prefer the `veo3*` / `veo3.1*` base models\n- If you have fixed requirements for resolution, orientation, or duration, prefer preset model names\n- For image-to-video or reference-to-video scenarios, it is recommended to explicitly pass `mode + image_url/reference_images`\n\n### 4.2 Sora Series\n\nBase models:\n- `sora-2`\n- `sora-2-pro`\n- `sora-2-stable`\n- `sora-2-pro-stable`\n- `sora-2-official`\n- `sora-2-pro-official`\n\nPreset models:\n- `sora2-landscape-10s`\n- `sora2-landscape-10s-stable`\n- `sora2-landscape-10s-official`\n- `sora2-portrait-10s`\n- `sora2-portrait-10s-stable`\n- `sora2-portrait-10s-official`\n- `sora2-landscape-15s`\n- `sora2-landscape-15s-stable`\n- `sora2-landscape-15s-official`\n- `sora2-portrait-15s`\n- `sora2-portrait-15s-stable`\n- `sora2-portrait-15s-official`\n- `sora2-pro-landscape-25s`\n- `sora2-pro-landscape-25s-stable`\n- `sora2-pro-landscape-25s-official`\n- `sora2-pro-portrait-25s`\n- `sora2-pro-portrait-25s-stable`\n- `sora2-pro-portrait-25s-official`\n- `sora2-pro-landscape-hd-15s`\n- `sora2-pro-landscape-hd-15s-stable`\n- `sora2-pro-landscape-hd-15s-official`\n- `sora2-pro-portrait-hd-15s`\n- `sora2-pro-portrait-hd-15s-stable`\n- `sora2-pro-portrait-hd-15s-official`\n\nRecommendations:\n- `sora-2*` is suitable for general-purpose use\n- The preset model `sora2-*` is suitable for scenarios with fixed duration and orientation\n- If you need stable/official strategies, choose `*-stable` / `*-official` directly\n\n### 4.3 Seedance series\n\nPublic model:\n- `doubao-seedance-1-0-lite-t2v-250428`\n- `doubao-seedance-1-0-lite-t2v-250428-official`\n- `doubao-seedance-1-0-lite-i2v-250428`\n- `doubao-seedance-1-0-lite-i2v-250428-official`\n- `doubao-seedance-1-0-pro-250528`\n- `doubao-seedance-1-0-pro-250528-official`\n- `doubao-seedance-1-0-pro-fast-251015`\n- `doubao-seedance-1-0-pro-fast-251015-official`\n- `doubao-seedance-1-5-pro-251215`\n- `doubao-seedance-1-5-pro-251215-official`\n- `doubao-seedance-2-0-260128`\n- `doubao-seedance-2-0-260128-official`\n- `doubao-seedance-2-0-fast-260128`\n- `doubao-seedance-2-0-fast-260128-official`\n\nRecommendations:\n- For text-to-video, prefer `*-t2v-*` or `pro / fast`\n- For image-to-video, prefer `*-i2v-*`\n- For scenarios with complex reference materials, prefer `content`\n\n### 4.4 Grok video series\n\nPublic model:\n- `grok-video-3`\n\nCommon parameters:\n- `prompt`\n- `ratio` / `aspect_ratio`\n- `resolution` / `size`\n- `seconds` / `duration`\n- `image` / `image_url` / `input_reference`\n- `reference_images`\n\n### 4.5 Kling primary video model\n\nPublic base model:\n- `kling-video`\n\nRequired:\n- `model`\n- `model_name`\n\nSupported `model_name`:\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v1-6`\n- `kling-v2-master`\n- `kling-v2-1`\n- `kling-v2-1-master`\n- `kling-v2-5-turbo`\n- `kling-v2-6`\n- `kling-v3`\n\nCommon `mode`:\n- `t2v`\n- `i2v`\n- `multi_i2v`\n- `extend`\n\nMinimum input parameters:\n- Text-to-video: `model + model_name + prompt + mode=t2v`\n- Image-to-video: `model + model_name + prompt + mode=i2v + image`\n- Multi-image reference: `model + model_name + prompt + mode=multi_i2v + image_list`\n- Video extension: `model + model_name + mode=extend + video_id`\n\nExample:\n\n```json\n{\n\"model\": \"kling-video\",\n\"model_name\": \"kling-v2-6\",\n\"mode\": \"t2v\",\n\"prompt\": \"海边日落镜头，电影感，风吹长发\",\n\"duration\": 5,\n\"aspect_ratio\": \"16:9\"\n}\n```\n\n- `mode=t2v`\n- Minimum input: `model + prompt`\n\n- `mode=i2v`\n- Minimum input: `model + prompt + image_url`\n\n- `mode=i2v_first_last`\n- Minimum input: `model + prompt + image_url + end_image_url`\n\n- `mode=reference_images`\n- Minimum input: `model + prompt + reference_images`\n\n- `mode=reference_material`\n- Minimum input: `model + prompt + (image_urls/video_urls/audio_urls 至少一种)`",
        "operationId": "createVideo",
        "tags": [
          "Video generation Sora compatible format"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model name. Different models trigger different upstream adaptation logic.",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Unified prompt entry point. Required for most models."
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Single image entry point; will be mapped to `images` in certain compatibility modes."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Unified duration parameter. Some models also accept `seconds`."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Dynamic extension field container. Numerous model-specific fields are deserialized from here."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Channel/mode prompt fields, such as i2v_first and reference_images."
                  },
                  "images": {
                    "type": "array",
                    "description": "Unified entry point for multiple images. Used by Vidu, Seedance, Veo, etc.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Unified size input, which maps to resolution/aspect_ratio and related fields."
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora compatibility entry point; at runtime it falls back to duration."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Sora/Veo-compatible reference image input. Can be a multipart file or a compatible object."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model name. Different models trigger different upstream adaptation logic.",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Unified prompt entry point. Required for most models."
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Single image entry point; will be mapped to `images` in certain compatibility modes."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Unified duration parameter. Some models also accept `seconds`."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Dynamic extension field container. Numerous model-specific fields are deserialized from here."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Channel/mode prompt fields, such as i2v_first and reference_images."
                  },
                  "images": {
                    "type": "array",
                    "description": "Unified entry point for multiple images. Used by Vidu, Seedance, Veo, etc.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Unified size input, which maps to resolution/aspect_ratio and related fields."
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora compatibility entry point; at runtime it falls back to duration."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Sora/Veo-compatible reference image input. Can be a multipart file or a compatible object."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "openai_t2v": {
                  "summary": "OpenAI t2v (prompt/model)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_i2v_input_reference": {
                  "summary": "OpenAI i2v (input_reference)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_alias_compat": {
                  "summary": "Alias兼容 (image_url/duration/aspect_ratio)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                },
                "seedance_i2v_first": {
                  "summary": "Seedance i2v_first",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_i2v_first_last": {
                  "summary": "Seedance i2v_first_last",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_images": {
                  "summary": "Seedance reference_images",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_material": {
                  "summary": "Seedance Universal Reference Mode (reference_material)",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_volc_content": {
                  "summary": "Seedance Volcengine Ark content mode",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "veo_first_last_frame": {
                  "summary": "Veo First and Last Frame Mode",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "veo_reference_images_1to3": {
                  "summary": "Veo 1-3 Reference Image Mode",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "kling_text2video": {
                  "summary": "Kling Text-to-Video",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "kling_image2video": {
                  "summary": "Kling Image-to-Video",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "grok_reference_video": {
                  "summary": "Grok Video Mode",
                  "value": {
                    "model": "grok-video-3",
                    "prompt": "A dramatic cinematic shot with fast motion and rich lighting",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_img2video": {
                  "summary": "Vidu Image-to-Video",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A stylish ad clip from a product still image",
                    "images": [
                      "https://example.com/product.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_first_tail": {
                  "summary": "Vidu First and last frame mode",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A smooth shot from start frame to end frame",
                    "images": [
                      "https://example.com/start.jpg",
                      "https://example.com/end.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_reference": {
                  "summary": "Vidu Multi-Reference Image Mode",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "Maintain product style and character consistency",
                    "images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg",
                      "https://example.com/ref-3.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "hailuo_text2video": {
                  "summary": "Hailuo Text-to-Video",
                  "value": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Legacy compatibility; to be deprecated"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "Should use VideoStatus constants: VideoStatusQueued, VideoStatusInProgress, VideoStatusCompleted, VideoStatusFailed",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed",
                        "video_url",
                        "url",
                        "completed_at"
                      ]
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "completed_at": {
                      "type": "integer"
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Get video task status",
        "deprecated": false,
        "description": "OpenAI compatible video task status query interface.\n\nReturns detailed status information for the video task.",
        "operationId": "getVideo",
        "tags": [
          "Video generation Sora compatible format"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "Video task ID",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved video task status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Video result URL. Different models may return either `video_url` or `url`."
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Video result URL. Different models may return either `url` or `video_url`."
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "Completion time (Unix seconds)."
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "Result expiration time (Unix seconds)."
                    },
                    "error": {
                      "type": "object",
                      "description": "Error message returned when the request fails."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Additional metadata."
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Task does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "Get video content",
        "deprecated": false,
        "description": "Retrieves the video file content of a completed video task.\n\nThis endpoint returns the video file stream via proxy.",
        "operationId": "getVideoContent",
        "tags": [
          "Video generation Sora compatible format"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "Video task ID",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video content retrieved successfully",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Video does not exist or is not completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling Text-to-Video",
        "deprecated": false,
        "description": "This series supports the OpenAI video generation format (see [Compatible Formats for Video Generation Sora](/api-reference/en/video-generation-sora-compatible-format/create-video) for details).\n\nUse the Kling model to generate videos from text descriptions.\n\nSupported models: kling-v1, kling-v1-5, etc.",
        "operationId": "createKlingText2Video",
        "tags": [
          "Video Generation Kling Format"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video generation task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "Get Kling text-to-video task status",
        "deprecated": false,
        "description": "This series supports the OpenAI video generation format (see [Compatible Formats for Video Generation Sora](/api-reference/en/video-generation-sora-compatible-format/create-video) for details).\n\nQuery the status and results of the Kling text-to-video task.",
        "operationId": "getKlingText2Video",
        "tags": [
          "Video Generation Kling Format"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "Task ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved task status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Task does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling Image-to-Video",
        "deprecated": false,
        "description": "This series supports the OpenAI video generation format (see [Compatible Formats for Video Generation Sora](/api-reference/en/video-generation-sora-compatible-format/create-video) for details).\n\nGenerate videos from images using the Kling model.\n\nSupports passing image URLs or Base64-encoded image data via the `image` parameter.",
        "operationId": "createKlingImage2Video",
        "tags": [
          "Video Generation Kling Format"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video generation task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "Get Kling image-to-video task status",
        "deprecated": false,
        "description": "This series supports the OpenAI video generation format (see [Compatible Formats for Video Generation Sora](/api-reference/en/video-generation-sora-compatible-format/create-video) for details).\n\nQuery the status and results of the Kling image-to-video task.",
        "operationId": "getKlingImage2Video",
        "tags": [
          "Video Generation Kling Format"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "Task ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved task status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Task does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/api/v3/contents/generations/tasks": {
      "post": {
        "summary": "Create Video (Seedance)",
        "description": "This series supports the OpenAI video generation format (see [Compatible Formats for Video Generation Sora](/api-reference/en/video-generation-sora-compatible-format/create-video) for details).\n\nUsed to create video generation tasks and query status and results via task ID.\n\nCore fields for task creation:\n- `model`: Required. Model name.\n- `prompt`: Required. Primary description for video generation.\n- `content`: Optional. Multimedia input array for advanced mode.\n- `function_mode`: Optional. Commonly used for advanced modes such as Omni-Reference.\n\nCompatible input parameters:\n- `mode`：`t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\nCall details:\n- When using `mode=reference_material` or `function_mode=omni_reference`, it is recommended to pass text and reference materials via `content`.\n- Media fields in `content` support passing URL strings directly as well as object notation, such as `{ \"url\": \"https://example.com/ref.mp4\" }`.\n- `ratio`, `duration`, `resolution`, and `fps` will affect the final generation configuration.\n\nKey fields in query results:\n- `items[].status`\n- `items[].content.video_url` or `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n```json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n```",
        "operationId": "create__seedance__task",
        "tags": [
          "Video Generation Seedance Volcengine Ark"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "doubao-seedance-2-0-260128",
                    "description": "Required. The name of the model."
                  },
                  "prompt": {
                    "type": "string",
                    "example": "参考素材生成一段剧情短视频",
                    "description": "Required. The primary description for video generation; cannot be empty."
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "text",
                            "image_url",
                            "video_url",
                            "audio_url"
                          ]
                        },
                        "text": {
                          "type": "string"
                        },
                        "image_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "video_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "audio_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "role": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Optional. An array of multimedia inputs in advanced mode; recommended for complex reference scenarios."
                  },
                  "function_mode": {
                    "type": "string",
                    "description": "Optional. Advanced feature mode, such as `omni_reference` for all-in-one reference."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Optional. Compatibility mode fields, such as `t2v`, `i2v`, `i2v_first_last`, `reference_images`, and `reference_material`."
                  },
                  "image_url": {
                    "type": "string",
                    "description": "Optional. URL of a single reference image."
                  },
                  "image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional. A list of URLs for multiple reference images."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Optional. Compatible with reference input fields."
                  },
                  "end_image_url": {
                    "type": "string",
                    "description": "Optional. The URL of the last-frame reference image."
                  },
                  "last_image_url": {
                    "type": "string",
                    "description": "Optional. URL alias for the last frame reference image."
                  },
                  "video_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional. List of reference video URLs."
                  },
                  "audio_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional. List of reference audio URLs."
                  },
                  "seconds": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Optional. Video duration in seconds; compatible with `duration`."
                  },
                  "duration": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Optional. Video duration in seconds; compatible with `seconds`."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Optional. Aspect ratio, such as `16:9`."
                  },
                  "ratio": {
                    "type": "string",
                    "description": "Optional. Aspect ratio aliases, such as `16:9`."
                  },
                  "size": {
                    "type": "string",
                    "description": "Optional. Field for resolution or dimension compatibility."
                  },
                  "quality": {
                    "type": "string",
                    "description": "Optional. Generation quality configuration."
                  },
                  "resolution": {
                    "type": "string",
                    "description": "Optional. The output resolution."
                  },
                  "fps": {
                    "type": "number",
                    "description": "Optional. Frame rate."
                  },
                  "generate_audio": {
                    "type": "boolean",
                    "description": "Optional. Whether to generate audio."
                  },
                  "watermark": {
                    "type": "boolean",
                    "description": "Optional. Whether to add a watermark."
                  }
                }
              },
              "example": {
                "model": "doubao-seedance-2-0-260128",
                "prompt": "参考素材生成一段剧情短视频",
                "content": [
                  {
                    "type": "text",
                    "text": "@角色A 在咖啡馆和 @角色B 聊天，@背景视频 作为场景，配上 @背景音乐 --ratio 16:9 --dur 10"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterA.jpg",
                    "role": "material",
                    "name": "角色A"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterB.jpg",
                    "role": "material",
                    "name": "角色B"
                  },
                  {
                    "type": "video_url",
                    "video_url": "https://example.com/cafe-scene.mp4",
                    "role": "material",
                    "name": "背景视频"
                  },
                  {
                    "type": "audio_url",
                    "audio_url": "https://example.com/bgm.mp3",
                    "name": "背景音乐"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "task_xxx",
                      "description": "Task ID."
                    },
                    "status": {
                      "type": "string",
                      "description": "Task status.",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Creation time (Unix seconds)."
                    },
                    "items": {
                      "type": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Task ID."
                          },
                          "status": {
                            "type": "string",
                            "description": "Task status, commonly `queued`, `running`, `succeeded`, and `failed`."
                          },
                          "content": {
                            "type": "object",
                            "properties": {
                              "video_url": {
                                "type": "string",
                                "description": "Video result URL."
                              }
                            }
                          },
                          "video_url": {
                            "type": "string",
                            "description": "Video result URL."
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message returned when the request fails."
                          },
                          "progress": {
                            "type": "string",
                            "description": "Task progress."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/contents/generations/tasks/{task_id}": {
      "get": {
        "summary": "Query Task (Seedance)",
        "description": "This series supports the OpenAI video generation format (see [Compatible Formats for Video Generation Sora](/api-reference/en/video-generation-sora-compatible-format/create-video) for details).\n\nUsed to create video generation tasks and query status and results via task ID.\n\nCore fields for task creation:\n- `model`: Required. Model name.\n- `prompt`: Required. Primary description for video generation.\n- `content`: Optional. Multimedia input array for advanced mode.\n- `function_mode`: Optional. Commonly used for advanced modes such as Omni-Reference.\n\nCompatible input parameters:\n- `mode`：`t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\nCall details:\n- When using `mode=reference_material` or `function_mode=omni_reference`, it is recommended to pass text and reference materials via `content`.\n- Media fields in `content` support passing URL strings directly as well as object notation, such as `{ \"url\": \"https://example.com/ref.mp4\" }`.\n- `ratio`, `duration`, `resolution`, and `fps` will affect the final generation configuration.\n\nKey fields in query results:\n- `items[].status`\n- `items[].content.video_url` or `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n```json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n```",
        "operationId": "query__seedance__task",
        "tags": [
          "Video Generation Seedance Volcengine Ark"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "?? ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Task ID."
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ],
                      "description": "Task status."
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "Creation time (Unix seconds)."
                    },
                    "updated_at": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "video_url": {
                          "type": "string"
                        },
                        "last_frame_url": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    },
                    "items": {
                      "type": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Task ID."
                          },
                          "status": {
                            "type": "string",
                            "description": "Task status, commonly `queued`, `running`, `succeeded`, and `failed`."
                          },
                          "content": {
                            "type": "object",
                            "properties": {
                              "video_url": {
                                "type": "string",
                                "description": "Video result URL."
                              }
                            }
                          },
                          "video_url": {
                            "type": "string",
                            "description": "Video result URL."
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message returned when the request fails."
                          },
                          "progress": {
                            "type": "string",
                            "description": "Task progress."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/models/{model}:predictLongRunning": {
      "post": {
        "summary": "Create video (Veo3 format)",
        "description": "This series supports the OpenAI video generation format (see [Compatible Formats for Video Generation Sora](/api-reference/en/video-generation-sora-compatible-format/create-video) for details).\n\nThis interface topic page is intended only to explain the Veo native format and the current gateway support status.\n\nFor the current Veo series, please use the OpenAI Sora compatibility mode for external requests: `POST /v1/videos`.\n\nThe Google native mode path is reserved as: `POST /v1beta/models/{model}:predictLongRunning`. The current gateway has not yet connected to the Veo native task distribution link; therefore, calls using the native `instances/parameters` request body are currently not supported.",
        "operationId": "create_veo3_google_native_task",
        "tags": [
          "Video Generation Veo 3 Format"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "veo3.1-fast",
              "enum": [
                "veo3",
                "veo3-fast",
                "veo3-fast-frames",
                "veo3-frames",
                "veo3-pro",
                "veo3-pro-frames",
                "veo3.1",
                "veo3.1-4k",
                "veo3.1-components",
                "veo3.1-fast",
                "veo3.1-pro",
                "veo3.1-pro-4k"
              ]
            },
            "description": "Veo model name."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instances"
                ],
                "properties": {
                  "instances": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "prompt": {
                          "type": "string",
                          "example": "A cinematic aerial shot of a modern city at sunrise",
                          "description": "Generate prompt"
                        },
                        "referenceImages": {
                          "type": "array",
                          "description": "Optional. 1–3 reference images, using Google native `inlineData` or file URI structures.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "image": {
                                "type": "object",
                                "properties": {
                                  "inlineData": {
                                    "type": "object",
                                    "properties": {
                                      "mimeType": {
                                        "type": "string",
                                        "example": "image/png"
                                      },
                                      "data": {
                                        "type": "string",
                                        "example": "BASE64_IMAGE_DATA"
                                      }
                                    }
                                  }
                                }
                              },
                              "referenceType": {
                                "type": "string",
                                "example": "asset"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "1:1",
                          "9:16"
                        ],
                        "default": "16:9"
                      },
                      "durationSeconds": {
                        "type": "integer",
                        "enum": [
                          5,
                          6,
                          8,
                          10
                        ],
                        "default": 5
                      },
                      "resolution": {
                        "type": "string",
                        "example": "720p"
                      }
                    }
                  }
                }
              },
              "example": {
                "instances": [
                  {
                    "prompt": "A cinematic aerial shot of a modern city at sunrise",
                    "referenceImages": [
                      {
                        "image": {
                          "inlineData": {
                            "mimeType": "image/png",
                            "data": "BASE64_IMAGE_DATA"
                          }
                        },
                        "referenceType": "asset"
                      }
                    ]
                  }
                ],
                "parameters": {
                  "aspectRatio": "16:9",
                  "durationSeconds": 5,
                  "resolution": "720p"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reserved success response structure. Currently provided for protocol documentation only; actual calls are not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "models/veo3.1-fast/operations/abc123",
                      "description": "The operation name, used for subsequent status queries."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/{operation_name}": {
      "get": {
        "summary": "Query task (Veo3 format)",
        "description": "This series supports the OpenAI video generation format (see [Compatible Formats for Video Generation Sora](/api-reference/en/video-generation-sora-compatible-format/create-video) for details).\n\nThis interface topic page is intended solely to explain the Veo native query protocol.\n\nFor the current Veo series, please use the `/v1/videos` unified interface for creation and queries instead.\n\nThe following `operation_name` query structure is retained for reserved protocol documentation only and does not currently support actual calls.",
        "operationId": "query_veo3_google_native_task",
        "tags": [
          "Video Generation Veo 3 Format"
        ],
        "parameters": [
          {
            "name": "operation_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "models/veo3.1-fast/operations/abc123"
            },
            "description": "The complete operation name returned by the creation interface. When calling, `/` must be URL-encoded."
          }
        ],
        "responses": {
          "200": {
            "description": "Reserved query response structure. This is currently for protocol specification only and does not support actual calls.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name",
                    "done"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The operation name, which is consistent with the `name` returned by the creation API."
                    },
                    "done": {
                      "type": "boolean",
                      "description": "Indicates whether the task is completed."
                    },
                    "response": {
                      "type": "object",
                      "description": "Result object upon successful completion.",
                      "properties": {
[...]
