{
  "openapi": "3.0.0",
  "info": {
    "title": "Global Venture API Reference Documentation",
    "version": "1.0.0",
    "description": "Public AI Gateway API Reference"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "List Models",
        "deprecated": false,
        "description": "Retrieves a list of currently available models.\n\nThe response format is automatically identified based on request headers:\n- Returns Anthropic format when https://www.google.com/search?q=%5B%5BKEEP_0%5D%5D and `anthropic-version` headers are present\n- Returns Gemini format when `x-goog-api-key` header or `key` query parameter is present\n- Returns OpenAI format otherwise",
        "operationId": "listModels",
        "tags": [
          "获取模型列表"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Google API Key (for Gemini format)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Anthropic API Key (for Claude format)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Anthropic API Version",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Google API Key (for Gemini format)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Models retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "Fetch in Gemini format",
        "deprecated": false,
        "description": "Returns the list of available models in Gemini API format",
        "operationId": "listModelsGemini",
        "tags": [
          "获取模型列表"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Models retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Create Chat Completion",
        "deprecated": false,
        "description": "Creates a model response based on conversation history. Supports both streaming and non-streaming responses.\n\nCompatible with OpenAI Chat Completions API.",
        "operationId": "createChatCompletion",
        "tags": [
          "OpenAI格式(Chat)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "Create Response (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses API, used to create model responses.\nSupports multi-turn conversations, tool calling, reasoning, and more.",
        "operationId": "createResponse",
        "tags": [
          "OpenAI格式(Responses)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Gemini Image (Nano Banana)",
        "deprecated": false,
        "description": "Gemini image generation.\n\nThe Nano Banana series supports OpenAI Dall-E format (see link [Image Generation/OpenAI Dall-E Format](https://www.google.com/search?q=%5B%5BKEEP_0%5D%5D) for details).",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "图片生成/Gemini格式"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "Model Name",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string"
                          },
                          "imageSize": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "required": [
                      "responseModalities"
                    ]
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "Generate Image (OpenAI Dall-E Compatible)",
        "deprecated": false,
        "description": "Image generation interface in OpenAI Dall-E format.",
        "operationId": "createImageGeneration",
        "tags": [
          "图片生成/OpenAI Dall-E格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Model Name",
                    "example": "dall-e-3"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Image Prompt"
                  },
                  "n": {
                    "type": "integer",
                    "description": "Number of Generations",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "Image Size",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "Image Quality",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "Style",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "Response Format",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "User Identifier"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "example": {
                "model": "dall-e-3",
                "prompt": "A cute baby sea otter",
                "n": 1,
                "size": "1024x1024"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image successfully generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "Edit Image (OpenAI Dall-E Compatible)",
        "deprecated": false,
        "description": "OpenAI Dall-E format image editing interface.",
        "operationId": "createImageEdit",
        "tags": [
          "图片生成/OpenAI Dall-E格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image to edit"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "Optional mask image"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Edit prompt"
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image successfully generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "Create Video",
        "deprecated": false,
        "description": "OpenAI Sora compatible format video generation interface. Supports text-to-video and image/video reference generation modes.\n\n- `POST /v1/videos`: Create video task\n- `GET /v1/videos/{video_id}`: Query task status\n- `GET /v1/videos/{video_id}/content`: Get video binary content (download)\n\nStandard Authentication Header:\n- `Content-Type: application/json` (When creating task)\n\n1. Call `POST /v1/videos` to create a task and obtain `id`.\n2. Poll `GET /v1/videos/{id}` until `status=completed` or `failed`.\n3. After `completed`, prioritize using `video_url` from the response; if unified gateway download is required, call `GET /v1/videos/{id}/content`.\n\n## 3.1 Core Parameters\n\n- `model: string` (Required)\n- Description: The name of the video model to be called.\n- Example: `sora-2`, `doubao-seedance-2-0-260128`\n\n- `prompt: string` (Recommended)\n- Description: Main description for video generation. Must be provided even when using `content`, cannot be empty.\n- Example: `第一人称视角果茶广告，节奏轻快`\n\n- `seconds: number|string` (Optional)\n- Description: Target duration. Mutually exclusive with `duration`; if both are provided, the gateway parsing result usually prevails.\n- Example: `8`\n\n- `size: string` (Optional)\n- Description: Output resolution, commonly `宽x高`.\n- Example: `720x1280`, `1280x720`\n\n- `mode: string` (Optional)\n- Description: Generation mode, defaults to `t2v` if not provided. Different modes have different requirements for asset parameters.\n- Example: `t2v`, `i2v`, `i2v_first_last`, `reference_material`\n\n## 3.2 General Compatibility Parameters\n\n- `aspect_ratio` or `ratio`: Aspect ratio.\n- `duration`: Duration alias (mutually exclusive with `seconds`).\n- `quality` or `resolution`: Definition-related parameters.\n- `fps`: Frame rate.\n- `function_mode`: Optional feature mode, used to trigger specific behaviors (e.g., `omni_reference` denotes Omni-Reference semantics).\n\n## 3.3 Reference Asset Parameters\n\n- `input_reference`: Standard reference input object.\n- Description: Only supports string URL format; object format is not supported.\n- Correct Example: `\"input_reference\": \"https://example.com/ref.png\"`\n- Incorrect Example: `\"input_reference\": { \"image_url\": \"https://example.com/ref.png\" }`\n\n- `image_url` / `image_urls`: Image reference.\n- Description: `image_url` is commonly used for single images; `image_urls` is used for multiple images or Omni-Reference.\n\n- `end_image_url` / `last_image_url`: Last-frame reference.\n- Description: Usually paired with `mode=i2v_first_last` to represent the final frame of the video.\n\n- `video_urls`: Video reference list.\n- Description: Commonly used in `reference_material` or `content` Omni-Reference scenarios.\n\n- `audio_urls`: Audio reference list.\n- Description: Used for background music/voiceover style reference (effectiveness depends on model capability).\n\n- `reference_images`: Multi-image reference.\n- Description: Commonly used in multi-frame/multi-image reference modes.\n\nNote: Different models have different requirements for asset fields; it is recommended to pass parameters according to the \"Mode and Minimum Parameters\" section below.\n\n## 3.4 content Advanced Mode (Recommended for complex reference scenarios)\n\nYou can directly pass an array of `content`:\n- `type=text`: Text instruction.\n- `type=image_url|video_url|audio_url`: Media input.\n- Supports `name` for referring to assets in text via `@名称`.\n\nRequired Constraints:\n- When using `content`, `prompt` must still be provided and cannot be empty.\n\nCompatible Syntax:\n- `image_url/video_url/audio_url` can be a string or an object `{ \"url\": \"https://...\" }`.\n- `role` can use `material`, and is also compatible with `reference_image/reference_video/reference_audio`.\n\nCan be carried simultaneously:\n- `generate_audio: boolean`\n- `watermark: boolean`\n\nAdditional Notes:\n- `generate_audio=true`: Request the model to generate audio simultaneously (only effective for models with this capability).\n- `watermark=false`: Request to disable watermark (actual effectiveness depends on model and channel policies).\n- `name`: Asset alias, recommended to match `@名称` in `text` for accurate asset association by the model.\n\nParameter support varies significantly across model families; refer to the table below for selection:\n\n| Model Family | Common Model Name (Example) | Recommended Min. Parameters | Common Extension Parameters | Notes |\n|---|---|---|---|---|\n| Seedance | `doubao-seedance-*` | `model + prompt + mode` | `image_url/image_urls/end_image_url/reference_images/video_urls/audio_urls/function_mode/content` | Most sensitive to `mode`; not all versions support `reference_material`. |\n| Sora General | `sora-2` `sora-2-pro` and `*-stable/*-official` | `model + prompt` | `seconds/size`, `input_reference` (string URL) recommended | Image requirements may vary during multi-channel fallback; preparing reference images is advised to improve success rate. |\n| Sora Duration Preset | `sora2-landscape-10s` `sora2-pro-portrait-25s` etc. | `model + prompt` | `image_url/input_reference` | Duration and orientation are usually determined by the model name; `seconds/ratio` is only effective if allowed by the model. |\n| Veo | `veo3*` `veo3.1*` | `model + prompt` | `mode + image_url/reference_images/content + ratio/seconds` | `i2v/r2v` class models usually require reference images or assets; `t2v` class usually support pure text. |\n| Kling | `kling-video` `kling-*` | `model + prompt + mode` | `mode=t2v/i2v/multi_i2v`, and official fields like `image/image_list` | Compatible with official path semantics (text2video/image2video/multi-image2video) and unified into `/v1/videos`; video extension capability not provided externally. |\n| Aggregated Extension Models | `happyhorse*` `grok-imagine-1.0-video*` etc. | `model + prompt` | `seconds/size/content` | Supported fields depend on model and channel implementation; prioritize standard fields, using `content` only if necessary. |\n\nNotes:\n1. If you use stable alias models (e.g., `*-stable`, `*-official`), the underlying channel may switch automatically; please try to pass \"Cross-channel compatible parameters\" (`prompt + model + seconds/duration + size/ratio + 必要参考图`).\n2. For complex multi-asset scenarios (image+video+audio+@name), prioritize using `content` for highest compatibility.\n3. If model documentation does not explicitly support a field, first run with \"Minimum Parameters\" before gradually adding extension parameters.\n\n### 4.1 Kling Official Mode Supplement\n\n- `mode=t2v`: Text-to-Video\n- `mode=i2v`: Image-to-Video (Requires `image` or `image_url`)\n- `mode=multi_i2v`: Multi-image Reference (Requires `image_list` or multiple `image_urls`)\n- `mode=extend`: Not supported (Video extension `/v1/videos` capability currently not provided externally)\n\nCommon official parameters can be passed through directly in the `/v1/videos` request body:\n- `model_name` `negative_prompt` `cfg_scale` `mode(std/pro)` `duration` `aspect_ratio`\n- `sound` `camera_control` `callback_url` `external_task_id` `watermark_info`\n\n### 4.2 Grok Video Mode Supplement\n\nRecommended Parameters:\n- `model`: e.g., `grok-video-3`\n- `prompt`\n- `ratio` or `aspect_ratio`\n- `resolution` or `size`\n- `seconds` or `duration`\n- `image` / `image_url` / `input_reference` (Single-image reference)\n- `reference_images` / `reference_image_urls` (Multi-image reference, official `reference-to-video` semantics)\n- `mode` (Optional): `image-to-video`, `reference-to-video`\n\nConstraints:\n- `mode=edit-video` / `mode=extend-video` not supported (Video editing and extension currently not available externally).\n- `image/input_reference` and `reference_images` cannot be passed simultaneously.\n\n- `mode=t2v`\n- Min. Parameters: `model + prompt`\n\n- `mode=i2v` (Equivalent to `i2v_first`)\n- Min. Parameters: `model + prompt + image_url` (or `input_reference` string URL)\n\n- `mode=i2v_first_last`\n- Min. Parameters: `model + prompt + image_url + end_image_url`\n\n- `mode=reference_images`\n- Min. Parameters: `model + prompt + reference_images` (Usually 1–4 images)\n\n- `mode=reference_material`\n- Min. Parameters: `model + prompt + (image_urls/video_urls/audio_urls 至少一种)`\n- `content + function_mode=omni_reference` is highly recommended for complex scenarios.\n- Note: When `function_mode=omni_reference` is passed, it will be processed with Omni-Reference semantics even if `mode=reference_material` is not explicitly passed.",
        "operationId": "createVideo",
        "tags": [
          "视频生成/Sora兼容格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "The name of the video model to be called. Example: `sora-2`, `doubao-seedance-2-0-260128`",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Main description for video generation. Must be provided even when using `content`, cannot be empty. Example: `第一人称视角果茶广告，节奏轻快`"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Single image entry; some compatibility modes will map to images."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Duration alias (mutually exclusive with `seconds`)."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Frame rate."
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Dynamic extension field container. Many model-specific fields are deserialized from here."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Generation mode, defaults to `t2v` if not provided. Different modes have different requirements for asset parameters. Example: `t2v`, `i2v`, `i2v_first_last`, `reference_material`"
                  },
                  "images": {
                    "type": "array",
                    "description": "Unified multi-image entry. Used by Vidu, Seedance, Veo, etc.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Output resolution, commonly `宽x高`. Example: `720x1280`, `1280x720`"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Target duration. Mutually exclusive with `duration`; if both are provided, the gateway parsing result usually prevails. Example: `8`"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Standard reference input object."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "The name of the video model to be called. Example: `sora-2`, `doubao-seedance-2-0-260128`",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Main description for video generation. Must be provided even when using `content`, cannot be empty. Example: `第一人称视角果茶广告，节奏轻快`"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Single image entry; some compatibility modes will map to images."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Duration alias (mutually exclusive with `seconds`)."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Frame rate."
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Dynamic extension field container. Many model-specific fields are deserialized from here."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Generation mode, defaults to `t2v` if not provided. Different modes have different requirements for asset parameters. Example: `t2v`, `i2v`, `i2v_first_last`, `reference_material`"
                  },
                  "images": {
                    "type": "array",
                    "description": "Unified multi-image entry. Used by Vidu, Seedance, Veo, etc.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Output resolution, commonly `宽x高`. Example: `720x1280`, `1280x720`"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Target duration. Mutually exclusive with `duration`; if both are provided, the gateway parsing result usually prevails. Example: `8`"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Standard reference input object."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "openai_t2v": {
                  "summary": "OpenAI t2v (prompt/model)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_i2v_input_reference": {
                  "summary": "OpenAI i2v (input_reference)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_alias_compat": {
                  "summary": "Alias兼容 (image_url/duration/aspect_ratio)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                },
                "seedance_i2v_first": {
                  "summary": "Seedance i2v_first",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_i2v_first_last": {
                  "summary": "Seedance i2v_first_last",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_images": {
                  "summary": "Seedance reference_images",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_material": {
                  "summary": "Seedance All-in-one reference mode (reference_material)",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_volc_content": {
                  "summary": "Seedance Volcengine Ark content mode",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "veo_first_last_frame": {
                  "summary": "Veo First and last frame mode",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "veo_reference_images_1to3": {
                  "summary": "Veo 1-3 reference images mode",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "kling_text2video": {
                  "summary": "Kling Text-to-Video",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "kling_image2video": {
                  "summary": "Kling Image-to-Video",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "grok_reference_video": {
                  "summary": "Grok Video mode",
                  "value": {
                    "model": "grok-video-3",
                    "prompt": "A dramatic cinematic shot with fast motion and rich lighting",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_img2video": {
                  "summary": "Vidu Image-to-Video",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A stylish ad clip from a product still image",
                    "images": [
                      "https://example.com/product.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_first_tail": {
                  "summary": "Vidu First and last frame mode",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A smooth shot from start frame to end frame",
                    "images": [
                      "https://example.com/start.jpg",
                      "https://example.com/end.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_reference": {
                  "summary": "Vidu Multi-reference image mode",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "Maintain product style and character consistency",
                    "images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg",
                      "https://example.com/ref-3.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "hailuo_text2video": {
                  "summary": "Hailuo Text-to-Video",
                  "value": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Task ID (used for subsequent query/downloading)."
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Compatible with legacy interface; deprecated soon"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "Task status.",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed"
                      ]
                    },
                    "progress": {
                      "type": "integer",
                      "description": "Progress (0-100, approximate value)."
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "Creation time (Unix seconds)."
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "Completion time."
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "video_url": {
                      "type": "string",
                      "description": "Directly downloadable video URL."
                    },
                    "url": {
                      "type": "string",
                      "description": "Certain models/channels may return this field as the result URL."
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Get video task status",
        "deprecated": false,
        "description": "OpenAI Compatible video task status query interface.\n\nReturns detailed status information of the video task.",
        "operationId": "getVideo",
        "tags": [
          "视频生成/Sora兼容格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "Video task ID",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved video task status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Video result URL. Different models may return either https://www.google.com/search?q=%5B%5BKEEP_0%5D%5D or `url`."
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Video result URL. Different models may return either https://www.google.com/search?q=%5B%5BKEEP_0%5D%5D or `video_url`."
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "Completion time (Unix seconds)."
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "Result expiration time (Unix seconds)."
                    },
                    "error": {
                      "type": "object",
                      "description": "Error message upon failure."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Additional metadata."
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Task does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "Get video content",
        "deprecated": false,
        "description": "Retrieve the video file content of a completed video task.\n\nThis endpoint returns the video file stream via proxy.",
        "operationId": "getVideoContent",
        "tags": [
          "视频生成/Sora兼容格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "Video task ID",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved video content",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Video does not exist or is not completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling Text-to-Video",
        "deprecated": false,
        "description": "This series supports OpenAI video generation formats (see [Video Generation/Sora Compatible Formats](https://www.google.com/search?q=%5B%5BKEEP_0%5D%5D) for details).\n\nGenerate videos from text descriptions using Kling models.\n\nSupported models: kling-v1, kling-v1-5, etc.",
        "operationId": "createKlingText2Video",
        "tags": [
          "视频生成/Kling格式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created video generation task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "Get Kling Text-to-Video task status",
        "deprecated": false,
        "description": "This series supports OpenAI video generation formats (see [Video Generation/Sora Compatible Formats](https://www.google.com/search?q=%5B%5BKEEP_0%5D%5D) for details).\n\nQuery the status and results of a Kling Text-to-Video task.",
        "operationId": "getKlingText2Video",
        "tags": [
          "视频生成/Kling格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "Task ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved task status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Task does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling Image-to-Video",
        "deprecated": false,
        "description": "This series supports OpenAI video generation formats (see [Video Generation/Sora Compatible Formats](https://www.google.com/search?q=%5B%5BKEEP_0%5D%5D) for details).\n\nGenerate videos from images using Kling models.\n\nSupports passing image URLs or Base64-encoded image data via the image parameter.",
        "operationId": "createKlingImage2Video",
        "tags": [
          "视频生成/Kling格式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created video generation task",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "Get Kling Image-to-Video task status",
        "deprecated": false,
        "description": "This series supports OpenAI video generation formats (see [Video Generation/Sora Compatible Formats](https://www.google.com/search?q=%5B%5BKEEP_0%5D%5D) for details).\n\nQuery the status and results of a Kling Image-to-Video task.",
        "operationId": "getKlingImage2Video",
        "tags": [
          "视频生成/Kling格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "Task ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved task status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Task does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/api/v3/contents/generations/tasks": {
      "post": {
        "summary": "Create Video (Seedance)",
        "description": "This series supports OpenAI video generation formats (see [Video Generation/Sora Compatible Formats](https://www.google.com/search?q=%5B%5BKEEP_32%5D%5D) for details).\n\nUsed to create video generation tasks and query status and results via Task ID.\n\nCore fields for task creation:\n- https://www.google.com/search?q=%5B%5BKEEP_0%5D%5D: Required. Model name.\n- `prompt`: Required. Main description for video generation.\n- `content`: Optional. Multimedia input array in advanced mode.\n- `function_mode`: Optional. Often used for advanced modes like universal reference.\n\nCompatible input parameters:\n- `mode`: `t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\nInvocation details:\n- When `mode=reference_material` or `function_mode=omni_reference` is used, it is recommended to pass text and reference materials via `content`.\n- Media fields in `content` support direct URL strings as well as object notation, e.g., `{ \"url\": \"https://example.com/ref.mp4\" }`.\n- `ratio`, `duration`, `resolution`, and `fps` will affect the final generation configuration.\n\nKey fields in query results:\n- `items[].status`\n- `items[].content.video_url` or `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n``json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n``",
        "operationId": "create__seedance__task",
        "tags": [
          "视频生成/Seedance火山方舟"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "doubao-seedance-1-0-lite-i2v-250428",
                    "description": "Required. Model name."
                  },
                  "prompt": {
                    "type": "string",
                    "example": "参考素材生成一段剧情短视频",
                    "description": "Required. Main description for video generation; cannot be empty."
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "text",
                            "image_url",
                            "video_url",
                            "audio_url"
                          ]
                        },
                        "text": {
                          "type": "string"
                        },
                        "image_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "video_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "audio_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "role": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Optional. Multimedia input array in advanced mode; recommended for complex reference scenarios."
                  },
                  "function_mode": {
                    "type": "string",
                    "description": "Optional. Advanced function mode, such as `omni_reference` for versatile reference."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Optional. Compatibility mode fields, such as `t2v`, `i2v`, `i2v_first_last`, `reference_images`, `reference_material`."
                  },
                  "image_url": {
                    "type": "string",
                    "description": "Optional. URL for a single reference image."
                  },
                  "image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional. List of URLs for multiple reference images."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Optional. Compatible reference input field."
                  },
                  "end_image_url": {
                    "type": "string",
                    "description": "Optional. URL for the end-frame reference image."
                  },
                  "last_image_url": {
                    "type": "string",
                    "description": "Optional. Alias for the end-frame reference image URL."
                  },
                  "video_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional. List of reference video URLs."
                  },
                  "audio_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional. List of reference audio URLs."
                  },
                  "seconds": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Optional. Video duration in seconds; compatible with `duration`."
                  },
                  "duration": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Optional. Video duration in seconds; compatible with `seconds`."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Optional. Aspect ratio, such as `16:9`."
                  },
                  "ratio": {
                    "type": "string",
                    "description": "Optional. Alias for aspect ratio, such as `16:9`."
                  },
                  "size": {
                    "type": "string",
                    "description": "Optional. Compatibility field for resolution or dimensions."
                  },
                  "quality": {
                    "type": "string",
                    "description": "Optional. Generation quality configuration."
                  },
                  "resolution": {
                    "type": "string",
                    "description": "Optional. Output resolution."
                  },
                  "fps": {
                    "type": "number",
                    "description": "Optional. Frame rate."
                  },
                  "generate_audio": {
                    "type": "boolean",
                    "description": "Optional. Whether to generate audio."
                  },
                  "watermark": {
                    "type": "boolean",
                    "description": "Optional. Whether to add a watermark."
                  }
                }
              },
              "example": {
                "model": "doubao-seedance-2-0-260128",
                "prompt": "参考素材生成一段剧情短视频",
                "content": [
                  {
                    "type": "text",
                    "text": "@角色A 在咖啡馆和 @角色B 聊天，@背景视频 作为场景，配上 @背景音乐 --ratio 16:9 --dur 10"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterA.jpg",
                    "role": "material",
                    "name": "角色A"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterB.jpg",
                    "role": "material",
                    "name": "角色B"
                  },
                  {
                    "type": "video_url",
                    "video_url": "https://example.com/cafe-scene.mp4",
                    "role": "material",
                    "name": "背景视频"
                  },
                  {
                    "type": "audio_url",
                    "audio_url": "https://example.com/bgm.mp3",
                    "name": "背景音乐"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "task_xxx",
                      "description": "Task ID."
                    },
                    "status": {
                      "type": "string",
                      "description": "Task status.",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Creation time (Unix seconds)."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/contents/generations/tasks/{task_id}": {
      "get": {
        "summary": "Query Task (Seedance)",
        "description": "This series supports OpenAI video generation formats (see [Video Generation/Sora Compatible Formats](https://www.google.com/search?q=%5B%5BKEEP_32%5D%5D) for details).\n\nUsed to create video generation tasks and query status and results via Task ID.\n\nCore fields for task creation:\n- https://www.google.com/search?q=%5B%5BKEEP_0%5D%5D: Required. Model name.\n- `prompt`: Required. Main description for video generation.\n- `content`: Optional. Multimedia input array in advanced mode.\n- `function_mode`: Optional. Often used for advanced modes like universal reference.\n\nCompatible input parameters:\n- `mode`: `t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\nInvocation details:\n- When `mode=reference_material` or `function_mode=omni_reference` is used, it is recommended to pass text and reference materials via `content`.\n- Media fields in `content` support direct URL strings as well as object notation, e.g., `{ \"url\": \"https://example.com/ref.mp4\" }`.\n- `ratio`, `duration`, `resolution`, and `fps` will affect the final generation configuration.\n\nKey fields in query results:\n- `items[].status`\n- `items[].content.video_url` or `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n``json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n``",
        "operationId": "query__seedance__task",
        "tags": [
          "视频生成/Seedance火山方舟"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "?? ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Task ID."
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ],
                      "description": "Task status."
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "Creation time (Unix seconds)."
                    },
                    "updated_at": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "video_url": {
                          "type": "string"
                        },
                        "last_frame_url": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/models/{model}:predictLongRunning": {
      "post": {
        "summary": "Create video (Veo3 format)",
        "description": "This series supports OpenAI video generation formats (see link [Video Generation/Sora Compatible Formats](https://www.google.com/search?q=%5B%5BKEEP_3%5D%5D) for details).\n\nThis interface topic page is only intended to explain the Veo native format and current gateway support status.\n\nFor the current Veo series, please use the external OpenAI Sora compatibility mode: `POST /v1/videos`.\n\nThe Google native mode path is reserved as: `POST /v1beta/models/{model}:predictLongRunning`. The current gateway has not yet connected to the Veo native task distribution link, so calling via the native https://www.google.com/search?q=%5B%5BKEEP_2%5D%5D request body is currently not supported.",
        "operationId": "create_veo3_google_native_task",
        "tags": [
          "视频生成/Veo3格式"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "veo3.1-fast",
              "enum": [
                "veo3",
                "veo3-fast",
                "veo3-fast-frames",
                "veo3-frames",
                "veo3-pro",
                "veo3-pro-frames",
                "veo3.1",
                "veo3.1-4k",
                "veo3.1-components",
                "veo3.1-fast",
                "veo3.1-pro",
                "veo3.1-pro-4k"
              ]
            },
            "description": "Veo model name."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instances"
                ],
                "properties": {
                  "instances": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "prompt": {
                          "type": "string",
                          "example": "A cinematic aerial shot of a modern city at sunrise",
                          "description": "Generation prompt"
                        },
                        "referenceImages": {
                          "type": "array",
                          "description": "Optional. 1–3 reference images, using Google native `inlineData` or file URI structures.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "image": {
                                "type": "object",
                                "properties": {
                                  "inlineData": {
                                    "type": "object",
                                    "properties": {
                                      "mimeType": {
                                        "type": "string",
                                        "example": "image/png"
                                      },
                                      "data": {
                                        "type": "string",
                                        "example": "BASE64_IMAGE_DATA"
                                      }
                                    }
                                  }
                                }
                              },
                              "referenceType": {
                                "type": "string",
                                "example": "asset"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "1:1",
                          "9:16"
                        ],
                        "default": "16:9"
                      },
                      "durationSeconds": {
                        "type": "integer",
                        "enum": [
                          5,
                          6,
                          8,
                          10
                        ],
                        "default": 5
                      },
                      "resolution": {
                        "type": "string",
                        "example": "720p"
                      }
                    }
                  }
                }
              },
              "example": {
                "instances": [
                  {
                    "prompt": "A cinematic aerial shot of a modern city at sunrise",
                    "referenceImages": [
                      {
                        "image": {
                          "inlineData": {
                            "mimeType": "image/png",
                            "data": "BASE64_IMAGE_DATA"
                          }
                        },
                        "referenceType": "asset"
                      }
                    ]
                  }
                ],
                "parameters": {
                  "aspectRatio": "16:9",
                  "durationSeconds": 5,
                  "resolution": "720p"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reserved success response structure. Currently for protocol description only; actual calls are not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "models/veo3.1-fast/operations/abc123",
                      "description": "operation name, used for subsequent status queries."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/{operation_name}": {
      "get": {
        "summary": "Query task (Veo3 format)",
        "description": "This series supports OpenAI video generation formats (see link [Video Generation/Sora Compatible Formats](https://www.google.com/search?q=%5B%5BKEEP_2%5D%5D) for details).\n\nThis interface topic page is only intended to explain the Veo native query protocol.\n\nFor the current Veo series, please use the `/v1/videos` unified interface for creation and queries instead.\n\nThe following `operation_name` query structure is kept for reserved protocol description purposes only and does not support actual calls.",
        "operationId": "query_veo3_google_native_task",
        "tags": [
          "视频生成/Veo3格式"
        ],
        "parameters": [
          {
            "name": "operation_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "models/veo3.1-fast/operations/abc123"
            },
            "description": "The full operation name returned by the creation interface. `/` must be URL-encoded when called."
          }
        ],
        "responses": {
          "200": {
            "description": "Reserved query response structure. Currently for protocol description only; actual calls are not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name",
                    "done"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Operation name, consistent with the `name` returned by the creation interface."
                    },
                    "done": {
                      "type": "boolean",
                      "description": "Whether the task is completed."
                    },
                    "response": {
                      "type": "object",
                      "description": "The result object after successful completion.",
                      "properties": {
                        "generatedVideos": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "video": {
                                "type": "object",
                                "properties": {
                                  "uri": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "The video URL after successful generation."
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "description": "Error message upon failure.",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Error description."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "name": "models/veo3.1-fast/operations/abc123",
                  "done": true,
                  "response": {
                    "generatedVideos": [
                      {
                        "video": {
                          "uri": "https://example.com/generated-video.mp4"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "type": {
                "type": "string",
                "description": "Error type"
              },
              "param": {
                "type": "string",
                "description": "Related parameters",
                "nullable": true
              },
              "code": {
                "type": "string",
                "description": "Error code",
                "nullable": true
              }
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Prompt tokens"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Completion tokens"
          },
          "total_tokens": {
            "type": "integer",
            "description": "Total tokens"
          },
          "prompt_tokens_details": {
            "type": "object",
            "properties": {
              "cached_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              },
              "image_tokens": {
                "type": "integer"
              }
            }
          },
          "completion_tokens_details": {
            "type": "object",
            "properties": {
              "text_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              },
              "reasoning_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Model ID",
            "example": "gpt-4"
          },
          "object": {
            "type": "string",
            "description": "Object Type",
            "example": "model"
          },
          "created": {
            "type": "integer",
            "description": "Created Timestamp"
          },
          "owned_by": {
            "type": "string",
            "description": "Model Owner",
            "example": "openai"
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "GeminiModelsResponse": {
        "type": "object",
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "models/gemini-pro"
                },
                "version": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "inputTokenLimit": {
                  "type": "integer"
                },
                "outputTokenLimit": {
                  "type": "integer"
                },
                "supportedGenerationMethods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool",
              "developer"
            ],
            "description": "Message Role"
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessageContent"
                }
              }
            ],
            "description": "Message Content"
          },
          "name": {
            "type": "string",
            "description": "Sender Name"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          },
          "tool_call_id": {
            "type": "string",
            "description": "Tool Call ID (for tool role messages)"
          },
          "reasoning_content": {
            "type": "string",
            "description": "Reasoning Content"
          }
        }
      },
      "MessageContent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image_url",
              "input_audio",
              "file",
              "video_url"
            ]
          },
          "text": {
            "type": "string"
          },
          "image_url": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "Image URL or base64"
              },
              "detail": {
                "type": "string",
                "enum": [
                  "low",
                  "high",
                  "auto"
                ]
              }
            }
          },
          "input_audio": {
            "type": "object",
            "properties": {
              "data": {
                "type": "string",
                "description": "Base64-encoded audio data"
              },
              "format": {
                "type": "string",
                "enum": [
                  "wav",
                  "mp3"
                ]
              }
            }
          },
          "file": {
            "type": "object",
            "properties": {
              "filename": {
                "type": "string"
              },
              "file_data": {
                "type": "string"
              },
              "file_id": {
                "type": "string"
              }
            }
          },
          "video_url": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              }
            }
          }
        }
      },
      "ToolCall": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "function"
          },
          "function": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "arguments": {
                "type": "string"
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "function"
          },
          "function": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "parameters": {
                "type": "object",
                "description": "Parameter definition in JSON Schema format",
                "properties": {}
              }
            }
          }
        }
      },
      "ResponseFormat": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "json_object",
              "json_schema"
            ]
          },
          "json_schema": {
            "type": "object",
            "description": "JSON Schema definition",
            "properties": {}
          }
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "Model ID",
            "example": "gpt-4"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "description": "List of chat messages"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "default": 1,
            "description": "Temperature"
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 1,
            "description": "Top P"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Number of Generations"
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "Stream response"
          },
          "stream_options": {
            "type": "object",
            "properties": {
              "include_usage": {
                "type": "boolean"
              }
            }
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Stop sequences"
          },
          "max_tokens": {
[...]
