{
  "openapi": "3.0.0",
  "info": {
    "title": "Overseas Expansion Camp API Reference Documentation",
    "version": "1.0.0",
    "description": "Public AI Gateway API Reference"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "List models",
        "deprecated": false,
        "description": "Retrieve a list of currently available models.\n\nThe response format is automatically identified based on the request headers:\n- Returns the Anthropic format when both `x-api-key` and `anthropic-version` headers are included\n- Returns the Gemini format when the `x-goog-api-key` header or the `key` query parameter is included\n- In other cases, return the OpenAI format",
        "operationId": "listModels",
        "tags": [
          "List models"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Google API Key (for Gemini format)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Anthropic API Key (for Claude format)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Anthropic API version",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Google API Key (for Gemini format)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the model list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/en/list-models/list-models"
        }
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "Get Gemini Format",
        "deprecated": false,
        "description": "Return the list of available models in Gemini API format",
        "operationId": "listModelsGemini",
        "tags": [
          "List models"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successfully retrieved the model list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/en/list-models/get-gemini-format"
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Create chat session",
        "deprecated": false,
        "description": "Creates model responses based on conversation history. Supports both streaming and non-streaming responses.\n\nCompatible with OpenAI Chat Completions API.",
        "operationId": "createChatCompletion",
        "tags": [
          "OpenAI format (Chat)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "Rate Limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/en/openai-format-chat/create-chat-session"
        }
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "Create response (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses API, used to create model responses.\nSupports multi-turn conversations, tool calling, reasoning, and other features.",
        "operationId": "createResponse",
        "tags": [
          "OpenAI Format (Responses)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/en/openai-format-responses/create-response"
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Gemini Images (Nano Banana)",
        "deprecated": false,
        "description": "Gemini image generation.\n\nNano Banana series supports the OpenAI Dall-E format (see [Image Generation OpenAI DALL-E Format](#tag/%E5%9B%BE%E7%89%87%E7%94%9F%E6%88%90OpenAI%20DALL-E%E6%A0%BC%E5%BC%8F)).\n\nAdd field descriptions for Gemini image generation in /v1beta/models/{model}:generateContent to prevent public OpenAPI from losing descriptions on nested fields.",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "Gemini Format for Image Generation"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "Model Name",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "Message role. Common values are `user` or `model`."
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "Text input content."
                              },
                              "inlineData": {
                                "type": "object",
                                "description": "An inline binary content object for inputs such as base64 images.",
                                "properties": {
                                  "mimeType": {
                                    "type": "string",
                                    "description": "The MIME type of the inline content, for example `image/png`."
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "The binary data content after Base64 encoding."
                                  }
                                }
                              }
                            }
                          },
                          "description": "Array of message segments; text, images, and other inputs are placed here."
                        }
                      }
                    },
                    "description": "Required. Array of Gemini input content, typically containing at least one user message."
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of response modes; image generation usually passes `IMAGE`."
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string",
                            "description": "Aspect ratio, for example `16:9`, `1:1`, and `9:16`."
                          },
                          "imageSize": {
                            "type": "string",
                            "description": "Output resolution level, for example `1K`, `2K`, and `4K`."
                          }
                        },
                        "description": "Image generation configuration object."
                      }
                    },
                    "required": [
                      "responseModalities"
                    ],
                    "description": "Generate the configuration object."
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/en/image-generation-gemini-format/gemini-images-nano-banana"
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "Generate images (compatible with OpenAI Dall-E)",
        "deprecated": false,
        "description": "OpenAI Dall-E-style image generation API.\n\n- `POST /v1/images/generations`: Create an image generation task\n\nStandard authentication headers:\n- `Content-Type: application/json`\n\n- `model: string`: Required, public model name\n- `prompt: string`: Recommended, image generation prompt\n- `n: number`: Optional, number of images to generate\n- `size: string`: Optional, size or resolution specification\n- `quality: string`: Optional, quality level\n- `response_format: string`: Optional, response format\n\nCommon compatible extension parameters:\n- `image`\n- `image_url`\n- `image_urls`\n- `image_list`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `negative_prompt`\n- `aspect_ratio`\n- `resolution`\n- `callback_url`\n- `external_task_id`\n\nKling Dedicated extension parameters:\n- `model_name`\n- `element_list`\n- `result_type`\n- `series_amount`\n- `human_image`\n- `cloth_image`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n### 3.1 Nano Banana Series\n\nPublic model:\n- `nano-banana`\n- `nano-banana-pro`\n- `nano-banana-pro-2k`\n- `nano-banana-pro-4k`\n- `nano-banana-2`\n- `nano-banana-2-2k`\n- `nano-banana-2-4k`\n\nCapabilities:\n- `nano-banana`: Basic text-to-image, also compatible with image editing\n- `nano-banana-pro*`: Higher-quality version\n- `nano-banana-2*`: Newer model family\n- `*-2k` / `*-4k`: High-resolution variants\n\nCommon parameters:\n- Text-to-image: `model + prompt`\n- Image editing: `model + prompt + image`, also compatible with `image_urls`\n- Common extensions: `n` `size` `quality` `response_format`\n\nExample:\n\n```json\n{\n\"model\": \"nano-banana\",\n\"prompt\": \"a cute cat running in cloud\",\n\"n\": 1,\n\"size\": \"1024x1792\"\n}\n```\n\n```json\n{\n\"model\": \"nano-banana-pro\",\n\"prompt\": \"把主体改成赛博朋克夜景\",\n\"image\": \"https://example.com/input.png\",\n\"n\": 1\n}\n```\n\n### 3.2 Seedream Series\n\nPublic model:\n- `doubao-seedream-3-0-t2i-250415`\n- `doubao-seedream-4-0-250828`\n- `doubao-seedream-4-5-251128`\n- `doubao-seedream-5-0-260128`\n\nCapabilities:\n- Use the text-to-image call uniformly\n- It is recommended to pass the standard parameter first: `prompt + model + size/aspect_ratio`\n\nCommon parameters:\n- `model + prompt`\n- Optional: `size` `aspect_ratio` `n`\n\n### 3.3 Kling Standard Image Main Model\n\nPublic base model:\n- `kling-image`\n\nRequired:\n- `model`\n- `model_name`\n\nSupported `model_name`:\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v2`\n- `kling-v2-new`\n- `kling-v2-1`\n- `kling-v3`\n\nCapabilities:\n- Text-to-image: `model + model_name + prompt`\n- Image-to-image: add `image` on top of text-to-image\n- Multi-image generation: pass `subject_image_list`, or pass multiple `image_urls/images`\n- Outpainting: pass `image` and the outpainting ratio parameter\n\nCommon parameters:\n- `image`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `aspect_ratio`\n- `resolution`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\nExample:\n\n```json\n{\n\"model\": \"kling-image\",\n\"model_name\": \"kling-v3\",\n\"prompt\": \"海边日落，电影感人像\",\n\"aspect_ratio\": \"16:9\",\n\"n\": 1\n}\n```\n\n### 3.4 Kling Omni Image Main Model\n\nPublic base model:\n- `kling-omni-image`\n\nRequired:\n- `model`\n- `model_name`\n\nSupported `model_name`:\n- `kling-image-o1`\n- `kling-v3-omni`\n\nCommon parameters:\n- `image_list`\n- `element_list`\n- `resolution`\n- `aspect_ratio`\n- `result_type`\n- `series_amount`\n\nExample:\n\n```json\n{\n\"model\": \"kling-omni-image\",\n\"model_name\": \"kling-v3-omni\",\n\"prompt\": \"生成一张海边跳舞的图片\",\n\"element_list\": [\n{ \"element_id\": 835266081714884677 }\n]\n}\n```\n\n### 3.5 Kling Virtual Try-On Model\n\nPublic model:\n- `kolors-virtual-try-on-v1`\n- `kolors-virtual-try-on-v1-5`\n\nMinimum input parameters:\n- `model + human_image + cloth_image`\n\nDescription:\n- These two models are already complete primary models themselves, so there is no need to pass `model_name` again.\n\nExample:\n\n```json\n{\n\"model\": \"kolors-virtual-try-on-v1\",\n\"human_image\": \"https://example.com/human.jpg\",\n\"cloth_image\": \"https://example.com/cloth.jpg\"\n}\n```",
        "operationId": "createImageGeneration",
        "tags": [
          "Image generationOpenAI DALL-E format"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Public image model name.",
                    "example": "dall-e-3",
                    "enum": [
                      "nano-banana",
                      "doubao-seedream-3-0-t2i-250415",
                      "kling-image",
                      "kling-omni-image",
                      "kolors-virtual-try-on-v1",
                      "kolors-virtual-try-on-v1-5"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Image generation description. This can be omitted for the virtual try-on model."
                  },
                  "n": {
                    "type": "integer",
                    "description": "Number of images to generate.",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "Size or resolution representation.",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "Quality level.",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "Style",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "Response format.",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "User ID"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "nano_banana_text2img": {
                  "summary": "Nano Banana Text-to-image",
                  "value": {
                    "model": "nano-banana",
                    "prompt": "a cute cat running in cloud",
                    "n": 1,
                    "size": "1024x1792"
                  }
                },
                "seedream_text2img": {
                  "summary": "Seedream Text-to-Image",
                  "value": {
                    "model": "doubao-seedream-3-0-t2i-250415",
                    "prompt": "一张电影感海边日落人像",
                    "size": "1536x1024",
                    "n": 1
                  }
                },
                "kling_text2img": {
                  "summary": "Kling Text-to-Image",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v3",
                    "prompt": "海边日落，电影感人像",
                    "aspect_ratio": "16:9",
                    "n": 1
                  }
                },
                "kling_img2img": {
                  "summary": "Kling Image-to-Image",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v2-1",
                    "prompt": "改成赛博朋克夜景风格",
                    "image": "https://example.com/input.png",
                    "n": 1
                  }
                },
                "kling_omni_image": {
                  "summary": "Kling Omni Image",
                  "value": {
                    "model": "kling-omni-image",
                    "model_name": "kling-v3-omni",
                    "prompt": "生成一张海边跳舞的图片",
                    "element_list": [
                      {
                        "element_id": 835266081714884677
                      }
                    ]
                  }
                },
                "kling_virtual_try_on": {
                  "summary": "Kling Virtual Try-On",
                  "value": {
                    "model": "kolors-virtual-try-on-v1",
                    "human_image": "https://example.com/human.jpg",
                    "cloth_image": "https://example.com/cloth.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/en/image-generation-openai-dall-e-format/generate-images-compatible-with-openai-dall-e"
        }
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "Edit images (OpenAI Dall-E compatible)",
        "deprecated": false,
        "description": "OpenAI Dall-E-format image editing API.",
        "operationId": "createImageEdit",
        "tags": [
          "Image generationOpenAI DALL-E format"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image to edit"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "Optional mask image"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Edit Prompt"
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/en/image-generation-openai-dall-e-format/edit-images-openai-dall-e-compatible"
        }
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "Create video",
        "deprecated": false,
        "description": "OpenAI Sora video generation API in a compatible format. Supports text-to-video and image/video reference generation modes.\n\n- `POST /v1/videos`: Create video task\n- `GET /v1/videos/{video_id}`: Query task status\n- `GET /v1/videos/{video_id}/content`: Retrieve the video binary content\n\nCurrently not available externally:\n- `GET /v1/videos`\n- `POST /v1/videos/{video_id}/remix`\n\nStandard authentication headers:\n- `Content-Type: application/json`\n\n1. Use `POST /v1/videos` to create a task and obtain `id`\n2. Poll `GET /v1/videos/{id}` until `completed` or `failed`\n3. After completion, prefer using `video_url` returned in the response\n4. For unified download, call `GET /v1/videos/{id}/content`\n\nCore parameters:\n- `model: string`: Required, public model name\n- `prompt: string`: Recommended, video generation description\n- `seconds: number|string`: Optional, target duration\n- `duration: number|string`: Optional, duration alias\n- `size: string`: Optional, output resolution\n- `mode: string`: Optional, common values: `t2v` `i2v` `i2v_first_last` `reference_material`\n\nCommon compatibility parameters:\n- `aspect_ratio`\n- `ratio`\n- `quality`\n- `resolution`\n- `fps`\n- `image`\n- `image_url`\n- `image_urls`\n- `images`\n- `reference_images`\n- `input_reference`\n- `end_image_url`\n- `last_image_url`\n- `video_urls`\n- `audio_urls`\n- `function_mode`\n- `content`\n- `callback_url`\n- `external_task_id`\n\nKling common extended parameters:\n- `model_name`\n- `negative_prompt`\n- `cfg_scale`\n- `sound`\n- `camera_control`\n- `image_list`\n- `video_id`\n- `task_id`\n- `watermark_info`\n\n### 4.1 Veo series\n\nNote: `stable`, `official`, and similar labels indicate different groups, not external `model` suffixes; when calling, keep `model` as the base model name, and let the account or token group determine which group is actually used.\n\n#### Veo 3.x main model\n\n- `veo3`\n- `veo3-fast`\n- `veo3-fast-frames`\n- `veo3-frames`\n- `veo3-pro`\n- `veo3-pro-frames`\n- `veo3.1`\n- `veo3.1-fast`\n- `veo3.1-pro`\n- `veo3.1-components`\n- `veo3.1-4k`\n- `veo3.1-pro-4k`\n\nRecommendations:\n- For text-to-video only, prefer the `veo3*` / `veo3.1*` base models\n- For image-to-video or reference-to-video scenarios, it is recommended to explicitly pass `mode + image_url/reference_images`\n\n### 4.2 Sora series\n\nBase models:\n- `sora-2`\n- `sora-2-pro`\n\nRecommendations:\n- `sora-2*` is suitable for general-purpose use\n- To use groups such as `stable` / `official`, keep `model` as the base model name and do not append any suffix to the model name.\n\n### 4.3 Seedance series\n\nPublic model:\n- `doubao-seedance-1-0-lite-t2v-250428`\n- `doubao-seedance-1-0-lite-i2v-250428`\n- `doubao-seedance-1-0-pro-250528`\n- `doubao-seedance-1-0-pro-fast-251015`\n- `doubao-seedance-1-5-pro-251215`\n- `doubao-seedance-2-0-260128`\n- `doubao-seedance-2-0-fast-260128`\n\nRecommendations:\n- For text-to-video, prefer `*-t2v-*` or `pro / fast`\n- For image-to-video, prefer `*-i2v-*`\n- For scenarios with complex reference materials, prefer `content`\n\n### 4.4 Grok video series\n\nPublic model:\n- `grok-imagine-1.0-video`\n- `grok-video-3`\n\nCommon parameters:\n- `prompt`\n- `ratio` / `aspect_ratio`\n- `resolution` / `size`\n- `seconds` / `duration`\n- `image` / `image_url` / `input_reference`\n- `reference_images`\n\nExample:\n\n```json\n{\n\"model\": \"grok-imagine-1.0-video\",\n\"prompt\": \"雨夜霓虹街道上的电影感推镜，光影丰富，运动自然\",\n\"reference_images\": [\n\"https://example.com/ref-1.jpg\"\n],\n\"seconds\": 10,\n\"aspect_ratio\": \"16:9\",\n\"resolution\": \"720P\"\n}\n```\n\n### 4.5 Kling video main model\n\nPublic base model:\n- `kling-video`\n\nRequired:\n- `model`\n- `model_name`\n\nSupported `model_name`:\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v1-6`\n- `kling-v2-master`\n- `kling-v2-1`\n- `kling-v2-1-master`\n- `kling-v2-5-turbo`\n- `kling-v2-6`\n- `kling-v3`\n\nCommon `mode`:\n- `t2v`\n- `i2v`\n- `multi_i2v`\n- `extend`\n\nMinimum input parameters:\n- Text-to-video: `model + model_name + prompt + mode=t2v`\n- Image-to-video: `model + model_name + prompt + mode=i2v + image`\n- Multi-image reference: `model + model_name + prompt + mode=multi_i2v + image_list`\n- Video extension: `model + model_name + mode=extend + video_id`\n\nExample:\n\n```json\n{\n\"model\": \"kling-video\",\n\"model_name\": \"kling-v2-6\",\n\"mode\": \"t2v\",\n\"prompt\": \"海边日落镜头，电影感，风吹长发\",\n\"duration\": 5,\n\"aspect_ratio\": \"16:9\"\n}\n```\n\n- `mode=t2v`\n- Minimum input: `model + prompt`\n\n- `mode=i2v`\n- Minimum input: `model + prompt + image_url`\n\n- `mode=i2v_first_last`\n- Minimum input: `model + prompt + image_url + end_image_url`\n\n- `mode=reference_images`\n- Minimum input: `model + prompt + reference_images`\n\n- `mode=reference_material`\n- Minimum input: `model + prompt + (image_urls/video_urls/audio_urls 至少一种)`\n\n### Gemini Omni usage instructions\n\n- `gemini-omni` is the publicly exposed video model name of new-api, and can be called directly via `POST /v1/videos`.\n- `mode=t2v`: text-to-video, with the minimum input parameter being `model + prompt`.\n- `mode=r2v`: reference image/reference material generation; images can be placed in `image`, `image_url`, `images`, `image_urls`, `reference_images`, `input_reference`, or `content`.\n- `mode=edit`: video editing; videos can be placed in `video`, `video_url`, `videos`, or `content`, and reference images can also be provided at the same time.\n- The duration field can use `seconds` or `duration`, and will be automatically mapped to the 4 / 6 / 8 / 10 second options.",
        "operationId": "createVideo",
        "tags": [
          "Video generation Sora compatible formats"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Required, external model name. `gemini-omni` Can be called via `/v1/videos`.",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "gemini-omni",
                      "happyhorse-1.0",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-imagine-1.0-video",
                      "grok-video-3",
                      "viduq3-turbo",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Unified prompt entry point. Required for most models."
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Single image entry point; will be mapped to `images` in certain compatibility modes."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Unified duration parameter. Some models also accept `seconds`."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Dynamic extension field container. Numerous model-specific fields are deserialized from here."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Optional, video generation mode. `gemini-omni` Supports `t2v`, `r2v`, and `edit`."
                  },
                  "images": {
                    "type": "array",
                    "description": "Unified multi-image entry point. Used by Vidu, Seedance, Veo, etc.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Unified size input, which maps to resolution/aspect_ratio and related fields."
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora compatibility entry point; at runtime, it falls back to duration."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Sora/Veo compatible reference image input, can be a multipart file or a compatible object."
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Required, external model name. `gemini-omni` Can be called via `/v1/videos`.",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "gemini-omni",
                      "happyhorse-1.0",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-imagine-1.0-video",
                      "grok-video-3",
                      "viduq3-turbo",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Unified prompt entry point. Required for most models."
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Single image entry point; will be mapped to `images` in certain compatibility modes."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Unified duration parameter. Some models also accept `seconds`."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Dynamic extension field container. Numerous model-specific fields are deserialized from here."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Optional, video generation mode. `gemini-omni` Supports `t2v`, `r2v`, and `edit`."
                  },
                  "images": {
                    "type": "array",
                    "description": "Unified multi-image entry point. Used by Vidu, Seedance, Veo, etc.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Unified size input, which maps to resolution/aspect_ratio and related fields."
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora compatibility entry point; at runtime, it falls back to duration."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Sora/Veo compatible reference image input, can be a multipart file or a compatible object."
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "openai_t2v": {
                  "summary": "OpenAI t2v (prompt/model)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_i2v_input_reference": {
                  "summary": "OpenAI i2v (input_reference)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_alias_compat": {
                  "summary": "Alias兼容 (image_url/duration/aspect_ratio)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                },
                "gemini_omni_sora_t2v": {
                  "summary": "Gemini Omni Sora t2v",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "t2v",
                    "prompt": "A cinematic product video with smooth camera motion",
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "gemini_omni_sora_r2v": {
                  "summary": "Gemini Omni Sora r2v",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "r2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "Keep the product consistent and create a short ad video"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/product.jpg"
                        }
                      }
                    ],
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "gemini_omni_sora_edit": {
                  "summary": "Gemini Omni Sora edit",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "edit",
                    "content": [
                      {
                        "type": "text",
                        "text": "Change the outfit color while keeping the motion natural"
                      },
                      {
                        "type": "video_url",
                        "video_url": {
                          "url": "https://example.com/input.mp4"
                        }
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/style.jpg"
                        }
                      }
                    ],
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "happyhorse_sora_t2v": {
                  "summary": "HappyHorse Sora t2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "t2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic white horse running through a neon city street"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P",
                    "ratio": "16:9"
                  }
                },
                "happyhorse_sora_i2v": {
                  "summary": "HappyHorse Sora i2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "i2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "The camera slowly pushes in, natural motion"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/first-frame.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P"
                  }
                },
                "happyhorse_sora_r2v": {
                  "summary": "HappyHorse Sora r2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "r2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "Keep the character and product consistent in a short cinematic clip"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-2.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P",
                    "ratio": "16:9"
                  }
                },
                "happyhorse_sora_video_edit": {
                  "summary": "HappyHorse Sora video_edit",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "video_edit",
                    "content": [
                      {
                        "type": "text",
                        "text": "Change the jacket to a striped sweater and keep the motion natural"
                      },
                      {
                        "type": "video_url",
                        "video_url": "https://example.com/input.mp4"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/reference.jpg"
                      }
                    ],
                    "resolution": "720P"
                  }
                },
                "seedance_i2v_first": {
                  "summary": "Seedance i2v_first",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_i2v_first_last": {
                  "summary": "Seedance i2v_first_last",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_images": {
                  "summary": "Seedance reference_images",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_material": {
                  "summary": "Seedance All-in-one reference mode (reference_material)",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_volc_content": {
                  "summary": "Seedance Volcano Ark content mode",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "veo_first_last_frame": {
                  "summary": "Veo First and last frame mode",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "veo_reference_images_1to3": {
                  "summary": "Veo 1–3 reference images mode",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "kling_text2video": {
                  "summary": "Kling Text-to-Video",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "kling_image2video": {
                  "summary": "Kling Image-to-Video",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "grok_reference_video": {
                  "summary": "Grok Video Mode",
                  "value": {
                    "model": "grok-imagine-1.0-video",
                    "prompt": "A dramatic cinematic shot with fast motion and rich lighting",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": 10,
                    "aspect_ratio": "16:9",
                    "resolution": "720P"
                  }
                },
                "vidu_sora_t2v": {
                  "summary": "Vidu Sora t2v",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "t2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A stylish product ad clip with cinematic lighting"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_sora_i2v": {
                  "summary": "Vidu Sora i2v",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "i2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A stylish ad clip from a product still image"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/product.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_sora_first_last": {
                  "summary": "Vidu Sora i2v_first_last",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "i2v_first_last",
                    "content": [
                      {
                        "type": "text",
                        "text": "A smooth shot from start frame to end frame"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/start.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/end.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_sora_reference": {
                  "summary": "Vidu Sora reference_images",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "reference_images",
                    "content": [
                      {
                        "type": "text",
                        "text": "Maintain product style and character consistency"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-2.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-3.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "hailuo_text2video": {
                  "summary": "Hailuo Text-to-Video",
                  "value": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Legacy compatibility; to be deprecated"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "Should use VideoStatus constants: VideoStatusQueued, VideoStatusInProgress, VideoStatusCompleted, VideoStatusFailed",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed",
                        "video_url",
                        "url",
                        "completed_at"
                      ]
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "completed_at": {
                      "type": "integer"
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/en/video-generation-sora-compatible-formats/create-video"
        }
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Get video task status",
        "deprecated": false,
        "description": "OpenAI compatible video task status query API.\n\nReturns detailed status information for the video task.",
        "operationId": "getVideo",
        "tags": [
          "Video generation Sora compatible formats"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "Video task ID",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved video task status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Video result URL. Different models may return either `video_url` or `url`."
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Video result URL. Different models may return either `url` or `video_url`."
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "Completion time (Unix seconds)."
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "Result expiration time (Unix seconds)."
                    },
                    "error": {
                      "type": "object",
                      "description": "Error message returned when the request fails."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Additional metadata."
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Task does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/en/video-generation-sora-compatible-formats/get-video-task-status"
        }
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "Get video content",
        "deprecated": false,
        "description": "Retrieves the video file content of a completed video task.\n\nThis endpoint returns the video file stream via proxy.",
        "operationId": "getVideoContent",
        "tags": [
          "Video generation Sora compatible formats"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "Video task ID",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video content retrieved successfully",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Video does not exist or is not completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/en/video-generation-sora-compatible-formats/get-video-content"
        }
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling Text-to-Video",
        "deprecated": false,
        "description": "This series supports OpenAI video generation formats (see the link [Video generation Sora compatible formats](/api-reference/en/video-generation-sora-compatible-format/create-video)).\n\nUse the Kling model to generate videos from text descriptions.\n\nSupported models: kling-v1, kling-v1-5, etc.",
        "operationId": "createKlingText2Video",
        "tags": [
          "Video generation Kling format"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video generation task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/en/video-generation-kling-format/create-kling-text-to-video"
        }
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "Get Kling text-to-video task status",
        "deprecated": false,
        "description": "This series supports OpenAI video generation formats (see the link [Video generation Sora compatible formats](/api-reference/en/video-generation-sora-compatible-format/create-video)).\n\nQuery the status and result of a Kling text-to-video task.",
        "operationId": "getKlingText2Video",
        "tags": [
          "Video generation Kling format"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "Task ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved task status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Task does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/en/video-generation-kling-format/get-kling-text-to-video-task"
        }
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling Image-to-Video",
        "deprecated": false,
        "description": "This series supports OpenAI video generation formats (see the link [Video generation Sora compatible formats](/api-reference/en/video-generation-sora-compatible-format/create-video)).\n\nUse the Kling model to generate videos from images.\n\nSupports passing image URLs or Base64-encoded image data via the `image` parameter.",
        "operationId": "createKlingImage2Video",
        "tags": [
          "Video generation Kling format"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video generation task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/en/video-generation-kling-format/create-kling-image-to-video"
        }
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "Get Kling image-to-video task status",
        "deprecated": false,
        "description": "This series supports OpenAI video generation formats (see the link [Video generation Sora compatible formats](/api-reference/en/video-generation-sora-compatible-format/create-video)).\n\nQuery the status and result of the Kling image-to-video task.",
        "operationId": "getKlingImage2Video",
        "tags": [
          "Video generation Kling format"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "Task ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved task status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Task does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/en/video-generation-kling-format/get-kling-image-to-video-task"
        }
      }
    },
    "/api/v1/services/aigc/video-generation/video-synthesis": {
      "post": {
        "summary": "Create video(HappyHorse)",
        "description": "This series supports OpenAI video generation formats (see the link [Video generation Sora compatible formats](/api-reference/en/video-generation-sora-compatible-format/create-video)).\n\nHappyHorse Alibaba video generation API, with public paths following the official DashScope protocol.\n\nSupports 5 external models: `happyhorse-1.0`, `happyhorse-1.0-i2v`, `happyhorse-1.0-t2v`, `happyhorse-1.0-r2v`, and `happyhorse-1.0-video-edit`. Among them, `happyhorse-1.0` is an aggregated model and requires `mode` to distinguish `t2v`, `i2v`, `r2v`, and `video_edit`.\n\nThe public API keeps the official endpoint format; channel-specific prefixes are only concatenated internally when the gateway requests a specific upstream channel. Clients do not need to pass `X-DashScope-Async` explicitly; it is handled by the gateway or the official channel adapter layer.\n\nProvides the public request skeleton, task query structure, and recommended validation template for the HappyHorse Alibaba official video generation format; the public paths keep the official endpoint format.\n\nSupported models:\nhappyhorse-1.0, happyhorse-1.0-t2v, happyhorse-1.0-i2v, happyhorse-1.0-r2v, happyhorse-1.0-video-edit\n\nUnified request fields:\n- `model` (string, required): HappyHorse external model name. The aggregated model `happyhorse-1.0` must be used with `mode`.\n- `mode` (string, optional): Aggregated model mode; common values are `t2v`, `i2v`, `r2v`, and `video_edit`. You can omit this for fixed submodels.\n- `input.prompt` (string, required): Prompt for video generation or editing.\n- `input.media` (array[object], optional): Multimedia input. Use `first_frame` for image-to-video, `reference_image` for reference-to-video, and `video` plus optional `reference_image` for video editing.\n- `parameters.duration` (integer, optional): Generation duration, billed by second.\n- `parameters.resolution` (string, optional): Output resolution; common values are `720P` and `1080P`.\n- `parameters.ratio` (string, optional): Output aspect ratio, commonly used for text-to-video and reference-to-video.\n- `parameters.watermark` (boolean, optional): Whether to add a watermark.\n- `parameters.seed` (integer, optional): Random seed.\n\nCommon model/mode differences:\n- `HappyHorse 聚合模型`: Supports model happyhorse-1.0; the aggregated model uses mode to distinguish the final model.\n- `HappyHorse 文生视频`: Supports model happyhorse-1.0-t2v; official-format text-to-video.\n- `HappyHorse 首帧图生视频`: Supports model happyhorse-1.0-i2v; official-format first-frame image-to-video.\n- `HappyHorse 参考生视频`: Supports model happyhorse-1.0-r2v; official-format multi-reference image-to-video.\n- `HappyHorse 视频编辑`: Supports model happyhorse-1.0-video-edit; official-format video editing.",
        "operationId": "create__happyhorse__task",
        "tags": [
          "Video generationHappyHorseAlibaba"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "happyhorse-1.0",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit"
                    ],
                    "example": "happyhorse-1.0-t2v",
                    "description": "HappyHorse external model name. The aggregate model `happyhorse-1.0` must be used with `mode`."
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "t2v",
                      "i2v",
                      "r2v",
                      "video_edit"
                    ],
                    "description": "Aggregated model mode. Common values are `t2v`, `i2v`, `r2v`, and `video_edit`. The fixed submodel is optional."
                  },
                  "input": {
                    "type": "object",
                    "required": [
                      "prompt"
                    ],
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "example": "A white horse running through a neon city street, cinematic",
                        "description": "Prompt for video generation or editing."
                      },
                      "media": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "url"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "first_frame",
                                "reference_image",
                                "video"
                              ]
                            },
                            "url": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        },
                        "description": "Multimedia input. Image-to-video uses `first_frame`, reference-to-video uses `reference_image`, and video editing uses `video` and optional `reference_image`."
                      }
                    }
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "720P",
                          "1080P"
                        ],
                        "example": "720P",
                        "description": "Output resolution, common values `720P` and `1080P`."
                      },
                      "ratio": {
                        "type": "string",
                        "example": "16:9",
                        "description": "Output aspect ratio, commonly used for text-to-video and reference-to-video."
                      },
                      "duration": {
                        "type": "integer",
                        "example": 5,
                        "description": "Generation duration, billed per second."
                      },
                      "watermark": {
                        "type": "boolean",
                        "description": "Whether to add a watermark."
                      },
                      "seed": {
                        "type": "integer",
                        "description": "Random seed."
                      }
                    }
                  }
                }
              },
              "examples": {
                "happyhorse_native_aggregate_t2v": {
                  "summary": "HappyHorse aggregated model",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "t2v",
                    "input": {
                      "prompt": "A white horse running through a neon city street, cinematic"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_t2v": {
                  "summary": "HappyHorse Text-to-Video",
                  "value": {
                    "model": "happyhorse-1.0-t2v",
                    "input": {
                      "prompt": "A white horse running through a neon city street, cinematic"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_i2v": {
                  "summary": "HappyHorse First-frame image-to-video",
                  "value": {
                    "model": "happyhorse-1.0-i2v",
                    "input": {
                      "prompt": "The subject walks forward naturally",
                      "media": [
                        {
                          "type": "first_frame",
                          "url": "https://example.com/first-frame.jpg"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_r2v": {
                  "summary": "HappyHorse reference-generated video",
                  "value": {
                    "model": "happyhorse-1.0-r2v",
                    "input": {
                      "prompt": "Keep the character and product consistent in a cinematic shot",
                      "media": [
                        {
                          "type": "reference_image",
                          "url": "https://example.com/ref-1.jpg"
                        },
                        {
                          "type": "reference_image",
                          "url": "https://example.com/ref-2.jpg"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_video_edit": {
                  "summary": "HappyHorse Video Editing",
                  "value": {
                    "model": "happyhorse-1.0-video-edit",
                    "input": {
                      "prompt": "Change the jacket to a striped sweater",
                      "media": [
                        {
                          "type": "video",
                          "url": "https://example.com/input.mp4"
                        },
                        {
                          "type": "reference_image",
                          "url": "https://example.com/reference.jpg"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "task_xxx"
                    },
                    "output": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string",
                          "description": "The task ID returned when creating a task, used to query the task."
                        },
                        "task_status": {
                          "type": "string",
                          "description": "Task status, common values `PENDING`, `RUNNING`, `SUCCEEDED`, `FAILED`."
                        },
                        "video_url": {
                          "type": "string",
                          "description": "The URL of the generated video after the task succeeds."
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "duration": {
                          "type": "string",
                          "description": "Billable duration, in seconds."
                        },
                        "SR": {
                          "type": "string",
                          "description": "Output resolution levels."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/en/video-generationhappyhorsealibaba/create-videohappyhorse"
        }
      }
    },
    "/api/v1/tasks/{task_id}": {
      "get": {
        "summary": "Query task (HappyHorse)",
        "description": "This series supports OpenAI video generation formats (see the link [Video generation Sora compatible formats](/api-reference/en/video-generation-sora-compatible-format/create-video)).\n\nHappyHorse Alibaba video generation API, with public paths following the official DashScope protocol.\n\nSupports 5 external models: `happyhorse-1.0`, `happyhorse-1.0-i2v`, `happyhorse-1.0-t2v`, `happyhorse-1.0-r2v`, and `happyhorse-1.0-video-edit`. Among them, `happyhorse-1.0` is an aggregated model and requires `mode` to distinguish `t2v`, `i2v`, `r2v`, and `video_edit`.\n\nThe public API keeps the official endpoint format; channel-specific prefixes are only concatenated internally when the gateway requests a specific upstream channel. Clients do not need to pass `X-DashScope-Async` explicitly; it is handled by the gateway or the official channel adapter layer.\n\nProvides the public request skeleton, task query structure, and recommended validation template for the HappyHorse Alibaba official video generation format; the public paths keep the official endpoint format.\n\nSupported models:\nhappyhorse-1.0, happyhorse-1.0-t2v, happyhorse-1.0-i2v, happyhorse-1.0-r2v, happyhorse-1.0-video-edit\n\nUnified request fields:\n- `model` (string, required): HappyHorse external model name. The aggregated model `happyhorse-1.0` must be used with `mode`.\n- `mode` (string, optional): Aggregated model mode; common values are `t2v`, `i2v`, `r2v`, and `video_edit`. You can omit this for fixed submodels.\n- `input.prompt` (string, required): Prompt for video generation or editing.\n- `input.media` (array[object], optional): Multimedia input. Use `first_frame` for image-to-video, `reference_image` for reference-to-video, and `video` plus optional `reference_image` for video editing.\n- `parameters.duration` (integer, optional): Generation duration, billed by second.\n- `parameters.resolution` (string, optional): Output resolution; common values are `720P` and `1080P`.\n- `parameters.ratio` (string, optional): Output aspect ratio, commonly used for text-to-video and reference-to-video.\n- `parameters.watermark` (boolean, optional): Whether to add a watermark.\n- `parameters.seed` (integer, optional): Random seed.\n\nCommon model/mode differences:\n- `HappyHorse 聚合模型`: Supports model happyhorse-1.0; the aggregated model uses mode to distinguish the final model.\n- `HappyHorse 文生视频`: Supports model happyhorse-1.0-t2v; official-format text-to-video.\n- `HappyHorse 首帧图生视频`: Supports model happyhorse-1.0-i2v; official-format first-frame image-to-video.\n- `HappyHorse 参考生视频`: Supports model happyhorse-1.0-r2v; official-format multi-reference image-to-video.\n- `HappyHorse 视频编辑`: Supports model happyhorse-1.0-video-edit; official-format video editing.",
        "operationId": "query__happyhorse__task",
        "tags": [
          "Video generationHappyHorseAlibaba"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Task ID, from the `id` returned when creating the task."
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string",
                          "description": "The task ID returned when creating a task, used to query the task."
                        },
                        "task_status": {
                          "type": "string",
                          "enum": [
                            "PENDING",
                            "RUNNING",
                            "SUCCEEDED",
                            "FAILED",
                            "UNKNOWN"
                          ],
                          "description": "Task status, common values `PENDING`, `RUNNING`, `SUCCEEDED`, `FAILED`."
                        },
                        "submit_time": {
                          "type": "string"
                        },
                        "scheduled_time": {
                          "type": "string"
                        },
                        "end_time": {
                          "type": "string"
                        },
                        "video_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "The URL of the generated video after the task succeeds."
                        },
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "duration": {
                          "type": "integer",
                          "description": "Billable duration, in seconds."
                        },
                        "SR": {
                          "type": "integer",
                          "description": "Output resolution levels."
                        },
                        "video_count": {
                          "type": "integer"
                        }
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/en/video-generationhappyhorsealibaba/query-task-happyhorse"
        }
      }
    },
    "/ent/v2/text2video": {
      "post": {
        "summary": "Create text-to-video (Vidu)",
        "description": "This series supports OpenAI video generation formats (see the link [Video generation Sora compatible formats](/api-reference/en/video-generation-sora-compatible-format/create-video)).\n\nVidu official video generation API; the public path follows the Vidu official specification.\n\nCurrent public model: `viduq3-turbo`. Supports text-to-video, image-to-video, start-and-end-frame video generation, and reference-based video generation. The same model also supports access via the `/v1/videos` Sora compatible format. Common `mode` are `t2v`, `i2v`, `i2v_first_last`, and `reference_images`.\n\nProvides the public request skeleton, task query structure, and recommended validation template for the Vidu official video generation format, while the public path retains the Vidu official endpoint format.\n\nSupported models:\nviduq3-turbo\n\nUnified request fields:\n- `model` (string, required): Vidu public model name, currently public `viduq3-turbo`.\n- `prompt` (string, optional): Video generation prompt; required for text-to-video, and passed as needed for image-to-video, start-and-end-frame, and reference-based video generation.\n- `images` (array[string], optional): Image input. 1 image for image-to-video, 2 images for start-and-end-frame video generation, and 1~7 images for reference-based video generation.\n- `videos` (array[string], optional): Optional video subject input for reference-based video generation, used according to the capabilities of the Vidu official model.\n- `subjects` (array[object], optional): Subject-library format input for reference-based video generation; may include fields such as subject name, image, video, or voice timbre.\n- `duration` (integer, optional): Video duration, in seconds. `viduq3-turbo` commonly uses 5 seconds; set it according to the official range.\n- `resolution` (string, optional): Output resolution, common values are `540p`, `720p`, and `1080p`.\n- `aspect_ratio` (string, optional): Output aspect ratio, commonly used for text-to-video/reference-based video generation, such as `16:9`, `9:16`, and `1:1`.\n- `seed` (integer, optional): Random seed.\n- `movement_amplitude` (string, optional): Motion intensity, common values are `auto`, `small`, `medium`, and `large`.\n- `audio` (boolean, optional): Whether to enable direct audio-video output.\n- `off_peak` (boolean, optional): Whether to use staggered generation.\n- `watermark` (boolean, optional): Whether to add a watermark.\n\nCommon model/mode differences:\n- `Vidu 文生视频`: Supported model viduq3-turbo; official-format text-to-video.\n- `Vidu 图生视频`: Supported model viduq3-turbo; official-format single-image image-to-video.\n- `Vidu 首尾帧生视频`: Supported model viduq3-turbo; official-format two-image start-and-end-frame video generation.\n- `Vidu 参考生视频`: Supported model viduq3-turbo; official-format multi-reference image-to-video.",
        "operationId": "createViduTextVideo",
[...]
