{
  "openapi": "3.0.0",
  "info": {
    "title": "Documentation de référence de 出海营 API",
    "version": "1.0.0",
    "description": "Public AI Gateway API Reference"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "Obtenir la liste des modèles",
        "deprecated": false,
        "description": "Obtenir la liste des modèles actuellement disponibles.\n\nIdentification automatique du format de réponse selon les en-têtes de requête :\n- Renvoie le format Anthropic lorsque les en-têtes `x-api-key` et `anthropic-version` sont inclus\n- Renvoie le format Gemini lorsque l'en-tête `x-goog-api-key` ou le paramètre de requête `key` est inclus\n- Dans les autres cas, renvoie le format OpenAI",
        "operationId": "listModels",
        "tags": [
          "Obtenir la liste des modèles"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Clé Google API (pour le format Gemini)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Clé Anthropic API (pour le format Claude)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Version Anthropic API",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Clé Google API (pour le format Gemini)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des modèles récupérée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Échec de l'authentification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/fr/obtenir-la-liste-des-modèles/obtenir-la-liste-des-modèles"
        }
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "Obtention du format Gemini",
        "deprecated": false,
        "description": "Retourner la liste des modèles disponibles au format Gemini API",
        "operationId": "listModelsGemini",
        "tags": [
          "Obtenir la liste des modèles"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Liste des modèles récupérée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/fr/obtenir-la-liste-des-modèles/obtention-du-format-gemini"
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Créer une conversation de chat",
        "deprecated": false,
        "description": "Génère une réponse du modèle basée sur l'historique de la conversation. Prend en charge les réponses en streaming et non-streaming.\n\nCompatible avec OpenAI Chat Completions API.",
        "operationId": "createChatCompletion",
        "tags": [
          "OpenAIFormat (Chat)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Réponse de création réussie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Paramètres de requête non valides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "Limites de débit des requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/fr/openaiformat-chat/créer-une-conversation-de-chat"
        }
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "Créer une réponse (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses API, utilisé pour créer des réponses de modèle.\nPrend en charge le dialogue multi-tours, l'appel d'outils, le raisonnement et d'autres fonctionnalités.",
        "operationId": "createResponse",
        "tags": [
          "Format OpenAI(Responses)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Réponse de création réussie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/fr/format-openairesponses/créer-une-réponse-openai-responses-api"
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Images Gemini (Nano Banana)",
        "deprecated": false,
        "description": "Génération d'images Gemini.\n\nLa série Nano Banana prend en charge le format Dall-E OpenAI (voir le lien [format DALL-E de génération d’images OpenAI](#tag/%E5%9B%BE%E7%89%87%E7%94%9F%E6%88%90OpenAI%20DALL-E%E6%A0%BC%E5%BC%8F)).\n\nAjout de la description des champs de génération d’images Gemini pour /v1beta/models/{model}:generateContent, afin d’éviter que OpenAPI public perde la description sur les champs imbriqués.",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "Format Gemini pour la génération d’images"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "Nom du modèle",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "Rôle du message, les valeurs courantes sont `user` ou `model`."
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "Contenu de l’entrée de texte."
                              },
                              "inlineData": {
                                "type": "object",
                                "description": "Objet de contenu binaire intégré, adapté aux entrées telles que les images en base64.",
                                "properties": {
                                  "mimeType": {
                                    "type": "string",
                                    "description": "Type MIME du contenu en ligne, par exemple `image/png`."
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "Contenu des données binaires encodées en Base64."
                                  }
                                }
                              }
                            }
                          },
                          "description": "Tableau de segments de message ; les entrées telles que le texte, les images, etc. sont placées ici."
                        }
                      }
                    },
                    "description": "Obligatoire. Tableau des contenus d’entrée Gemini, contenant généralement au moins un message `user`."
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Liste des modes de réponse ; pour la génération d’images, on transmet généralement `IMAGE`."
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string",
                            "description": "Rapport hauteur/largeur, par exemple `16:9`, `1:1`, `9:16`."
                          },
                          "imageSize": {
                            "type": "string",
                            "description": "Niveau de résolution de sortie, par exemple `1K`, `2K`, `4K`."
                          }
                        },
                        "description": "Objet de configuration de génération d’images."
                      }
                    },
                    "required": [
                      "responseModalities"
                    ],
                    "description": "Objet de configuration de génération."
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/fr/format-gemini-pour-la-génération-d’images/images-gemini-nano-banana"
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "Générer des images（OpenAI compatible avec Dall-E）",
        "deprecated": false,
        "description": "OpenAI Interface de génération d’images au format Dall-E.\n\n- `POST /v1/images/generations` : créer une tâche de génération d’image\n\nEn-têtes d'authentification standard :\n- `Content-Type: application/json`\n\n- `model: string` : requis, nom du modèle exposé\n- `prompt: string` : recommandé, description de génération d’image\n- `n: number` : facultatif, nombre d’images à générer\n- `size: string` : facultatif, format de taille ou de résolution\n- `quality: string` : facultatif, niveau de qualité\n- `response_format: string` : facultatif, format de retour\n\nParamètres d’extension de compatibilité courants :\n- `image`\n- `image_url`\n- `image_urls`\n- `image_list`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `negative_prompt`\n- `aspect_ratio`\n- `resolution`\n- `callback_url`\n- `external_task_id`\n\nKling Paramètres d’extension dédiés :\n- `model_name`\n- `element_list`\n- `result_type`\n- `series_amount`\n- `human_image`\n- `cloth_image`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n### 3.1 Série Nano Banana\n\nModèle exposé :\n- `nano-banana`\n- `nano-banana-pro`\n- `nano-banana-pro-2k`\n- `nano-banana-pro-4k`\n- `nano-banana-2`\n- `nano-banana-2-2k`\n- `nano-banana-2-4k`\n\nDescription des capacités :\n- `nano-banana` : génération d’image à partir de texte de base, compatible aussi avec l’édition d’image\n- `nano-banana-pro*` : version de qualité supérieure\n- `nano-banana-2*` : famille de versions plus récente\n- `*-2k` / `*-4k` : modèles haute résolution\n\nParamètres courants :\n- Génération d’image à partir de texte : `model + prompt`\n- Édition d’image : `model + prompt + image`, compatible aussi avec `image_urls`\n- Extensions courantes : `n` `size` `quality` `response_format`\n\nExemple :\n\n```json\n{\n\"model\": \"nano-banana\",\n\"prompt\": \"a cute cat running in cloud\",\n\"n\": 1,\n\"size\": \"1024x1792\"\n}\n```\n\n```json\n{\n\"model\": \"nano-banana-pro\",\n\"prompt\": \"把主体改成赛博朋克夜景\",\n\"image\": \"https://example.com/input.png\",\n\"n\": 1\n}\n```\n\n### 3.2 Série Seedream\n\nModèle exposé :\n- `doubao-seedream-3-0-t2i-250415`\n- `doubao-seedream-4-0-250828`\n- `doubao-seedream-4-5-251128`\n- `doubao-seedream-5-0-260128`\n\nDescription des capacités :\n- Appel unifié en génération d’image à partir de texte\n- Il est recommandé de transmettre en priorité les paramètres standard : `prompt + model + size/aspect_ratio`\n\nParamètres courants :\n- `model + prompt`\n- Optionnel : `size` `aspect_ratio` `n`\n\n### 3.3 Kling Modèle principal d’images standard\n\nModèle principal exposé :\n- `kling-image`\n\nObligatoire :\n- `model`\n- `model_name`\n\n`model_name` pris en charge :\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v2`\n- `kling-v2-new`\n- `kling-v2-1`\n- `kling-v3`\n\nDescription des capacités :\n- Génération d’image à partir de texte : `model + model_name + prompt`\n- Génération d’image à partir d’image : ajoutez `image` sur la base de la génération d’image à partir de texte\n- Génération d’image à partir de plusieurs images : transmettez `subject_image_list`, ou plusieurs `image_urls/images`\n- Extension d’image : transmettez `image` et le paramètre de ratio d’extension\n\nParamètres courants :\n- `image`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `aspect_ratio`\n- `resolution`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\nExemple :\n\n```json\n{\n\"model\": \"kling-image\",\n\"model_name\": \"kling-v3\",\n\"prompt\": \"海边日落，电影感人像\",\n\"aspect_ratio\": \"16:9\",\n\"n\": 1\n}\n```\n\n### 3.4 Kling Modèle principal d’images Omni\n\nModèle principal exposé :\n- `kling-omni-image`\n\nObligatoire :\n- `model`\n- `model_name`\n\n`model_name` pris en charge :\n- `kling-image-o1`\n- `kling-v3-omni`\n\nParamètres courants :\n- `image_list`\n- `element_list`\n- `resolution`\n- `aspect_ratio`\n- `result_type`\n- `series_amount`\n\nExemple :\n\n```json\n{\n\"model\": \"kling-omni-image\",\n\"model_name\": \"kling-v3-omni\",\n\"prompt\": \"生成一张海边跳舞的图片\",\n\"element_list\": [\n{ \"element_id\": 835266081714884677 }\n]\n}\n```\n\n### 3.5 Kling Modèle d’essayage virtuel\n\nModèle exposé :\n- `kolors-virtual-try-on-v1`\n- `kolors-virtual-try-on-v1-5`\n\nParamètres d’entrée minimaux :\n- `model + human_image + cloth_image`\n\nRemarque :\n- Ces deux modèles sont eux-mêmes des modèles principaux complets ; il n’est pas nécessaire de transmettre `model_name` à nouveau.\n\nExemple :\n\n```json\n{\n\"model\": \"kolors-virtual-try-on-v1\",\n\"human_image\": \"https://example.com/human.jpg\",\n\"cloth_image\": \"https://example.com/cloth.jpg\"\n}\n```",
        "operationId": "createImageGeneration",
        "tags": [
          "Génération d’imagesOpenAI au format DALL-E"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Nom du modèle d’image exposé publiquement.",
                    "example": "dall-e-3",
                    "enum": [
                      "nano-banana",
                      "doubao-seedream-3-0-t2i-250415",
                      "kling-image",
                      "kling-omni-image",
                      "kolors-virtual-try-on-v1",
                      "kolors-virtual-try-on-v1-5"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Description de génération d’image. Ce paramètre peut être omis pour le modèle d’essayage virtuel."
                  },
                  "n": {
                    "type": "integer",
                    "description": "Nombre d’images à générer.",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "Expression de la taille ou de la résolution.",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "Niveau de qualité.",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "Style",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "Format de retour.",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "Identifiant de l'utilisateur"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "nano_banana_text2img": {
                  "summary": "Nano Banana génération d’images à partir de texte",
                  "value": {
                    "model": "nano-banana",
                    "prompt": "a cute cat running in cloud",
                    "n": 1,
                    "size": "1024x1792"
                  }
                },
                "seedream_text2img": {
                  "summary": "Génération d’images à partir de texte avec Seedream",
                  "value": {
                    "model": "doubao-seedream-3-0-t2i-250415",
                    "prompt": "一张电影感海边日落人像",
                    "size": "1536x1024",
                    "n": 1
                  }
                },
                "kling_text2img": {
                  "summary": "Kling Génération d’images à partir de texte",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v3",
                    "prompt": "海边日落，电影感人像",
                    "aspect_ratio": "16:9",
                    "n": 1
                  }
                },
                "kling_img2img": {
                  "summary": "Kling Image à image",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v2-1",
                    "prompt": "改成赛博朋克夜景风格",
                    "image": "https://example.com/input.png",
                    "n": 1
                  }
                },
                "kling_omni_image": {
                  "summary": "Kling image Omni",
                  "value": {
                    "model": "kling-omni-image",
                    "model_name": "kling-v3-omni",
                    "prompt": "生成一张海边跳舞的图片",
                    "element_list": [
                      {
                        "element_id": 835266081714884677
                      }
                    ]
                  }
                },
                "kling_virtual_try_on": {
                  "summary": "Kling essayage virtuel",
                  "value": {
                    "model": "kolors-virtual-try-on-v1",
                    "human_image": "https://example.com/human.jpg",
                    "cloth_image": "https://example.com/cloth.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "L'image a été générée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/fr/génération-d’imagesopenai-au-format-dall-e/générer-des-images（openai-compatible-avec-dall-e）"
        }
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "Modifier l’image (compatible avec OpenAI Dall-E)",
        "deprecated": false,
        "description": "OpenAI Interface de retouche d’images au format Dall-E.",
        "operationId": "createImageEdit",
        "tags": [
          "Génération d’imagesOpenAI au format DALL-E"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image à modifier"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image de masque facultative"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Modifier le prompt"
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "L'image a été générée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/fr/génération-d’imagesopenai-au-format-dall-e/modifier-l’image-compatible-avec-openai-dall-e"
        }
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "Créer une vidéo",
        "deprecated": false,
        "description": "OpenAI Sora interface de génération vidéo compatible avec les formats. Prend en charge la génération texte-vers-vidéo ainsi que les modes de génération à partir d’une image/vidéo de référence.\n\n- `POST /v1/videos` : Créer une tâche vidéo\n- `GET /v1/videos/{video_id}` : Consulter l'état de la tâche\n- `GET /v1/videos/{video_id}/content` : obtenir le contenu binaire de la vidéo\n\nActuellement non disponible pour les utilisateurs externes :\n- `GET /v1/videos`\n- `POST /v1/videos/{video_id}/remix`\n\nEn-têtes d'authentification standard :\n- `Content-Type: application/json`\n\n1. Créez une tâche via `POST /v1/videos` et obtenez `id`\n2. Interrogez `GET /v1/videos/{id}` jusqu’à `completed` ou `failed`\n3. Une fois terminé, utilisez en priorité `video_url` renvoyé dans la réponse\n4. Si un téléchargement unifié est nécessaire, appelez `GET /v1/videos/{id}/content`\n\nParamètres principaux :\n- `model: string` : requis, nom du modèle exposé\n- `prompt: string` : recommandé, description de génération de la vidéo\n- `seconds: number|string` : facultatif, durée cible\n- `duration: number|string` : facultatif, alias de durée\n- `size: string` : facultatif, taille de sortie\n- `mode: string` : facultatif, valeurs courantes `t2v` `i2v` `i2v_first_last` `reference_material`\n\nParamètres de compatibilité courants :\n- `aspect_ratio`\n- `ratio`\n- `quality`\n- `resolution`\n- `fps`\n- `image`\n- `image_url`\n- `image_urls`\n- `images`\n- `reference_images`\n- `input_reference`\n- `end_image_url`\n- `last_image_url`\n- `video_urls`\n- `audio_urls`\n- `function_mode`\n- `content`\n- `callback_url`\n- `external_task_id`\n\nParamètres d’extension courants de Kling :\n- `model_name`\n- `negative_prompt`\n- `cfg_scale`\n- `sound`\n- `camera_control`\n- `image_list`\n- `video_id`\n- `task_id`\n- `watermark_info`\n\n### 4.1 série Veo\n\nRemarque : `stable`, `official`, etc. indiquent différents groupes et ne sont pas des suffixes `model` exposés à l’extérieur ; lors de l’appel, veuillez conserver `model` comme nom de modèle de base, et le groupe réellement utilisé sera déterminé par le groupe du compte ou du jeton.\n\n#### modèle principal Veo 3.x\n\n- `veo3`\n- `veo3-fast`\n- `veo3-fast-frames`\n- `veo3-frames`\n- `veo3-pro`\n- `veo3-pro-frames`\n- `veo3.1`\n- `veo3.1-fast`\n- `veo3.1-pro`\n- `veo3.1-components`\n- `veo3.1-4k`\n- `veo3.1-pro-4k`\n\nRecommandations :\n- Pour la génération de vidéo à partir de texte seul, utilisez en priorité les modèles principaux `veo3*` / `veo3.1*`\n- Pour les scénarios de génération de vidéo à partir d’image ou avec image de référence, il est recommandé de transmettre explicitement `mode + image_url/reference_images`\n\n### 4.2 série Sora\n\nModèles de base :\n- `sora-2`\n- `sora-2-pro`\n\nRecommandations :\n- `sora-2*` convient aux appels généraux\n- Si vous devez utiliser des groupes tels que `stable` / `official`, veuillez conserver `model` comme nom de modèle de base et ne pas ajouter de suffixe au nom du modèle.\n\n### 4.3 série Seedance\n\nModèle exposé :\n- `doubao-seedance-1-0-lite-t2v-250428`\n- `doubao-seedance-1-0-lite-i2v-250428`\n- `doubao-seedance-1-0-pro-250528`\n- `doubao-seedance-1-0-pro-fast-251015`\n- `doubao-seedance-1-5-pro-251215`\n- `doubao-seedance-2-0-260128`\n- `doubao-seedance-2-0-fast-260128`\n\nRecommandations :\n- Pour la génération de vidéo à partir de texte, privilégiez `*-t2v-*` ou `pro / fast`\n- Pour la génération de vidéo à partir d'image, privilégiez `*-i2v-*`\n- Pour les scénarios avec des éléments de référence complexes, utilisez en priorité `content`\n\n### 4.4 série vidéo Grok\n\nModèle exposé :\n- `grok-imagine-1.0-video`\n- `grok-video-3`\n\nParamètres courants :\n- `prompt`\n- `ratio` / `aspect_ratio`\n- `resolution` / `size`\n- `seconds` / `duration`\n- `image` / `image_url` / `input_reference`\n- `reference_images`\n\nExemple :\n\n```json\n{\n\"model\": \"grok-imagine-1.0-video\",\n\"prompt\": \"雨夜霓虹街道上的电影感推镜，光影丰富，运动自然\",\n\"reference_images\": [\n\"https://example.com/ref-1.jpg\"\n],\n\"seconds\": 10,\n\"aspect_ratio\": \"16:9\",\n\"resolution\": \"720P\"\n}\n```\n\n### 4.5 modèle principal vidéo Kling\n\nModèle principal exposé :\n- `kling-video`\n\nObligatoire :\n- `model`\n- `model_name`\n\n`model_name` pris en charge :\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v1-6`\n- `kling-v2-master`\n- `kling-v2-1`\n- `kling-v2-1-master`\n- `kling-v2-5-turbo`\n- `kling-v2-6`\n- `kling-v3`\n\n`mode` courants :\n- `t2v`\n- `i2v`\n- `multi_i2v`\n- `extend`\n\nParamètres d’entrée minimaux :\n- Génération de vidéo à partir de texte : `model + model_name + prompt + mode=t2v`\n- Génération de vidéo à partir d'image : `model + model_name + prompt + mode=i2v + image`\n- Référence multi-image : `model + model_name + prompt + mode=multi_i2v + image_list`\n- Extension de vidéo : `model + model_name + mode=extend + video_id`\n\nExemple :\n\n```json\n{\n\"model\": \"kling-video\",\n\"model_name\": \"kling-v2-6\",\n\"mode\": \"t2v\",\n\"prompt\": \"海边日落镜头，电影感，风吹长发\",\n\"duration\": 5,\n\"aspect_ratio\": \"16:9\"\n}\n```\n\n- `mode=t2v`\n- Entrée minimale : `model + prompt`\n\n- `mode=i2v`\n- Entrée minimale : `model + prompt + image_url`\n\n- `mode=i2v_first_last`\n- Entrée minimale : `model + prompt + image_url + end_image_url`\n\n- `mode=reference_images`\n- Entrée minimale : `model + prompt + reference_images`\n\n- `mode=reference_material`\n- Entrée minimale : `model + prompt + (image_urls/video_urls/audio_urls 至少一种)`\n\n### Instructions d’appel Gemini Omni\n\n- `gemini-omni` est le nom public du modèle vidéo de new-api, utilisable directement via `POST /v1/videos`.\n- `mode=t2v` : génération texte-vers-vidéo, le paramètre d’entrée minimal est `model + prompt`.\n- `mode=r2v` : génération à partir d’une image/ressource de référence ; l’image peut être placée dans `image`, `image_url`, `images`, `image_urls`, `reference_images`, `input_reference` ou `content`.\n- `mode=edit` : édition vidéo ; la vidéo peut être placée dans `video`, `video_url`, `videos` ou `content`, et une image de référence peut également être fournie.\n- Le champ de durée peut utiliser `seconds` ou `duration` ; il sera automatiquement aligné sur les paliers de 4 / 6 / 8 / 10 secondes.",
        "operationId": "createVideo",
        "tags": [
          "Formats compatibles avec la génération de vidéosSora"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Obligatoire, nom du modèle exposé à l’extérieur. `gemini-omni` Peut être appelé via `/v1/videos`.",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "gemini-omni",
                      "happyhorse-1.0",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-imagine-1.0-video",
                      "grok-video-3",
                      "viduq3-turbo",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Point d’entrée unifié pour les prompts. Requis pour la plupart des modèles."
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Point d'entrée pour image unique ; certains modes de compatibilité seront mappés sur `images`."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Paramètre de durée unifié ; certains modèles acceptent également `seconds`."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Conteneur de champs d'extension dynamiques. De nombreux champs spécifiques au modèle sont désérialisés à partir d'ici."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Facultatif, mode de génération vidéo. `gemini-omni` prend en charge `t2v`, `r2v` et `edit`."
                  },
                  "images": {
                    "type": "array",
                    "description": "Point d’entrée unifié pour plusieurs images. Utilisé par Vidu, Seedance, Veo, etc.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Point d’entrée unifié pour la taille, qui sera mappé vers resolution/aspect_ratio, etc."
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora point d’entrée de compatibilité, au moment de l’exécution, la valeur de secours sera duration."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Point d’entrée d’image de référence compatible Sora/Veo, peut être un fichier multipart ou un objet compatible."
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Obligatoire, nom du modèle exposé à l’extérieur. `gemini-omni` Peut être appelé via `/v1/videos`.",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "gemini-omni",
                      "happyhorse-1.0",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-imagine-1.0-video",
                      "grok-video-3",
                      "viduq3-turbo",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Point d’entrée unifié pour les prompts. Requis pour la plupart des modèles."
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Point d'entrée pour image unique ; certains modes de compatibilité seront mappés sur `images`."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Paramètre de durée unifié ; certains modèles acceptent également `seconds`."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Conteneur de champs d'extension dynamiques. De nombreux champs spécifiques au modèle sont désérialisés à partir d'ici."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Facultatif, mode de génération vidéo. `gemini-omni` prend en charge `t2v`, `r2v` et `edit`."
                  },
                  "images": {
                    "type": "array",
                    "description": "Point d’entrée unifié pour plusieurs images. Utilisé par Vidu, Seedance, Veo, etc.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Point d’entrée unifié pour la taille, qui sera mappé vers resolution/aspect_ratio, etc."
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora point d’entrée de compatibilité, au moment de l’exécution, la valeur de secours sera duration."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Point d’entrée d’image de référence compatible Sora/Veo, peut être un fichier multipart ou un objet compatible."
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "openai_t2v": {
                  "summary": "OpenAI t2v (prompt/model)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_i2v_input_reference": {
                  "summary": "OpenAI i2v (input_reference)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_alias_compat": {
                  "summary": "Alias兼容 (image_url/duration/aspect_ratio)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                },
                "gemini_omni_sora_t2v": {
                  "summary": "Gemini Omni Sora t2v",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "t2v",
                    "prompt": "A cinematic product video with smooth camera motion",
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "gemini_omni_sora_r2v": {
                  "summary": "Gemini Omni Sora r2v",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "r2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "Keep the product consistent and create a short ad video"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/product.jpg"
                        }
                      }
                    ],
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "gemini_omni_sora_edit": {
                  "summary": "Gemini Omni Sora edit",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "edit",
                    "content": [
                      {
                        "type": "text",
                        "text": "Change the outfit color while keeping the motion natural"
                      },
                      {
                        "type": "video_url",
                        "video_url": {
                          "url": "https://example.com/input.mp4"
                        }
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/style.jpg"
                        }
                      }
                    ],
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "happyhorse_sora_t2v": {
                  "summary": "HappyHorse Sora t2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "t2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic white horse running through a neon city street"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P",
                    "ratio": "16:9"
                  }
                },
                "happyhorse_sora_i2v": {
                  "summary": "HappyHorse Sora i2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "i2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "The camera slowly pushes in, natural motion"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/first-frame.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P"
                  }
                },
                "happyhorse_sora_r2v": {
                  "summary": "HappyHorse Sora r2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "r2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "Keep the character and product consistent in a short cinematic clip"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-2.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P",
                    "ratio": "16:9"
                  }
                },
                "happyhorse_sora_video_edit": {
                  "summary": "HappyHorse Sora video_edit",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "video_edit",
                    "content": [
                      {
                        "type": "text",
                        "text": "Change the jacket to a striped sweater and keep the motion natural"
                      },
                      {
                        "type": "video_url",
                        "video_url": "https://example.com/input.mp4"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/reference.jpg"
                      }
                    ],
                    "resolution": "720P"
                  }
                },
                "seedance_i2v_first": {
                  "summary": "Seedance i2v_first",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_i2v_first_last": {
                  "summary": "Seedance i2v_first_last",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_images": {
                  "summary": "Seedance reference_images",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_material": {
                  "summary": "Seedance mode de référence tout-en-un (reference_material)",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_volc_content": {
                  "summary": "Seedance Mode content de Volcengine Ark",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "veo_first_last_frame": {
                  "summary": "Veo Mode image de début et de fin",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "veo_reference_images_1to3": {
                  "summary": "Veo mode avec 1 à 3 images de référence",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "kling_text2video": {
                  "summary": "Kling Génération de vidéo à partir de texte",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "kling_image2video": {
                  "summary": "Kling Image-vers-Vidéo",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "grok_reference_video": {
                  "summary": "Grok Mode vidéo",
                  "value": {
                    "model": "grok-imagine-1.0-video",
                    "prompt": "A dramatic cinematic shot with fast motion and rich lighting",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": 10,
                    "aspect_ratio": "16:9",
                    "resolution": "720P"
                  }
                },
                "vidu_sora_t2v": {
                  "summary": "Vidu Sora t2v",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "t2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A stylish product ad clip with cinematic lighting"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_sora_i2v": {
                  "summary": "Vidu Sora i2v",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "i2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A stylish ad clip from a product still image"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/product.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_sora_first_last": {
                  "summary": "Vidu Sora i2v_first_last",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "i2v_first_last",
                    "content": [
                      {
                        "type": "text",
                        "text": "A smooth shot from start frame to end frame"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/start.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/end.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_sora_reference": {
                  "summary": "Vidu Sora reference_images",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "reference_images",
                    "content": [
                      {
                        "type": "text",
                        "text": "Maintain product style and character consistency"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-2.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-3.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "hailuo_text2video": {
                  "summary": "Hailuo Génération de vidéo à partir de texte",
                  "value": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tâche vidéo créée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Compatible avec l'ancienne interface, bientôt obsolète"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "Should use VideoStatus constants: VideoStatusQueued, VideoStatusInProgress, VideoStatusCompleted, VideoStatusFailed",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed",
                        "video_url",
                        "url",
                        "completed_at"
                      ]
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "completed_at": {
                      "type": "integer"
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Paramètres de requête non valides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/fr/formats-compatibles-avec-la-génération-de-vidéossora/créer-une-vidéo"
        }
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Obtenir le statut de la tâche vidéo",
        "deprecated": false,
        "description": "OpenAI Interface de requête de l’état des tâches vidéo compatible.\n\nRenvoie les informations d'état détaillées de la tâche vidéo.",
        "operationId": "getVideo",
        "tags": [
          "Formats compatibles avec la génération de vidéosSora"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID de la tâche vidéo",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statut de la tâche vidéo récupéré avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL du résultat vidéo. Différents modèles peuvent renvoyer soit `video_url`, soit `url`."
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL du résultat vidéo. Différents modèles peuvent renvoyer soit `url`, soit `video_url`."
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "Heure d'achèvement (en secondes Unix)."
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "Délai d'expiration du résultat (secondes Unix)."
                    },
                    "error": {
                      "type": "object",
                      "description": "Message d'erreur en cas d'échec."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Métadonnées supplémentaires."
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "La tâche n'existe pas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/fr/formats-compatibles-avec-la-génération-de-vidéossora/obtenir-le-statut-de-la-tâche-vidéo"
        }
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "Obtenir le contenu de la vidéo",
        "deprecated": false,
        "description": "Récupérer le contenu du fichier vidéo pour les tâches vidéo terminées.\n\nCette interface renvoie le flux du fichier vidéo via un proxy.",
        "operationId": "getVideoContent",
        "tags": [
          "Formats compatibles avec la génération de vidéosSora"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID de la tâche vidéo",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contenu vidéo récupéré avec succès",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "La vidéo n'existe pas ou n'est pas terminée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/fr/formats-compatibles-avec-la-génération-de-vidéossora/obtenir-le-contenu-de-la-vidéo"
        }
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling Génération de vidéo à partir de texte",
        "deprecated": false,
        "description": "Cette série prend en charge le format de génération vidéo OpenAI (voir le lien [Formats compatibles pour la génération vidéo Sora](/api-reference/fr/generation-video-format-compatible-sora/creer-video)).\n\nUtilisez le modèle Kling pour générer des vidéos à partir de descriptions textuelles.\n\nModèles pris en charge : kling-v1, kling-v1-5, etc.",
        "operationId": "createKlingText2Video",
        "tags": [
          "Format de génération vidéo Kling"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "La tâche de génération de vidéo a été créée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Paramètres de requête non valides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/fr/format-de-génération-vidéo-kling/kling-génération-de-vidéo-à-partir-de-texte"
        }
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "Obtenir l’état de la tâche de génération de vidéo à partir de texte Kling",
        "deprecated": false,
        "description": "Cette série prend en charge le format de génération vidéo OpenAI (voir le lien [Formats compatibles pour la génération vidéo Sora](/api-reference/fr/generation-video-format-compatible-sora/creer-video)).\n\nConsulte l'état et le résultat de la tâche de génération de vidéo à partir de texte Kling.",
        "operationId": "getKlingText2Video",
        "tags": [
          "Format de génération vidéo Kling"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID de la tâche",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statut de la tâche récupéré avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "La tâche n'existe pas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/fr/format-de-génération-vidéo-kling/obtenir-l’état-de-la-tâche-de-génération-de-vidéo-à-partir-de-texte-kling"
        }
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling Image-vers-Vidéo",
        "deprecated": false,
        "description": "Cette série prend en charge le format de génération vidéo OpenAI (voir le lien [Formats compatibles pour la génération vidéo Sora](/api-reference/fr/generation-video-format-compatible-sora/creer-video)).\n\nUtilisez le modèle Kling pour générer des vidéos à partir d’images.\n\nPrend en charge le passage d'URL d'image ou de données d'image encodées en Base64 via le paramètre `image`.",
        "operationId": "createKlingImage2Video",
        "tags": [
          "Format de génération vidéo Kling"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "La tâche de génération de vidéo a été créée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Paramètres de requête non valides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/fr/format-de-génération-vidéo-kling/kling-image-vers-vidéo"
        }
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "Obtenir l’état de la tâche de génération de vidéo à partir d’une image Kling",
        "deprecated": false,
        "description": "Cette série prend en charge le format de génération vidéo OpenAI (voir le lien [Formats compatibles pour la génération vidéo Sora](/api-reference/fr/generation-video-format-compatible-sora/creer-video)).\n\nConsultez l’état et le résultat de la tâche image vers vidéo Kling.",
        "operationId": "getKlingImage2Video",
        "tags": [
          "Format de génération vidéo Kling"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID de la tâche",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statut de la tâche récupéré avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "La tâche n'existe pas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/fr/format-de-génération-vidéo-kling/obtenir-l’état-de-la-tâche-de-génération-de-vidéo-à-partir-d’une-image-kling"
        }
      }
    },
    "/api/v1/services/aigc/video-generation/video-synthesis": {
      "post": {
        "summary": "Créer une vidéo(HappyHorse)",
        "description": "Cette série prend en charge le format de génération vidéo OpenAI (voir le lien [Formats compatibles pour la génération vidéo Sora](/api-reference/fr/generation-video-format-compatible-sora/creer-video)).\n\nHappyHorse Interface de génération vidéo d’Alibaba, le chemin public suit le protocole officiel DashScope.\n\nPrend en charge 5 modèles exposés : `happyhorse-1.0`, `happyhorse-1.0-i2v`, `happyhorse-1.0-t2v`, `happyhorse-1.0-r2v`, `happyhorse-1.0-video-edit`. Parmi eux, `happyhorse-1.0` est un modèle agrégateur et doit être distingué via `mode` entre `t2v`, `i2v`, `r2v` et `video_edit`.\n\nL’interface publique conserve le format officiel des endpoints ; le préfixe spécifique au canal est utilisé uniquement pour l’assemblage interne lorsque la passerelle appelle un canal amont spécifique. Le client n’a pas besoin de transmettre explicitement `X-DashScope-Async` ; cela est traité par la passerelle ou la couche d’adaptation du canal officiel.\n\nAjoute le squelette de requête publique, la structure de requête de tâche et le modèle de validation recommandé du format officiel de génération vidéo d’Alibaba HappyHorse ; le chemin public conserve le format officiel des endpoints.\n\nModèles pris en charge :\nhappyhorse-1.0, happyhorse-1.0-t2v, happyhorse-1.0-i2v, happyhorse-1.0-r2v, happyhorse-1.0-video-edit\n\nChamps de requête unifiés :\n- `model` (string, obligatoire) : nom du modèle exposé de HappyHorse. Le modèle agrégateur `happyhorse-1.0` doit être utilisé avec `mode`.\n- `mode` (string, facultatif) : mode du modèle agrégateur ; les valeurs courantes sont `t2v`, `i2v`, `r2v` et `video_edit`. Les sous-modèles fixes peuvent être omis.\n- `input.prompt` (string, obligatoire) : prompt de génération ou d’édition vidéo.\n- `input.media` (array[object], facultatif) : entrées multimédias. Pour l’image vers vidéo, utilisez `first_frame` ; pour la référence vers vidéo, utilisez `reference_image` ; pour l’édition vidéo, utilisez `video` et éventuellement `reference_image`.\n- `parameters.duration` (integer, facultatif) : durée de génération, facturée à la seconde.\n- `parameters.resolution` (string, facultatif) : résolution de sortie ; valeurs courantes `720P` et `1080P`.\n- `parameters.ratio` (string, facultatif) : format d’image de sortie, couramment utilisé pour le texte vers vidéo et la référence vers vidéo.\n- `parameters.watermark` (boolean, facultatif) : indiquer s’il faut ajouter un filigrane.\n- `parameters.seed` (integer, facultatif) : graine aléatoire.\n\nDifférences courantes entre modèles/modes :\n- `HappyHorse 聚合模型` : prend en charge le modèle happyhorse-1.0 ; le modèle agrégateur distingue le modèle final via mode.\n- `HappyHorse 文生视频` : prend en charge le modèle happyhorse-1.0-t2v ; format officiel texte vers vidéo.\n- `HappyHorse 首帧图生视频` : prend en charge le modèle happyhorse-1.0-i2v ; format officiel image de première frame vers vidéo.\n- `HappyHorse 参考生视频` : prend en charge le modèle happyhorse-1.0-r2v ; format officiel référence multiple vers vidéo.\n- `HappyHorse 视频编辑` : prend en charge le modèle happyhorse-1.0-video-edit ; format officiel d’édition vidéo.",
        "operationId": "create__happyhorse__task",
        "tags": [
          "Génération vidéoHappyHorseAlibaba"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "happyhorse-1.0",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit"
                    ],
                    "example": "happyhorse-1.0-t2v",
                    "description": "Nom du modèle externe de HappyHorse. Le modèle agrégé `happyhorse-1.0` doit être utilisé avec `mode`."
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "t2v",
                      "i2v",
                      "r2v",
                      "video_edit"
                    ],
                    "description": "Modele de modèle agrégé, les valeurs courantes sont `t2v`, `i2v`, `r2v` et `video_edit`. Le sous-modèle fixe est facultatif."
                  },
                  "input": {
                    "type": "object",
                    "required": [
                      "prompt"
                    ],
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "example": "A white horse running through a neon city street, cinematic",
                        "description": "Invite de génération ou de modification vidéo."
                      },
                      "media": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "type",
                            "url"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "first_frame",
                                "reference_image",
                                "video"
                              ]
                            },
                            "url": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        },
                        "description": "Entrée multimédia. Pour l’image vers vidéo, utilisez `first_frame` ; pour la vidéo à partir de référence, utilisez `reference_image` ; pour l’édition vidéo, utilisez `video` et, en option, `reference_image`."
                      }
                    }
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "resolution": {
                        "type": "string",
                        "enum": [
                          "720P",
                          "1080P"
                        ],
                        "example": "720P",
                        "description": "Résolution de sortie, valeurs courantes `720P` et `1080P`."
                      },
                      "ratio": {
                        "type": "string",
                        "example": "16:9",
                        "description": "Rapport largeur/hauteur de sortie, couramment utilisé pour la génération de vidéos à partir de texte et à partir de référence."
                      },
                      "duration": {
                        "type": "integer",
                        "example": 5,
                        "description": "Durée de génération, facturation à la seconde."
                      },
                      "watermark": {
                        "type": "boolean",
                        "description": "Ajouter un filigrane ou non."
                      },
                      "seed": {
                        "type": "integer",
                        "description": "Graine aléatoire."
                      }
                    }
                  }
                }
              },
              "examples": {
                "happyhorse_native_aggregate_t2v": {
                  "summary": "HappyHorse modèle d’agrégation",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "t2v",
                    "input": {
                      "prompt": "A white horse running through a neon city street, cinematic"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_t2v": {
                  "summary": "HappyHorse génération de vidéo à partir de texte",
                  "value": {
                    "model": "happyhorse-1.0-t2v",
                    "input": {
                      "prompt": "A white horse running through a neon city street, cinematic"
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_i2v": {
                  "summary": "HappyHorse Génération vidéo à partir de la première image",
                  "value": {
                    "model": "happyhorse-1.0-i2v",
                    "input": {
                      "prompt": "The subject walks forward naturally",
                      "media": [
                        {
                          "type": "first_frame",
                          "url": "https://example.com/first-frame.jpg"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_r2v": {
                  "summary": "HappyHorse vidéo générée à partir d’une vidéo de référence",
                  "value": {
                    "model": "happyhorse-1.0-r2v",
                    "input": {
                      "prompt": "Keep the character and product consistent in a cinematic shot",
                      "media": [
                        {
                          "type": "reference_image",
                          "url": "https://example.com/ref-1.jpg"
                        },
                        {
                          "type": "reference_image",
                          "url": "https://example.com/ref-2.jpg"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P",
                      "ratio": "16:9",
                      "duration": 5
                    }
                  }
                },
                "happyhorse_native_video_edit": {
                  "summary": "HappyHorse Édition vidéo",
                  "value": {
                    "model": "happyhorse-1.0-video-edit",
                    "input": {
                      "prompt": "Change the jacket to a striped sweater",
                      "media": [
                        {
                          "type": "video",
                          "url": "https://example.com/input.mp4"
                        },
                        {
                          "type": "reference_image",
                          "url": "https://example.com/reference.jpg"
                        }
                      ]
                    },
                    "parameters": {
                      "resolution": "720P"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tâche créée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "task_xxx"
                    },
                    "output": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string",
                          "description": "ID de tâche renvoyé lors de la création de la tâche, utilisé pour interroger la tâche."
                        },
                        "task_status": {
                          "type": "string",
                          "description": "État de la tâche, valeurs courantes `PENDING`, `RUNNING`, `SUCCEEDED` et `FAILED`."
                        },
                        "video_url": {
                          "type": "string",
                          "description": "URL de la vidéo générée après la réussite de la tâche."
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "duration": {
                          "type": "string",
                          "description": "Durée facturée, en secondes."
                        },
                        "SR": {
                          "type": "string",
                          "description": "Niveau de résolution de sortie."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-mint": {
          "href": "/api-reference/fr/génération-vidéohappyhorsealibaba/créer-une-vidéohappyhorse"
        }
      }
    },
    "/api/v1/tasks/{task_id}": {
      "get": {
        "summary": "Interroger la tâche(HappyHorse)",
        "description": "Cette série prend en charge le format de génération vidéo OpenAI (voir le lien [Formats compatibles pour la génération vidéo Sora](/api-reference/fr/generation-video-format-compatible-sora/creer-video)).\n\nHappyHorse Interface de génération vidéo d’Alibaba, le chemin public suit le protocole officiel DashScope.\n\nPrend en charge 5 modèles exposés : `happyhorse-1.0`, `happyhorse-1.0-i2v`, `happyhorse-1.0-t2v`, `happyhorse-1.0-r2v`, `happyhorse-1.0-video-edit`. Parmi eux, `happyhorse-1.0` est un modèle agrégateur et doit être distingué via `mode` entre `t2v`, `i2v`, `r2v` et `video_edit`.\n\nL’interface publique conserve le format officiel des endpoints ; le préfixe spécifique au canal est utilisé uniquement pour l’assemblage interne lorsque la passerelle appelle un canal amont spécifique. Le client n’a pas besoin de transmettre explicitement `X-DashScope-Async` ; cela est traité par la passerelle ou la couche d’adaptation du canal officiel.\n\nAjoute le squelette de requête publique, la structure de requête de tâche et le modèle de validation recommandé du format officiel de génération vidéo d’Alibaba HappyHorse ; le chemin public conserve le format officiel des endpoints.\n\nModèles pris en charge :\nhappyhorse-1.0, happyhorse-1.0-t2v, happyhorse-1.0-i2v, happyhorse-1.0-r2v, happyhorse-1.0-video-edit\n\nChamps de requête unifiés :\n- `model` (string, obligatoire) : nom du modèle exposé de HappyHorse. Le modèle agrégateur `happyhorse-1.0` doit être utilisé avec `mode`.\n- `mode` (string, facultatif) : mode du modèle agrégateur ; les valeurs courantes sont `t2v`, `i2v`, `r2v` et `video_edit`. Les sous-modèles fixes peuvent être omis.\n- `input.prompt` (string, obligatoire) : prompt de génération ou d’édition vidéo.\n- `input.media` (array[object], facultatif) : entrées multimédias. Pour l’image vers vidéo, utilisez `first_frame` ; pour la référence vers vidéo, utilisez `reference_image` ; pour l’édition vidéo, utilisez `video` et éventuellement `reference_image`.\n- `parameters.duration` (integer, facultatif) : durée de génération, facturée à la seconde.\n- `parameters.resolution` (string, facultatif) : résolution de sortie ; valeurs courantes `720P` et `1080P`.\n- `parameters.ratio` (string, facultatif) : format d’image de sortie, couramment utilisé pour le texte vers vidéo et la référence vers vidéo.\n- `parameters.watermark` (boolean, facultatif) : indiquer s’il faut ajouter un filigrane.\n- `parameters.seed` (integer, facultatif) : graine aléatoire.\n\nDifférences courantes entre modèles/modes :\n- `HappyHorse 聚合模型` : prend en charge le modèle happyhorse-1.0 ; le modèle agrégateur distingue le modèle final via mode.\n- `HappyHorse 文生视频` : prend en charge le modèle happyhorse-1.0-t2v ; format officiel texte vers vidéo.\n- `HappyHorse 首帧图生视频` : prend en charge le modèle happyhorse-1.0-i2v ; format officiel image de première frame vers vidéo.\n- `HappyHorse 参考生视频` : prend en charge le modèle happyhorse-1.0-r2v ; format officiel référence multiple vers vidéo.\n- `HappyHorse 视频编辑` : prend en charge le modèle happyhorse-1.0-video-edit ; format officiel d’édition vidéo.",
        "operationId": "query__happyhorse__task",
        "tags": [
          "Génération vidéoHappyHorseAlibaba"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de tâche, provenant de `id` renvoyé lors de la création de la tâche."
          }
        ],
        "responses": {
          "200": {
            "description": "Requête réussie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string",
                          "description": "ID de tâche renvoyé lors de la création de la tâche, utilisé pour interroger la tâche."
                        },
                        "task_status": {
                          "type": "string",
                          "enum": [
                            "PENDING",
                            "RUNNING",
                            "SUCCEEDED",
                            "FAILED",
                            "UNKNOWN"
                          ],
                          "description": "État de la tâche, valeurs courantes `PENDING`, `RUNNING`, `SUCCEEDED` et `FAILED`."
                        },
                        "submit_time": {
                          "type": "string"
                        },
                        "scheduled_time": {
                          "type": "string"
                        },
                        "end_time": {
                          "type": "string"
                        },
                        "video_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL de la vidéo générée après la réussite de la tâche."
                        },
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
[...]
