{
  "openapi": "3.0.0",
  "info": {
    "title": "Documentation de référence API pour l'expansion internationale",
    "version": "1.0.0",
    "description": "Public AI Gateway API Reference"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "Obtenir la liste des modèles",
        "deprecated": false,
        "description": "Obtenir la liste des modèles actuellement disponibles.\n\nIdentification automatique du format de réponse selon les en-têtes de requête :\n- Renvoie le format Anthropic lorsque les en-têtes `x-api-key` et `anthropic-version` sont inclus\n- Renvoie le format Gemini lorsque l'en-tête `x-goog-api-key` ou le paramètre de requête `key` est inclus\n- Renvoie le format OpenAI dans les autres cas",
        "operationId": "listModels",
        "tags": [
          "Obtenir la liste des modèles"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Clé Google API (pour le format Gemini)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Clé Anthropic API (pour le format Claude)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Version Anthropic API",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Clé Google API (pour le format Gemini)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des modèles récupérée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Échec de l'authentification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "Obtention du format Gemini",
        "deprecated": false,
        "description": "Retourne la liste des modèles disponibles au format Gemini API",
        "operationId": "listModelsGemini",
        "tags": [
          "Obtenir la liste des modèles"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Liste des modèles récupérée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Créer une conversation de chat",
        "deprecated": false,
        "description": "Génère une réponse du modèle basée sur l'historique de la conversation. Prend en charge les réponses en streaming et non-streaming.\n\nCompatible avec OpenAI Chat Completions API.",
        "operationId": "createChatCompletion",
        "tags": [
          "Format OpenAI (Chat)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Réponse de création réussie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Paramètres de requête non valides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "Limites de débit des requêtes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "Création de réponses (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses API, utilisé pour créer des réponses de modèle.\nPrend en charge le dialogue multi-tours, l'appel d'outils, le raisonnement et d'autres fonctionnalités.",
        "operationId": "createResponse",
        "tags": [
          "Format OpenAI (Responses)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Réponse de création réussie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Images Gemini (Nano Banana)",
        "deprecated": false,
        "description": "Génération d'images Gemini.\n\nLa série Nano Banana prend en charge le format Dall-E de OpenAI (voir le lien [Génération d’images/format Dall-E de OpenAI](#tag/%E5%9B%BE%E7%89%87%E7%94%9F%E6%88%90%2FOpenAI%20Dall-E%E6%A0%BC%E5%BC%8F)).",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "Génération d'images / Format Gemini"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "Nom du modèle",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string"
                          },
                          "imageSize": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "required": [
                      "responseModalities"
                    ]
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "Générer une image (compatible OpenAI Dall-E)",
        "deprecated": false,
        "description": "Interface de génération d'images au format OpenAI Dall-E.",
        "operationId": "createImageGeneration",
        "tags": [
          "Génération d'images / Format OpenAI Dall-E"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Nom du modèle",
                    "example": "dall-e-3"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Prompt de génération d'image"
                  },
                  "n": {
                    "type": "integer",
                    "description": "Nombre de générations",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "Dimensions de l'image",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "Qualité de génération d'image",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "Style",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "Format de réponse",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "Identifiant de l'utilisateur"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "example": {
                "model": "dall-e-3",
                "prompt": "A cute baby sea otter",
                "n": 1,
                "size": "1024x1024"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "L'image a été générée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "Modifier l'image (compatible OpenAI Dall-E)",
        "deprecated": false,
        "description": "Interface d'édition d'images au format OpenAI Dall-E.",
        "operationId": "createImageEdit",
        "tags": [
          "Génération d'images / Format OpenAI Dall-E"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image à modifier"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image de masque facultative"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Modifier le prompt"
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "L'image a été générée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "Créer une vidéo",
        "deprecated": false,
        "description": "Interface de génération vidéo au format compatible OpenAI Sora. Prend en charge les modes de génération texte-vers-vidéo et référence image/vidéo.\n\n- `POST /v1/videos` : Créer une tâche vidéo\n- `GET /v1/videos/{video_id}` : Consulter l'état de la tâche\n- `GET /v1/videos/{video_id}/content` : Obtenir le contenu binaire de la vidéo (téléchargement)\n\nActuellement non disponible pour les utilisateurs externes :\n- `GET /v1/videos` : Liste des tâches\n- `POST /v1/videos/{video_id}/remix` : Réédition de vidéo / Remix\n\nEn-têtes d'authentification standard :\n- `Content-Type: application/json` (lors de la création de la tâche)\n\n1. Appelez `POST /v1/videos` pour créer une tâche et obtenir l'ID `id`.\n2. Effectuez un sondage sur `GET /v1/videos/{id}` jusqu'à `status=completed` ou `failed`.\n3. Après `completed`, utilisez en priorité l'URL `video_url` renvoyée ; si un téléchargement unifié via la passerelle est requis, vous pouvez appeler `GET /v1/videos/{id}/content`.\n\n## 3.1 Paramètres principaux\n\n- `model: string` (obligatoire)\n- Description : Nom du modèle vidéo à appeler.\n- Exemple : `sora-2`, `doubao-seedance-2-0-260128`\n\n- `prompt: string` (recommandé)\n- Description : Description principale pour la génération vidéo. Doit également être fourni lors de l'utilisation de `content` ; ne peut pas être vide.\n- Exemple : `第一人称视角果茶广告，节奏轻快`\n\n- `seconds: number|string` (facultatif)\n- Description : Durée cible. Choisissez entre ceci et `duration` ; si les deux sont fournis, le résultat de l'analyse de la passerelle prévaut généralement.\n- Exemple : `8`\n\n- `size: string` (facultatif)\n- Description : Résolution de sortie, `宽x高` est couramment utilisé.\n- Exemple : `720x1280`, `1280x720`\n\n- `mode: string` (facultatif)\n- Description : Mode de génération, `t2v` par défaut s'il n'est pas spécifié. Différents modes ont des exigences différentes pour les paramètres de ressources.\n- Exemples : `t2v`, `i2v`, `i2v_first_last`, `reference_material`\n\n## 3.2 Paramètres de compatibilité généraux\n\n- `aspect_ratio` ou `ratio` : Format d'image (aspect ratio).\n- `duration` : Alias de durée (choisissez soit `duration`, soit `seconds`).\n- `quality` ou `resolution` : Paramètres relatifs à la résolution/clarté.\n- `fps` : Fréquence d'images (FPS).\n- `function_mode` : Mode de fonction optionnel, utilisé pour déclencher des comportements spécifiques (par ex. `omni_reference` pour la sémantique de référence omnipotente).\n\n## 3.3 Paramètres du matériel de référence\n\n- `input_reference` : Objet d'entrée de référence standard.\n- Remarque : Seule la syntaxe d'URL sous forme de chaîne est prise en charge ; la syntaxe d'objet ne l'est pas.\n- Exemple correct : `\"input_reference\": \"https://example.com/ref.png\"`\n- Exemple incorrect : `\"input_reference\": { \"image_url\": \"https://example.com/ref.png\" }`\n\n- `image_url` / `image_urls` : Référence d'image.\n- Remarque : `image_url` est souvent utilisé pour une image unique ; `image_urls` est utilisé pour plusieurs images ou une référence omnipotente.\n\n- `end_image_url` / `last_image_url` : Référence de la dernière image (end frame).\n- Remarque : Généralement associé à `mode=i2v_first_last` pour représenter l'image de fin de la vidéo.\n\n- `video_urls` : Liste de références vidéo.\n- Remarque : Souvent utilisé dans les scénarios de référence omnipotente `reference_material` ou `content`.\n\n- `audio_urls` : Liste de références audio.\n- Remarque : Utilisé pour la référence au style de musique de fond ou de narration (l'efficacité dépend des capacités du modèle).\n\n- `reference_images` : Référence multi-images.\n- Remarque : Couramment utilisé pour les modes de référence multi-images ou multi-trames.\n\nRemarque : Les exigences relatives aux champs de matériel varient selon les modèles. Il est recommandé de passer les paramètres conformément à la section « Modes et paramètres d'entrée minimaux » ci-dessous.\n\n## 3.4 Mode avancé content (recommandé pour les scénarios de référence complexes)\n\nVous pouvez directement passer un tableau `content` :\n- `type=text` : Instructions textuelles.\n- `type=image_url|video_url|audio_url` : Entrée multimédia.\n- Prend en charge `name` pour référencer des ressources via `@名称` dans le texte.\n\nContraintes obligatoires :\n- Lors de l'utilisation de `content`, `prompt` doit toujours être transmis et ne peut pas être vide.\n\nSyntaxes compatibles :\n- `image_url/video_url/audio_url` peut être une chaîne de caractères ou un objet `{ \"url\": \"https://...\" }`.\n- `role` peut utiliser `material`, et est également compatible avec `reference_image/reference_video/reference_audio`.\n\nPeut inclure simultanément :\n- `generate_audio: boolean`\n- `watermark: boolean`\n\nRemarques supplémentaires :\n- `generate_audio=true` : Demande au modèle de générer simultanément de l'audio (effectif uniquement pour les modèles prenant en charge cette fonctionnalité).\n- `watermark=false` : Demande de désactivation du filigrane (l'effet réel dépend du modèle et de la politique du canal).\n- `name` : Alias de la ressource, il est recommandé qu'il soit identique à `@名称` dans `text` pour aider le modèle à associer correctement les ressources.\n\nLa prise en charge des paramètres varie considérablement d'une famille de modèles à l'autre ; il est recommandé de choisir les paramètres selon le tableau suivant :\n\n| Famille de modèles | Noms de modèles courants (exemples) | Paramètres d'entrée minimaux recommandés | Paramètres d'extension courants | Remarques |\n|---|---|---|---|---|\n| Seedance | `doubao-seedance-*` | `model + prompt + mode` | `image_url/image_urls/end_image_url/reference_images/video_urls/audio_urls/function_mode/content` | Le plus sensible à `mode` ; toutes les versions ne prennent pas en charge `reference_material`. |\n| Sora Général | `sora-2`, `sora-2-pro` et `*-stable/*-official` | `model + prompt` | `seconds/size`, il est conseillé de compléter avec `input_reference` (chaîne URL) | Lors d'un fallback multi-canal, les exigences relatives aux images peuvent varier ; il est recommandé de préparer une image de référence pour améliorer le taux de réussite. |\n| Sora Durée prédéfinie | `sora2-landscape-10s`, `sora2-pro-portrait-25s`, etc. | `model + prompt` | `image_url/input_reference` | La durée et l'orientation sont généralement déterminées par le nom du modèle, `seconds/ratio` n'est effectif que si le modèle le permet. |\n| Veo | `veo3*`, `veo3.1*` | `model + prompt` | `mode + image_url/reference_images/content + ratio/seconds` | Les modèles de type `i2v/r2v` nécessitent généralement une image ou une ressource de référence ; les types `t2v` acceptent généralement du texte brut. |\n| Kling | `kling-video`, `kling-*` | `model + prompt + mode` | `mode=t2v/i2v/multi_i2v`, ainsi que les champs officiels tels que `image/image_list` | Compatible avec la sémantique des chemins officiels (text2video/image2video/multi-image2video) et unifié sous `/v1/videos` ; n'offre pas de capacité externe d'extension de vidéo. |\n| Modèles d'extension agrégés | `happyhorse*`, `grok-imagine-1.0-video*`, etc. | `model + prompt` | `seconds/size/content` | Les champs spécifiques pris en charge dépendent de l'implémentation du modèle et du canal ; utilisez de préférence les champs standards, et `content` uniquement si nécessaire. |\n\nRemarque :\n1. Si vous utilisez des modèles à alias stable (tels que `*-stable`, `*-official`), le système sous-jacent peut changer de canal automatiquement. Veuillez essayer de transmettre des « paramètres compatibles multi-canaux » (`prompt + model + seconds/duration + size/ratio + 必要参考图`).\n2. Pour les scénarios complexes multi-ressources (image + vidéo + audio + @nom), utilisez de préférence `content` pour une compatibilité maximale.\n3. Si la documentation du modèle ne mentionne pas explicitement la prise en charge d'un champ, veuillez d'abord valider le fonctionnement avec les « paramètres d'entrée minimaux », puis ajouter progressivement des paramètres étendus.\n\n### 4.1 Compléments sur le mode officiel Kling\n\n- `mode=t2v` : Texte-en-vidéo\n- `mode=i2v` : Image-en-vidéo (nécessite `image` ou `image_url`)\n- `mode=multi_i2v` : Référence multi-images (nécessite `image_list` ou plusieurs `image_urls`)\n- `mode=extend` : Non pris en charge (l'extension vidéo ne propose pas encore de capacités externes `/v1/videos`)\n\nLes paramètres officiels courants peuvent être transmis directement dans le corps de la requête `/v1/videos` :\n- `model_name` `negative_prompt` `cfg_scale` `mode(std/pro)` `duration` `aspect_ratio`\n- `sound` `camera_control` `callback_url` `external_task_id` `watermark_info`\n\n### 4.2 Compléments sur le mode vidéo Grok\n\nParamètres recommandés :\n- `model` : par ex. `grok-video-3`\n- `prompt`\n- `ratio` ou `aspect_ratio`\n- `resolution` ou `size`\n- `seconds` ou `duration`\n- `image` / `image_url` / `input_reference` (référence à image unique)\n- `reference_images` / `reference_image_urls` (référence multi-images, sémantique officielle `reference-to-video`)\n- `mode` (optionnel) : `image-to-video`, `reference-to-video`\n\nContraintes :\n- `mode=edit-video` / `mode=extend-video` non pris en charge (l'édition et l'extension vidéo ne sont pas encore ouvertes à l'extérieur).\n- `image/input_reference` et `reference_images` ne peuvent pas être transmis simultanément.\n\n- `mode=t2v`\n- Entrée minimale : `model + prompt`\n\n- `mode=i2v` (équivalent à `i2v_first`)\n- Paramètre d'entrée minimal : `model + prompt + image_url` (ou URL de chaîne `input_reference`)\n\n- `mode=i2v_first_last`\n- Entrée minimale : `model + prompt + image_url + end_image_url`\n\n- `mode=reference_images`\n- Entrée minimale : `model + prompt + reference_images` (généralement 1 à 4 images)\n\n- `mode=reference_material`\n- Entrée minimale : `model + prompt + (image_urls/video_urls/audio_urls 至少一种)`\n- Pour les scénarios complexes, l'utilisation de `content + function_mode=omni_reference` est recommandée\n- Remarque : lorsque `function_mode=omni_reference` est transmis, le traitement suivra la sémantique de référence omnipotente, même si `mode=reference_material` n'est pas explicitement fourni.",
        "operationId": "createVideo",
        "tags": [
          "Génération de vidéo/Format compatible Sora"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Nom du modèle vidéo à appeler. Exemples : `sora-2`, `doubao-seedance-2-0-260128`",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Description principale de la génération vidéo. Ce champ est obligatoire et ne peut pas être vide lors de l'utilisation de `content`. Exemple : `第一人称视角果茶广告，节奏轻快`"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Point d'entrée pour image unique ; certains modes de compatibilité seront mappés sur `images`."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Alias de durée (choisissez l'un ou l'autre entre ceci et `seconds`)."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Fréquence d'images."
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Conteneur de champs d'extension dynamiques. De nombreux champs spécifiques au modèle sont désérialisés à partir d'ici."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Mode de génération, la valeur par défaut est `t2v` si non spécifiée. Les exigences relatives aux paramètres des ressources varient selon le mode. Exemples : `t2v`, `i2v`, `i2v_first_last`, `reference_material`"
                  },
                  "images": {
                    "type": "array",
                    "description": "Point d'entrée unique pour les images multiples. Utilisé par Vidu, Seedance, Veo, etc.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Résolution de sortie, généralement `宽x高`. Exemples : `720x1280`, `1280x720`"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Durée cible. Choisissez entre ce paramètre et `duration` ; si les deux sont transmis, le résultat de l'analyse de la passerelle prévaut généralement. Exemple : `8`"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Objet d'entrée de référence standard."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Nom du modèle vidéo à appeler. Exemples : `sora-2`, `doubao-seedance-2-0-260128`",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Description principale de la génération vidéo. Ce champ est obligatoire et ne peut pas être vide lors de l'utilisation de `content`. Exemple : `第一人称视角果茶广告，节奏轻快`"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Point d'entrée pour image unique ; certains modes de compatibilité seront mappés sur `images`."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Alias de durée (choisissez l'un ou l'autre entre ceci et `seconds`)."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Fréquence d'images."
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Conteneur de champs d'extension dynamiques. De nombreux champs spécifiques au modèle sont désérialisés à partir d'ici."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Mode de génération, la valeur par défaut est `t2v` si non spécifiée. Les exigences relatives aux paramètres des ressources varient selon le mode. Exemples : `t2v`, `i2v`, `i2v_first_last`, `reference_material`"
                  },
                  "images": {
                    "type": "array",
                    "description": "Point d'entrée unique pour les images multiples. Utilisé par Vidu, Seedance, Veo, etc.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Résolution de sortie, généralement `宽x高`. Exemples : `720x1280`, `1280x720`"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Durée cible. Choisissez entre ce paramètre et `duration` ; si les deux sont transmis, le résultat de l'analyse de la passerelle prévaut généralement. Exemple : `8`"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Objet d'entrée de référence standard."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "openai_t2v": {
                  "summary": "OpenAI t2v (prompt/model)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_i2v_input_reference": {
                  "summary": "OpenAI i2v (input_reference)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_alias_compat": {
                  "summary": "Alias兼容 (image_url/duration/aspect_ratio)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                },
                "seedance_i2v_first": {
                  "summary": "Seedance i2v_first",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_i2v_first_last": {
                  "summary": "Seedance i2v_first_last",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_images": {
                  "summary": "Seedance reference_images",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_material": {
                  "summary": "Seedance Mode de référence polyvalent (reference_material)",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_volc_content": {
                  "summary": "Mode content de Seedance Ark",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "veo_first_last_frame": {
                  "summary": "Mode Veo de première et dernière images",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "veo_reference_images_1to3": {
                  "summary": "Veo Mode 1 à 3 images de référence",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "kling_text2video": {
                  "summary": "Kling Génération de vidéo à partir de texte",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "kling_image2video": {
                  "summary": "Kling Image-vers-vidéo",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "grok_reference_video": {
                  "summary": "Mode vidéo Grok",
                  "value": {
                    "model": "grok-video-3",
                    "prompt": "A dramatic cinematic shot with fast motion and rich lighting",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_img2video": {
                  "summary": "Vidu Image-vers-Vidéo",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A stylish ad clip from a product still image",
                    "images": [
                      "https://example.com/product.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_first_tail": {
                  "summary": "Mode première et dernière images Vidu",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A smooth shot from start frame to end frame",
                    "images": [
                      "https://example.com/start.jpg",
                      "https://example.com/end.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_reference": {
                  "summary": "Mode multi-images de référence Vidu",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "Maintain product style and character consistency",
                    "images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg",
                      "https://example.com/ref-3.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "hailuo_text2video": {
                  "summary": "Hailuo Génération de vidéo à partir de texte",
                  "value": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tâche vidéo créée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID de la tâche (à utiliser pour les requêtes ou téléchargements ultérieurs)."
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Compatible avec l'ancienne interface, bientôt obsolète"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "État de la tâche.",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed"
                      ]
                    },
                    "progress": {
                      "type": "integer",
                      "description": "Progression (0~100, valeur approximative)."
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "Date de création (secondes Unix)."
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "Heure d'achèvement."
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "video_url": {
                      "type": "string",
                      "description": "URL de la vidéo téléchargeable directement."
                    },
                    "url": {
                      "type": "string",
                      "description": "Certains modèles ou canaux peuvent renvoyer ce champ comme URL de résultat."
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Paramètres de requête non valides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Obtenir le statut de la tâche vidéo",
        "deprecated": false,
        "description": "Interface de consultation de l'état des tâches vidéo compatible avec OpenAI.\n\nRenvoie les informations d'état détaillées de la tâche vidéo.",
        "operationId": "getVideo",
        "tags": [
          "Génération de vidéo/Format compatible Sora"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID de la tâche vidéo",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statut de la tâche vidéo récupéré avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL du résultat vidéo. Différents modèles peuvent renvoyer soit `video_url`, soit `url`."
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL du résultat vidéo. Différents modèles peuvent renvoyer soit `url`, soit `video_url`."
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "Heure d'achèvement (en secondes Unix)."
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "Délai d'expiration du résultat (secondes Unix)."
                    },
                    "error": {
                      "type": "object",
                      "description": "Message d'erreur en cas d'échec."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Métadonnées supplémentaires."
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "La tâche n'existe pas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "Obtenir le contenu de la vidéo",
        "deprecated": false,
        "description": "Récupérer le contenu du fichier vidéo pour les tâches vidéo terminées.\n\nCette interface renvoie le flux du fichier vidéo via un proxy.",
        "operationId": "getVideoContent",
        "tags": [
          "Génération de vidéo/Format compatible Sora"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID de la tâche vidéo",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contenu vidéo récupéré avec succès",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "La vidéo n'existe pas ou n'est pas terminée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling Génération de vidéo à partir de texte",
        "deprecated": false,
        "description": "Cette série prend en charge le format de génération de vidéo OpenAI (voir le lien [Génération de vidéo/format compatible Sora](/api-reference/fr/generation-video-format-compatible-sora/creer-video)).\n\nUtilisez le modèle Kling pour générer des vidéos à partir de descriptions textuelles.\n\nModèles pris en charge : kling-v1, kling-v1-5, etc.",
        "operationId": "createKlingText2Video",
        "tags": [
          "Génération de vidéo/Format Kling"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "La tâche de génération de vidéo a été créée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Paramètres de requête non valides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "Obtenir le statut de la tâche text-to-video Kling",
        "deprecated": false,
        "description": "Cette série prend en charge le format de génération de vidéo OpenAI (voir le lien [Génération de vidéo/format compatible Sora](/api-reference/fr/generation-video-format-compatible-sora/creer-video)).\n\nConsulter le statut et les résultats des tâches de génération de vidéo à partir de texte Kling.",
        "operationId": "getKlingText2Video",
        "tags": [
          "Génération de vidéo/Format Kling"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID de la tâche",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statut de la tâche récupéré avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "La tâche n'existe pas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling Image-vers-vidéo",
        "deprecated": false,
        "description": "Cette série prend en charge le format de génération de vidéo OpenAI (voir le lien [Génération de vidéo/format compatible Sora](/api-reference/fr/generation-video-format-compatible-sora/creer-video)).\n\nGénérez des vidéos à partir d'images à l'aide du modèle Kling.\n\nPrend en charge le passage d'URL d'image ou de données d'image encodées en Base64 via le paramètre `image`.",
        "operationId": "createKlingImage2Video",
        "tags": [
          "Génération de vidéo/Format Kling"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "La tâche de génération de vidéo a été créée avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Paramètres de requête non valides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "Obtenir l'état de la tâche de génération de vidéo à partir d'une image Kling",
        "deprecated": false,
        "description": "Cette série prend en charge le format de génération de vidéo OpenAI (voir le lien [Génération de vidéo/format compatible Sora](/api-reference/fr/generation-video-format-compatible-sora/creer-video)).\n\nConsulter l'état et les résultats de la tâche de génération de vidéo à partir d'une image Kling.",
        "operationId": "getKlingImage2Video",
        "tags": [
          "Génération de vidéo/Format Kling"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID de la tâche",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statut de la tâche récupéré avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "La tâche n'existe pas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/api/v3/contents/generations/tasks": {
      "post": {
        "summary": "Créer une vidéo (Seedance)",
        "description": "Cette série prend en charge le format de génération de vidéo OpenAI (voir le lien [Génération de vidéo/format compatible Sora](/api-reference/fr/generation-video-format-compatible-sora/creer-video)).\n\nUtilisé pour créer des tâches de génération vidéo et interroger leur statut et leurs résultats via l'ID de tâche.\n\nChamps principaux pour la création de tâche :\n- `model` : Obligatoire, nom du modèle.\n- `prompt` : Obligatoire, description principale pour la génération vidéo.\n- `content` : Optionnel, tableau d'entrées multimédia en mode avancé.\n- `function_mode` : Optionnel, couramment utilisé pour les modes avancés tels que la référence omnipotente.\n\nParamètres d'entrée compatibles :\n- `mode`：`t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\nDétails d'appel :\n- Pour `mode=reference_material` ou `function_mode=omni_reference`, il est recommandé de transmettre le texte et les éléments de référence via `content`.\n- Les champs média dans `content` prennent en charge les chaînes URL directes ainsi que la notation d'objet, par exemple `{ \"url\": \"https://example.com/ref.mp4\" }`.\n- `ratio`, `duration`, `resolution` et `fps` affectent la configuration de génération finale.\n\nChamps importants des résultats de requête :\n- `items[].status`\n- `items[].content.video_url` ou `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n```json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n```",
        "operationId": "create__seedance__task",
        "tags": [
          "Génération de vidéo/SeedanceVolcengine Ark"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "doubao-seedance-2-0-260128",
                    "description": "Obligatoire. Nom du modèle."
                  },
                  "prompt": {
                    "type": "string",
                    "example": "参考素材生成一段剧情短视频",
                    "description": "Obligatoire. Description principale pour la génération de la vidéo, ne peut pas être vide."
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "text",
                            "image_url",
                            "video_url",
                            "audio_url"
                          ]
                        },
                        "text": {
                          "type": "string"
                        },
                        "image_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "video_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "audio_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "role": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Facultatif. Tableau d'entrées multimédia en mode avancé ; recommandé pour les scénarios de référence complexes."
                  },
                  "function_mode": {
                    "type": "string",
                    "description": "Facultatif. Mode de fonctionnalités avancées, tel que `omni_reference` pour une référence complète."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Facultatif. Champs du mode de compatibilité, tels que `t2v`, `i2v`, `i2v_first_last`, `reference_images`, `reference_material`."
                  },
                  "image_url": {
                    "type": "string",
                    "description": "Facultatif. URL d'une seule image de référence."
                  },
                  "image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Facultatif. Liste d'URL pour plusieurs images de référence."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Optionnel. Compatible avec le champ de saisie de référence."
                  },
                  "end_image_url": {
                    "type": "string",
                    "description": "Facultatif. URL de l'image de référence de la dernière image."
                  },
                  "last_image_url": {
                    "type": "string",
                    "description": "Facultatif. Alias de l'URL de l'image de référence de la dernière image."
                  },
                  "video_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Facultatif. Liste d'URL de vidéos de référence."
                  },
                  "audio_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Facultatif. Liste d'URL de référence audio."
                  },
                  "seconds": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Facultatif. Durée de la vidéo, en secondes ; compatible avec `duration`."
                  },
                  "duration": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Facultatif. Durée de la vidéo, en secondes ; compatible avec `seconds`."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Facultatif. Format d'image, tel que `16:9`."
                  },
                  "ratio": {
                    "type": "string",
                    "description": "Facultatif. Alias du format d'image, tel que `16:9`."
                  },
                  "size": {
                    "type": "string",
                    "description": "Facultatif. Champ de compatibilité pour la résolution ou les dimensions."
                  },
                  "quality": {
                    "type": "string",
                    "description": "Facultatif. Configuration de la qualité de génération."
                  },
                  "resolution": {
                    "type": "string",
                    "description": "Facultatif. Résolution de sortie."
                  },
                  "fps": {
                    "type": "number",
                    "description": "Facultatif. Fréquence d'images."
                  },
                  "generate_audio": {
                    "type": "boolean",
                    "description": "Facultatif. Indique si l'audio doit être généré."
                  },
                  "watermark": {
                    "type": "boolean",
                    "description": "Facultatif. Indique s'il faut ajouter un filigrane."
                  }
                }
              },
              "example": {
                "model": "doubao-seedance-2-0-260128",
                "prompt": "参考素材生成一段剧情短视频",
                "content": [
                  {
                    "type": "text",
                    "text": "@角色A 在咖啡馆和 @角色B 聊天，@背景视频 作为场景，配上 @背景音乐 --ratio 16:9 --dur 10"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterA.jpg",
                    "role": "material",
                    "name": "角色A"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterB.jpg",
                    "role": "material",
                    "name": "角色B"
                  },
                  {
                    "type": "video_url",
                    "video_url": "https://example.com/cafe-scene.mp4",
                    "role": "material",
                    "name": "背景视频"
                  },
                  {
                    "type": "audio_url",
                    "audio_url": "https://example.com/bgm.mp3",
                    "name": "背景音乐"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tâche créée avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "task_xxx",
                      "description": "ID de la tâche."
                    },
                    "status": {
                      "type": "string",
                      "description": "État de la tâche.",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Date de création (secondes Unix)."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/contents/generations/tasks/{task_id}": {
      "get": {
        "summary": "Consulter la tâche (Seedance)",
        "description": "Cette série prend en charge le format de génération de vidéo OpenAI (voir le lien [Génération de vidéo/format compatible Sora](/api-reference/fr/generation-video-format-compatible-sora/creer-video)).\n\nUtilisé pour créer des tâches de génération vidéo et interroger leur statut et leurs résultats via l'ID de tâche.\n\nChamps principaux pour la création de tâche :\n- `model` : Obligatoire, nom du modèle.\n- `prompt` : Obligatoire, description principale pour la génération vidéo.\n- `content` : Optionnel, tableau d'entrées multimédia en mode avancé.\n- `function_mode` : Optionnel, couramment utilisé pour les modes avancés tels que la référence omnipotente.\n\nParamètres d'entrée compatibles :\n- `mode`：`t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\nDétails d'appel :\n- Pour `mode=reference_material` ou `function_mode=omni_reference`, il est recommandé de transmettre le texte et les éléments de référence via `content`.\n- Les champs média dans `content` prennent en charge les chaînes URL directes ainsi que la notation d'objet, par exemple `{ \"url\": \"https://example.com/ref.mp4\" }`.\n- `ratio`, `duration`, `resolution` et `fps` affectent la configuration de génération finale.\n\nChamps importants des résultats de requête :\n- `items[].status`\n- `items[].content.video_url` ou `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n```json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n```",
        "operationId": "query__seedance__task",
        "tags": [
          "Génération de vidéo/SeedanceVolcengine Ark"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "?? ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Requête réussie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID de la tâche."
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ],
                      "description": "État de la tâche."
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "Date de création (secondes Unix)."
                    },
                    "updated_at": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "video_url": {
                          "type": "string"
                        },
                        "last_frame_url": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/models/{model}:predictLongRunning": {
      "post": {
        "summary": "Créer une vidéo (format Veo3)",
        "description": "Cette série prend en charge le format de génération de vidéo OpenAI (voir le lien [Génération de vidéo/format compatible Sora](/api-reference/fr/generation-video-format-compatible-sora/creer-video)).\n\nCette page thématique de l'API sert uniquement à expliquer le format natif de Veo et l'état actuel de prise en charge de la passerelle.\n\nPour la série Veo actuelle, veuillez utiliser le mode de compatibilité OpenAI Sora en externe : `POST /v1/videos`.\n\nLe chemin du mode natif Google est réservé à : `POST /v1beta/models/{model}:predictLongRunning`. La passerelle actuelle n'est pas encore connectée à la chaîne de distribution des tâches natives Veo ; par conséquent, les appels via un corps de requête natif `instances/parameters` ne sont pas encore pris en charge.",
        "operationId": "create_veo3_google_native_task",
        "tags": [
          "Génération de vidéo/format Veo3"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "veo3.1-fast",
              "enum": [
                "veo3",
                "veo3-fast",
                "veo3-fast-frames",
                "veo3-frames",
                "veo3-pro",
                "veo3-pro-frames",
                "veo3.1",
                "veo3.1-4k",
                "veo3.1-components",
                "veo3.1-fast",
                "veo3.1-pro",
                "veo3.1-pro-4k"
              ]
            },
            "description": "Nom du modèle Veo."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instances"
                ],
                "properties": {
                  "instances": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "prompt": {
                          "type": "string",
                          "example": "A cinematic aerial shot of a modern city at sunrise",
                          "description": "Générer des prompts"
                        },
                        "referenceImages": {
                          "type": "array",
                          "description": "Facultatif. 1 à 3 images de référence, utilisant le format natif Google `inlineData` ou une structure d'URI de fichier.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "image": {
                                "type": "object",
                                "properties": {
                                  "inlineData": {
                                    "type": "object",
                                    "properties": {
                                      "mimeType": {
                                        "type": "string",
                                        "example": "image/png"
                                      },
                                      "data": {
                                        "type": "string",
                                        "example": "BASE64_IMAGE_DATA"
                                      }
                                    }
                                  }
                                }
                              },
                              "referenceType": {
                                "type": "string",
                                "example": "asset"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "1:1",
                          "9:16"
                        ],
                        "default": "16:9"
                      },
                      "durationSeconds": {
                        "type": "integer",
                        "enum": [
                          5,
                          6,
                          8,
                          10
                        ],
                        "default": 5
                      },
                      "resolution": {
                        "type": "string",
                        "example": "720p"
                      }
                    }
                  }
                }
              },
              "example": {
                "instances": [
                  {
                    "prompt": "A cinematic aerial shot of a modern city at sunrise",
                    "referenceImages": [
                      {
                        "image": {
                          "inlineData": {
                            "mimeType": "image/png",
                            "data": "BASE64_IMAGE_DATA"
                          }
                        },
                        "referenceType": "asset"
                      }
                    ]
                  }
                ],
                "parameters": {
                  "aspectRatio": "16:9",
                  "durationSeconds": 5,
                  "resolution": "720p"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Structure de réponse réussie en réserve. Actuellement fournie uniquement à titre de description du protocole ; les appels réels ne sont pas pris en charge.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "models/veo3.1-fast/operations/abc123",
                      "description": "Le champ `operation name`, utilisé pour les requêtes d'état ultérieures."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/{operation_name}": {
      "get": {
        "summary": "Interroger la tâche (format Veo3)",
        "description": "Cette série prend en charge le format de génération de vidéo OpenAI (voir le lien [Génération de vidéo/format compatible Sora](/api-reference/fr/generation-video-format-compatible-sora/creer-video)).\n\nCette page thématique de l'API sert uniquement à expliquer le protocole de requête natif de Veo.\n\nPour la série actuelle Veo, veuillez utiliser l'interface unifiée `/v1/videos` pour la création et la requête.\n\nLa structure de requête `operation_name` suivante est conservée uniquement à titre d'explication de protocole réservé et ne prend pas en charge les appels réels pour le moment.",
        "operationId": "query_veo3_google_native_task",
        "tags": [
          "Génération de vidéo/format Veo3"
        ],
        "parameters": [
          {
            "name": "operation_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "models/veo3.1-fast/operations/abc123"
            },
            "description": "Nom complet de l'opération (`operation name`) renvoyé par l'interface de création. Vous devez appliquer un encodage URL à `/` lors de l'appel."
          }
        ],
        "responses": {
          "200": {
            "description": "Structure de réponse de requête réservée. Actuellement fournie uniquement à titre d'explication du protocole ; les appels réels ne sont pas pris en charge.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name",
                    "done"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Nom de l'opération, correspondant au `name` renvoyé par l'interface de création."
                    },
                    "done": {
                      "type": "boolean",
                      "description": "Indique si la tâche est terminée."
                    },
                    "response": {
                      "type": "object",
                      "description": "L'objet résultat après une exécution réussie.",
                      "properties": {
                        "generatedVideos": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "video": {
                                "type": "object",
                                "properties": {
                                  "uri": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "L'URL de la vidéo une fois la génération réussie."
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "description": "Message d'erreur en cas d'échec.",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Description de l'erreur."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "name": "models/veo3.1-fast/operations/abc123",
                  "done": true,
                  "response": {
                    "generatedVideos": [
                      {
                        "video": {
                          "uri": "https://example.com/generated-video.mp4"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Message d'erreur"
              },
              "type": {
                "type": "string",
                "description": "Type d'erreur"
              },
              "param": {
                "type": "string",
                "description": "Paramètres associés",
                "nullable": true
              },
              "code": {
                "type": "string",
                "description": "Codes d'erreur",
                "nullable": true
              }
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Nombre de tokens de prompt"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Nombre de tokens de complétion"
          },
          "total_tokens": {
            "type": "integer",
            "description": "Nombre total de tokens"
          },
          "prompt_tokens_details": {
            "type": "object",
            "properties": {
              "cached_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              },
              "image_tokens": {
                "type": "integer"
              }
            }
          },
          "completion_tokens_details": {
            "type": "object",
            "properties": {
              "text_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              },
              "reasoning_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID du modèle",
            "example": "gpt-4"
          },
          "object": {
            "type": "string",
            "description": "Type d'objet",
            "example": "model"
          },
          "created": {
            "type": "integer",
            "description": "Horodatage de création"
          },
          "owned_by": {
            "type": "string",
            "description": "Propriétaire du modèle",
            "example": "openai"
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "GeminiModelsResponse": {
        "type": "object",
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "models/gemini-pro"
                },
                "version": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "inputTokenLimit": {
                  "type": "integer"
                },
                "outputTokenLimit": {
                  "type": "integer"
                },
                "supportedGenerationMethods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool",
              "developer"
            ],
            "description": "Rôle du message"
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessageContent"
                }
              }
            ],
            "description": "Contenu du message"
          },
          "name": {
            "type": "string",
            "description": "Nom de l'expéditeur"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          },
          "tool_call_id": {
            "type": "string",
            "description": "ID de l'appel d'outil (utilisé pour les messages de rôle tool)"
          },
          "reasoning_content": {
            "type": "string",
            "description": "Contenu de raisonnement"
          }
        }
      },
      "MessageContent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image_url",
              "input_audio",
              "file",
              "video_url"
            ]
          },
          "text": {
            "type": "string"
          },
          "image_url": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "URL de l'image ou base64"
              },
[...]
