{
  "openapi": "3.0.0",
  "info": {
    "title": "Справочная документация API по выходу на зарубежные рынки",
    "version": "1.0.0",
    "description": "Public AI Gateway API Reference"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "Получить список моделей",
        "deprecated": false,
        "description": "Получение списка доступных в данный момент моделей.\n\nФормат ответа определяется автоматически на основе заголовков запроса:\n— если присутствуют заголовки `x-api-key` и `anthropic-version`, возвращается формат Anthropic\n— если присутствует заголовок `x-goog-api-key` или параметр запроса `key`, возвращается формат Gemini\n— во всех остальных случаях возвращается формат OpenAI",
        "operationId": "listModels",
        "tags": [
          "Получить список моделей"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Ключ Google API (для формата Gemini)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Ключ Anthropic API (для формата Claude)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Версия Anthropic API",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Ключ Google API (для формата Gemini)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список моделей успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "Получение формата Gemini",
        "deprecated": false,
        "description": "Возвращает список доступных моделей в формате Gemini API",
        "operationId": "listModelsGemini",
        "tags": [
          "Получить список моделей"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Список моделей успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Создать чат-диалог",
        "deprecated": false,
        "description": "Создает ответ модели на основе истории диалога. Поддерживаются потоковые и непотоковые ответы.\n\nСовместимо с OpenAI Chat Completions API.",
        "operationId": "createChatCompletion",
        "tags": [
          "Формат OpenAI (Chat)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успешный ответ на создание",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Ошибка параметров запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "Ограничение частоты запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "Создание ответов (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses API используется для создания ответов модели.\nПоддерживает многопотоковые диалоги, вызов инструментов, логический вывод и другие функции.",
        "operationId": "createResponse",
        "tags": [
          "Формат OpenAI (Responses)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успешный ответ на создание",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Изображение Gemini (Nano Banana)",
        "deprecated": false,
        "description": "Генерация изображений Gemini.\n\nСерия Nano Banana поддерживает формат OpenAI Dall-E (подробнее см. по ссылке: [Генерация изображений в формате OpenAI DALL-E](#tag/%E5%9B%BE%E7%89%87%E7%94%9F%E6%88%90OpenAI%20DALL-E%E6%A0%BC%E5%BC%8F)).\n\nДополнить описание полей генерации изображений Gemini для /v1beta/models/{model}:generateContent, чтобы в публичном OpenAPI не терялось description у вложенных полей.",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "Формат Gemini для генерации изображений"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "Название модели",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "Роль сообщения; распространённые значения: `user` или `model`."
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "Текстовое содержимое ввода."
                              },
                              "inlineData": {
                                "type": "object",
                                "description": "Объект встроенного двоичного содержимого, подходит для таких входных данных, как изображения в формате base64.",
                                "properties": {
                                  "mimeType": {
                                    "type": "string",
                                    "description": "MIME-тип встроенного содержимого, например `image/png`."
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "Содержимое двоичных данных, закодированное в Base64."
                                  }
                                }
                              }
                            }
                          },
                          "description": "Массив фрагментов сообщения; здесь размещаются все входные данные, такие как текст, изображения и т. д."
                        }
                      }
                    },
                    "description": "Обязательно. Массив входного содержимого Gemini, обычно содержит как минимум одно сообщение user."
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Список режимов ответа; для генерации изображений обычно передают `IMAGE`."
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string",
                            "description": "Соотношение сторон, например `16:9`, `1:1`, `9:16`."
                          },
                          "imageSize": {
                            "type": "string",
                            "description": "Уровень выходного разрешения, например `1K`, `2K`, `4K`."
                          }
                        },
                        "description": "Объект конфигурации генерации изображений."
                      }
                    },
                    "required": [
                      "responseModalities"
                    ],
                    "description": "Создает объект конфигурации."
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "Генерация изображений (совместимо с OpenAI Dall-E)",
        "deprecated": false,
        "description": "OpenAI Интерфейс генерации изображений в формате Dall-E.\n\n- `POST /v1/images/generations`: создать задачу генерации изображения\n\nСтандартные заголовки аутентификации:\n- `Content-Type: application/json`\n\n- `model: string`: обязательно, внешнее имя модели\n- `prompt: string`: рекомендуется, описание для генерации изображения\n- `n: number`: необязательно, количество генерируемых изображений\n- `size: string`: необязательно, указание размера или разрешения\n- `quality: string`: необязательно, уровень качества\n- `response_format: string`: необязательно, формат ответа\n\nЧасто используемые совместимые расширенные параметры:\n- `image`\n- `image_url`\n- `image_urls`\n- `image_list`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `negative_prompt`\n- `aspect_ratio`\n- `resolution`\n- `callback_url`\n- `external_task_id`\n\nСпециальные расширенные параметры для Kling:\n- `model_name`\n- `element_list`\n- `result_type`\n- `series_amount`\n- `human_image`\n- `cloth_image`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n### 3.1 Серия Nano Banana\n\nПубличная модель:\n- `nano-banana`\n- `nano-banana-pro`\n- `nano-banana-pro-2k`\n- `nano-banana-pro-4k`\n- `nano-banana-2`\n- `nano-banana-2-2k`\n- `nano-banana-2-4k`\n\nОписание возможностей:\n- `nano-banana`: базовая генерация изображений по тексту, также совместима с редактированием изображений\n- `nano-banana-pro*`: версия более высокого качества\n- `nano-banana-2*`: более новое семейство версий\n- `*-2k` / `*-4k`: модели с высоким разрешением\n\nЧасто используемые параметры:\n- Text-to-image: `model + prompt`\n- Редактирование изображений: `model + prompt + image`, также совместимо с `image_urls`\n- Часто используемые расширения: `n` `size` `quality` `response_format`\n\nПример:\n\n```json\n{\n\"model\": \"nano-banana\",\n\"prompt\": \"a cute cat running in cloud\",\n\"n\": 1,\n\"size\": \"1024x1792\"\n}\n```\n\n```json\n{\n\"model\": \"nano-banana-pro\",\n\"prompt\": \"把主体改成赛博朋克夜景\",\n\"image\": \"https://example.com/input.png\",\n\"n\": 1\n}\n```\n\n### 3.2 Серия Seedream\n\nПубличная модель:\n- `doubao-seedream-3-0-t2i-250415`\n- `doubao-seedream-4-0-250828`\n- `doubao-seedream-4-5-251128`\n- `doubao-seedream-5-0-260128`\n\nОписание возможностей:\n- Единый вызов в режиме text-to-image\n- Рекомендуется в первую очередь передавать стандартные параметры: `prompt + model + size/aspect_ratio`\n\nЧасто используемые параметры:\n- `model + prompt`\n- Необязательно: `size` `aspect_ratio` `n`\n\n### 3.3 Kling основная модель для обычных изображений\n\nОсновная публичная модель:\n- `kling-image`\n\nОбязательно:\n- `model`\n- `model_name`\n\nПоддерживаемые `model_name`:\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v2`\n- `kling-v2-new`\n- `kling-v2-1`\n- `kling-v3`\n\nОписание возможностей:\n- Text-to-image: `model + model_name + prompt`\n- Image-to-image: на основе text-to-image добавьте `image`\n- Генерация по нескольким изображениям: передайте `subject_image_list` или несколько `image_urls/images`\n- Расширение изображения: передайте `image` и параметр коэффициента расширения\n\nЧасто используемые параметры:\n- `image`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `aspect_ratio`\n- `resolution`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\nПример:\n\n```json\n{\n\"model\": \"kling-image\",\n\"model_name\": \"kling-v3\",\n\"prompt\": \"海边日落，电影感人像\",\n\"aspect_ratio\": \"16:9\",\n\"n\": 1\n}\n```\n\n### 3.4 Kling основная модель изображений Omni\n\nОсновная публичная модель:\n- `kling-omni-image`\n\nОбязательно:\n- `model`\n- `model_name`\n\nПоддерживаемые `model_name`:\n- `kling-image-o1`\n- `kling-v3-omni`\n\nЧасто используемые параметры:\n- `image_list`\n- `element_list`\n- `resolution`\n- `aspect_ratio`\n- `result_type`\n- `series_amount`\n\nПример:\n\n```json\n{\n\"model\": \"kling-omni-image\",\n\"model_name\": \"kling-v3-omni\",\n\"prompt\": \"生成一张海边跳舞的图片\",\n\"element_list\": [\n{ \"element_id\": 835266081714884677 }\n]\n}\n```\n\n### 3.5 Kling модель виртуальной примерки\n\nПубличная модель:\n- `kolors-virtual-try-on-v1`\n- `kolors-virtual-try-on-v1-5`\n\nМинимальные входные параметры:\n- `model + human_image + cloth_image`\n\nОписание:\n- Эти две модели сами по себе являются полноценными основными моделями, поэтому `model_name` передавать не нужно\n\nПример:\n\n```json\n{\n\"model\": \"kolors-virtual-try-on-v1\",\n\"human_image\": \"https://example.com/human.jpg\",\n\"cloth_image\": \"https://example.com/cloth.jpg\"\n}\n```",
        "operationId": "createImageGeneration",
        "tags": [
          "Генерация изображенийOpenAI в формате DALL-E"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Внешнее имя модели изображений.",
                    "example": "dall-e-3",
                    "enum": [
                      "nano-banana",
                      "doubao-seedream-3-0-t2i-250415",
                      "kling-image",
                      "kling-omni-image",
                      "kolors-virtual-try-on-v1",
                      "kolors-virtual-try-on-v1-5"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Описание для генерации изображения. Для модели виртуальной примерки можно не передавать."
                  },
                  "n": {
                    "type": "integer",
                    "description": "Количество создаваемых изображений.",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "Описание размера или разрешения.",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "Уровень качества.",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "Стиль",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "Формат ответа.",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "Идентификатор пользователя"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "nano_banana_text2img": {
                  "summary": "Nano Banana Генерация изображений по тексту",
                  "value": {
                    "model": "nano-banana",
                    "prompt": "a cute cat running in cloud",
                    "n": 1,
                    "size": "1024x1792"
                  }
                },
                "seedream_text2img": {
                  "summary": "Seedream: генерация изображений по тексту",
                  "value": {
                    "model": "doubao-seedream-3-0-t2i-250415",
                    "prompt": "一张电影感海边日落人像",
                    "size": "1536x1024",
                    "n": 1
                  }
                },
                "kling_text2img": {
                  "summary": "Kling Генерация изображений из текста",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v3",
                    "prompt": "海边日落，电影感人像",
                    "aspect_ratio": "16:9",
                    "n": 1
                  }
                },
                "kling_img2img": {
                  "summary": "Kling Изображение в изображение",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v2-1",
                    "prompt": "改成赛博朋克夜景风格",
                    "image": "https://example.com/input.png",
                    "n": 1
                  }
                },
                "kling_omni_image": {
                  "summary": "Kling Изображение Omni",
                  "value": {
                    "model": "kling-omni-image",
                    "model_name": "kling-v3-omni",
                    "prompt": "生成一张海边跳舞的图片",
                    "element_list": [
                      {
                        "element_id": 835266081714884677
                      }
                    ]
                  }
                },
                "kling_virtual_try_on": {
                  "summary": "Kling Виртуальная примерка",
                  "value": {
                    "model": "kolors-virtual-try-on-v1",
                    "human_image": "https://example.com/human.jpg",
                    "cloth_image": "https://example.com/cloth.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Изображение успешно создано",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "Редактирование изображения (совместимо с OpenAI DALL-E)",
        "deprecated": false,
        "description": "Интерфейс редактирования изображений в формате OpenAI Dall-E.",
        "operationId": "createImageEdit",
        "tags": [
          "Генерация изображенийOpenAI в формате DALL-E"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Изображение для редактирования"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "Необязательное изображение маски"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Редактировать промпт"
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Изображение успешно создано",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "Создать видео",
        "deprecated": false,
        "description": "Интерфейс генерации видео, совместимый с форматами OpenAI Sora. Поддерживает режимы генерации «текст в видео» и генерацию на основе изображений/видео.\n\n- `POST /v1/videos`: Создание задачи генерации видео\n- `GET /v1/videos/{video_id}`: Запрос статуса задачи\n- `GET /v1/videos/{video_id}/content`: получить двоичное содержимое видео\n\nВ настоящее время недоступно внешним пользователям:\n- `GET /v1/videos`\n- `POST /v1/videos/{video_id}/remix`\n\nСтандартные заголовки аутентификации:\n- `Content-Type: application/json`\n\n1. Создайте задачу через `POST /v1/videos` и получите `id`\n2. Выполняйте опрос `GET /v1/videos/{id}`, пока не получите `completed` или `failed`\n3. После завершения в первую очередь используйте `video_url` из ответа\n4. Если требуется унифицированная загрузка, вызовите `GET /v1/videos/{id}/content`\n\nОсновные параметры:\n- `model: string`: обязательно, внешнее имя модели\n- `prompt: string`: рекомендуется, описание для генерации видео\n- `seconds: number|string`: необязательно, целевая длительность\n- `duration: number|string`: необязательно, псевдоним длительности\n- `size: string`: необязательно, размер выходного видео\n- `mode: string`: необязательно, распространённые значения: `t2v` `i2v` `i2v_first_last` `reference_material`\n\nЧасто используемые совместимые параметры:\n- `aspect_ratio`\n- `ratio`\n- `quality`\n- `resolution`\n- `fps`\n- `image`\n- `image_url`\n- `image_urls`\n- `images`\n- `reference_images`\n- `input_reference`\n- `end_image_url`\n- `last_image_url`\n- `video_urls`\n- `audio_urls`\n- `function_mode`\n- `content`\n- `callback_url`\n- `external_task_id`\n\nЧасто используемые расширенные параметры Kling:\n- `model_name`\n- `negative_prompt`\n- `cfg_scale`\n- `sound`\n- `camera_control`\n- `image_list`\n- `video_id`\n- `task_id`\n- `watermark_info`\n\n### 4.1 Серия Veo\n\nПримечание: `stable`, `official` и т. п. обозначают разные группы, а не внешний суффикс `model`; при вызове сохраняйте `model` как базовое имя модели, а то, через какую группу пойдёт запрос, определяется группой аккаунта или токена.\n\n#### Основные модели Veo 3.x\n\n- `veo3`\n- `veo3-fast`\n- `veo3-fast-frames`\n- `veo3-frames`\n- `veo3-pro`\n- `veo3-pro-frames`\n- `veo3.1`\n- `veo3.1-fast`\n- `veo3.1-pro`\n- `veo3.1-components`\n- `veo3.1-4k`\n- `veo3.1-pro-4k`\n\nРекомендации:\n- Для генерации видео только по тексту в первую очередь используйте основные модели `veo3*` / `veo3.1*`\n- Для сценариев генерации видео по изображению или по референсу рекомендуется явно передавать `mode + image_url/reference_images`\n\n### 4.2 Серия Sora\n\nБазовые модели:\n- `sora-2`: Sora 2 — новейшая модель генерации видео от openai, более физически точная, реалистичная и лучше управляемая по сравнению с предыдущими системами. Также поддерживает синхронные диалоги и звуковые эффекты. Официально поддерживаются 4s/8s/12s, через каналы поддерживаются 10s/15s, поддерживается 720p. Группа reverse default временно недоступна.\n- `sora-2-pro`\n\nРекомендации:\n- `sora-2*` подходит для общего использования\n- Если нужно использовать группы `stable` / `official` и т. п., сохраняйте `model` как базовое имя модели и не добавляйте суффикс к имени модели.\n\n### 4.3 Серия Seedance\n\nПубличная модель:\n- `doubao-seedance-1-0-lite-t2v-250428`\n- `doubao-seedance-1-0-lite-i2v-250428`\n- `doubao-seedance-1-0-pro-250528`\n- `doubao-seedance-1-0-pro-fast-251015`\n- `doubao-seedance-1-5-pro-251215`\n- `doubao-seedance-2-0-260128`\n- `doubao-seedance-2-0-fast-260128`\n\nРекомендации:\n- Для генерации видео по тексту в приоритете `*-t2v-*` или `pro / fast`\n- Для генерации видео по изображению в приоритете `*-i2v-*`\n- Для сценариев со сложными референсными материалами предпочтительно использовать `content`\n\n### 4.4 Видеосерия Grok\n\nПубличная модель:\n- `grok-video-3`\n\nЧасто используемые параметры:\n- `prompt`\n- `ratio` / `aspect_ratio`\n- `resolution` / `size`\n- `seconds` / `duration`\n- `image` / `image_url` / `input_reference`\n- `reference_images`\n\n### 4.5 Основная видеомодель Kling\n\nОсновная публичная модель:\n- `kling-video`\n\nОбязательно:\n- `model`\n- `model_name`\n\nПоддерживаемые `model_name`:\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v1-6`\n- `kling-v2-master`\n- `kling-v2-1`\n- `kling-v2-1-master`\n- `kling-v2-5-turbo`\n- `kling-v2-6`\n- `kling-v3`\n\nРаспространённые `mode`:\n- `t2v`\n- `i2v`\n- `multi_i2v`\n- `extend`\n\nМинимальные входные параметры:\n- Генерация видео по тексту: `model + model_name + prompt + mode=t2v`\n- Генерация видео по изображению: `model + model_name + prompt + mode=i2v + image`\n- Референс по нескольким изображениям: `model + model_name + prompt + mode=multi_i2v + image_list`\n- Продление видео: `model + model_name + mode=extend + video_id`\n\nПример:\n\n```json\n{\n\"model\": \"kling-video\",\n\"model_name\": \"kling-v2-6\",\n\"mode\": \"t2v\",\n\"prompt\": \"海边日落镜头，电影感，风吹长发\",\n\"duration\": 5,\n\"aspect_ratio\": \"16:9\"\n}\n```\n\n- `mode=t2v`\n- Минимальное количество входных параметров: `model + prompt`\n\n- `mode=i2v`\n- Минимальное количество входных параметров: `model + prompt + image_url`\n\n- `mode=i2v_first_last`\n- Минимальное количество входных параметров: `model + prompt + image_url + end_image_url`\n\n- `mode=reference_images`\n- Минимальное количество входных параметров: `model + prompt + reference_images`\n\n- `mode=reference_material`\n- Минимальное количество входных параметров: `model + prompt + (image_urls/video_urls/audio_urls 至少一种)`",
        "operationId": "createVideo",
        "tags": [
          "Совместимый формат Sora для генерации видео"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Имя модели. Разные модели запускают разную логику адаптации на стороне upstream.",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Единая точка входа для промптов. Обязательно для большинства моделей."
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Вход для одного изображения; в некоторых режимах совместимости сопоставляется с `images`."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Унифицированный параметр для длительности; некоторые модели также принимают seconds."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Контейнер динамически расширяемых полей. Здесь десериализуется большое количество специфичных для модели полей."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Поле подсказки канала/режима, например i2v_first, reference_images и т. д."
                  },
                  "images": {
                    "type": "array",
                    "description": "Единая точка входа для нескольких изображений. Используется в Vidu, Seedance, Veo и др.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Унифицированная точка входа для размера; будет сопоставляться с resolution/aspect_ratio и т. д."
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora совместимая точка входа; во время выполнения будет выполнен откат к duration."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Входное совместимое эталонное изображение для Sora/Veo; может быть multipart-файлом или совместимым объектом."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Имя модели. Разные модели запускают разную логику адаптации на стороне upstream.",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Единая точка входа для промптов. Обязательно для большинства моделей."
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Вход для одного изображения; в некоторых режимах совместимости сопоставляется с `images`."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Унифицированный параметр для длительности; некоторые модели также принимают seconds."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Контейнер динамически расширяемых полей. Здесь десериализуется большое количество специфичных для модели полей."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Поле подсказки канала/режима, например i2v_first, reference_images и т. д."
                  },
                  "images": {
                    "type": "array",
                    "description": "Единая точка входа для нескольких изображений. Используется в Vidu, Seedance, Veo и др.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Унифицированная точка входа для размера; будет сопоставляться с resolution/aspect_ratio и т. д."
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora совместимая точка входа; во время выполнения будет выполнен откат к duration."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Входное совместимое эталонное изображение для Sora/Veo; может быть multipart-файлом или совместимым объектом."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "openai_t2v": {
                  "summary": "OpenAI t2v (prompt/model)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_i2v_input_reference": {
                  "summary": "OpenAI i2v (input_reference)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_alias_compat": {
                  "summary": "Alias兼容 (image_url/duration/aspect_ratio)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                },
                "seedance_i2v_first": {
                  "summary": "Seedance i2v_first",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_i2v_first_last": {
                  "summary": "Seedance i2v_first_last",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_images": {
                  "summary": "Seedance reference_images",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_material": {
                  "summary": "Seedance Универсальный справочный режим (reference_material)",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_volc_content": {
                  "summary": "Режим content в Seedance Volcengine Ark",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "veo_first_last_frame": {
                  "summary": "Veo: режим первого и последнего кадров",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "veo_reference_images_1to3": {
                  "summary": "Veo Режим 1–3 референсных изображений",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "kling_text2video": {
                  "summary": "Kling Генерация видео по тексту",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "kling_image2video": {
                  "summary": "Kling Генерация видео из изображения",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "grok_reference_video": {
                  "summary": "Видеорежим Grok",
                  "value": {
                    "model": "grok-video-3",
                    "prompt": "A dramatic cinematic shot with fast motion and rich lighting",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_img2video": {
                  "summary": "Vidu Генерация видео по изображению",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A stylish ad clip from a product still image",
                    "images": [
                      "https://example.com/product.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_first_tail": {
                  "summary": "Vidu Режим начального и конечного кадров",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A smooth shot from start frame to end frame",
                    "images": [
                      "https://example.com/start.jpg",
                      "https://example.com/end.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_reference": {
                  "summary": "Vidu Режим нескольких референсных изображений",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "Maintain product style and character consistency",
                    "images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg",
                      "https://example.com/ref-3.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "hailuo_text2video": {
                  "summary": "Hailuo Генерация видео по тексту",
                  "value": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Задача на создание видео успешно создана",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Совместимо со старым интерфейсом; подлежит выводу из эксплуатации"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "Should use VideoStatus constants: VideoStatusQueued, VideoStatusInProgress, VideoStatusCompleted, VideoStatusFailed",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed",
                        "video_url",
                        "url",
                        "completed_at"
                      ]
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "completed_at": {
                      "type": "integer"
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Ошибка параметров запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Получить статус задачи видео",
        "deprecated": false,
        "description": "Интерфейс запроса статуса видеозадач, совместимый с OpenAI.\n\nВозвращает подробную информацию о статусе видеозадачи.",
        "operationId": "getVideo",
        "tags": [
          "Совместимый формат Sora для генерации видео"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID видеозадачи",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Статус видеозадачи успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL-адрес видео. Разные модели могут возвращать либо `video_url`, либо `url`."
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL-адрес видео. Разные модели могут возвращать либо `url`, либо `video_url`."
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "Время завершения (секунды Unix)."
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "Время истечения срока действия результата (Unix, в секундах)."
                    },
                    "error": {
                      "type": "object",
                      "description": "Сообщение об ошибке в случае сбоя."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Дополнительные метаданные."
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Задача не существует",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "Получение видеоконтента",
        "deprecated": false,
        "description": "Получение содержимого видеофайла для завершенной задачи обработки видео.\n\nДанный интерфейс возвращает поток видеофайла через прокси.",
        "operationId": "getVideoContent",
        "tags": [
          "Совместимый формат Sora для генерации видео"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID видеозадачи",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Видеоконтент успешно получен",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Видео не существует или не завершено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling Генерация видео по тексту",
        "deprecated": false,
        "description": "Эта серия поддерживает формат генерации видео OpenAI (подробности см. по ссылке [Совместимые форматы генерации видео Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nИспользуйте модель Kling для генерации видео из текстового описания.\n\nПоддерживаемые модели: kling-v1, kling-v1-5 и др.",
        "operationId": "createKlingText2Video",
        "tags": [
          "Формат Kling для генерации видео"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Задача на генерацию видео успешно создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Ошибка параметров запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "Получение статуса задачи генерации видео по тексту Kling",
        "deprecated": false,
        "description": "Эта серия поддерживает формат генерации видео OpenAI (подробности см. по ссылке [Совместимые форматы генерации видео Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nЗапрос статуса и результата задачи генерации видео по тексту Kling.",
        "operationId": "getKlingText2Video",
        "tags": [
          "Формат Kling для генерации видео"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID задачи",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Статус задачи успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Задача не существует",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling Генерация видео из изображения",
        "deprecated": false,
        "description": "Эта серия поддерживает формат генерации видео OpenAI (подробности см. по ссылке [Совместимые форматы генерации видео Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nГенерация видео из изображения с помощью модели Kling.\n\nПоддерживается передача URL-адреса изображения или данных изображения в кодировке Base64 через параметр image.",
        "operationId": "createKlingImage2Video",
        "tags": [
          "Формат Kling для генерации видео"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Задача на генерацию видео успешно создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Ошибка параметров запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "Получение статуса задачи генерации видео по изображению Kling",
        "deprecated": false,
        "description": "Эта серия поддерживает формат генерации видео OpenAI (подробности см. по ссылке [Совместимые форматы генерации видео Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nЗапрос статуса и результата задачи генерации видео по изображению Kling.",
        "operationId": "getKlingImage2Video",
        "tags": [
          "Формат Kling для генерации видео"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID задачи",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Статус задачи успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Задача не существует",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/api/v3/contents/generations/tasks": {
      "post": {
        "summary": "Создать видео (Seedance)",
        "description": "Эта серия поддерживает формат генерации видео OpenAI (подробности см. по ссылке [Совместимые форматы генерации видео Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nИспользуется для создания задач генерации видео и получения статуса и результатов по ID задачи.\n\nОсновные поля для создания задачи:\n- `model`: Обязательно, название модели.\n- `prompt`: Обязательно, основное описание для генерации видео.\n- `content`: Опционально, массив мультимедийных входных данных для расширенного режима.\n- `function_mode`: Опционально, часто используется в расширенных режимах, таких как универсальный референс.\n\nСовместимые входные параметры:\n- `mode`：`t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\nДетали вызова:\n- При использовании `mode=reference_material` или `function_mode=omni_reference` рекомендуется передавать текст и референсные материалы через `content`.\n- Поля мультимедиа в `content` поддерживают прямую передачу строки URL, а также формат объекта, например `{ \"url\": \"https://example.com/ref.mp4\" }`.\n- `ratio`, `duration`, `resolution` и `fps` влияют на итоговую конфигурацию генерации.\n\nКлючевые поля в результатах запроса:\n- `items[].status`\n- `items[].content.video_url` или `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n```json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n```",
        "operationId": "create__seedance__task",
        "tags": [
          "Генерация видео Seedance Volcano Engine Ark"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "doubao-seedance-2-0-260128",
                    "description": "Обязательно. Название модели."
                  },
                  "prompt": {
                    "type": "string",
                    "example": "参考素材生成一段剧情短视频",
                    "description": "Обязательно. Основное описание для генерации видео, не может быть пустым."
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "text",
                            "image_url",
                            "video_url",
                            "audio_url"
                          ]
                        },
                        "text": {
                          "type": "string"
                        },
                        "image_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "video_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "audio_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "role": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Необязательно. Массив мультимедийных входных данных в расширенном режиме; рекомендуется для сложных сценариев с использованием ссылок."
                  },
                  "function_mode": {
                    "type": "string",
                    "description": "Необязательно. Режим расширенных функций, например `omni_reference`, для универсального справочника."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Необязательно. Поля режима совместимости, такие как `t2v`, `i2v`, `i2v_first_last`, `reference_images`, `reference_material`."
                  },
                  "image_url": {
                    "type": "string",
                    "description": "Необязательно. URL-адрес одного эталонного изображения."
                  },
                  "image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Необязательно. Список URL-адресов нескольких референсных изображений."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Необязательно. Поле ввода для обеспечения обратной совместимости."
                  },
                  "end_image_url": {
                    "type": "string",
                    "description": "Необязательно. URL-адрес референсного изображения для последнего кадра."
                  },
                  "last_image_url": {
                    "type": "string",
                    "description": "Необязательно. Псевдоним URL-адреса референсного изображения последнего кадра."
                  },
                  "video_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Необязательно. Список URL-адресов справочных видеороликов."
                  },
                  "audio_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Необязательно. Список URL-адресов эталонного аудио."
                  },
                  "seconds": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Необязательно. Длительность видео в секундах; совместимо с `duration`."
                  },
                  "duration": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Необязательно. Длительность видео в секундах; совместимо с `seconds`."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Необязательно. Соотношение сторон, например `16:9`."
                  },
                  "ratio": {
                    "type": "string",
                    "description": "Необязательно. Псевдоним соотношения сторон, например `16:9`."
                  },
                  "size": {
                    "type": "string",
                    "description": "Необязательно. Поле совместимости разрешения или размера."
                  },
                  "quality": {
                    "type": "string",
                    "description": "Необязательно. Конфигурация качества генерации."
                  },
                  "resolution": {
                    "type": "string",
                    "description": "Необязательно. Разрешение на выходе."
                  },
                  "fps": {
                    "type": "number",
                    "description": "Необязательно. Частота кадров."
                  },
                  "generate_audio": {
                    "type": "boolean",
                    "description": "Необязательно. Указывает, нужно ли генерировать аудио."
                  },
                  "watermark": {
                    "type": "boolean",
                    "description": "Необязательно. Указывает, нужно ли добавлять водяной знак."
                  }
                }
              },
              "example": {
                "model": "doubao-seedance-2-0-260128",
                "prompt": "参考素材生成一段剧情短视频",
                "content": [
                  {
                    "type": "text",
                    "text": "@角色A 在咖啡馆和 @角色B 聊天，@背景视频 作为场景，配上 @背景音乐 --ratio 16:9 --dur 10"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterA.jpg",
                    "role": "material",
                    "name": "角色A"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterB.jpg",
                    "role": "material",
                    "name": "角色B"
                  },
                  {
                    "type": "video_url",
                    "video_url": "https://example.com/cafe-scene.mp4",
                    "role": "material",
                    "name": "背景视频"
                  },
                  {
                    "type": "audio_url",
                    "audio_url": "https://example.com/bgm.mp3",
                    "name": "背景音乐"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Задача успешно создана",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "task_xxx",
                      "description": "ID задачи."
                    },
                    "status": {
                      "type": "string",
                      "description": "Статус задачи.",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Время создания (Unix-время в секундах)."
                    },
                    "items": {
                      "type": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID задачи."
                          },
                          "status": {
                            "type": "string",
                            "description": "Статус задачи, обычно: `queued`, `running`, `succeeded`, `failed`."
                          },
                          "content": {
                            "type": "object",
                            "properties": {
                              "video_url": {
                                "type": "string",
                                "description": "URL-адрес результата видео."
                              }
                            }
                          },
                          "video_url": {
                            "type": "string",
                            "description": "URL-адрес результата видео."
                          },
                          "error": {
                            "type": "string",
                            "description": "Сообщение об ошибке в случае сбоя."
                          },
                          "progress": {
                            "type": "string",
                            "description": "Ход выполнения задачи."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/contents/generations/tasks/{task_id}": {
      "get": {
        "summary": "Запрос задачи (Seedance)",
        "description": "Эта серия поддерживает формат генерации видео OpenAI (подробности см. по ссылке [Совместимые форматы генерации видео Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nИспользуется для создания задач генерации видео и получения статуса и результатов по ID задачи.\n\nОсновные поля для создания задачи:\n- `model`: Обязательно, название модели.\n- `prompt`: Обязательно, основное описание для генерации видео.\n- `content`: Опционально, массив мультимедийных входных данных для расширенного режима.\n- `function_mode`: Опционально, часто используется в расширенных режимах, таких как универсальный референс.\n\nСовместимые входные параметры:\n- `mode`：`t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\nДетали вызова:\n- При использовании `mode=reference_material` или `function_mode=omni_reference` рекомендуется передавать текст и референсные материалы через `content`.\n- Поля мультимедиа в `content` поддерживают прямую передачу строки URL, а также формат объекта, например `{ \"url\": \"https://example.com/ref.mp4\" }`.\n- `ratio`, `duration`, `resolution` и `fps` влияют на итоговую конфигурацию генерации.\n\nКлючевые поля в результатах запроса:\n- `items[].status`\n- `items[].content.video_url` или `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n```json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n```",
        "operationId": "query__seedance__task",
        "tags": [
          "Генерация видео Seedance Volcano Engine Ark"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "?? ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID задачи."
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ],
                      "description": "Статус задачи."
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "Время создания (Unix-время в секундах)."
                    },
                    "updated_at": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "video_url": {
                          "type": "string"
                        },
                        "last_frame_url": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    },
                    "items": {
                      "type": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID задачи."
                          },
                          "status": {
                            "type": "string",
                            "description": "Статус задачи, обычно: `queued`, `running`, `succeeded`, `failed`."
                          },
                          "content": {
                            "type": "object",
                            "properties": {
                              "video_url": {
                                "type": "string",
                                "description": "URL-адрес результата видео."
                              }
                            }
                          },
                          "video_url": {
                            "type": "string",
                            "description": "URL-адрес результата видео."
                          },
                          "error": {
                            "type": "string",
                            "description": "Сообщение об ошибке в случае сбоя."
                          },
                          "progress": {
                            "type": "string",
                            "description": "Ход выполнения задачи."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/models/{model}:predictLongRunning": {
      "post": {
        "summary": "Создание видео (формат Veo3)",
        "description": "Эта серия поддерживает формат генерации видео OpenAI (подробности см. по ссылке [Совместимые форматы генерации видео Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nЭта тематическая страница API предназначена только для пояснения нативного формата Veo и текущего статуса поддержки шлюзом.\n\nДля внешней работы с текущей серией Veo используйте режим совместимости OpenAI Sora: `POST /v1/videos`.\n\nПуть для нативного режима Google зарезервирован как: `POST /v1beta/models/{model}:predictLongRunning`. Текущий шлюз еще не подключен к нативному каналу распределения задач Veo, поэтому вызовы с нативным телом запроса `instances/parameters` временно не поддерживаются.",
        "operationId": "create_veo3_google_native_task",
        "tags": [
          "Формат Veo3 для генерации видео"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "veo3.1-fast",
              "enum": [
                "veo3",
                "veo3-fast",
                "veo3-fast-frames",
                "veo3-frames",
                "veo3-pro",
                "veo3-pro-frames",
                "veo3.1",
                "veo3.1-4k",
                "veo3.1-components",
                "veo3.1-fast",
                "veo3.1-pro",
                "veo3.1-pro-4k"
              ]
            },
            "description": "Название модели Veo."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instances"
                ],
                "properties": {
                  "instances": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "prompt": {
                          "type": "string",
                          "example": "A cinematic aerial shot of a modern city at sunrise",
                          "description": "Сгенерировать промпт"
                        },
                        "referenceImages": {
                          "type": "array",
                          "description": "Необязательно. От 1 до 3 эталонных изображений; используйте стандартный формат Google `inlineData` или структуру URI файла.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "image": {
                                "type": "object",
                                "properties": {
                                  "inlineData": {
                                    "type": "object",
                                    "properties": {
                                      "mimeType": {
                                        "type": "string",
                                        "example": "image/png"
                                      },
                                      "data": {
                                        "type": "string",
                                        "example": "BASE64_IMAGE_DATA"
                                      }
                                    }
                                  }
                                }
                              },
                              "referenceType": {
                                "type": "string",
                                "example": "asset"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "1:1",
                          "9:16"
                        ],
                        "default": "16:9"
                      },
                      "durationSeconds": {
                        "type": "integer",
                        "enum": [
                          5,
                          6,
                          8,
                          10
                        ],
                        "default": 5
                      },
                      "resolution": {
                        "type": "string",
                        "example": "720p"
                      }
                    }
                  }
                }
              },
              "example": {
                "instances": [
                  {
                    "prompt": "A cinematic aerial shot of a modern city at sunrise",
                    "referenceImages": [
                      {
                        "image": {
                          "inlineData": {
                            "mimeType": "image/png",
                            "data": "BASE64_IMAGE_DATA"
                          }
                        },
                        "referenceType": "asset"
                      }
                    ]
                  }
                ],
                "parameters": {
                  "aspectRatio": "16:9",
                  "durationSeconds": 5,
                  "resolution": "720p"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Зарезервированная структура успешного ответа. В настоящее время приводится только для описания протокола и не поддерживает фактические вызовы.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "models/veo3.1-fast/operations/abc123",
                      "description": "Имя операции (operation name), используемое для последующего запроса статуса."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/{operation_name}": {
      "get": {
        "summary": "Запрос задачи (формат Veo3)",
        "description": "Эта серия поддерживает формат генерации видео OpenAI (подробности см. по ссылке [Совместимые форматы генерации видео Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nЭта тематическая страница API предназначена исключительно для описания нативного протокола запросов Veo.\n\nДля текущей серии Veo используйте унифицированный интерфейс `/v1/videos` для создания и выполнения запросов.\n\nНижеописанная структура запроса `operation_name` сохранена только в качестве описания зарезервированного протокола и в данный момент не поддерживает фактические вызовы.",
        "operationId": "query_veo3_google_native_task",
        "tags": [
          "Формат Veo3 для генерации видео"
        ],
        "parameters": [
          {
            "name": "operation_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "models/veo3.1-fast/operations/abc123"
            },
            "description": "Полное имя операции (`operation name`), возвращаемое методом создания. При вызове необходимо выполнить URL-кодирование для `/`."
          }
        ],
        "responses": {
          "200": {
            "description": "Структура ответа на запрос в резерве. В настоящее время приводится только описание протокола, фактические вызовы не поддерживаются.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name",
                    "done"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Название операции, соответствует значению `name`, возвращаемому интерфейсом создания."
                    },
                    "done": {
                      "type": "boolean",
                      "description": "Завершена ли задача."
                    },
                    "response": {
                      "type": "object",
                      "description": "Объект результата при успешном завершении.",
                      "properties": {
                        "generatedVideos": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "video": {
                                "type": "object",
                                "properties": {
                                  "uri": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "URL-адрес успешно созданного видео."
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "description": "Сообщение об ошибке в случае сбоя.",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Описание ошибки."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "name": "models/veo3.1-fast/operations/abc123",
                  "done": true,
                  "response": {
                    "generatedVideos": [
                      {
                        "video": {
                          "uri": "https://example.com/generated-video.mp4"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
[...]
