{
  "openapi": "3.0.0",
  "info": {
    "title": "Справочная документация API для \"出海营\"",
    "version": "1.0.0",
    "description": "Public AI Gateway API Reference"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "Получить список моделей",
        "deprecated": false,
        "description": "Получение списка доступных в данный момент моделей.\n\nФормат ответа определяется автоматически на основе заголовков запроса:\n— если присутствуют заголовки `x-api-key` и `anthropic-version`, возвращается формат Anthropic\n— если присутствует заголовок `x-goog-api-key` или параметр запроса `key`, возвращается формат Gemini\n- В остальных случаях возвращается формат OpenAI",
        "operationId": "listModels",
        "tags": [
          "Получить список моделей"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Ключ Google API (для формата Gemini)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Ключ Anthropic API (для формата Claude)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Версия Anthropic API",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Ключ Google API (для формата Gemini)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список моделей успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ru/получить-список-моделей/получить-список-моделей"
        }
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "Получение формата Gemini",
        "deprecated": false,
        "description": "Возвращает список доступных моделей в формате Gemini API",
        "operationId": "listModelsGemini",
        "tags": [
          "Получить список моделей"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Список моделей успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ru/получить-список-моделей/получение-формата-gemini"
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Создать чат-диалог",
        "deprecated": false,
        "description": "Создает ответ модели на основе истории диалога. Поддерживаются потоковые и непотоковые ответы.\n\nСовместимо с OpenAI Chat Completions API.",
        "operationId": "createChatCompletion",
        "tags": [
          "Формат OpenAI (Chat)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успешный ответ на создание",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Ошибка параметров запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "Ограничение частоты запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ru/формат-openai-chat/создать-чат-диалог"
        }
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "Создать ответ (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses API — используется для создания ответов модели.\nПоддерживает многопотоковые диалоги, вызов инструментов, логический вывод и другие функции.\n\nДополните асинхронный сценарий генерации изображений в OpenAI Responses API. `background=true` используется для отправки фоновой задачи; интерфейс создания сразу возвращает `status=queued` и полный `id`, после чего с помощью этого `id` вызывается `GET /v1/responses/{response_id}` для запроса результата.\n\n## Процесс асинхронной генерации изображений\n\n1. Вызовите `POST /v1/responses`, передав в теле запроса `tools=[{ \"type\": \"image_generation\" }]` и `background=true`.\n2. Сохраните полный `id`, возвращаемый интерфейсом создания, например `resp_xxx`. Не обрезайте, не переписывайте и не сохраняйте только `metadata.task_id`.\n3. Вызовите `GET /v1/responses/{response_id}` для проверки, пока не будет `status=completed` или `status=failed`.\n4. После успешного выполнения прочитайте `output[].url`, чтобы получить ссылку на изображение.\n\n### Пример создания асинхронной задачи на генерацию изображения\n\n```http\nPOST /v1/responses\nContent-Type: application/json\n```\n\n```json\n{\n \"model\": \"gpt-image-2-2k\",\n \"input\": \"生成一张 2K 横屏产品海报，白色运动鞋，干净棚拍光线，高级商业摄影风格。\",\n \"stream\": false,\n \"tools\": [\n {\n \"type\": \"image_generation\"\n }\n ],\n \"background\": true\n}\n```\n\nПример ответа интерфейса создания:\n\n```json\n{\n \"id\": \"resp_xxx\",\n \"created_at\": 1780649146,\n \"error\": null,\n \"incomplete_details\": null,\n \"instructions\": null,\n \"metadata\": {\n \"task_id\": \"010c31178d26436ca6194cde07931b33\",\n \"credits\": \"23\"\n },\n \"model\": \"gpt-image-2-2k\",\n \"object\": \"response\",\n \"output\": [],\n \"parallel_tool_calls\": true,\n \"temperature\": null,\n \"tool_choice\": null,\n \"tools\": null,\n \"top_p\": null,\n \"max_output_tokens\": null,\n \"previous_response_id\": null,\n \"reasoning\": null,\n \"status\": \"queued\",\n \"text\": null,\n \"truncation\": null,\n \"usage\": null,\n \"user\": null,\n \"store\": null\n}\n```\n\nПоддерживаемые модели: `gpt-image-2-2k`, `gpt-image-2-4k`, `nano-banana-pro`.",
        "operationId": "createResponse",
        "tags": [
          "Формат OpenAI (Responses)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest",
                "properties": {}
              },
              "examples": {
                "responses_image_async": {
                  "summary": "Асинхронная генерация изображений",
                  "value": {
                    "model": "gpt-image-2-2k",
                    "input": "生成一张 2K 横屏产品海报，白色运动鞋，干净棚拍光线，高级商业摄影风格。",
                    "stream": false,
                    "tools": [
                      {
                        "type": "image_generation"
                      }
                    ],
                    "background": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успешный ответ на создание",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                },
                "examples": {
                  "responses_image_async_queued": {
                    "summary": "Возврат асинхронного создания генерации изображений",
                    "value": {
                      "id": "resp_xxx",
                      "created_at": 1780649146,
                      "error": null,
                      "incomplete_details": null,
                      "instructions": null,
                      "metadata": {
                        "task_id": "010c31178d26436ca6194cde07931b33",
                        "credits": "23"
                      },
                      "model": "gpt-image-2-2k",
                      "object": "response",
                      "output": [],
                      "parallel_tool_calls": true,
                      "temperature": null,
                      "tool_choice": null,
                      "tools": null,
                      "top_p": null,
                      "max_output_tokens": null,
                      "previous_response_id": null,
                      "reasoning": null,
                      "status": "queued",
                      "text": null,
                      "truncation": null,
                      "usage": null,
                      "user": null,
                      "store": null
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ru/формат-openai-responses/создать-ответ-openai-responses-api"
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Изображение Gemini (Nano Banana)",
        "deprecated": false,
        "description": "Генерация изображений Gemini.\n\nСерия Nano Banana поддерживает формат Dall-E OpenAI (подробнее см. ссылку [Формат DALL-E для генерации изображений OpenAI](#tag/%E5%9B%BE%E7%89%87%E7%94%9F%E6%88%90OpenAI%20DALL-E%E6%A0%BC%E5%BC%8F)).\n\nСовместимый интерфейс генерации изображений Gemini. В `contents[].parts` передавайте текст или изображение, в `generationConfig.responseModalities` обычно передают `IMAGE`, размер изображения задаётся через `generationConfig.imageConfig.imageSize`.\n\n## Фиксированная стоимость генерации изображений\n\nСледующие модели изображений тарифицируются за каждый вызов:\n\n| Модель | Стоимость |\n|---|---|\n| `kling-image-v3` | 0.05 / вызов |\n| `doubao-seedream-5-0-260128` | 0.05 / вызов |\n| `doubao-seedream-4-5-251128` | 0.06 / вызов |",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "Формат Gemini для генерации изображений"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "Название модели",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "Роль сообщения; распространённые значения: `user` или `model`."
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "Текстовое содержимое ввода."
                              },
                              "inlineData": {
                                "type": "object",
                                "description": "Объект встроенного двоичного содержимого, подходит для таких входных данных, как изображения в формате base64.",
                                "properties": {
                                  "mimeType": {
                                    "type": "string",
                                    "description": "MIME-тип встроенного содержимого, например `image/png`."
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "Содержимое двоичных данных, закодированное в Base64."
                                  }
                                }
                              }
                            }
                          },
                          "description": "Массив фрагментов сообщения; здесь размещаются все входные данные, такие как текст, изображения и т. д."
                        }
                      }
                    },
                    "description": "Обязательно. Массив входного содержимого Gemini, обычно содержит как минимум одно сообщение user."
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Список режимов ответа; для генерации изображений обычно передают `IMAGE`."
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string",
                            "description": "Соотношение сторон, например `16:9`, `1:1`, `9:16`."
                          },
                          "imageSize": {
                            "type": "string",
                            "description": "Уровень выходного разрешения, например `1K`, `2K`, `4K`."
                          }
                        },
                        "description": "Объект конфигурации генерации изображений."
                      }
                    },
                    "required": [
                      "responseModalities"
                    ],
                    "description": "Создает объект конфигурации."
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ru/формат-gemini-для-генерации-изображений/изображение-gemini-nano-banana"
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "Генерация изображений (OpenAI совместимо с Dall-E)",
        "deprecated": false,
        "description": "OpenAI Интерфейс генерации изображений в формате Dall-E.\n\n- `POST /v1/images/generations`: создать задачу генерации изображения\n\nСтандартные заголовки аутентификации:\n- `Content-Type: application/json`\n\n- `model: string`: обязательно, внешнее имя модели\n- `prompt: string`: рекомендуется, описание для генерации изображения\n- `n: number`: необязательно, количество генерируемых изображений\n- `size: string`: необязательно, указание размера или разрешения\n- `quality: string`: необязательно, уровень качества\n- `response_format: string`: необязательно, формат ответа\n\nЧасто используемые совместимые расширенные параметры:\n- `image`\n- `image_url`\n- `image_urls`\n- `image_list`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `negative_prompt`\n- `aspect_ratio`\n- `resolution`\n- `callback_url`\n- `external_task_id`\n\nKling Специальные расширенные параметры:\n- `model_name`\n- `element_list`\n- `result_type`\n- `series_amount`\n- `human_image`\n- `cloth_image`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n### 3.1 Серия Nano Banana\n\nПубличная модель:\n- `nano-banana`\n- `nano-banana-pro`\n- `nano-banana-pro-2k`\n- `nano-banana-pro-4k`\n- `nano-banana-2`\n- `nano-banana-2-2k`\n- `nano-banana-2-4k`\n\nОписание возможностей:\n- `nano-banana`: базовая генерация изображений по тексту, также совместима с редактированием изображений\n- `nano-banana-pro*`: версия более высокого качества\n- `nano-banana-2*`: более новое семейство версий\n- `*-2k` / `*-4k`: модели с высоким разрешением\n\nЧасто используемые параметры:\n- Text-to-image: `model + prompt`\n- Редактирование изображений: `model + prompt + image`, также совместимо с `image_urls`\n- Часто используемые расширения: `n` `size` `quality` `response_format`\n\nПример:\n\n```json\n{\n\"model\": \"nano-banana\",\n\"prompt\": \"a cute cat running in cloud\",\n\"n\": 1,\n\"size\": \"1024x1792\"\n}\n```\n\n```json\n{\n\"model\": \"nano-banana-pro\",\n\"prompt\": \"把主体改成赛博朋克夜景\",\n\"image\": \"https://example.com/input.png\",\n\"n\": 1\n}\n```\n\n### 3.2 Серия Seedream\n\nПубличная модель:\n- `doubao-seedream-3-0-t2i-250415`\n- `doubao-seedream-4-0-250828`\n- `doubao-seedream-4-5-251128`\n- `doubao-seedream-5-0-260128`\n\nОписание возможностей:\n- Единый вызов в режиме text-to-image\n- Рекомендуется в первую очередь передавать стандартные параметры: `prompt + model + size/aspect_ratio`\n\nЧасто используемые параметры:\n- `model + prompt`\n- Необязательно: `size` `aspect_ratio` `n`\n\n### 3.3 Kling Основная модель для обычных изображений\n\nОсновная публичная модель:\n- `kling-image`\n\nОбязательно:\n- `model`\n- `model_name`\n\nПоддерживаемые `model_name`:\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v2`\n- `kling-v2-new`\n- `kling-v2-1`\n- `kling-v3`\n\nОписание возможностей:\n- Text-to-image: `model + model_name + prompt`\n- Image-to-image: на основе text-to-image добавьте `image`\n- Генерация по нескольким изображениям: передайте `subject_image_list` или несколько `image_urls/images`\n- Расширение изображения: передайте `image` и параметр коэффициента расширения\n\nЧасто используемые параметры:\n- `image`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `aspect_ratio`\n- `resolution`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\nПример:\n\n```json\n{\n\"model\": \"kling-image\",\n\"model_name\": \"kling-v3\",\n\"prompt\": \"海边日落，电影感人像\",\n\"aspect_ratio\": \"16:9\",\n\"n\": 1\n}\n```\n\n### 3.4 Kling Основная модель изображений Omni\n\nОсновная публичная модель:\n- `kling-omni-image`\n\nОбязательно:\n- `model`\n- `model_name`\n\nПоддерживаемые `model_name`:\n- `kling-image-o1`\n- `kling-v3-omni`\n\nЧасто используемые параметры:\n- `image_list`\n- `element_list`\n- `resolution`\n- `aspect_ratio`\n- `result_type`\n- `series_amount`\n\nПример:\n\n```json\n{\n\"model\": \"kling-omni-image\",\n\"model_name\": \"kling-v3-omni\",\n\"prompt\": \"生成一张海边跳舞的图片\",\n\"element_list\": [\n{ \"element_id\": 835266081714884677 }\n]\n}\n```\n\n### 3.5 Kling Модель виртуальной примерки\n\nПубличная модель:\n- `kolors-virtual-try-on-v1`\n- `kolors-virtual-try-on-v1-5`\n\nМинимальные входные параметры:\n- `model + human_image + cloth_image`\n\nОписание:\n- Эти две модели сами по себе являются полноценными основными моделями, поэтому `model_name` передавать не нужно\n\nПример:\n\n```json\n{\n\"model\": \"kolors-virtual-try-on-v1\",\n\"human_image\": \"https://example.com/human.jpg\",\n\"cloth_image\": \"https://example.com/cloth.jpg\"\n}\n```\n\n## Фиксированная тарификация для генерации/редактирования изображений\n\nСледующие модели тарифицируются за каждый запрос в `POST /v1/images/generations` и `POST /v1/images/edits`:\n\n| Модель | Стоимость |\n|---|---|\n| `kling-image-v3` | 0.05 / вызов |\n| `doubao-seedream-5-0-260128` | 0.05 / вызов |\n| `doubao-seedream-4-5-251128` | 0.06 / вызов |",
        "operationId": "createImageGeneration",
        "tags": [
          "Генерация изображенийOpenAI в формате DALL-E"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Внешнее имя модели изображений.",
                    "example": "dall-e-3",
                    "enum": [
                      "nano-banana",
                      "doubao-seedream-3-0-t2i-250415",
                      "kling-image",
                      "kling-omni-image",
                      "kolors-virtual-try-on-v1",
                      "kolors-virtual-try-on-v1-5"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Описание для генерации изображения. Для модели виртуальной примерки можно не передавать."
                  },
                  "n": {
                    "type": "integer",
                    "description": "Количество создаваемых изображений.",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "Описание размера или разрешения.",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "Уровень качества.",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "Стиль",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "Формат ответа.",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "Идентификатор пользователя"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "nano_banana_text2img": {
                  "summary": "Nano Banana Генерация изображений по тексту",
                  "value": {
                    "model": "nano-banana",
                    "prompt": "a cute cat running in cloud",
                    "n": 1,
                    "size": "1024x1792"
                  }
                },
                "seedream_text2img": {
                  "summary": "Seedream: генерация изображений по тексту",
                  "value": {
                    "model": "doubao-seedream-3-0-t2i-250415",
                    "prompt": "一张电影感海边日落人像",
                    "size": "1536x1024",
                    "n": 1
                  }
                },
                "kling_text2img": {
                  "summary": "Kling Генерация изображений по тексту",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v3",
                    "prompt": "海边日落，电影感人像",
                    "aspect_ratio": "16:9",
                    "n": 1
                  }
                },
                "kling_img2img": {
                  "summary": "Kling Генерация изображения по изображению",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v2-1",
                    "prompt": "改成赛博朋克夜景风格",
                    "image": "https://example.com/input.png",
                    "n": 1
                  }
                },
                "kling_omni_image": {
                  "summary": "Kling изображение Omni",
                  "value": {
                    "model": "kling-omni-image",
                    "model_name": "kling-v3-omni",
                    "prompt": "生成一张海边跳舞的图片",
                    "element_list": [
                      {
                        "element_id": 835266081714884677
                      }
                    ]
                  }
                },
                "kling_virtual_try_on": {
                  "summary": "Kling Виртуальная примерка",
                  "value": {
                    "model": "kolors-virtual-try-on-v1",
                    "human_image": "https://example.com/human.jpg",
                    "cloth_image": "https://example.com/cloth.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Изображение успешно создано",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ru/генерация-изображенийopenai-в-формате-dall-e/генерация-изображений-openai-совместимо-с-dall-e"
        }
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "Редактировать изображение（OpenAI совместимо с Dall-E）",
        "deprecated": false,
        "description": "OpenAI Интерфейс редактирования изображений в формате Dall-E.\n\n- `POST /v1/images/edits`: Редактировать изображение\n\nСтандартные заголовки аутентификации:\n- `Content-Type: application/json`\n\n- `model: string`: обязательно, внешнее имя модели\n- `prompt: string`: рекомендуется, описание для генерации изображения\n- `n: number`: необязательно, количество генерируемых изображений\n- `size: string`: необязательно, указание размера или разрешения\n- `quality: string`: необязательно, уровень качества\n- `response_format: string`: необязательно, формат ответа\n\nЧасто используемые совместимые расширенные параметры:\n- `image`\n- `image_url`\n- `image_urls`\n- `image_list`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `negative_prompt`\n- `aspect_ratio`\n- `resolution`\n- `callback_url`\n- `external_task_id`\n\nKling Специальные расширенные параметры:\n- `model_name`\n- `element_list`\n- `result_type`\n- `series_amount`\n- `human_image`\n- `cloth_image`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n### 3.1 Серия Nano Banana\n\nПубличная модель:\n- `nano-banana`\n- `nano-banana-pro`\n- `nano-banana-pro-2k`\n- `nano-banana-pro-4k`\n- `nano-banana-2`\n- `nano-banana-2-2k`\n- `nano-banana-2-4k`\n\nОписание возможностей:\n- `nano-banana`: базовая генерация изображений по тексту, также совместима с редактированием изображений\n- `nano-banana-pro*`: версия более высокого качества\n- `nano-banana-2*`: более новое семейство версий\n- `*-2k` / `*-4k`: модели с высоким разрешением\n\nЧасто используемые параметры:\n- Text-to-image: `model + prompt`\n- Редактирование изображений: `model + prompt + image`, также совместимо с `image_urls`\n- Часто используемые расширения: `n` `size` `quality` `response_format`\n\nПример:\n\n```json\n{\n\"model\": \"nano-banana\",\n\"prompt\": \"a cute cat running in cloud\",\n\"n\": 1,\n\"size\": \"1024x1792\"\n}\n```\n\n```json\n{\n\"model\": \"nano-banana-pro\",\n\"prompt\": \"把主体改成赛博朋克夜景\",\n\"image\": \"https://example.com/input.png\",\n\"n\": 1\n}\n```\n\n### 3.2 Серия Seedream\n\nПубличная модель:\n- `doubao-seedream-3-0-t2i-250415`\n- `doubao-seedream-4-0-250828`\n- `doubao-seedream-4-5-251128`\n- `doubao-seedream-5-0-260128`\n\nОписание возможностей:\n- Единый вызов в режиме text-to-image\n- Рекомендуется в первую очередь передавать стандартные параметры: `prompt + model + size/aspect_ratio`\n\nЧасто используемые параметры:\n- `model + prompt`\n- Необязательно: `size` `aspect_ratio` `n`\n\n### 3.3 Kling Основная модель для обычных изображений\n\nОсновная публичная модель:\n- `kling-image`\n\nОбязательно:\n- `model`\n- `model_name`\n\nПоддерживаемые `model_name`:\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v2`\n- `kling-v2-new`\n- `kling-v2-1`\n- `kling-v3`\n\nОписание возможностей:\n- Text-to-image: `model + model_name + prompt`\n- Image-to-image: на основе text-to-image добавьте `image`\n- Генерация по нескольким изображениям: передайте `subject_image_list` или несколько `image_urls/images`\n- Расширение изображения: передайте `image` и параметр коэффициента расширения\n\nЧасто используемые параметры:\n- `image`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `aspect_ratio`\n- `resolution`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\nПример:\n\n```json\n{\n\"model\": \"kling-image\",\n\"model_name\": \"kling-v3\",\n\"prompt\": \"海边日落，电影感人像\",\n\"aspect_ratio\": \"16:9\",\n\"n\": 1\n}\n```\n\n### 3.4 Kling Основная модель изображений Omni\n\nОсновная публичная модель:\n- `kling-omni-image`\n\nОбязательно:\n- `model`\n- `model_name`\n\nПоддерживаемые `model_name`:\n- `kling-image-o1`\n- `kling-v3-omni`\n\nЧасто используемые параметры:\n- `image_list`\n- `element_list`\n- `resolution`\n- `aspect_ratio`\n- `result_type`\n- `series_amount`\n\nПример:\n\n```json\n{\n\"model\": \"kling-omni-image\",\n\"model_name\": \"kling-v3-omni\",\n\"prompt\": \"生成一张海边跳舞的图片\",\n\"element_list\": [\n{ \"element_id\": 835266081714884677 }\n]\n}\n```\n\n### 3.5 Kling Модель виртуальной примерки\n\nПубличная модель:\n- `kolors-virtual-try-on-v1`\n- `kolors-virtual-try-on-v1-5`\n\nМинимальные входные параметры:\n- `model + human_image + cloth_image`\n\nОписание:\n- Эти две модели сами по себе являются полноценными основными моделями, поэтому `model_name` передавать не нужно\n\nПример:\n\n```json\n{\n\"model\": \"kolors-virtual-try-on-v1\",\n\"human_image\": \"https://example.com/human.jpg\",\n\"cloth_image\": \"https://example.com/cloth.jpg\"\n}\n```\n\n## Фиксированная тарификация для генерации/редактирования изображений\n\nСледующие модели тарифицируются за каждый запрос в `POST /v1/images/generations` и `POST /v1/images/edits`:\n\n| Модель | Стоимость |\n|---|---|\n| `kling-image-v3` | 0.05 / вызов |\n| `doubao-seedream-5-0-260128` | 0.05 / вызов |\n| `doubao-seedream-4-5-251128` | 0.06 / вызов |",
        "operationId": "createImageEdit",
        "tags": [
          "Генерация изображенийOpenAI в формате DALL-E"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2",
                    "description": "Внешнее имя модели изображений.",
                    "enum": [
                      "nano-banana",
                      "doubao-seedream-3-0-t2i-250415",
                      "kling-image",
                      "kling-omni-image",
                      "kolors-virtual-try-on-v1",
                      "kolors-virtual-try-on-v1-5"
                    ]
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Вход с одним изображением, часто используется для генерации изображения по изображению и расширения изображения."
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "Необязательное изображение маски"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Описание для генерации изображения. Для модели виртуальной примерки можно не передавать."
                  },
                  "n": {
                    "type": "integer",
                    "default": 1,
                    "description": "Количество создаваемых изображений."
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ],
                    "description": "Описание размера или разрешения."
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ],
                    "description": "Формат ответа."
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2",
                    "description": "Внешнее имя модели изображений.",
                    "enum": [
                      "nano-banana",
                      "doubao-seedream-3-0-t2i-250415",
                      "kling-image",
                      "kling-omni-image",
                      "kolors-virtual-try-on-v1",
                      "kolors-virtual-try-on-v1-5"
                    ]
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Вход с одним изображением, часто используется для генерации изображения по изображению и расширения изображения."
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "Необязательное изображение маски"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Описание для генерации изображения. Для модели виртуальной примерки можно не передавать."
                  },
                  "n": {
                    "type": "integer",
                    "default": 1,
                    "description": "Количество создаваемых изображений."
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ],
                    "description": "Описание размера или разрешения."
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ],
                    "description": "Формат ответа."
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              },
              "examples": {
                "nano_banana_text2img": {
                  "summary": "Nano Banana Генерация изображений по тексту",
                  "value": {
                    "model": "nano-banana",
                    "prompt": "a cute cat running in cloud",
                    "n": 1,
                    "size": "1024x1792"
                  }
                },
                "seedream_text2img": {
                  "summary": "Seedream: генерация изображений по тексту",
                  "value": {
                    "model": "doubao-seedream-3-0-t2i-250415",
                    "prompt": "一张电影感海边日落人像",
                    "size": "1536x1024",
                    "n": 1
                  }
                },
                "kling_text2img": {
                  "summary": "Kling Генерация изображений по тексту",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v3",
                    "prompt": "海边日落，电影感人像",
                    "aspect_ratio": "16:9",
                    "n": 1
                  }
                },
                "kling_img2img": {
                  "summary": "Kling Генерация изображения по изображению",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v2-1",
                    "prompt": "改成赛博朋克夜景风格",
                    "image": "https://example.com/input.png",
                    "n": 1
                  }
                },
                "kling_omni_image": {
                  "summary": "Kling изображение Omni",
                  "value": {
                    "model": "kling-omni-image",
                    "model_name": "kling-v3-omni",
                    "prompt": "生成一张海边跳舞的图片",
                    "element_list": [
                      {
                        "element_id": 835266081714884677
                      }
                    ]
                  }
                },
                "kling_virtual_try_on": {
                  "summary": "Kling Виртуальная примерка",
                  "value": {
                    "model": "kolors-virtual-try-on-v1",
                    "human_image": "https://example.com/human.jpg",
                    "cloth_image": "https://example.com/cloth.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Изображение успешно создано",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ru/генерация-изображенийopenai-в-формате-dall-e/редактировать-изображение（openai-совместимо-с-dall-e）"
        }
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "Создать видео",
        "deprecated": false,
        "description": "Интерфейс генерации видео в совместимом формате OpenAI Sora. Поддерживает режимы генерации видео по тексту и по референсу изображения/видео.\n\n- `POST /v1/videos`: Создание задачи генерации видео\n- `GET /v1/videos/{video_id}`: Запрос статуса задачи\n- `GET /v1/videos/{video_id}/content`: получить двоичное содержимое видео\n\nВ настоящее время недоступно внешним пользователям:\n- `GET /v1/videos`\n- `POST /v1/videos/{video_id}/remix`\n\nСтандартные заголовки аутентификации:\n- `Content-Type: application/json`\n\n1. Создайте задачу через `POST /v1/videos` и получите `id`\n2. Выполняйте опрос `GET /v1/videos/{id}`, пока не получите `completed` или `failed`\n3. После завершения в первую очередь используйте `video_url` из ответа\n4. Если требуется унифицированная загрузка, вызовите `GET /v1/videos/{id}/content`\n\nОсновные параметры:\n- `model: string`: обязательно, внешнее имя модели\n- `prompt: string`: рекомендуется, описание для генерации видео\n- `seconds: number|string`: необязательно, целевая длительность\n- `duration: number|string`: необязательно, псевдоним длительности\n- `size: string`: необязательно, размер выходного видео\n- `mode: string`: необязательно, распространённые значения: `t2v` `i2v` `i2v_first_last` `reference_material`\n\nЧасто используемые совместимые параметры:\n- `aspect_ratio`\n- `ratio`\n- `quality`\n- `resolution`\n- `fps`\n- `image`\n- `image_url`\n- `image_urls`\n- `images`\n- `reference_images`\n- `input_reference`\n- `end_image_url`\n- `last_image_url`\n- `video_urls`\n- `audio_urls`\n- `function_mode`\n- `content`\n- `callback_url`\n- `external_task_id`\n\nРаспространённые расширенные параметры Kling:\n- `model_name`\n- `negative_prompt`\n- `cfg_scale`\n- `sound`\n- `camera_control`\n- `image_list`\n- `video_id`\n- `task_id`\n- `watermark_info`\n\n### 4.1 Серия Veo\n\nПримечание: `stable`, `official` и т. п. обозначают разные группы, а не внешний суффикс `model`; при вызове сохраняйте `model` как базовое имя модели, а то, через какую группу пойдёт запрос, определяется группой аккаунта или токена.\n\n#### Основная модель Veo 3.x\n\n- `veo3`\n- `veo3-fast`\n- `veo3-fast-frames`\n- `veo3-frames`\n- `veo3-pro`\n- `veo3-pro-frames`\n- `veo3.1`\n- `veo3.1-fast`\n- `veo3.1-pro`\n- `veo3.1-components`\n- `veo3.1-4k`\n- `veo3.1-pro-4k`\n\nРекомендации:\n- Для генерации видео только по тексту в первую очередь используйте основные модели `veo3*` / `veo3.1*`\n- Для сценариев генерации видео по изображению или по референсу рекомендуется явно передавать `mode + image_url/reference_images`\n\n### 4.2 Серия Sora\n\nБазовые модели:\n- `sora-2`\n- `sora-2-pro`\n\nРекомендации:\n- `sora-2*` подходит для общего использования\n- Если нужно использовать группы `stable` / `official` и т. п., сохраняйте `model` как базовое имя модели и не добавляйте суффикс к имени модели.\n\n### 4.3 Серия Seedance\n\nПубличная модель:\n- `doubao-seedance-1-0-lite-t2v-250428`\n- `doubao-seedance-1-0-lite-i2v-250428`\n- `doubao-seedance-1-0-pro-250528`\n- `doubao-seedance-1-0-pro-fast-251015`\n- `doubao-seedance-1-5-pro-251215`\n- `doubao-seedance-2-0-260128`\n- `doubao-seedance-2-0-fast-260128`\n\nРекомендации:\n- Для генерации видео по тексту в приоритете `*-t2v-*` или `pro / fast`\n- Для генерации видео по изображению в приоритете `*-i2v-*`\n- Для сценариев со сложными референсными материалами предпочтительно использовать `content`\n\n### 4.4 Серия видео Grok\n\nПубличная модель:\n- `grok-imagine-1.0-video`\n- `grok-imagine-video-1.5-preview`\n- `grok-video-3`\n\nЧасто используемые параметры:\n- `prompt`\n- `ratio` / `aspect_ratio`\n- `resolution` / `size`\n- `seconds` / `duration`\n- `image` / `image_url` / `input_reference`\n- `reference_images`\n\nПример:\n\n```json\n{\n\"model\": \"grok-imagine-1.0-video\",\n\"prompt\": \"雨夜霓虹街道上的电影感推镜，光影丰富，运动自然\",\n\"reference_images\": [\n\"https://example.com/ref-1.jpg\"\n],\n\"seconds\": 10,\n\"aspect_ratio\": \"16:9\",\n\"resolution\": \"720P\"\n}\n```\n\n### 4.5 Основная видеомодель Kling\n\nОсновная публичная модель:\n- `kling-video`\n\nОбязательно:\n- `model`\n- `model_name`\n\nПоддерживаемые `model_name`:\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v1-6`\n- `kling-v2-master`\n- `kling-v2-1`\n- `kling-v2-1-master`\n- `kling-v2-5-turbo`\n- `kling-v2-6`\n- `kling-v3`\n\nРаспространённые `mode`:\n- `t2v`\n- `i2v`\n- `multi_i2v`\n- `extend`\n\nМинимальные входные параметры:\n- Генерация видео по тексту: `model + model_name + prompt + mode=t2v`\n- Генерация видео по изображению: `model + model_name + prompt + mode=i2v + image`\n- Референс по нескольким изображениям: `model + model_name + prompt + mode=multi_i2v + image_list`\n- Продление видео: `model + model_name + mode=extend + video_id`\n\nПример:\n\n```json\n{\n\"model\": \"kling-video\",\n\"model_name\": \"kling-v2-6\",\n\"mode\": \"t2v\",\n\"prompt\": \"海边日落镜头，电影感，风吹长发\",\n\"duration\": 5,\n\"aspect_ratio\": \"16:9\"\n}\n```\n\n- `mode=t2v`\n- Минимальное количество входных параметров: `model + prompt`\n\n- `mode=i2v`\n- Минимальное количество входных параметров: `model + prompt + image_url`\n\n- `mode=i2v_first_last`\n- Минимальное количество входных параметров: `model + prompt + image_url + end_image_url`\n\n- `mode=reference_images`\n- Минимальное количество входных параметров: `model + prompt + reference_images`\n\n- `mode=reference_material`\n- Минимальное количество входных параметров: `model + prompt + (image_urls/video_urls/audio_urls 至少一种)`\n\n### Инструкция по вызову Gemini Omni\n\n- `gemini-omni` — публичное имя видеомодели в new-api, можно напрямую вызывать через `POST /v1/videos`.\n- `mode=t2v`: генерация видео по тексту, минимальный входной параметр — `model + prompt`.\n- `mode=r2v`: генерация по референсному изображению/материалу, изображение можно указать в `image`, `image_url`, `images`, `image_urls`, `reference_images`, `input_reference` или `content`.\n- `mode=edit`: редактирование видео, видео можно указать в `video`, `video_url`, `videos` или `content`, также можно одновременно передать референсное изображение.\n- Для поля длительности можно использовать `seconds` или `duration` — будет автоматически сопоставлено с вариантами 4 / 6 / 8 / 10 секунд.",
        "operationId": "createVideo",
        "tags": [
          "Совместимый формат для Sora генерации видео"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Обязательно, внешнее имя модели. `gemini-omni` Можно вызывать через `/v1/videos`.",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "gemini-omni",
                      "happyhorse-1.0",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-imagine-1.0-video",
                      "grok-imagine-video-1.5-preview",
                      "grok-video-3",
                      "viduq3-turbo",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Единая точка входа для промптов. Обязательно для большинства моделей."
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Вход для одного изображения; в некоторых режимах совместимости сопоставляется с `images`."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Унифицированный параметр для длительности; некоторые модели также принимают seconds."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Контейнер динамически расширяемых полей. Здесь десериализуется большое количество специфичных для модели полей."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Необязательно, режим генерации видео. `gemini-omni` Поддерживает `t2v`、`r2v`、`edit`。"
                  },
                  "images": {
                    "type": "array",
                    "description": "Единая точка входа для нескольких изображений. Используется в Vidu, Seedance, Veo и т. д.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Унифицированная точка входа для размера; будет сопоставляться с resolution/aspect_ratio и т. д."
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora Совместимый входной параметр; во время выполнения будет выполняться откат к duration."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Совместимый входной параметр для эталонного изображения Sora/Veo, может быть multipart-файлом или совместимым объектом."
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Обязательно, внешнее имя модели. `gemini-omni` Можно вызывать через `/v1/videos`.",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "gemini-omni",
                      "happyhorse-1.0",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-imagine-1.0-video",
                      "grok-imagine-video-1.5-preview",
                      "grok-video-3",
                      "viduq3-turbo",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Единая точка входа для промптов. Обязательно для большинства моделей."
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Вход для одного изображения; в некоторых режимах совместимости сопоставляется с `images`."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Унифицированный параметр для длительности; некоторые модели также принимают seconds."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Контейнер динамически расширяемых полей. Здесь десериализуется большое количество специфичных для модели полей."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Необязательно, режим генерации видео. `gemini-omni` Поддерживает `t2v`、`r2v`、`edit`。"
                  },
                  "images": {
                    "type": "array",
                    "description": "Единая точка входа для нескольких изображений. Используется в Vidu, Seedance, Veo и т. д.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Унифицированная точка входа для размера; будет сопоставляться с resolution/aspect_ratio и т. д."
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora Совместимый входной параметр; во время выполнения будет выполняться откат к duration."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Совместимый входной параметр для эталонного изображения Sora/Veo, может быть multipart-файлом или совместимым объектом."
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "openai_t2v": {
                  "summary": "OpenAI t2v (prompt/model)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_i2v_input_reference": {
                  "summary": "OpenAI i2v (input_reference)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_alias_compat": {
                  "summary": "Alias兼容 (image_url/duration/aspect_ratio)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                },
                "gemini_omni_sora_t2v": {
                  "summary": "Gemini Omni Sora t2v",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "t2v",
                    "prompt": "A cinematic product video with smooth camera motion",
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "gemini_omni_sora_r2v": {
                  "summary": "Gemini Omni Sora r2v",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "r2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "Keep the product consistent and create a short ad video"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/product.jpg"
                        }
                      }
                    ],
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "gemini_omni_sora_edit": {
                  "summary": "Gemini Omni Sora edit",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "edit",
                    "content": [
                      {
                        "type": "text",
                        "text": "Change the outfit color while keeping the motion natural"
                      },
                      {
                        "type": "video_url",
                        "video_url": {
                          "url": "https://example.com/input.mp4"
                        }
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/style.jpg"
                        }
                      }
                    ],
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "happyhorse_sora_t2v": {
                  "summary": "HappyHorse Sora t2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "t2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic white horse running through a neon city street"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P",
                    "ratio": "16:9"
                  }
                },
                "happyhorse_sora_i2v": {
                  "summary": "HappyHorse Sora i2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "i2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "The camera slowly pushes in, natural motion"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/first-frame.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P"
                  }
                },
                "happyhorse_sora_r2v": {
                  "summary": "HappyHorse Sora r2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "r2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "Keep the character and product consistent in a short cinematic clip"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-2.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P",
                    "ratio": "16:9"
                  }
                },
                "happyhorse_sora_video_edit": {
                  "summary": "HappyHorse Sora video_edit",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "video_edit",
                    "content": [
                      {
                        "type": "text",
                        "text": "Change the jacket to a striped sweater and keep the motion natural"
                      },
                      {
                        "type": "video_url",
                        "video_url": "https://example.com/input.mp4"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/reference.jpg"
                      }
                    ],
                    "resolution": "720P"
                  }
                },
                "seedance_i2v_first": {
                  "summary": "Seedance i2v_first",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_i2v_first_last": {
                  "summary": "Seedance i2v_first_last",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_images": {
                  "summary": "Seedance reference_images",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_material": {
                  "summary": "Seedance Универсальный режим参考 материала (reference_material)",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_volc_content": {
                  "summary": "Seedance режим content Volcano Ark",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "veo_first_last_frame": {
                  "summary": "Veo Режим начального и конечного кадра",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "veo_reference_images_1to3": {
                  "summary": "Veo режим с 1–3 референсными изображениями",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "kling_text2video": {
                  "summary": "Kling Генерация видео по тексту",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "kling_image2video": {
                  "summary": "Kling Генерация видео по изображению",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "grok_reference_video": {
                  "summary": "Grok Видеорежим",
                  "value": {
                    "model": "grok-imagine-1.0-video",
                    "prompt": "A dramatic cinematic shot with fast motion and rich lighting",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": 10,
                    "aspect_ratio": "16:9",
                    "resolution": "720P"
                  }
                },
                "vidu_sora_t2v": {
                  "summary": "Vidu Sora t2v",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "t2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A stylish product ad clip with cinematic lighting"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_sora_i2v": {
                  "summary": "Vidu Sora i2v",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "i2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A stylish ad clip from a product still image"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/product.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_sora_first_last": {
                  "summary": "Vidu Sora i2v_first_last",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "i2v_first_last",
                    "content": [
                      {
                        "type": "text",
                        "text": "A smooth shot from start frame to end frame"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/start.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/end.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_sora_reference": {
                  "summary": "Vidu Sora reference_images",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "reference_images",
                    "content": [
                      {
                        "type": "text",
                        "text": "Maintain product style and character consistency"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-2.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-3.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "hailuo_text2video": {
                  "summary": "Hailuo Генерация видео по тексту",
                  "value": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Задача на создание видео успешно создана",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Совместимо со старым интерфейсом; подлежит выводу из эксплуатации"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "Should use VideoStatus constants: VideoStatusQueued, VideoStatusInProgress, VideoStatusCompleted, VideoStatusFailed",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed",
                        "video_url",
                        "url",
                        "completed_at"
                      ]
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "completed_at": {
                      "type": "integer"
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Ошибка параметров запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ru/совместимый-формат-для-sora-генерации-видео/создать-видео"
        }
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Получить статус задачи видео",
        "deprecated": false,
        "description": "Совместимый интерфейс для запроса статуса видеозадачи OpenAI.\n\nВозвращает подробную информацию о статусе видеозадачи.",
        "operationId": "getVideo",
        "tags": [
          "Совместимый формат для Sora генерации видео"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID видеозадачи",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Статус видеозадачи успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL-адрес видео. Разные модели могут возвращать либо `video_url`, либо `url`."
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL-адрес видео. Разные модели могут возвращать либо `url`, либо `video_url`."
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "Время завершения (секунды Unix)."
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "Время истечения срока действия результата (Unix, в секундах)."
                    },
                    "error": {
                      "type": "object",
                      "description": "Сообщение об ошибке в случае сбоя."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Дополнительные метаданные."
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Задача не существует",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ru/совместимый-формат-для-sora-генерации-видео/получить-статус-задачи-видео"
        }
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "Получение видеоконтента",
        "deprecated": false,
        "description": "Получение содержимого видеофайла для завершенной задачи обработки видео.\n\nДанный интерфейс возвращает поток видеофайла через прокси.",
        "operationId": "getVideoContent",
        "tags": [
          "Совместимый формат для Sora генерации видео"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID видеозадачи",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Видеоконтент успешно получен",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Видео не существует или не завершено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ru/совместимый-формат-для-sora-генерации-видео/получение-видеоконтента"
        }
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling Генерация видео по тексту",
        "deprecated": false,
        "description": "Эта серия поддерживает формат генерации видео OpenAI (подробности см. по ссылке [совместимые форматы видео生成Sora ](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nИспользуйте модель Kling для генерации видео по текстовому описанию.\n\nПоддерживаемые модели: kling-v1, kling-v1-5 и др.",
        "operationId": "createKlingText2Video",
        "tags": [
          "ФорматKling генерации видео"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Задача на генерацию видео успешно создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Ошибка параметров запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ru/форматkling-генерации-видео/kling-генерация-видео-по-тексту"
        }
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "Получить статус задачи генерации видео по тексту Kling",
        "deprecated": false,
        "description": "Эта серия поддерживает формат генерации видео OpenAI (подробности см. по ссылке [совместимые форматы видео生成Sora ](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nЗапросить статус и результат задачи генерации видео по тексту Kling.",
        "operationId": "getKlingText2Video",
        "tags": [
          "ФорматKling генерации видео"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID задачи",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Статус задачи успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Задача не существует",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ru/форматkling-генерации-видео/получить-статус-задачи-генерации-видео-по-тексту-kling"
        }
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling Генерация видео по изображению",
        "deprecated": false,
        "description": "Эта серия поддерживает формат генерации видео OpenAI (подробности см. по ссылке [совместимые форматы видео生成Sora ](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nИспользуйте модель Kling для создания видео из изображения.\n\nПоддерживается передача URL-адреса изображения или данных изображения в кодировке Base64 через параметр image.",
        "operationId": "createKlingImage2Video",
        "tags": [
          "ФорматKling генерации видео"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Задача на генерацию видео успешно создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Ошибка параметров запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ru/форматkling-генерации-видео/kling-генерация-видео-по-изображению"
        }
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "Получить статус задачи генерации видео из изображения Kling",
        "deprecated": false,
        "description": "Эта серия поддерживает формат генерации видео OpenAI (подробности см. по ссылке [совместимые форматы видео生成Sora ](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nЗапросить статус и результат задачи Kling по преобразованию изображения в видео.",
        "operationId": "getKlingImage2Video",
        "tags": [
          "ФорматKling генерации видео"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID задачи",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Статус задачи успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Задача не существует",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/ru/форматkling-генерации-видео/получить-статус-задачи-генерации-видео-из-изображения-kling"
        }
      }
    },
    "/v1/responses/{response_id}": {
      "get": {
        "summary": "Ответы на запрос (OpenAI Responses API)",
        "description": "OpenAI Responses API — интерфейс для асинхронного запроса задач. `response_id` Используйте полный `id`, возвращённый при создании ответа; не обрезайте и не переписывайте его.\n\nЗапрашивает асинхронные задачи изображений OpenAI Responses API. `response_id` Необходимо использовать полный `id`, возвращённый `POST /v1/responses`, например `resp_xxx`.\n\n## Пример асинхронного запроса\n\n```http\nGET /v1/responses/resp_xxx\n```\n\nЭквивалентное описание параметров пути:\n\n```json\n{\n \"response_id\": \"resp_xxx\"\n}\n```\n\nПример ответа в состоянии завершения:\n\n```json\n{\n \"id\": \"resp_xxx\",\n \"created_at\": 1780649146,\n \"error\": null,\n \"incomplete_details\": null,\n \"instructions\": null,\n \"metadata\": {},\n \"model\": \"gpt-image-2-2k\",\n \"object\": \"response\",\n \"output\": [\n {\n \"id\": \"ig_010c31178d26436ca6194cde07931b33_0\",\n \"result\": null,\n \"status\": \"completed\",\n \"type\": \"image_generation_call\",\n \"url\": \"https://example.png\"\n }\n ],\n \"parallel_tool_calls\": true,\n \"temperature\": null,\n \"tool_choice\": null,\n \"tools\": null,\n \"top_p\": null,\n \"max_output_tokens\": null,\n \"previous_response_id\": null,\n \"reasoning\": null,\n \"status\": \"completed\",\n \"text\": null,\n \"truncation\": null,\n \"usage\": null,\n \"user\": null,\n \"store\": null\n}\n```",
        "tags": [
          "Формат OpenAI (Responses)"
        ],
        "parameters": [
          {
            "name": "response_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "resp_xxx"
            },
            "description": "Полный id, возвращаемый в ответе на создание."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "resp_xxx",
                      "description": "Response ID。"
                    },
                    "object": {
                      "type": "string",
                      "example": "response"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string",
                      "example": "in_progress",
                      "description": "Статус задачи, обычно: `queued`, `in_progress`, `completed`, `failed`."
                    },
                    "model": {
                      "type": "string"
                    },
                    "output": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "URL изображения после завершения задания."
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string",
                          "description": "Метаданные идентификатора вышестоящей задачи."
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "description": "Объект ошибки при сбое."
                    }
                  }
                },
                "examples": {
                  "responses_image_async_completed": {
                    "summary": "Возвращаемое значение после завершения асинхронного запроса на генерацию изображения",
                    "value": {
                      "id": "resp_xxx",
                      "created_at": 1780649146,
                      "error": null,
                      "incomplete_details": null,
                      "instructions": null,
                      "metadata": {},
                      "model": "gpt-image-2-2k",
                      "object": "response",
                      "output": [
                        {
                          "id": "ig_010c31178d26436ca6194cde07931b33_0",
                          "result": null,
                          "status": "completed",
                          "type": "image_generation_call",
                          "url": "https://example.png"
                        }
                      ],
                      "parallel_tool_calls": true,
                      "temperature": null,
                      "tool_choice": null,
                      "tools": null,
[...]
