{
  "openapi": "3.0.0",
  "info": {
    "title": "Справочная документация API по выходу на зарубежные рынки",
    "version": "1.0.0",
    "description": "Public AI Gateway API Reference"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "Получить список моделей",
        "deprecated": false,
        "description": "Получение списка доступных в данный момент моделей.\n\nФормат ответа определяется автоматически на основе заголовков запроса:\n— если присутствуют заголовки `x-api-key` и `anthropic-version`, возвращается формат Anthropic\n— если присутствует заголовок `x-goog-api-key` или параметр запроса `key`, возвращается формат Gemini\n— во всех остальных случаях возвращается формат OpenAI",
        "operationId": "listModels",
        "tags": [
          "Получить список моделей"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Ключ Google API (для формата Gemini)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Ключ Anthropic API (для формата Claude)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Версия Anthropic API",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Ключ Google API (для формата Gemini)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Список моделей успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "Получение формата Gemini",
        "deprecated": false,
        "description": "Возвращает список доступных моделей в формате Gemini API",
        "operationId": "listModelsGemini",
        "tags": [
          "Получить список моделей"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Список моделей успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Создать чат-диалог",
        "deprecated": false,
        "description": "Создает ответ модели на основе истории диалога. Поддерживаются потоковые и непотоковые ответы.\n\nСовместимо с OpenAI Chat Completions API.",
        "operationId": "createChatCompletion",
        "tags": [
          "Формат OpenAI (Chat)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успешный ответ на создание",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Ошибка параметров запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "Ограничение частоты запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "Создание ответов (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses API используется для создания ответов модели.\nПоддерживает многопотоковые диалоги, вызов инструментов, логический вывод и другие функции.",
        "operationId": "createResponse",
        "tags": [
          "Формат OpenAI (Responses)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Успешный ответ на создание",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Изображение Gemini (Nano Banana)",
        "deprecated": false,
        "description": "Генерация изображений Gemini.\n\nСерия Nano Banana поддерживает формат OpenAI Dall-E (подробнее см. по ссылке [Генерация изображений в формате OpenAI Dall-E](#tag/%E5%9B%BE%E7%89%87%E7%94%9F%E6%88%90%20OpenAI%20Dall-E%E6%A0%BC%E5%BC%8F)).",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "Генерация изображений в формате Gemini"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "Название модели",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string"
                          },
                          "imageSize": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "required": [
                      "responseModalities"
                    ]
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешно",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "Генерация изображений (совместимо с OpenAI Dall-E)",
        "deprecated": false,
        "description": "OpenAI Интерфейс генерации изображений в формате Dall-E.",
        "operationId": "createImageGeneration",
        "tags": [
          "Генерация изображений OpenAI в формате Dall-E"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Название модели",
                    "example": "dall-e-3"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Промпт для генерации изображения"
                  },
                  "n": {
                    "type": "integer",
                    "description": "Количество генерируемых объектов",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "Размер изображения",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "Качество генерации изображения",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "Стиль",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "Формат ответа",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "Идентификатор пользователя"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "example": {
                "model": "dall-e-3",
                "prompt": "A cute baby sea otter",
                "n": 1,
                "size": "1024x1024"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Изображение успешно создано",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "Редактирование изображения (совместимо с OpenAI DALL-E)",
        "deprecated": false,
        "description": "Интерфейс редактирования изображений в формате OpenAI Dall-E.",
        "operationId": "createImageEdit",
        "tags": [
          "Генерация изображений OpenAI в формате Dall-E"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Изображение для редактирования"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "Необязательное изображение маски"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Редактировать промпт"
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Изображение успешно создано",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "Создать видео",
        "deprecated": false,
        "description": "Интерфейс генерации видео, совместимый с форматами OpenAI Sora. Поддерживает режимы генерации «текст в видео» и генерацию на основе изображений/видео.\n\n- `POST /v1/videos`: Создание задачи генерации видео\n- `GET /v1/videos/{video_id}`: Запрос статуса задачи\n- `GET /v1/videos/{video_id}/content`: Получение бинарного содержимого видео (скачивание)\n\nВ настоящее время недоступно внешним пользователям:\n- `GET /v1/videos`: Список задач\n- `POST /v1/videos/{video_id}/remix`: Редактирование видео / ремикс\n\nСтандартные заголовки аутентификации:\n- `Content-Type: application/json` (при создании задачи)\n\n1. Вызовите `POST /v1/videos` для создания задачи и получения `id`.\n2. Опрашивайте `GET /v1/videos/{id}`, пока не будет получено состояние `status=completed` или `failed`.\n3. После `completed` в приоритете используйте `video_url` из ответа; для унифицированного скачивания через шлюз можно вызвать `GET /v1/videos/{id}/content`.\n\n## 3.1 Основные параметры\n\n- `model: string` (обязательно)\n- Описание: Название вызываемой модели видео.\n- Примеры: `sora-2`, `doubao-seedance-2-0-260128`\n\n- `prompt: string` (рекомендуется)\n- Описание: Основное описание для генерации видео. Обязательно для передачи при использовании `content`, не может быть пустым.\n- Пример: `第一人称视角果茶广告，节奏轻快`\n\n- `seconds: number|string` (опционально)\n- Описание: Целевая длительность. Выбирается один из двух параметров: этот или `duration`. Если переданы оба, приоритет обычно отдается результату парсинга шлюза.\n- Пример: `8`\n\n- `size: string` (опционально)\n- Описание: Выходное разрешение, часто используется `宽x高`.\n- Примеры: `720x1280`, `1280x720`\n\n- `mode: string` (опционально)\n- Описание: Режим генерации, по умолчанию `t2v`. Разные режимы имеют разные требования к параметрам исходных материалов.\n- Примеры: `t2v`, `i2v`, `i2v_first_last`, `reference_material`\n\n## 3.2 Общие параметры совместимости\n\n- `aspect_ratio` или `ratio`: Соотношение сторон.\n- `duration`: Псевдоним длительности (используйте либо это, либо `seconds`).\n- `quality` или `resolution`: Параметры, связанные с четкостью (разрешением).\n- `fps`: Частота кадров.\n- `function_mode`: Режим дополнительных функций для активации специфического поведения (например, `omni_reference` для универсальной справочной семантики).\n\n## 3.3 Параметры справочных материалов\n\n- `input_reference`: Стандартный входной объект ссылки.\n- Примечание: Поддерживается только формат строки URL, формат объекта не поддерживается.\n- Правильный пример: `\"input_reference\": \"https://example.com/ref.png\"`\n- Неправильный пример: `\"input_reference\": { \"image_url\": \"https://example.com/ref.png\" }`\n\n- `image_url` / `image_urls`: Ссылка на изображение.\n- Примечание: `image_url` обычно используется для одного изображения; `image_urls` используется для нескольких изображений или универсальной ссылки.\n\n- `end_image_url` / `last_image_url`: Ссылка на последний кадр.\n- Примечание: Обычно используется в сочетании с `mode=i2v_first_last` для обозначения конечного кадра видео.\n\n- `video_urls`: Список видеоссылок.\n- Примечание: Часто используется в сценариях универсальной ссылки `reference_material` или `content`.\n\n- `audio_urls`: Список аудиоссылок.\n- Примечание: Используется для фоновой музыки или стиля озвучивания (эффективность зависит от возможностей модели).\n\n- `reference_images`: Ссылка на несколько изображений.\n- Примечание: Часто используется в режимах многокадровой или многоизобразительной ссылки.\n\nПримечание: Разные модели предъявляют разные требования к полям материалов. Рекомендуется передавать параметры в соответствии с разделом «Режимы и минимальные входные параметры» ниже.\n\n## 3.4 Продвинутый режим content (рекомендуется для сложных сценариев ссылок)\n\nМожно напрямую передать массив `content`:\n- `type=text`: текстовая инструкция.\n- `type=image_url|video_url|audio_url`: медиа-ввод.\n- Поддерживается `name` для ссылки на материалы в тексте через `@名称`.\n\nОбязательные ограничения:\n- При использовании `content` параметр `prompt` все равно должен быть передан и не может быть пустым.\n\nСовместимые форматы записи:\n- `image_url/video_url/audio_url` может быть строкой или объектом `{ \"url\": \"https://...\" }`.\n- В `role` можно использовать `material`, также поддерживается совместимость с `reference_image/reference_video/reference_audio`.\n\nМожно одновременно передавать:\n- `generate_audio: boolean`\n- `watermark: boolean`\n\nДополнительные примечания:\n- `generate_audio=true`: запрос к модели на одновременную генерацию аудио (действует только для моделей с поддержкой этой функции).\n- `watermark=false`: запрос на отключение водяных знаков (фактическое применение зависит от политики модели и канала).\n- `name`: псевдоним ресурса, рекомендуется использовать то же значение, что и в `@名称` внутри `text`, чтобы модель могла точно сопоставить материалы.\n\nПоддержка параметров существенно различается между семействами моделей; рекомендуется выбирать параметры согласно следующей таблице:\n\n| Семейство моделей | Популярные названия (примеры) | Рек. мин. входные параметры | Общие расширенные параметры | Примечания |\n|---|---|---|---|---|\n| Seedance | `doubao-seedance-*` | `model + prompt + mode` | `image_url/image_urls/end_image_url/reference_images/video_urls/audio_urls/function_mode/content` | Наиболее чувствителен к `mode`; не все версии поддерживают `reference_material`. |\n| Sora Общие | `sora-2`, `sora-2-pro` и `*-stable/*-official` | `model + prompt` | `seconds/size`, рекомендуется добавить `input_reference` (строка URL) | При многоканальном откате требования к изображениям могут различаться; рекомендуется подготовить референсное изображение для повышения вероятности успеха. |\n| Sora С предустановкой длительности | `sora2-landscape-10s`, `sora2-pro-portrait-25s` и т. д. | `model + prompt` | `image_url/input_reference` | Длительность и ориентация обычно определяются названием модели, `seconds/ratio` действует только при разрешении модели. |\n| Veo | `veo3*` `veo3.1*` | `model + prompt` | `mode + image_url/reference_images/content + ratio/seconds` | Моделям типа `i2v/r2v` обычно требуются референсные изображения или материалы; модели типа `t2v` обычно поддерживают чистый текст. |\n| Kling | `kling-video` `kling-*` | `model + prompt + mode` | `mode=t2v/i2v/multi_i2v`, а также официальные поля `image/image_list` и др. | Совместимо с официальной семантикой путей (text2video/image2video/multi-image2video) и унифицировано в `/v1/videos`; внешние возможности продления видео не предоставляются. |\n| Агрегированные расширенные модели | `happyhorse*`, `grok-imagine-1.0-video*` и т. д. | `model + prompt` | `seconds/size/content` | Поддержка конкретных полей зависит от реализации модели и канала; рекомендуется использовать стандартные поля, и только при их недостаточности — `content`. |\n\nОписание:\n1. Если вы используете модели со стабильными псевдонимами (например, `*-stable`, `*-official`), базовый уровень может автоматически переключать каналы; старайтесь передавать «межканальные совместимые параметры» (`prompt + model + seconds/duration + size/ratio + 必要参考图`).\n2. Для сложных сценариев с несколькими типами ресурсов (изображение + видео + аудио + @имя) рекомендуется использовать `content`, так как он обладает самой высокой совместимостью.\n3. Если в документации модели явно не указана поддержка определенного поля, сначала выполните запрос с «минимальными входными параметрами», а затем постепенно добавляйте расширенные параметры.\n\n### 4.1 Дополнение к официальному режиму Kling\n\n- `mode=t2v`: текст в видео\n- `mode=i2v`: изображение в видео (требуется `image` или `image_url`)\n- `mode=multi_i2v`: ссылка на несколько изображений (требуется `image_list` или несколько `image_urls`)\n- `mode=extend`: не поддерживается (возможность `/v1/videos` для продления видео временно недоступна во внешнем API)\n\nСтандартные официальные параметры можно передавать напрямую в теле запроса `/v1/videos`:\n- `model_name` `negative_prompt` `cfg_scale` `mode(std/pro)` `duration` `aspect_ratio`\n- `sound` `camera_control` `callback_url` `external_task_id` `watermark_info`\n\n### 4.2 Дополнение к видеорежиму Grok\n\nРекомендуемые параметры:\n- `model`: например, `grok-video-3`\n- `prompt`\n- `ratio` или `aspect_ratio`\n- `resolution` или `size`\n- `seconds` или `duration`\n- `image` / `image_url` / `input_reference` (ссылка на одно изображение)\n- `reference_images` / `reference_image_urls` (ссылка на несколько изображений, официальная семантика `reference-to-video`)\n- `mode` (опционально): `image-to-video`, `reference-to-video`\n\nОграничения:\n- `mode=edit-video` / `mode=extend-video` не поддерживаются (редактирование и продление видео временно недоступны во внешнем API).\n- `image/input_reference` и `reference_images` нельзя передавать одновременно.\n\n- `mode=t2v`\n- Минимальное количество входных параметров: `model + prompt`\n\n- `mode=i2v` (эквивалентно `i2v_first`)\n- Минимальный входной параметр: `model + prompt + image_url` (или URL-строка `input_reference`)\n\n- `mode=i2v_first_last`\n- Минимальное количество входных параметров: `model + prompt + image_url + end_image_url`\n\n- `mode=reference_images`\n- Минимальное количество входных параметров: `model + prompt + reference_images` (обычно 1–4 изображения)\n\n- `mode=reference_material`\n- Минимальное количество входных параметров: `model + prompt + (image_urls/video_urls/audio_urls 至少一种)`\n- Для сложных сценариев рекомендуется использовать `content + function_mode=omni_reference`\n- Примечание: при передаче `function_mode=omni_reference`, даже если `mode=reference_material` не передан явно, запрос будет обработан в соответствии с семантикой универсальной ссылки.",
        "operationId": "createVideo",
        "tags": [
          "视频生成 Sora兼容格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Название вызываемой видеомодели. Примеры: `sora-2`, `doubao-seedance-2-0-260128`",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Основное описание для генерации видео. При использовании `content` этот параметр также обязателен и не может быть пустым. Пример: `第一人称视角果茶广告，节奏轻快`"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Вход для одного изображения; в некоторых режимах совместимости сопоставляется с `images`."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Псевдоним длительности (используйте либо это поле, либо `seconds`)."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Частота кадров."
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Контейнер динамически расширяемых полей. Здесь десериализуется большое количество специфичных для модели полей."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Режим генерации; если не передан, по умолчанию используется `t2v`. Разные режимы имеют разные требования к параметрам материалов. Примеры: `t2v`, `i2v`, `i2v_first_last`, `reference_material`."
                  },
                  "images": {
                    "type": "array",
                    "description": "Единая точка входа для нескольких изображений. Используется в Vidu, Seedance, Veo и др.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Выходное разрешение, обычно `宽x高`. Примеры: `720x1280`, `1280x720`"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Целевая длительность. Выберите между этим параметром и `duration`; если переданы оба, приоритет обычно отдается результату парсинга шлюза. Пример: `8`"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Стандартный ссылочный объект ввода."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Название вызываемой видеомодели. Примеры: `sora-2`, `doubao-seedance-2-0-260128`",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-video-3",
                      "vidu2.0",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Основное описание для генерации видео. При использовании `content` этот параметр также обязателен и не может быть пустым. Пример: `第一人称视角果茶广告，节奏轻快`"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Вход для одного изображения; в некоторых режимах совместимости сопоставляется с `images`."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Псевдоним длительности (используйте либо это поле, либо `seconds`)."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Частота кадров."
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Контейнер динамически расширяемых полей. Здесь десериализуется большое количество специфичных для модели полей."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Режим генерации; если не передан, по умолчанию используется `t2v`. Разные режимы имеют разные требования к параметрам материалов. Примеры: `t2v`, `i2v`, `i2v_first_last`, `reference_material`."
                  },
                  "images": {
                    "type": "array",
                    "description": "Единая точка входа для нескольких изображений. Используется в Vidu, Seedance, Veo и др.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Выходное разрешение, обычно `宽x高`. Примеры: `720x1280`, `1280x720`"
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Целевая длительность. Выберите между этим параметром и `duration`; если переданы оба, приоритет обычно отдается результату парсинга шлюза. Пример: `8`"
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Стандартный ссылочный объект ввода."
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "openai_t2v": {
                  "summary": "OpenAI t2v (prompt/model)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_i2v_input_reference": {
                  "summary": "OpenAI i2v (input_reference)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_alias_compat": {
                  "summary": "Alias兼容 (image_url/duration/aspect_ratio)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                },
                "seedance_i2v_first": {
                  "summary": "Seedance i2v_first",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_i2v_first_last": {
                  "summary": "Seedance i2v_first_last",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_images": {
                  "summary": "Seedance reference_images",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_material": {
                  "summary": "Seedance Универсальный справочный режим (reference_material)",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_volc_content": {
                  "summary": "Режим content в Seedance Volcengine Ark",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "veo_first_last_frame": {
                  "summary": "Veo: режим первого и последнего кадров",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "veo_reference_images_1to3": {
                  "summary": "Veo Режим 1–3 референсных изображений",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "kling_text2video": {
                  "summary": "Kling Генерация видео по тексту",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "kling_image2video": {
                  "summary": "Kling Генерация видео из изображения",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "grok_reference_video": {
                  "summary": "Видеорежим Grok",
                  "value": {
                    "model": "grok-video-3",
                    "prompt": "A dramatic cinematic shot with fast motion and rich lighting",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_img2video": {
                  "summary": "Vidu Генерация видео по изображению",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A stylish ad clip from a product still image",
                    "images": [
                      "https://example.com/product.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_first_tail": {
                  "summary": "Vidu Режим начального и конечного кадров",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "A smooth shot from start frame to end frame",
                    "images": [
                      "https://example.com/start.jpg",
                      "https://example.com/end.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "vidu_reference": {
                  "summary": "Vidu Режим нескольких референсных изображений",
                  "value": {
                    "model": "vidu2.0",
                    "prompt": "Maintain product style and character consistency",
                    "images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg",
                      "https://example.com/ref-3.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                },
                "hailuo_text2video": {
                  "summary": "Hailuo Генерация видео по тексту",
                  "value": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Задача на создание видео успешно создана",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID задачи (используется для последующего запроса или скачивания)."
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Совместимо со старым интерфейсом; подлежит выводу из эксплуатации"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "Статус задачи.",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed"
                      ]
                    },
                    "progress": {
                      "type": "integer",
                      "description": "Прогресс (0–100, приближенное значение)."
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "Время создания (Unix-время в секундах)."
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "Время завершения."
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "video_url": {
                      "type": "string",
                      "description": "Прямая ссылка для скачивания видео."
                    },
                    "url": {
                      "type": "string",
                      "description": "Некоторые модели или каналы могут возвращать это поле в качестве URL-адреса результата."
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Ошибка параметров запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Получить статус задачи видео",
        "deprecated": false,
        "description": "Интерфейс запроса статуса видеозадач, совместимый с OpenAI.\n\nВозвращает подробную информацию о статусе видеозадачи.",
        "operationId": "getVideo",
        "tags": [
          "视频生成 Sora兼容格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID видеозадачи",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Статус видеозадачи успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL-адрес видео. Разные модели могут возвращать либо `video_url`, либо `url`."
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL-адрес видео. Разные модели могут возвращать либо `url`, либо `video_url`."
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "Время завершения (секунды Unix)."
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "Время истечения срока действия результата (Unix, в секундах)."
                    },
                    "error": {
                      "type": "object",
                      "description": "Сообщение об ошибке в случае сбоя."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Дополнительные метаданные."
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Задача не существует",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "Получение видеоконтента",
        "deprecated": false,
        "description": "Эта серия поддерживает форматы генерации видео OpenAI (подробности см. по ссылке [Генерация видео/Совместимые форматы Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nПолучение содержимого видеофайла для завершенной задачи обработки видео.\n\nДанный интерфейс возвращает поток видеофайла через прокси.",
        "operationId": "getVideoContent",
        "tags": [
          "Генерация видео/Sora-совместимый формат"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID видеозадачи",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Видеоконтент успешно получен",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Видео не существует или не завершено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling Генерация видео по тексту",
        "deprecated": false,
        "description": "Эта серия поддерживает форматы генерации видео OpenAI (подробности см. по ссылке [Генерация видео/Совместимые форматы Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nИспользуйте модель Kling для генерации видео из текстового описания.\n\nПоддерживаемые модели: kling-v1, kling-v1-5 и др.",
        "operationId": "createKlingText2Video",
        "tags": [
          "Генерация видео/формат Kling"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Задача на генерацию видео успешно создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Ошибка параметров запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "Получение статуса задачи генерации видео по тексту Kling",
        "deprecated": false,
        "description": "Эта серия поддерживает форматы генерации видео OpenAI (подробности см. по ссылке [Генерация видео/Совместимые форматы Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nЗапрос статуса и результата задачи генерации видео по тексту Kling.",
        "operationId": "getKlingText2Video",
        "tags": [
          "Генерация видео/формат Kling"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID задачи",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Статус задачи успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Задача не существует",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling Генерация видео из изображения",
        "deprecated": false,
        "description": "Эта серия поддерживает форматы генерации видео OpenAI (подробности см. по ссылке [Генерация видео/Совместимые форматы Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nГенерация видео из изображения с помощью модели Kling.\n\nПоддерживается передача URL-адреса изображения или данных изображения в кодировке Base64 через параметр image.",
        "operationId": "createKlingImage2Video",
        "tags": [
          "Генерация видео/формат Kling"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Задача на генерацию видео успешно создана",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Ошибка параметров запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "Получение статуса задачи генерации видео по изображению Kling",
        "deprecated": false,
        "description": "Эта серия поддерживает форматы генерации видео OpenAI (подробности см. по ссылке [Генерация видео/Совместимые форматы Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nЗапрос статуса и результата задачи генерации видео по изображению Kling.",
        "operationId": "getKlingImage2Video",
        "tags": [
          "Генерация видео/формат Kling"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID задачи",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Статус задачи успешно получен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Задача не существует",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/api/v3/contents/generations/tasks": {
      "post": {
        "summary": "Создать видео (Seedance)",
        "description": "Эта серия поддерживает форматы генерации видео OpenAI (подробности см. по ссылке [Генерация видео/Совместимые форматы Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nИспользуется для создания задач генерации видео и получения статуса и результатов по ID задачи.\n\nОсновные поля для создания задачи:\n- `model`: Обязательно, название модели.\n- `prompt`: Обязательно, основное описание для генерации видео.\n- `content`: Опционально, массив мультимедийных входных данных для расширенного режима.\n- `function_mode`: Опционально, часто используется в расширенных режимах, таких как универсальный референс.\n\nСовместимые входные параметры:\n- `mode`：`t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\nДетали вызова:\n- При использовании `mode=reference_material` или `function_mode=omni_reference` рекомендуется передавать текст и референсные материалы через `content`.\n- Поля мультимедиа в `content` поддерживают прямую передачу строки URL, а также формат объекта, например `{ \"url\": \"https://example.com/ref.mp4\" }`.\n- `ratio`, `duration`, `resolution` и `fps` влияют на итоговую конфигурацию генерации.\n\nКлючевые поля в результатах запроса:\n- `items[].status`\n- `items[].content.video_url` или `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n```json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n```",
        "operationId": "create__seedance__task",
        "tags": [
          "Генерация видео Seedance Volcano Engine Ark"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "doubao-seedance-2-0-260128",
                    "description": "Обязательно. Название модели."
                  },
                  "prompt": {
                    "type": "string",
                    "example": "参考素材生成一段剧情短视频",
                    "description": "Обязательно. Основное описание для генерации видео, не может быть пустым."
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "text",
                            "image_url",
                            "video_url",
                            "audio_url"
                          ]
                        },
                        "text": {
                          "type": "string"
                        },
                        "image_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "video_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "audio_url": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "url": {
                                  "type": "string"
                                }
                              }
                            }
                          ]
                        },
                        "role": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Необязательно. Массив мультимедийных входных данных в расширенном режиме; рекомендуется для сложных сценариев с использованием ссылок."
                  },
                  "function_mode": {
                    "type": "string",
                    "description": "Необязательно. Режим расширенных функций, например `omni_reference`, для универсального справочника."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Необязательно. Поля режима совместимости, такие как `t2v`, `i2v`, `i2v_first_last`, `reference_images`, `reference_material`."
                  },
                  "image_url": {
                    "type": "string",
                    "description": "Необязательно. URL-адрес одного эталонного изображения."
                  },
                  "image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Необязательно. Список URL-адресов нескольких референсных изображений."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Необязательно. Поле ввода для обеспечения обратной совместимости."
                  },
                  "end_image_url": {
                    "type": "string",
                    "description": "Необязательно. URL-адрес референсного изображения для последнего кадра."
                  },
                  "last_image_url": {
                    "type": "string",
                    "description": "Необязательно. Псевдоним URL-адреса референсного изображения последнего кадра."
                  },
                  "video_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Необязательно. Список URL-адресов справочных видеороликов."
                  },
                  "audio_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Необязательно. Список URL-адресов эталонного аудио."
                  },
                  "seconds": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Необязательно. Длительность видео в секундах; совместимо с `duration`."
                  },
                  "duration": {
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Необязательно. Длительность видео в секундах; совместимо с `seconds`."
                  },
                  "aspect_ratio": {
                    "type": "string",
                    "description": "Необязательно. Соотношение сторон, например `16:9`."
                  },
                  "ratio": {
                    "type": "string",
                    "description": "Необязательно. Псевдоним соотношения сторон, например `16:9`."
                  },
                  "size": {
                    "type": "string",
                    "description": "Необязательно. Поле совместимости разрешения или размера."
                  },
                  "quality": {
                    "type": "string",
                    "description": "Необязательно. Конфигурация качества генерации."
                  },
                  "resolution": {
                    "type": "string",
                    "description": "Необязательно. Разрешение на выходе."
                  },
                  "fps": {
                    "type": "number",
                    "description": "Необязательно. Частота кадров."
                  },
                  "generate_audio": {
                    "type": "boolean",
                    "description": "Необязательно. Указывает, нужно ли генерировать аудио."
                  },
                  "watermark": {
                    "type": "boolean",
                    "description": "Необязательно. Указывает, нужно ли добавлять водяной знак."
                  }
                }
              },
              "example": {
                "model": "doubao-seedance-2-0-260128",
                "prompt": "参考素材生成一段剧情短视频",
                "content": [
                  {
                    "type": "text",
                    "text": "@角色A 在咖啡馆和 @角色B 聊天，@背景视频 作为场景，配上 @背景音乐 --ratio 16:9 --dur 10"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterA.jpg",
                    "role": "material",
                    "name": "角色A"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterB.jpg",
                    "role": "material",
                    "name": "角色B"
                  },
                  {
                    "type": "video_url",
                    "video_url": "https://example.com/cafe-scene.mp4",
                    "role": "material",
                    "name": "背景视频"
                  },
                  {
                    "type": "audio_url",
                    "audio_url": "https://example.com/bgm.mp3",
                    "name": "背景音乐"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Задача успешно создана",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "task_xxx",
                      "description": "ID задачи."
                    },
                    "status": {
                      "type": "string",
                      "description": "Статус задачи.",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Время создания (Unix-время в секундах)."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/contents/generations/tasks/{task_id}": {
      "get": {
        "summary": "Запрос задачи (Seedance)",
        "description": "Эта серия поддерживает форматы генерации видео OpenAI (подробности см. по ссылке [Генерация видео/Совместимые форматы Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nИспользуется для создания задач генерации видео и получения статуса и результатов по ID задачи.\n\nОсновные поля для создания задачи:\n- `model`: Обязательно, название модели.\n- `prompt`: Обязательно, основное описание для генерации видео.\n- `content`: Опционально, массив мультимедийных входных данных для расширенного режима.\n- `function_mode`: Опционально, часто используется в расширенных режимах, таких как универсальный референс.\n\nСовместимые входные параметры:\n- `mode`：`t2v / i2v / i2v_first_last / reference_images / reference_material`\n- `image_url / image_urls / input_reference`\n- `end_image_url / last_image_url`\n- `video_urls / audio_urls`\n- `seconds / duration`\n- `aspect_ratio / ratio / size`\n- `quality / resolution`\n- `fps`\n- `generate_audio / watermark`\n\nДетали вызова:\n- При использовании `mode=reference_material` или `function_mode=omni_reference` рекомендуется передавать текст и референсные материалы через `content`.\n- Поля мультимедиа в `content` поддерживают прямую передачу строки URL, а также формат объекта, например `{ \"url\": \"https://example.com/ref.mp4\" }`.\n- `ratio`, `duration`, `resolution` и `fps` влияют на итоговую конфигурацию генерации.\n\nКлючевые поля в результатах запроса:\n- `items[].status`\n- `items[].content.video_url` или `items[].video_url`\n- `items[].error`\n- `items[].progress`\n\nError fields: `error.code`, `error.message`.\n\n```json\n{\n\"error\": {\n\"code\": \"invalid_request_error\",\n\"message\": \"requires at least one image in `images`\"\n}\n}\n```",
        "operationId": "query__seedance__task",
        "tags": [
          "Генерация видео Seedance Volcano Engine Ark"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "?? ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID задачи."
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ],
                      "description": "Статус задачи."
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "created_at": {
                      "type": "integer",
                      "description": "Время создания (Unix-время в секундах)."
                    },
                    "updated_at": {
                      "type": "integer"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "video_url": {
                          "type": "string"
                        },
                        "last_frame_url": {
                          "type": "string"
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/models/{model}:predictLongRunning": {
      "post": {
        "summary": "Создание видео (формат Veo3)",
        "description": "Эта серия поддерживает форматы генерации видео OpenAI (подробности см. по ссылке [Генерация видео/Совместимые форматы Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nЭта тематическая страница API предназначена только для пояснения нативного формата Veo и текущего статуса поддержки шлюзом.\n\nДля внешней работы с текущей серией Veo используйте режим совместимости OpenAI Sora: `POST /v1/videos`.\n\nПуть для нативного режима Google зарезервирован как: `POST /v1beta/models/{model}:predictLongRunning`. Текущий шлюз еще не подключен к нативному каналу распределения задач Veo, поэтому вызовы с нативным телом запроса `instances/parameters` временно не поддерживаются.",
        "operationId": "create_veo3_google_native_task",
        "tags": [
          "Формат Veo3 для генерации видео"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "veo3.1-fast",
              "enum": [
                "veo3",
                "veo3-fast",
                "veo3-fast-frames",
                "veo3-frames",
                "veo3-pro",
                "veo3-pro-frames",
                "veo3.1",
                "veo3.1-4k",
                "veo3.1-components",
                "veo3.1-fast",
                "veo3.1-pro",
                "veo3.1-pro-4k"
              ]
            },
            "description": "Название модели Veo."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instances"
                ],
                "properties": {
                  "instances": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "prompt": {
                          "type": "string",
                          "example": "A cinematic aerial shot of a modern city at sunrise",
                          "description": "Сгенерировать промпт"
                        },
                        "referenceImages": {
                          "type": "array",
                          "description": "Необязательно. От 1 до 3 эталонных изображений; используйте стандартный формат Google `inlineData` или структуру URI файла.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "image": {
                                "type": "object",
                                "properties": {
                                  "inlineData": {
                                    "type": "object",
                                    "properties": {
                                      "mimeType": {
                                        "type": "string",
                                        "example": "image/png"
                                      },
                                      "data": {
                                        "type": "string",
                                        "example": "BASE64_IMAGE_DATA"
                                      }
                                    }
                                  }
                                }
                              },
                              "referenceType": {
                                "type": "string",
                                "example": "asset"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "1:1",
                          "9:16"
                        ],
                        "default": "16:9"
                      },
                      "durationSeconds": {
                        "type": "integer",
                        "enum": [
                          5,
                          6,
                          8,
                          10
                        ],
                        "default": 5
                      },
                      "resolution": {
                        "type": "string",
                        "example": "720p"
                      }
                    }
                  }
                }
              },
              "example": {
                "instances": [
                  {
                    "prompt": "A cinematic aerial shot of a modern city at sunrise",
                    "referenceImages": [
                      {
                        "image": {
                          "inlineData": {
                            "mimeType": "image/png",
                            "data": "BASE64_IMAGE_DATA"
                          }
                        },
                        "referenceType": "asset"
                      }
                    ]
                  }
                ],
                "parameters": {
                  "aspectRatio": "16:9",
                  "durationSeconds": 5,
                  "resolution": "720p"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Зарезервированная структура успешного ответа. В настоящее время приводится только для описания протокола и не поддерживает фактические вызовы.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "models/veo3.1-fast/operations/abc123",
                      "description": "Имя операции (operation name), используемое для последующего запроса статуса."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1beta/{operation_name}": {
      "get": {
        "summary": "Запрос задачи (формат Veo3)",
        "description": "Эта серия поддерживает форматы генерации видео OpenAI (подробности см. по ссылке [Генерация видео/Совместимые форматы Sora](/api-reference/ru/generaciya-video-sovmestimyi-format-sora/sozdat-video)).\n\nЭта тематическая страница API предназначена исключительно для описания нативного протокола запросов Veo.\n\nДля текущей серии Veo используйте унифицированный интерфейс `/v1/videos` для создания и выполнения запросов.\n\nНижеописанная структура запроса `operation_name` сохранена только в качестве описания зарезервированного протокола и в данный момент не поддерживает фактические вызовы.",
        "operationId": "query_veo3_google_native_task",
        "tags": [
          "Формат Veo3 для генерации видео"
        ],
        "parameters": [
          {
            "name": "operation_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "models/veo3.1-fast/operations/abc123"
            },
            "description": "Полное имя операции (`operation name`), возвращаемое методом создания. При вызове необходимо выполнить URL-кодирование для `/`."
          }
        ],
        "responses": {
          "200": {
            "description": "Структура ответа на запрос в резерве. В настоящее время приводится только описание протокола, фактические вызовы не поддерживаются.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name",
                    "done"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Название операции, соответствует значению `name`, возвращаемому интерфейсом создания."
                    },
                    "done": {
                      "type": "boolean",
                      "description": "Завершена ли задача."
                    },
                    "response": {
                      "type": "object",
                      "description": "Объект результата при успешном завершении.",
                      "properties": {
                        "generatedVideos": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "video": {
                                "type": "object",
                                "properties": {
                                  "uri": {
                                    "type": "string",
                                    "format": "uri",
                                    "description": "URL-адрес успешно созданного видео."
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "description": "Сообщение об ошибке в случае сбоя.",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Описание ошибки."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "name": "models/veo3.1-fast/operations/abc123",
                  "done": true,
                  "response": {
                    "generatedVideos": [
                      {
                        "video": {
                          "uri": "https://example.com/generated-video.mp4"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Сообщение об ошибке"
              },
              "type": {
                "type": "string",
                "description": "Тип ошибки"
              },
              "param": {
                "type": "string",
                "description": "Связанные параметры",
                "nullable": true
              },
              "code": {
                "type": "string",
                "description": "Код ошибки",
                "nullable": true
              }
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "Количество токенов промпта"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "Количество токенов завершения"
          },
          "total_tokens": {
            "type": "integer",
            "description": "Общее количество токенов"
          },
          "prompt_tokens_details": {
            "type": "object",
            "properties": {
              "cached_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              },
              "image_tokens": {
                "type": "integer"
              }
            }
          },
          "completion_tokens_details": {
            "type": "object",
            "properties": {
              "text_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              },
              "reasoning_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID модели",
            "example": "gpt-4"
          },
          "object": {
            "type": "string",
            "description": "Тип объекта",
            "example": "model"
          },
          "created": {
            "type": "integer",
            "description": "Временная метка создания"
          },
          "owned_by": {
            "type": "string",
            "description": "Владелец модели",
            "example": "openai"
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "GeminiModelsResponse": {
        "type": "object",
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "models/gemini-pro"
                },
                "version": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "inputTokenLimit": {
                  "type": "integer"
                },
                "outputTokenLimit": {
                  "type": "integer"
                },
                "supportedGenerationMethods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool",
              "developer"
            ],
            "description": "Роль сообщения"
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessageContent"
                }
              }
            ],
            "description": "Содержимое сообщения"
          },
          "name": {
            "type": "string",
            "description": "Имя отправителя"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          },
          "tool_call_id": {
            "type": "string",
            "description": "ID вызова инструмента (для сообщений с ролью tool)"
          },
          "reasoning_content": {
            "type": "string",
            "description": "Содержимое рассуждений"
          }
        }
      },
      "MessageContent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image_url",
              "input_audio",
              "file",
              "video_url"
            ]
          },
          "text": {
            "type": "string"
          },
          "image_url": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "URL изображения или base64"
              },
              "detail": {
                "type": "string",
                "enum": [
                  "low",
                  "high",
                  "auto"
                ]
              }
            }
          },
          "input_audio": {
            "type": "object",
            "properties": {
              "data": {
                "type": "string",
                "description": "Аудиоданные в кодировке Base64"
              },
              "format": {
                "type": "string",
                "enum": [
                  "wav",
                  "mp3"
                ]
              }
            }
          },
          "file": {
            "type": "object",
            "properties": {
              "filename": {
                "type": "string"
              },
              "file_data": {
                "type": "string"
              },
              "file_id": {
                "type": "string"
              }
            }
          },
[...]
