{
  "openapi": "3.0.0",
  "info": {
    "title": "Overseas API Reference",
    "version": "1.0.0",
    "description": "Tài liệu API Overseas"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "获取模型列表",
        "deprecated": false,
        "description": "获取当前可用的模型列表。\n\n根据请求头自动识别返回格式：\n- 包含 `x-api-key` 和 `anthropic-version` 头时返回 Anthropic 格式\n- 包含 `x-goog-api-key` 头或 `key` 查询参数时返回 Gemini 格式\n- 其他情况返回 OpenAI 格式\n",
        "operationId": "listModels",
        "tags": [
          "获取模型列表"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Google API Key (用于 Gemini 格式)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Anthropic API Key (用于 Claude 格式)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Anthropic API 版本",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Google API Key (用于 Gemini 格式)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取模型列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "Gemini 格式获取",
        "deprecated": false,
        "description": "以 Gemini API 格式返回可用模型列表",
        "operationId": "listModelsGemini",
        "tags": [
          "获取模型列表"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "成功获取模型列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "创建聊天对话",
        "deprecated": false,
        "description": "根据对话历史创建模型响应。支持流式和非流式响应。\n\n兼容 OpenAI Chat Completions API。\n",
        "operationId": "createChatCompletion",
        "tags": [
          "OpenAI格式(Chat)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功创建响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "请求频率限制",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "创建响应 (OpenAI Responses API)",
        "deprecated": false,
        "description": "OpenAI Responses API，用于创建模型响应。\n支持多轮对话、工具调用、推理等功能。\n",
        "operationId": "createResponse",
        "tags": [
          "OpenAI格式(Responses)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "成功创建响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Gemini 图片(Nano Banana)",
        "deprecated": false,
        "description": "Gemini 图片生成。\n\nNano Banana系列支持OpenAI Dall-E格式（详见链接 [图片生成/OpenAI Dall-E格式](#tag/%E5%9B%BE%E7%89%87%E7%94%9F%E6%88%90%2FOpenAI%20Dall-E%E6%A0%BC%E5%BC%8F)）。",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "图片生成/Gemini格式"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "模型名称",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string"
                          },
                          "imageSize": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "required": [
                      "responseModalities"
                    ]
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "生成图像（OpenAI Dall-E兼容）",
        "deprecated": false,
        "description": "OpenAI Dall-E格式图片生成接口。",
        "operationId": "createImage",
        "tags": [
          "图片生成/OpenAI Dall-E格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "模型名称",
                    "example": "dall-e-3"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "生图提示词"
                  },
                  "n": {
                    "type": "integer",
                    "description": "生成数量",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "图像尺寸",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "生图质量",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "风格",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "返回格式",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "用户标识"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "example": {
                "model": "dall-e-3",
                "prompt": "A cute baby sea otter",
                "n": 1,
                "size": "1024x1024"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功生成图像",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "编辑图像（OpenAI Dall-E兼容）",
        "deprecated": false,
        "description": "OpenAI Dall-E格式图片编辑接口。",
        "operationId": "createImage",
        "tags": [
          "图片生成/OpenAI Dall-E格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "需编辑的图片"
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "可选遮罩图"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "编辑提示词"
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功生成图像",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "创建视频",
        "deprecated": false,
        "description": "OpenAI Sora 兼容格式的视频生成接口。支持文生视频与图/视频参考生成模式。",
        "operationId": "createVideo",
        "tags": [
          "视频生成/Sora兼容格式"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "duration": {
                    "type": "integer"
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "mode": {
                    "type": "string"
                  },
                  "images": {
                    "type": "array",
                    "description": "Multiple reference images (URL or uploaded files)",
                    "items": {
                      "type": "string"
                    }
                  },
                  "size": {
                    "type": "string"
                  },
                  "seconds": {
                    "type": "string"
                  },
                  "input_reference": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "example": {
                "model": "sora-2",
                "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                "seconds": "8",
                "size": "1280x720",
                "n": 1,
                "response_format": "url"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建视频任务",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "兼容旧接口 待废弃"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "Should use VideoStatus constants: VideoStatusQueued, VideoStatusInProgress, VideoStatusCompleted, VideoStatusFailed"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "completed_at": {
                      "type": "integer"
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-interface-extension": {
          "generated_from": [
            "new-api/relay/common/relay_info.go:TaskSubmitReq",
            "new-api/relay/common/relay_utils.go",
            "new-api/relay/channel/task/sora/adaptor.go",
            "new-api/relay/channel/task/doubao/adaptor.go",
            "new-api/relay/channel/task/gemini/adaptor.go",
            "new-api/relay/channel/task/vertex/adaptor.go",
            "new-api/relay/channel/task/jimeng/adaptor.go",
            "new-api/relay/channel/task/kling/adaptor.go",
            "new-api/relay/channel/task/vidu/adaptor.go",
            "new-api/relay/channel/task/hailuo/adaptor.go"
          ],
          "description": "relay.json 仍是主参考；该扩展说明补充 /v1/videos 的统一请求骨架、动态模型模式和推荐验证模板，供 new-api-docs 与 test_docs.html 共同读取。",
          "request_content_types": [
            "application/json",
            "multipart/form-data"
          ],
          "base_request_fields": [
            {
              "name": "model",
              "type": "string",
              "required": true,
              "description": "模型名。不同模型会触发不同上游适配逻辑。"
            },
            {
              "name": "prompt",
              "type": "string",
              "required": true,
              "description": "统一提示词入口。大多数模型必填。"
            },
            {
              "name": "mode",
              "type": "string",
              "required": false,
              "description": "渠道/模式提示字段，如 i2v_first、reference_images 等。"
            },
            {
              "name": "image",
              "type": "string",
              "required": false,
              "description": "单图入口，部分兼容模式会映射到 images。"
            },
            {
              "name": "images",
              "type": "array[string]",
              "required": false,
              "description": "统一多图入口。Vidu、Seedance、Jimeng 等会使用。"
            },
            {
              "name": "size",
              "type": "string",
              "required": false,
              "description": "统一尺寸入口，会映射为 resolution/aspect_ratio 等。"
            },
            {
              "name": "duration",
              "type": "integer",
              "required": false,
              "description": "统一时长入口，部分模型也接受 seconds。"
            },
            {
              "name": "seconds",
              "type": "string",
              "required": false,
              "description": "Sora 兼容入口，运行时会回退到 duration。"
            },
            {
              "name": "input_reference",
              "type": "string|object|binary",
              "required": false,
              "description": "Sora/Jimeng/Veo 兼容参考图入口，可为 multipart 文件或兼容对象。"
            },
            {
              "name": "metadata",
              "type": "object",
              "required": false,
              "description": "动态扩展字段容器。大量模型特有字段从这里反序列化。"
            }
          ],
          "dynamic_notes": [
            "运行时未知字段可能被收进 metadata，而不是顶层静态 schema。",
            "不同模型对图片输入、首尾帧、参考图数量、content 数组的支持差异较大，不能只靠静态 swagger 自动穷举。",
            "multipart/form-data 常用于 input_reference 文件上传；application/json 常用于 content/metadata 扩展模式。"
          ],
          "presets": [
            {
              "key": "openai_t2v",
              "label": "OpenAI t2v (prompt/model)",
              "description": "Sora 文生视频基础模式。",
              "models": [
                "sora-2",
                "sora-2-pro"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                }
              ]
            },
            {
              "key": "openai_i2v_input_reference",
              "label": "OpenAI i2v (input_reference)",
              "description": "Sora 参考图兼容模式。",
              "models": [
                "sora-2",
                "sora-2-pro"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                }
              ]
            },
            {
              "key": "openai_alias_compat",
              "label": "Alias兼容 (image_url/duration/aspect_ratio)",
              "description": "兼容别名字段写法。",
              "models": [
                "sora-2",
                "sora-2-pro"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                }
              ]
            },
            {
              "key": "seedance_i2v_first",
              "label": "Seedance i2v_first",
              "description": "单张首帧图生视频。",
              "models": [
                "doubao-seedance-1-0-lite-t2v-250428",
                "doubao-seedance-1-0-pro-250528",
                "doubao-seedance-1-0-pro-fast-251015",
                "doubao-seedance-1-5-pro-251215",
                "doubao-seedance-2-0-260128",
                "doubao-seedance-2-0-fast-260128"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "doubao-seedance-1-0-lite-t2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                }
              ]
            },
            {
              "key": "seedance_i2v_first_last",
              "label": "Seedance i2v_first_last",
              "description": "首尾帧双图模式。",
              "models": [
                "doubao-seedance-1-0-lite-t2v-250428",
                "doubao-seedance-1-0-pro-250528",
                "doubao-seedance-1-0-pro-fast-251015",
                "doubao-seedance-1-5-pro-251215",
                "doubao-seedance-2-0-260128",
                "doubao-seedance-2-0-fast-260128"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "doubao-seedance-1-0-lite-t2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                }
              ]
            },
            {
              "key": "seedance_reference_images",
              "label": "Seedance reference_images",
              "description": "多张参考图模式。",
              "models": [
                "doubao-seedance-1-0-lite-t2v-250428",
                "doubao-seedance-1-0-pro-250528",
                "doubao-seedance-1-0-pro-fast-251015",
                "doubao-seedance-1-5-pro-251215",
                "doubao-seedance-2-0-260128",
                "doubao-seedance-2-0-fast-260128"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "doubao-seedance-1-0-lite-t2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                }
              ]
            },
            {
              "key": "seedance_reference_material",
              "label": "Seedance 全能参考模式(reference_material)",
              "description": "图、视频、音频混合参考模式。",
              "models": [
                "doubao-seedance-1-0-lite-t2v-250428",
                "doubao-seedance-1-0-pro-250528",
                "doubao-seedance-1-0-pro-fast-251015",
                "doubao-seedance-1-5-pro-251215",
                "doubao-seedance-2-0-260128",
                "doubao-seedance-2-0-fast-260128"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "doubao-seedance-1-0-lite-t2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                }
              ]
            },
            {
              "key": "seedance_volc_content",
              "label": "Seedance 火山方舟 content 模式",
              "description": "Ark content[] 多媒体数组模式。",
              "models": [
                "doubao-seedance-1-0-lite-t2v-250428",
                "doubao-seedance-1-0-pro-250528",
                "doubao-seedance-1-0-pro-fast-251015",
                "doubao-seedance-1-5-pro-251215",
                "doubao-seedance-2-0-260128",
                "doubao-seedance-2-0-fast-260128"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "doubao-seedance-1-0-lite-t2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                }
              ]
            },
            {
              "key": "veo_first_last_frame",
              "label": "Veo 首尾帧模式",
              "description": "Veo 首尾帧输入模式。",
              "models": [
                "veo-3.0-generate-001",
                "veo-3.0-fast-generate-001",
                "veo-3.1-generate-preview",
                "veo-3.1-fast-generate-preview"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "veo-3.0-generate-001",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                }
              ]
            },
            {
              "key": "veo_reference_images_1to3",
              "label": "Veo 1~3张参考图模式",
              "description": "Veo 参考图数量 1~3。",
              "models": [
                "veo-3.0-generate-001",
                "veo-3.0-fast-generate-001",
                "veo-3.1-generate-preview",
                "veo-3.1-fast-generate-preview"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "veo-3.0-generate-001",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                {
                  "__body": {
                    "model": "veo-3.0-generate-001",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                {
                  "__body": {
                    "model": "veo-3.0-generate-001",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg",
                      "https://example.com/ref-3.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                }
              ]
            },
            {
              "key": "jimeng_i2v_first",
              "label": "Jimeng 单图模式",
              "description": "即梦单图输入，兼容 input_reference 或 image_urls。",
              "models": [
                "jimeng_vgfm_t2v_l20",
                "jimeng_v30_pro",
                "jimeng_v30_base"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "jimeng_v30_pro",
                    "prompt": "A short fashion clip with dynamic camera movement",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "duration": 5,
                    "aspect_ratio": "16:9"
                  }
                }
              ]
            },
            {
              "key": "jimeng_i2v_first_last",
              "label": "Jimeng 首尾帧模式",
              "description": "即梦双图输入模式。",
              "models": [
                "jimeng_v30_pro",
                "jimeng_v30_base"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "jimeng_v30_pro",
                    "prompt": "Transition from the first frame to the last frame smoothly",
                    "image_urls": [
                      "https://example.com/first.jpg",
                      "https://example.com/last.jpg"
                    ],
                    "duration": 5,
                    "aspect_ratio": "16:9"
                  }
                }
              ]
            },
            {
              "key": "kling_text2video",
              "label": "Kling 文生视频",
              "description": "可灵文生模式。",
              "models": [
                "kling-v1",
                "kling-v1-6",
                "kling-v2-master"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "kling-v1",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                }
              ]
            },
            {
              "key": "kling_image2video",
              "label": "Kling 图生视频",
              "description": "可灵单图模式。",
              "models": [
                "kling-v1",
                "kling-v1-6",
                "kling-v2-master"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "kling-v1",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                }
              ]
            },
            {
              "key": "vidu_img2video",
              "label": "Vidu 图生视频",
              "description": "Vidu 单图模式。",
              "models": [
                "viduq2",
                "viduq1",
                "vidu2.0",
                "vidu1.5"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "viduq2",
                    "prompt": "A stylish ad clip from a product still image",
                    "images": [
                      "https://example.com/product.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                }
              ]
            },
            {
              "key": "vidu_first_tail",
              "label": "Vidu 首尾帧模式",
              "description": "Vidu 双图首尾帧模式。",
              "models": [
                "viduq2",
                "viduq1",
                "vidu2.0",
                "vidu1.5"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "viduq2",
                    "prompt": "A smooth shot from start frame to end frame",
                    "images": [
                      "https://example.com/start.jpg",
                      "https://example.com/end.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                }
              ]
            },
            {
              "key": "vidu_reference",
              "label": "Vidu 多参考图模式",
              "description": "Vidu 参考图数量大于 2 的模式。",
              "models": [
                "viduq2",
                "viduq1",
                "vidu2.0",
                "vidu1.5"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "viduq2",
                    "prompt": "Maintain product style and character consistency",
                    "images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg",
                      "https://example.com/ref-3.jpg"
                    ],
                    "duration": 5,
                    "size": "1080p"
                  }
                }
              ]
            },
            {
              "key": "hailuo_text2video",
              "label": "Hailuo 文生视频",
              "description": "海螺文生模式，额外字段主要通过 metadata 展开。",
              "models": [
                "hailuo-video",
                "hailuo-02"
              ],
              "content_type": "application/json",
              "cases": [
                {
                  "__body": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              ]
            }
          ]
        }
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "获取视频任务状态 ",
        "deprecated": false,
        "description": "OpenAI 兼容的视频任务状态查询接口。\n\n返回视频任务的详细状态信息。\n",
        "operationId": "getVideo",
        "tags": [
          "视频生成/Sora兼容格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "视频任务 ID",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取视频任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任务不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "获取视频内容",
        "deprecated": false,
        "description": "获取已完成视频任务的视频文件内容。\n\n此接口会代理返回视频文件流。\n",
        "operationId": "getVideoContent",
        "tags": [
          "视频生成/Sora兼容格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "视频任务 ID",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取视频内容",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "视频不存在或未完成",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling 文生视频",
        "deprecated": false,
        "description": "使用 Kling 模型从文本描述生成视频。\n\n支持的模型：kling-v1, kling-v1-5 等\n",
        "operationId": "createKlingText2Video",
        "tags": [
          "视频生成/Kling格式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建视频生成任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "获取 Kling 文生视频任务状态",
        "deprecated": false,
        "description": "查询 Kling 文生视频任务的状态和结果。",
        "operationId": "getKlingText2Video",
        "tags": [
          "视频生成/Kling格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "任务 ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任务不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling 图生视频",
        "deprecated": false,
        "description": "使用 Kling 模型从图片生成视频。\n\n支持通过 image 参数传入图片 URL 或 Base64 编码的图片数据。\n",
        "operationId": "createKlingImage2Video",
        "tags": [
          "视频生成/Kling格式"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建视频生成任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "获取 Kling 图生视频任务状态",
        "deprecated": false,
        "description": "查询 Kling 图生视频任务的状态和结果。",
        "operationId": "getKlingImage2Video",
        "tags": [
          "视频生成/Kling格式"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "任务 ID",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "任务不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/jimeng/": {
      "post": {
        "summary": "即梦视频生成",
        "deprecated": false,
        "description": "即梦官方 API 格式的视频生成接口。\n\n支持通过 Action 参数指定操作类型：\n- `CVSync2AsyncSubmitTask`: 提交视频生成任务\n- `CVSync2AsyncGetResult`: 获取任务结果\n\n需要在查询参数中指定 Action 和 Version。\n",
        "operationId": "createJimengVideo",
        "tags": [
          "视频生成/即梦格式"
        ],
        "parameters": [
          {
            "name": "Action",
            "in": "query",
            "description": "API 操作类型",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CVSync2AsyncSubmitTask",
                "CVSync2AsyncGetResult"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "description": "API 版本",
            "required": true,
            "example": "2022-08-31",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "即梦官方 API 请求格式",
                "properties": {
                  "req_key": {
                    "type": "string",
                    "description": "请求类型标识"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "文本描述"
                  },
                  "binary_data_base64": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Base64 编码的图片数据"
                  }
                }
              },
              "example": {
                "req_key": "jimeng_video_generation",
                "prompt": "一只猫在弹钢琴"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功处理请求",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "响应码"
                    },
                    "message": {
                      "type": "string",
                      "description": "响应消息"
                    },
                    "data": {
                      "type": "object",
                      "description": "响应数据",
                      "properties": {}
                    }
                  }
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "请求参数错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": []
      }
    },
    "/v1/video/generations": {
      "post": {
        "summary": "创建视频生成任务（Veo3格式）",
        "description": "Google Gemini Veo3 视频生成接口。请求格式为 application/json。\n\n参考官方文档：https://ai.google.dev/gemini-api/docs/video",
        "operationId": "create__veo3__task",
        "tags": [
          "视频生成/Veo3格式"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "veo-001",
                    "description": "模型名称"
                  },
                  "prompt": {
                    "type": "string",
                    "example": "A cinematic aerial shot of a modern city at sunrise",
                    "description": "生成提示词"
                  },
                  "videoConfig": {
                    "type": "object",
                    "properties": {
                      "aspectRatio": {
                        "type": "string",
                        "enum": [
                          "16:9",
                          "1:1",
                          "9:16"
                        ],
                        "default": "16:9"
                      },
                      "durationSeconds": {
                        "type": "integer",
                        "enum": [
                          5,
                          10
                        ],
                        "default": 5
                      }
                    }
                  }
                }
              },
              "example": {
                "model": "veo-001",
                "prompt": "A cinematic aerial shot of a modern city at sunrise",
                "videoConfig": {
                  "aspectRatio": "16:9",
                  "durationSeconds": 5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "task_xxx"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/video/generations/{task_id}": {
      "get": {
        "summary": "查询视频生成任务（Veo3格式）",
        "description": "Google Gemini Veo3 视频生成接口。请求格式为 application/json。\n\n参考官方文档：https://ai.google.dev/gemini-api/docs/video",
        "operationId": "query__veo3__task",
        "tags": [
          "视频生成/Veo3格式"
        ],
        "parameters": [
          {
            "name": "filter.task_ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "任务 ID，来自创建任务返回的 `id`。"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "queued",
                              "running",
                              "succeeded",
                              "failed"
                            ]
                          },
                          "content": {
                            "type": "object",
                            "properties": {
                              "video_url": {
                                "type": "string",
                                "format": "uri"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v3/contents/generations/tasks": {
      "post": {
        "summary": "创建视频生成任务（Seedance火山方舟）",
        "description": "标准视频生成接口。支持 content 数组（混排文本与多媒体素材）和 OpenAI Sora 兼容格式。\n\n**主要参数说明**：\n- **model**: 模型名称，默认 doubao-seedance-2-0-fast-260128\n- **content**: 内容数组，项类型支持 text, image_url, video_url, audio_url\n- **function_mode**: 指定功能模式（不指定则自动推断）\n- **channel**: 计费渠道，默认 official\n\n**文本项 (text) 指令支持**：\n支持在提示词中嵌入特殊指令：--ratio (宽高比), --dur (时长), --fps (帧率), --res (分辨率)。\n\n**素材引用逻辑**：\n1. 在 content 中定义素材项并指定 **name**。\n2. 在文本项中使用 **@名称** 进行引用（例如：@角色A 在咖啡馆...）。\n3. 图片项支持 **role** (first_frame/last_frame/frame/material)；视频项 role 必须为 material。",
        "operationId": "create__seedance__task",
        "tags": [
          "视频生成/Seedance火山方舟"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "content"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "doubao-seedance-1-0-lite-t2v-250428",
                    "enum": [
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128"
                    ]
                  },
                  "content": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": [
                        "type"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "text",
                            "image_url",
                            "video_url",
                            "audio_url"
                          ],
                          "example": "text"
                        },
                        "text": {
                          "type": "string",
                          "example": "一只猫咪在草地上奔跑 --ratio 16:9 --dur 5"
                        },
                        "image_url": {
                          "type": "string",
                          "example": "https://example.com/image.jpg"
                        },
                        "video_url": {
                          "type": "string",
                          "example": "https://example.com/video.mp4"
                        },
                        "audio_url": {
                          "type": "string",
                          "example": "https://example.com/audio.mp3"
                        },
                        "role": {
                          "type": "string",
                          "example": "material"
                        },
                        "name": {
                          "type": "string",
                          "example": "素材1"
                        }
                      }
                    }
                  },
                  "function_mode": {
                    "type": "string"
                  },
                  "channel": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "model": "doubao-seedance-2-0-260128",
                "content": [
                  {
                    "type": "text",
                    "text": "@角色A 在咖啡馆和 @角色B 聊天，@背景视频 作为场景，配上 @背景音乐 --ratio 16:9 --dur 10"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterA.jpg",
                    "role": "material",
                    "name": "角色A"
                  },
                  {
                    "type": "image_url",
                    "image_url": "https://example.com/characterB.jpg",
                    "role": "material",
                    "name": "角色B"
                  },
                  {
                    "type": "video_url",
                    "video_url": "https://example.com/cafe-scene.mp4",
                    "role": "material",
                    "name": "背景视频"
                  },
                  {
                    "type": "audio_url",
                    "audio_url": "https://example.com/bgm.mp3",
                    "name": "背景音乐"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "task_xxx"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "get": {
        "summary": "查询视频生成任务列表（Seedance火山方舟）",
        "description": "标准视频生成接口。支持 content 数组（混排文本与多媒体素材）和 OpenAI Sora 兼容格式。\n\n**主要参数说明**：\n- **model**: 模型名称，默认 doubao-seedance-2-0-fast-260128\n- **content**: 内容数组，项类型支持 text, image_url, video_url, audio_url\n- **function_mode**: 指定功能模式（不指定则自动推断）\n- **channel**: 计费渠道，默认 official\n\n**文本项 (text) 指令支持**：\n支持在提示词中嵌入特殊指令：--ratio (宽高比), --dur (时长), --fps (帧率), --res (分辨率)。\n\n**素材引用逻辑**：\n1. 在 content 中定义素材项并指定 **name**。\n2. 在文本项中使用 **@名称** 进行引用（例如：@角色A 在咖啡馆...）。\n3. 图片项支持 **role** (first_frame/last_frame/frame/material)；视频项 role 必须为 material。",
        "operationId": "query__seedance__task",
        "tags": [
          "视频生成/Seedance火山方舟"
        ],
        "parameters": [
          {
            "name": "page_num",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "返回结果的页码"
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "每页的结果数量"
          },
          {
            "name": "filter.status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "筛选任务状态"
          },
          {
            "name": "filter.task_ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "任务 ID 列表，用 & 连接"
          },
          {
            "name": "filter.model",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "模型接入点 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "查询成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "model": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "queued",
                              "running",
                              "succeeded",
                              "failed",
                              "cancelled",
                              "expired"
                            ]
                          },
                          "error": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              }
                            }
                          },
                          "created_at": {
                            "type": "integer"
                          },
                          "updated_at": {
                            "type": "integer"
                          },
                          "content": {
                            "type": "object",
                            "properties": {
                              "video_url": {
                                "type": "string"
                              },
                              "last_frame_url": {
                                "type": "string"
                              }
                            }
                          },
                          "usage": {
                            "type": "object",
                            "properties": {
                              "completion_tokens": {
                                "type": "integer"
                              },
                              "total_tokens": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "错误信息"
              },
              "type": {
                "type": "string",
                "description": "错误类型"
              },
              "param": {
                "type": "string",
                "description": "相关参数",
                "nullable": true
              },
              "code": {
                "type": "string",
                "description": "错误代码",
                "nullable": true
              }
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "提示词 Token 数"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "补全 Token 数"
          },
          "total_tokens": {
            "type": "integer",
            "description": "总 Token 数"
          },
          "prompt_tokens_details": {
            "type": "object",
            "properties": {
              "cached_tokens": {
                "type": "integer"
              },
              "text_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              },
              "image_tokens": {
                "type": "integer"
              }
            }
          },
          "completion_tokens_details": {
            "type": "object",
            "properties": {
              "text_tokens": {
                "type": "integer"
              },
              "audio_tokens": {
                "type": "integer"
              },
              "reasoning_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "模型 ID",
            "example": "gpt-4"
          },
          "object": {
            "type": "string",
            "description": "对象类型",
            "example": "model"
          },
          "created": {
            "type": "integer",
            "description": "创建时间戳"
          },
          "owned_by": {
            "type": "string",
            "description": "模型所有者",
            "example": "openai"
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "example": "list"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          }
        }
      },
      "GeminiModelsResponse": {
        "type": "object",
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "models/gemini-pro"
                },
                "version": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "inputTokenLimit": {
                  "type": "integer"
                },
                "outputTokenLimit": {
                  "type": "integer"
                },
                "supportedGenerationMethods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool",
              "developer"
            ],
            "description": "消息角色"
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MessageContent"
                }
              }
            ],
            "description": "消息内容"
          },
          "name": {
            "type": "string",
            "description": "发送者名称"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          },
          "tool_call_id": {
            "type": "string",
            "description": "工具调用 ID（用于 tool 角色消息）"
          },
          "reasoning_content": {
            "type": "string",
            "description": "推理内容"
          }
        }
      },
      "MessageContent": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image_url",
              "input_audio",
              "file",
              "video_url"
            ]
          },
          "text": {
            "type": "string"
          },
          "image_url": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "图片 URL 或 base64"
              },
              "detail": {
                "type": "string",
                "enum": [
                  "low",
                  "high",
                  "auto"
                ]
              }
            }
          },
          "input_audio": {
            "type": "object",
            "properties": {
              "data": {
                "type": "string",
                "description": "Base64 编码的音频数据"
              },
              "format": {
                "type": "string",
                "enum": [
                  "wav",
                  "mp3"
                ]
              }
            }
          },
          "file": {
            "type": "object",
            "properties": {
              "filename": {
                "type": "string"
              },
              "file_data": {
                "type": "string"
              },
              "file_id": {
                "type": "string"
              }
            }
          },
          "video_url": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string"
              }
            }
          }
        }
      },
      "ToolCall": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "function"
          },
          "function": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "arguments": {
                "type": "string"
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "function"
          },
          "function": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "parameters": {
                "type": "object",
                "description": "JSON Schema 格式的参数定义",
                "properties": {}
              }
            }
          }
        }
      },
      "ResponseFormat": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "json_object",
              "json_schema"
            ]
          },
          "json_schema": {
            "type": "object",
            "description": "JSON Schema 定义",
            "properties": {}
          }
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型 ID",
            "example": "gpt-4"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            },
            "description": "对话消息列表"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "default": 1,
            "description": "采样温度"
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 1,
            "description": "核采样参数"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "生成数量"
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "是否流式响应"
          },
          "stream_options": {
            "type": "object",
            "properties": {
              "include_usage": {
                "type": "boolean"
              }
            }
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "停止序列"
          },
          "max_tokens": {
            "type": "integer",
            "description": "最大生成 Token 数"
          },
          "max_completion_tokens": {
            "type": "integer",
            "description": "最大补全 Token 数"
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "default": 0
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "default": 0
          },
          "logit_bias": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "properties": {}
          },
          "user": {
            "type": "string"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "none",
                  "auto",
                  "required"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "function": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            ]
          },
          "response_format": {
            "$ref": "#/components/schemas/ResponseFormat"
          },
          "seed": {
            "type": "integer"
          },
          "reasoning_effort": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high"
            ],
            "description": "推理强度 (用于支持推理的模型)"
          },
          "modalities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "text",
                "audio"
              ]
            }
          },
          "audio": {
            "type": "object",
            "properties": {
              "voice": {
                "type": "string"
              },
              "format": {
                "type": "string"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "message": {
                  "$ref": "#/components/schemas/Message"
                },
                "finish_reason": {
                  "type": "string",
                  "enum": [
                    "stop",
                    "length",
                    "tool_calls",
                    "content_filter"
                  ]
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          },
          "system_fingerprint": {
            "type": "string"
          }
        }
      },
      "ChatCompletionStreamResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "chat.completion.chunk"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "delta": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    },
                    "reasoning_content": {
                      "type": "string"
                    },
                    "tool_calls": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ToolCall"
                      }
                    }
                  }
                },
                "finish_reason": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "CompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string"
          },
          "prompt": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "max_tokens": {
            "type": "integer"
          },
          "temperature": {
            "type": "number"
          },
          "top_p": {
            "type": "number"
          },
          "n": {
            "type": "integer"
          },
          "stream": {
            "type": "boolean"
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "suffix": {
            "type": "string"
          },
          "echo": {
            "type": "boolean"
          }
        }
      },
      "CompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "text_completion"
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                },
                "index": {
                  "type": "integer"
                },
                "finish_reason": {
                  "type": "string"
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "ResponsesRequest": {
        "type": "object",
        "required": [
          "model"
        ],
        "properties": {
          "model": {
            "type": "string"
          },
          "input": {
            "description": "输入内容，可以是字符串或消息数组",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            ]
          },
          "instructions": {
            "type": "string"
          },
          "max_output_tokens": {
            "type": "integer"
          },
          "temperature": {
            "type": "number"
          },
          "top_p": {
            "type": "number"
          },
          "stream": {
            "type": "boolean"
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "properties": {}
              }
            ]
          },
          "reasoning": {
            "type": "object",
            "properties": {
              "effort": {
                "type": "string",
                "enum": [
                  "low",
                  "medium",
                  "high"
                ]
              },
              "summary": {
                "type": "string"
              }
            }
          },
          "previous_response_id": {
            "type": "string"
          },
          "truncation": {
            "type": "string",
            "enum": [
              "auto",
              "disabled"
            ]
          }
        }
      },
      "ResponsesResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "response"
          },
          "created_at": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed",
              "in_progress",
              "incomplete"
            ]
          },
          "model": {
            "type": "string"
          },
          "output": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "role": {
                  "type": "string"
                },
                "content": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "text": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "ResponsesCompactionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "response.compaction"
          },
          "created_at": {
            "type": "integer"
          },
          "output": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          },
          "error": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "ResponsesCompactionRequest": {
        "type": "object",
        "required": [
          "model"
        ],
        "properties": {
          "model": {
            "type": "string"
          },
          "input": {
            "description": "输入内容，可以是字符串或消息数组",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            ]
          },
          "instructions": {
            "type": "string"
          },
          "previous_response_id": {
            "type": "string"
          }
        }
      },
      "ResponsesStreamResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "response": {
            "$ref": "#/components/schemas/ResponsesResponse"
          },
          "delta": {
            "type": "string"
          },
          "item": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "ClaudeRequest": {
        "type": "object",
        "required": [
          "model",
          "messages",
          "max_tokens"
        ],
        "properties": {
          "model": {
            "type": "string",
            "example": "claude-3-opus-20240229"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClaudeMessage"
            }
          },
          "system": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {}
                }
              }
            ]
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "top_p": {
            "type": "number"
          },
          "top_k": {
            "type": "integer"
          },
          "stream": {
            "type": "boolean"
          },
          "stop_sequences": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "input_schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "any",
                      "tool"
                    ]
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            ]
          },
          "thinking": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "enabled",
                  "disabled"
                ]
              },
              "budget_tokens": {
                "type": "integer"
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "ClaudeMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ]
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "image",
                        "tool_use",
                        "tool_result"
                      ]
                    },
                    "text": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "base64",
                            "url"
                          ]
                        },
                        "media_type": {
                          "type": "string"
                        },
                        "data": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        }
                      }
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "input": {
                      "type": "object",
                      "properties": {}
                    },
                    "tool_use_id": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    }
                  }
                }
[...]
