{
  "openapi": "3.0.0",
  "info": {
    "title": "Tài liệu tham khảo API của 出海营",
    "version": "1.0.0",
    "description": "Public AI Gateway API Reference"
  },
  "servers": [
    {
      "url": "https://api.aiid.edu.kg"
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "summary": "Lấy danh sách mô hình",
        "deprecated": false,
        "description": "Lấy danh sách các mô hình hiện có sẵn.\n\nTự động nhận dạng định dạng phản hồi dựa trên tiêu đề yêu cầu (request header):\n- Trả về định dạng Anthropic khi bao gồm các tiêu đề `x-api-key` và `anthropic-version`\n- Trả về định dạng Gemini khi bao gồm tiêu đề `x-goog-api-key` hoặc tham số truy vấn `key`\n- Trong các trường hợp khác, trả về định dạng OpenAI",
        "operationId": "listModels",
        "tags": [
          "Lấy danh sách mô hình"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "Google API Key (dùng cho định dạng Gemini)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Khóa Anthropic API (dùng cho định dạng Claude)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anthropic-version",
            "in": "header",
            "description": "Phiên bản Anthropic API",
            "required": false,
            "example": "",
            "schema": {
              "type": "string",
              "example": "2023-06-01"
            }
          },
          {
            "name": "x-goog-api-key",
            "in": "header",
            "description": "Google API Key (dùng cho định dạng Gemini)",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lấy danh sách mô hình thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            },
            "headers": {}
          },
          "401": {
            "description": "Xác thực thất bại",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/vi/lấy-danh-sách-mô-hình/lấy-danh-sách-mô-hình"
        }
      }
    },
    "/v1beta/models": {
      "get": {
        "summary": "Lấy định dạng Gemini",
        "deprecated": false,
        "description": "Trả về danh sách các mô hình khả dụng theo định dạng Gemini API",
        "operationId": "listModelsGemini",
        "tags": [
          "Lấy danh sách mô hình"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Lấy danh sách mô hình thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiModelsResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/vi/lấy-danh-sách-mô-hình/lấy-định-dạng-gemini"
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "summary": "Tạo cuộc hội thoại chat",
        "deprecated": false,
        "description": "Tạo phản hồi của mô hình dựa trên lịch sử hội thoại. Hỗ trợ phản hồi dạng truyền trực tuyến (streaming) và không truyền trực tuyến.\n\nTương thích với OpenAI Chat Completions API.",
        "operationId": "createChatCompletion",
        "tags": [
          "Định dạng OpenAI (Chat)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Phản hồi tạo thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Tham số yêu cầu bị lỗi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          },
          "429": {
            "description": "Giới hạn tỷ lệ yêu cầu",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/vi/định-dạng-openai-chat/tạo-cuộc-hội-thoại-chat"
        }
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "Tạo phản hồi (OpenAI Phản hồi API)",
        "deprecated": false,
        "description": "OpenAI Responses API, dùng để tạo phản hồi của mô hình.\nHỗ trợ các tính năng như hội thoại đa vòng, gọi công cụ, suy luận.\n\nBổ sung các trường hợp sử dụng tạo ảnh bất đồng bộ cho OpenAI Responses API. `background=true` dùng để gửi tác vụ nền, API tạo sẽ trả về ngay `status=queued` và `id` đầy đủ, sau đó dùng `id` này để gọi `GET /v1/responses/{response_id}` truy vấn kết quả.\n\n## Quy trình tạo ảnh bất đồng bộ\n\n1. Gọi `POST /v1/responses`, trong body của request truyền `tools=[{ \"type\": \"image_generation\" }]` và `background=true`.\n2. Lưu lại toàn bộ `id` do API tạo trả về, ví dụ `resp_xxx`. Không cắt ngắn, viết lại hoặc chỉ lưu `metadata.task_id`.\n3. Gọi `GET /v1/responses/{response_id}` để truy vấn cho đến khi `status=completed` hoặc `status=failed`.\n4. Sau khi thành công, đọc `output[].url` để lấy liên kết ảnh.\n\n### Ví dụ tạo tác vụ ảnh bất đồng bộ\n\n```http\nPOST /v1/responses\nContent-Type: application/json\n```\n\n```json\n{\n \"model\": \"gpt-image-2-2k\",\n \"input\": \"生成一张 2K 横屏产品海报，白色运动鞋，干净棚拍光线，高级商业摄影风格。\",\n \"stream\": false,\n \"tools\": [\n {\n \"type\": \"image_generation\"\n }\n ],\n \"background\": true\n}\n```\n\nVí dụ phản hồi của API tạo:\n\n```json\n{\n \"id\": \"resp_xxx\",\n \"created_at\": 1780649146,\n \"error\": null,\n \"incomplete_details\": null,\n \"instructions\": null,\n \"metadata\": {\n \"task_id\": \"010c31178d26436ca6194cde07931b33\",\n \"credits\": \"23\"\n },\n \"model\": \"gpt-image-2-2k\",\n \"object\": \"response\",\n \"output\": [],\n \"parallel_tool_calls\": true,\n \"temperature\": null,\n \"tool_choice\": null,\n \"tools\": null,\n \"top_p\": null,\n \"max_output_tokens\": null,\n \"previous_response_id\": null,\n \"reasoning\": null,\n \"status\": \"queued\",\n \"text\": null,\n \"truncation\": null,\n \"usage\": null,\n \"user\": null,\n \"store\": null\n}\n```\n\nCác model được hỗ trợ: `gpt-image-2-2k`, `gpt-image-2-4k`, `nano-banana-pro`.",
        "operationId": "createResponse",
        "tags": [
          "Định dạng OpenAI (Responses)"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest",
                "properties": {}
              },
              "examples": {
                "responses_image_async": {
                  "summary": "Tạo ảnh không đồng bộ",
                  "value": {
                    "model": "gpt-image-2-2k",
                    "input": "生成一张 2K 横屏产品海报，白色运动鞋，干净棚拍光线，高级商业摄影风格。",
                    "stream": false,
                    "tools": [
                      {
                        "type": "image_generation"
                      }
                    ],
                    "background": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Phản hồi tạo thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                },
                "examples": {
                  "responses_image_async_queued": {
                    "summary": "Phản hồi khi tạo không đồng bộ ảnh",
                    "value": {
                      "id": "resp_xxx",
                      "created_at": 1780649146,
                      "error": null,
                      "incomplete_details": null,
                      "instructions": null,
                      "metadata": {
                        "task_id": "010c31178d26436ca6194cde07931b33",
                        "credits": "23"
                      },
                      "model": "gpt-image-2-2k",
                      "object": "response",
                      "output": [],
                      "parallel_tool_calls": true,
                      "temperature": null,
                      "tool_choice": null,
                      "tools": null,
                      "top_p": null,
                      "max_output_tokens": null,
                      "previous_response_id": null,
                      "reasoning": null,
                      "status": "queued",
                      "text": null,
                      "truncation": null,
                      "usage": null,
                      "user": null,
                      "store": null
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/vi/định-dạng-openai-responses/tạo-phản-hồi-openai-phản-hồi-api"
        }
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Hình ảnh Gemini (Nano Banana)",
        "deprecated": false,
        "description": "Tạo hình ảnh với Gemini.\n\nChuỗi Nano Banana hỗ trợ định dạng Dall-E của OpenAI (xem chi tiết tại liên kết [Định dạng DALL-E cho tạo ảnh OpenAI](#tag/%E5%9B%BE%E7%89%87%E7%94%9F%E6%88%90OpenAI%20DALL-E%E6%A0%BC%E5%BC%8F)).\n\nGiao diện tương thích tạo ảnh Gemini. Đặt đầu vào văn bản hoặc hình ảnh trong `contents[].parts`, `generationConfig.responseModalities` thường truyền `IMAGE`, kích thước ảnh được kiểm soát qua `generationConfig.imageConfig.imageSize`.\n\n## Định giá cố định cho tạo ảnh\n\nCác mô hình ảnh sau được tính phí theo mỗi lần:\n\n| Mô hình | Định giá |\n|---|---|\n| `kling-image-v3` | 0.05 / lần |\n| `doubao-seedream-5-0-260128` | 0.05 / lần |\n| `doubao-seedream-4-5-251128` | 0.06 / lần |",
        "operationId": "geminiRelayV1Beta",
        "tags": [
          "Định dạng Gemini cho tạo ảnh"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "description": "Tên mô hình",
            "required": true,
            "example": "gemini-3-pro-image-preview",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "description": "Vai trò của tin nhắn, các giá trị phổ biến là `user` hoặc `model`."
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "Nội dung đầu vào văn bản."
                              },
                              "inlineData": {
                                "type": "object",
                                "description": "Đối tượng nội dung nhị phân nội tuyến, phù hợp cho đầu vào như hình ảnh base64.",
                                "properties": {
                                  "mimeType": {
                                    "type": "string",
                                    "description": "Loại MIME của nội dung nội tuyến, ví dụ: `image/png`."
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "Nội dung dữ liệu nhị phân sau khi được mã hóa Base64."
                                  }
                                }
                              }
                            }
                          },
                          "description": "Mảng các đoạn thông điệp; mọi đầu vào như văn bản, hình ảnh, v.v. đều được đặt ở đây."
                        }
                      }
                    },
                    "description": "Bắt buộc. Mảng nội dung đầu vào của Gemini, thường chứa ít nhất một thông điệp user."
                  },
                  "generationConfig": {
                    "type": "object",
                    "properties": {
                      "responseModalities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Danh sách các chế độ phản hồi; tạo ảnh thường truyền `IMAGE`."
                      },
                      "imageConfig": {
                        "type": "object",
                        "properties": {
                          "aspectRatio": {
                            "type": "string",
                            "description": "Tỷ lệ khung hình, ví dụ: `16:9`, `1:1`, `9:16`."
                          },
                          "imageSize": {
                            "type": "string",
                            "description": "Mức độ phân giải đầu ra, ví dụ: `1K`, `2K`, `4K`."
                          }
                        },
                        "description": "Đối tượng cấu hình tạo ảnh."
                      }
                    },
                    "required": [
                      "responseModalities"
                    ],
                    "description": "Tạo đối tượng cấu hình."
                  }
                },
                "required": [
                  "contents",
                  "generationConfig"
                ]
              },
              "example": {
                "contents": [
                  {
                    "role": "user",
                    "parts": [
                      {
                        "text": "draw a cat"
                      }
                    ]
                  }
                ],
                "generationConfig": {
                  "responseModalities": [
                    "TEXT",
                    "IMAGE"
                  ],
                  "imageConfig": {
                    "aspectRatio": "16:9",
                    "imageSize": "4K"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/vi/định-dạng-gemini-cho-tạo-ảnh/hình-ảnh-gemini-nano-banana"
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "summary": "Tạo hình ảnh (tương thích OpenAI Dall-E)",
        "deprecated": false,
        "description": "OpenAI API tạo ảnh theo định dạng Dall-E.\n\n- `POST /v1/images/generations`: Tạo tác vụ tạo ảnh\n\nHeader xác thực tiêu chuẩn:\n- `Content-Type: application/json`\n\n- `model: string`: Bắt buộc, tên mô hình công khai\n- `prompt: string`: Khuyến nghị, mô tả tạo ảnh\n- `n: number`: Tùy chọn, số lượng ảnh tạo\n- `size: string`: Tùy chọn, biểu thức kích thước hoặc độ phân giải\n- `quality: string`: Tùy chọn, mức chất lượng\n- `response_format: string`: Tùy chọn, định dạng trả về\n\nCác tham số mở rộng tương thích thường dùng:\n- `image`\n- `image_url`\n- `image_urls`\n- `image_list`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `negative_prompt`\n- `aspect_ratio`\n- `resolution`\n- `callback_url`\n- `external_task_id`\n\nKling Tham số mở rộng chuyên dụng:\n- `model_name`\n- `element_list`\n- `result_type`\n- `series_amount`\n- `human_image`\n- `cloth_image`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n### 3.1 Dòng Nano Banana\n\nMô hình công khai:\n- `nano-banana`\n- `nano-banana-pro`\n- `nano-banana-pro-2k`\n- `nano-banana-pro-4k`\n- `nano-banana-2`\n- `nano-banana-2-2k`\n- `nano-banana-2-4k`\n\nMô tả khả năng:\n- `nano-banana`: Tạo ảnh từ văn bản cơ bản, cũng tương thích với chỉnh sửa ảnh\n- `nano-banana-pro*`: Phiên bản chất lượng cao hơn\n- `nano-banana-2*`: Họ phiên bản mới hơn\n- `*-2k` / `*-4k`: Mẫu độ phân giải cao\n\nTham số thường dùng:\n- Text-to-image: `model + prompt`\n- Chỉnh sửa ảnh: `model + prompt + image`, cũng tương thích với `image_urls`\n- Mở rộng thường dùng: `n` `size` `quality` `response_format`\n\nVí dụ:\n\n```json\n{\n\"model\": \"nano-banana\",\n\"prompt\": \"a cute cat running in cloud\",\n\"n\": 1,\n\"size\": \"1024x1792\"\n}\n```\n\n```json\n{\n\"model\": \"nano-banana-pro\",\n\"prompt\": \"把主体改成赛博朋克夜景\",\n\"image\": \"https://example.com/input.png\",\n\"n\": 1\n}\n```\n\n### 3.2 Dòng Seedream\n\nMô hình công khai:\n- `doubao-seedream-3-0-t2i-250415`\n- `doubao-seedream-4-0-250828`\n- `doubao-seedream-4-5-251128`\n- `doubao-seedream-5-0-260128`\n\nMô tả khả năng:\n- Thống nhất gọi theo cách text-to-image\n- Khuyến nghị ưu tiên truyền tham số chuẩn: `prompt + model + size/aspect_ratio`\n\nTham số thường dùng:\n- `model + prompt`\n- Tùy chọn: `size` `aspect_ratio` `n`\n\n### 3.3 Kling Mô hình chính ảnh thông thường\n\nMô hình chính công khai:\n- `kling-image`\n\nBắt buộc:\n- `model`\n- `model_name`\n\nCác `model_name` được hỗ trợ:\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v2`\n- `kling-v2-new`\n- `kling-v2-1`\n- `kling-v3`\n\nMô tả khả năng:\n- Text-to-image: `model + model_name + prompt`\n- Image-to-image: thêm `image` trên cơ sở text-to-image\n- Multi-image-to-image: truyền `subject_image_list`, hoặc truyền nhiều `image_urls/images`\n- Outpainting: truyền `image` và tham số tỷ lệ mở rộng ảnh\n\nTham số thường dùng:\n- `image`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `aspect_ratio`\n- `resolution`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\nVí dụ:\n\n```json\n{\n\"model\": \"kling-image\",\n\"model_name\": \"kling-v3\",\n\"prompt\": \"海边日落，电影感人像\",\n\"aspect_ratio\": \"16:9\",\n\"n\": 1\n}\n```\n\n### 3.4 Kling Mô hình chính ảnh Omni\n\nMô hình chính công khai:\n- `kling-omni-image`\n\nBắt buộc:\n- `model`\n- `model_name`\n\nCác `model_name` được hỗ trợ:\n- `kling-image-o1`\n- `kling-v3-omni`\n\nTham số thường dùng:\n- `image_list`\n- `element_list`\n- `resolution`\n- `aspect_ratio`\n- `result_type`\n- `series_amount`\n\nVí dụ:\n\n```json\n{\n\"model\": \"kling-omni-image\",\n\"model_name\": \"kling-v3-omni\",\n\"prompt\": \"生成一张海边跳舞的图片\",\n\"element_list\": [\n{ \"element_id\": 835266081714884677 }\n]\n}\n```\n\n### 3.5 Kling Mô hình thử đồ ảo\n\nMô hình công khai:\n- `kolors-virtual-try-on-v1`\n- `kolors-virtual-try-on-v1-5`\n\nTham số đầu vào tối thiểu:\n- `model + human_image + cloth_image`\n\nGiải thích:\n- Hai mô hình này bản thân đã là mô hình chính hoàn chỉnh, không cần truyền thêm `model_name`\n\nVí dụ:\n\n```json\n{\n\"model\": \"kolors-virtual-try-on-v1\",\n\"human_image\": \"https://example.com/human.jpg\",\n\"cloth_image\": \"https://example.com/cloth.jpg\"\n}\n```\n\n## Định giá cố định cho tạo/chỉnh sửa hình ảnh\n\nCác mô hình sau được tính phí theo từng lần trong `POST /v1/images/generations` và `POST /v1/images/edits`:\n\n| Mô hình | Định giá |\n|---|---|\n| `kling-image-v3` | 0.05 / lần |\n| `doubao-seedream-5-0-260128` | 0.05 / lần |\n| `doubao-seedream-4-5-251128` | 0.06 / lần |",
        "operationId": "createImageGeneration",
        "tags": [
          "Tạo hình ảnhOpenAI định dạng DALL-E"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Tên mô hình hình ảnh công khai.",
                    "example": "dall-e-3",
                    "enum": [
                      "nano-banana",
                      "doubao-seedream-3-0-t2i-250415",
                      "kling-image",
                      "kling-omni-image",
                      "kolors-virtual-try-on-v1",
                      "kolors-virtual-try-on-v1-5"
                    ]
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Mô tả tạo ảnh. Với mô hình thử đồ ảo, có thể không truyền."
                  },
                  "n": {
                    "type": "integer",
                    "description": "Số lượng ảnh được tạo.",
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "description": "Biểu thị kích thước hoặc độ phân giải.",
                    "enum": [
                      "1024x1024",
                      "1024x1792",
                      "1792x1024"
                    ]
                  },
                  "quality": {
                    "type": "string",
                    "description": "Cấp độ chất lượng.",
                    "enum": [
                      "standard",
                      "hd"
                    ]
                  },
                  "style": {
                    "type": "string",
                    "description": "Phong cách",
                    "enum": [
                      "vivid",
                      "natural"
                    ]
                  },
                  "response_format": {
                    "type": "string",
                    "description": "Định dạng trả về.",
                    "enum": [
                      "url",
                      "b64_json"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "ID người dùng"
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "nano_banana_text2img": {
                  "summary": "Nano Banana Tạo ảnh từ văn bản",
                  "value": {
                    "model": "nano-banana",
                    "prompt": "a cute cat running in cloud",
                    "n": 1,
                    "size": "1024x1792"
                  }
                },
                "seedream_text2img": {
                  "summary": "Seedream tạo ảnh từ văn bản",
                  "value": {
                    "model": "doubao-seedream-3-0-t2i-250415",
                    "prompt": "一张电影感海边日落人像",
                    "size": "1536x1024",
                    "n": 1
                  }
                },
                "kling_text2img": {
                  "summary": "Kling Tạo ảnh từ văn bản",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v3",
                    "prompt": "海边日落，电影感人像",
                    "aspect_ratio": "16:9",
                    "n": 1
                  }
                },
                "kling_img2img": {
                  "summary": "Kling Tạo ảnh từ ảnh",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v2-1",
                    "prompt": "改成赛博朋克夜景风格",
                    "image": "https://example.com/input.png",
                    "n": 1
                  }
                },
                "kling_omni_image": {
                  "summary": "Kling Ảnh Omni",
                  "value": {
                    "model": "kling-omni-image",
                    "model_name": "kling-v3-omni",
                    "prompt": "生成一张海边跳舞的图片",
                    "element_list": [
                      {
                        "element_id": 835266081714884677
                      }
                    ]
                  }
                },
                "kling_virtual_try_on": {
                  "summary": "Kling Thử đồ ảo",
                  "value": {
                    "model": "kolors-virtual-try-on-v1",
                    "human_image": "https://example.com/human.jpg",
                    "cloth_image": "https://example.com/cloth.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tạo hình ảnh thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/vi/tạo-hình-ảnhopenai-định-dạng-dall-e/tạo-hình-ảnh-tương-thích-openai-dall-e"
        }
      }
    },
    "/v1/images/edits": {
      "post": {
        "summary": "Chỉnh sửa hình ảnh (tương thích với OpenAI Dall-E)",
        "deprecated": false,
        "description": "OpenAI API chỉnh sửa hình ảnh định dạng Dall-E.\n\n- `POST /v1/images/edits`: Chỉnh sửa hình ảnh\n\nHeader xác thực tiêu chuẩn:\n- `Content-Type: application/json`\n\n- `model: string`: Bắt buộc, tên mô hình công khai\n- `prompt: string`: Khuyến nghị, mô tả tạo ảnh\n- `n: number`: Tùy chọn, số lượng ảnh tạo\n- `size: string`: Tùy chọn, biểu thức kích thước hoặc độ phân giải\n- `quality: string`: Tùy chọn, mức chất lượng\n- `response_format: string`: Tùy chọn, định dạng trả về\n\nCác tham số mở rộng tương thích thường dùng:\n- `image`\n- `image_url`\n- `image_urls`\n- `image_list`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `negative_prompt`\n- `aspect_ratio`\n- `resolution`\n- `callback_url`\n- `external_task_id`\n\nKling Tham số mở rộng chuyên dụng:\n- `model_name`\n- `element_list`\n- `result_type`\n- `series_amount`\n- `human_image`\n- `cloth_image`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\n### 3.1 Dòng Nano Banana\n\nMô hình công khai:\n- `nano-banana`\n- `nano-banana-pro`\n- `nano-banana-pro-2k`\n- `nano-banana-pro-4k`\n- `nano-banana-2`\n- `nano-banana-2-2k`\n- `nano-banana-2-4k`\n\nMô tả khả năng:\n- `nano-banana`: Tạo ảnh từ văn bản cơ bản, cũng tương thích với chỉnh sửa ảnh\n- `nano-banana-pro*`: Phiên bản chất lượng cao hơn\n- `nano-banana-2*`: Họ phiên bản mới hơn\n- `*-2k` / `*-4k`: Mẫu độ phân giải cao\n\nTham số thường dùng:\n- Text-to-image: `model + prompt`\n- Chỉnh sửa ảnh: `model + prompt + image`, cũng tương thích với `image_urls`\n- Mở rộng thường dùng: `n` `size` `quality` `response_format`\n\nVí dụ:\n\n```json\n{\n\"model\": \"nano-banana\",\n\"prompt\": \"a cute cat running in cloud\",\n\"n\": 1,\n\"size\": \"1024x1792\"\n}\n```\n\n```json\n{\n\"model\": \"nano-banana-pro\",\n\"prompt\": \"把主体改成赛博朋克夜景\",\n\"image\": \"https://example.com/input.png\",\n\"n\": 1\n}\n```\n\n### 3.2 Dòng Seedream\n\nMô hình công khai:\n- `doubao-seedream-3-0-t2i-250415`\n- `doubao-seedream-4-0-250828`\n- `doubao-seedream-4-5-251128`\n- `doubao-seedream-5-0-260128`\n\nMô tả khả năng:\n- Thống nhất gọi theo cách text-to-image\n- Khuyến nghị ưu tiên truyền tham số chuẩn: `prompt + model + size/aspect_ratio`\n\nTham số thường dùng:\n- `model + prompt`\n- Tùy chọn: `size` `aspect_ratio` `n`\n\n### 3.3 Kling Mô hình chính ảnh thông thường\n\nMô hình chính công khai:\n- `kling-image`\n\nBắt buộc:\n- `model`\n- `model_name`\n\nCác `model_name` được hỗ trợ:\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v2`\n- `kling-v2-new`\n- `kling-v2-1`\n- `kling-v3`\n\nMô tả khả năng:\n- Text-to-image: `model + model_name + prompt`\n- Image-to-image: thêm `image` trên cơ sở text-to-image\n- Multi-image-to-image: truyền `subject_image_list`, hoặc truyền nhiều `image_urls/images`\n- Outpainting: truyền `image` và tham số tỷ lệ mở rộng ảnh\n\nTham số thường dùng:\n- `image`\n- `subject_image_list`\n- `scene_image`\n- `style_image`\n- `aspect_ratio`\n- `resolution`\n- `up_expansion_ratio`\n- `down_expansion_ratio`\n- `left_expansion_ratio`\n- `right_expansion_ratio`\n\nVí dụ:\n\n```json\n{\n\"model\": \"kling-image\",\n\"model_name\": \"kling-v3\",\n\"prompt\": \"海边日落，电影感人像\",\n\"aspect_ratio\": \"16:9\",\n\"n\": 1\n}\n```\n\n### 3.4 Kling Mô hình chính ảnh Omni\n\nMô hình chính công khai:\n- `kling-omni-image`\n\nBắt buộc:\n- `model`\n- `model_name`\n\nCác `model_name` được hỗ trợ:\n- `kling-image-o1`\n- `kling-v3-omni`\n\nTham số thường dùng:\n- `image_list`\n- `element_list`\n- `resolution`\n- `aspect_ratio`\n- `result_type`\n- `series_amount`\n\nVí dụ:\n\n```json\n{\n\"model\": \"kling-omni-image\",\n\"model_name\": \"kling-v3-omni\",\n\"prompt\": \"生成一张海边跳舞的图片\",\n\"element_list\": [\n{ \"element_id\": 835266081714884677 }\n]\n}\n```\n\n### 3.5 Kling Mô hình thử đồ ảo\n\nMô hình công khai:\n- `kolors-virtual-try-on-v1`\n- `kolors-virtual-try-on-v1-5`\n\nTham số đầu vào tối thiểu:\n- `model + human_image + cloth_image`\n\nGiải thích:\n- Hai mô hình này bản thân đã là mô hình chính hoàn chỉnh, không cần truyền thêm `model_name`\n\nVí dụ:\n\n```json\n{\n\"model\": \"kolors-virtual-try-on-v1\",\n\"human_image\": \"https://example.com/human.jpg\",\n\"cloth_image\": \"https://example.com/cloth.jpg\"\n}\n```\n\n## Định giá cố định cho tạo/chỉnh sửa hình ảnh\n\nCác mô hình sau được tính phí theo từng lần trong `POST /v1/images/generations` và `POST /v1/images/edits`:\n\n| Mô hình | Định giá |\n|---|---|\n| `kling-image-v3` | 0.05 / lần |\n| `doubao-seedream-5-0-260128` | 0.05 / lần |\n| `doubao-seedream-4-5-251128` | 0.06 / lần |",
        "operationId": "createImageEdit",
        "tags": [
          "Tạo hình ảnhOpenAI định dạng DALL-E"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2",
                    "description": "Tên mô hình hình ảnh công khai.",
                    "enum": [
                      "nano-banana",
                      "doubao-seedream-3-0-t2i-250415",
                      "kling-image",
                      "kling-omni-image",
                      "kolors-virtual-try-on-v1",
                      "kolors-virtual-try-on-v1-5"
                    ]
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Đầu vào một ảnh, thường dùng cho tạo ảnh từ ảnh và mở rộng ảnh."
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "Ảnh mặt nạ tùy chọn"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Mô tả tạo ảnh. Với mô hình thử đồ ảo, có thể không truyền."
                  },
                  "n": {
                    "type": "integer",
                    "default": 1,
                    "description": "Số lượng ảnh được tạo."
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ],
                    "description": "Biểu thị kích thước hoặc độ phân giải."
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ],
                    "description": "Định dạng trả về."
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "dall-e-2",
                    "description": "Tên mô hình hình ảnh công khai.",
                    "enum": [
                      "nano-banana",
                      "doubao-seedream-3-0-t2i-250415",
                      "kling-image",
                      "kling-omni-image",
                      "kolors-virtual-try-on-v1",
                      "kolors-virtual-try-on-v1-5"
                    ]
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Đầu vào một ảnh, thường dùng cho tạo ảnh từ ảnh và mở rộng ảnh."
                  },
                  "mask": {
                    "type": "string",
                    "format": "binary",
                    "description": "Ảnh mặt nạ tùy chọn"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Mô tả tạo ảnh. Với mô hình thử đồ ảo, có thể không truyền."
                  },
                  "n": {
                    "type": "integer",
                    "default": 1,
                    "description": "Số lượng ảnh được tạo."
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "256x256",
                      "512x512",
                      "1024x1024"
                    ],
                    "description": "Biểu thị kích thước hoặc độ phân giải."
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ],
                    "description": "Định dạng trả về."
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "model",
                  "image",
                  "prompt"
                ]
              },
              "examples": {
                "nano_banana_text2img": {
                  "summary": "Nano Banana Tạo ảnh từ văn bản",
                  "value": {
                    "model": "nano-banana",
                    "prompt": "a cute cat running in cloud",
                    "n": 1,
                    "size": "1024x1792"
                  }
                },
                "seedream_text2img": {
                  "summary": "Seedream tạo ảnh từ văn bản",
                  "value": {
                    "model": "doubao-seedream-3-0-t2i-250415",
                    "prompt": "一张电影感海边日落人像",
                    "size": "1536x1024",
                    "n": 1
                  }
                },
                "kling_text2img": {
                  "summary": "Kling Tạo ảnh từ văn bản",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v3",
                    "prompt": "海边日落，电影感人像",
                    "aspect_ratio": "16:9",
                    "n": 1
                  }
                },
                "kling_img2img": {
                  "summary": "Kling Tạo ảnh từ ảnh",
                  "value": {
                    "model": "kling-image",
                    "model_name": "kling-v2-1",
                    "prompt": "改成赛博朋克夜景风格",
                    "image": "https://example.com/input.png",
                    "n": 1
                  }
                },
                "kling_omni_image": {
                  "summary": "Kling Ảnh Omni",
                  "value": {
                    "model": "kling-omni-image",
                    "model_name": "kling-v3-omni",
                    "prompt": "生成一张海边跳舞的图片",
                    "element_list": [
                      {
                        "element_id": 835266081714884677
                      }
                    ]
                  }
                },
                "kling_virtual_try_on": {
                  "summary": "Kling Thử đồ ảo",
                  "value": {
                    "model": "kolors-virtual-try-on-v1",
                    "human_image": "https://example.com/human.jpg",
                    "cloth_image": "https://example.com/cloth.jpg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tạo hình ảnh thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/vi/tạo-hình-ảnhopenai-định-dạng-dall-e/chỉnh-sửa-hình-ảnh-tương-thích-với-openai-dall-e"
        }
      }
    },
    "/v1/videos": {
      "post": {
        "summary": "Tạo video",
        "deprecated": false,
        "description": "Giao diện tạo video định dạng tương thích OpenAI Sora. Hỗ trợ chế độ tạo từ văn bản thành video và tạo bằng ảnh/video tham chiếu.\n\n- `POST /v1/videos`: Tạo tác vụ video\n- `GET /v1/videos/{video_id}`: Truy vấn trạng thái tác vụ\n- `GET /v1/videos/{video_id}/content`: Lấy nội dung nhị phân của video\n\nHiện chưa cung cấp ra bên ngoài:\n- `GET /v1/videos`\n- `POST /v1/videos/{video_id}/remix`\n\nHeader xác thực tiêu chuẩn:\n- `Content-Type: application/json`\n\n1. `POST /v1/videos` tạo tác vụ, lấy `id`\n2. Thăm dò `GET /v1/videos/{id}` cho đến khi `completed` hoặc `failed`\n3. Sau khi hoàn tất, ưu tiên sử dụng `video_url` trong kết quả trả về\n4. Nếu cần tải xuống thống nhất, gọi `GET /v1/videos/{id}/content`\n\nTham số cốt lõi:\n- `model: string`: Bắt buộc, tên mô hình công khai\n- `prompt: string`: Khuyến nghị, mô tả tạo video\n- `seconds: number|string`: Tùy chọn, thời lượng mục tiêu\n- `duration: number|string`: Tùy chọn, bí danh thời lượng\n- `size: string`: Tùy chọn, kích thước đầu ra\n- `mode: string`: Tùy chọn, các giá trị phổ biến `t2v` `i2v` `i2v_first_last` `reference_material`\n\nTham số tương thích thường dùng:\n- `aspect_ratio`\n- `ratio`\n- `quality`\n- `resolution`\n- `fps`\n- `image`\n- `image_url`\n- `image_urls`\n- `images`\n- `reference_images`\n- `input_reference`\n- `end_image_url`\n- `last_image_url`\n- `video_urls`\n- `audio_urls`\n- `function_mode`\n- `content`\n- `callback_url`\n- `external_task_id`\n\nCác tham số mở rộng thường dùng của Kling:\n- `model_name`\n- `negative_prompt`\n- `cfg_scale`\n- `sound`\n- `camera_control`\n- `image_list`\n- `video_id`\n- `task_id`\n- `watermark_info`\n\n### 4.1 Dòng Veo\n\nLưu ý: `stable`, `official` v.v. biểu thị các nhóm khác nhau, không phải hậu tố `model` dùng đối ngoại; khi gọi, vui lòng giữ `model` là tên mô hình cơ sở, nhóm tài khoản hoặc mã thông báo sẽ quyết định thực tế đi qua nhóm nào.\n\n#### Mô hình chính Veo 3.x\n\n- `veo3`\n- `veo3-fast`\n- `veo3-fast-frames`\n- `veo3-frames`\n- `veo3-pro`\n- `veo3-pro-frames`\n- `veo3.1`\n- `veo3.1-fast`\n- `veo3.1-pro`\n- `veo3.1-components`\n- `veo3.1-4k`\n- `veo3.1-pro-4k`\n\nKhuyến nghị:\n- Với video tạo từ văn bản thuần túy, ưu tiên dùng mô hình chính `veo3*` / `veo3.1*`\n- Với các tình huống tạo video từ ảnh hoặc từ tham chiếu, nên truyền rõ ràng `mode + image_url/reference_images`\n\n### 4.2 Dòng Sora\n\nMô hình cơ sở:\n- `sora-2`\n- `sora-2-pro`\n\nKhuyến nghị:\n- `sora-2*` phù hợp cho các lệnh gọi thông dụng\n- Nếu cần sử dụng các nhóm như `stable` / `official`, vui lòng giữ `model` là tên mô hình cơ sở, không thêm hậu tố vào sau tên mô hình.\n\n### 4.3 Dòng Seedance\n\nMô hình công khai:\n- `doubao-seedance-1-0-lite-t2v-250428`\n- `doubao-seedance-1-0-lite-i2v-250428`\n- `doubao-seedance-1-0-pro-250528`\n- `doubao-seedance-1-0-pro-fast-251015`\n- `doubao-seedance-1-5-pro-251215`\n- `doubao-seedance-2-0-260128`\n- `doubao-seedance-2-0-fast-260128`\n\nKhuyến nghị:\n- Với tạo video từ văn bản, ưu tiên `*-t2v-*` hoặc `pro / fast`\n- Với tạo video từ hình ảnh, ưu tiên `*-i2v-*`\n- Với các tình huống có tư liệu tham chiếu phức tạp, ưu tiên dùng `content`\n\n### 4.4 Dòng video Grok\n\nMô hình công khai:\n- `grok-imagine-1.0-video`\n- `grok-imagine-video-1.5-preview`\n- `grok-video-3`\n\nTham số thường dùng:\n- `prompt`\n- `ratio` / `aspect_ratio`\n- `resolution` / `size`\n- `seconds` / `duration`\n- `image` / `image_url` / `input_reference`\n- `reference_images`\n\nVí dụ:\n\n```json\n{\n\"model\": \"grok-imagine-1.0-video\",\n\"prompt\": \"雨夜霓虹街道上的电影感推镜，光影丰富，运动自然\",\n\"reference_images\": [\n\"https://example.com/ref-1.jpg\"\n],\n\"seconds\": 10,\n\"aspect_ratio\": \"16:9\",\n\"resolution\": \"720P\"\n}\n```\n\n### 4.5 Mô hình chính video Kling\n\nMô hình chính công khai:\n- `kling-video`\n\nBắt buộc:\n- `model`\n- `model_name`\n\nCác `model_name` được hỗ trợ:\n- `kling-v1`\n- `kling-v1-5`\n- `kling-v1-6`\n- `kling-v2-master`\n- `kling-v2-1`\n- `kling-v2-1-master`\n- `kling-v2-5-turbo`\n- `kling-v2-6`\n- `kling-v3`\n\nCác `mode` phổ biến:\n- `t2v`\n- `i2v`\n- `multi_i2v`\n- `extend`\n\nTham số đầu vào tối thiểu:\n- Tạo video từ văn bản: `model + model_name + prompt + mode=t2v`\n- Tạo video từ hình ảnh: `model + model_name + prompt + mode=i2v + image`\n- Tham chiếu nhiều ảnh: `model + model_name + prompt + mode=multi_i2v + image_list`\n- Kéo dài video: `model + model_name + mode=extend + video_id`\n\nVí dụ:\n\n```json\n{\n\"model\": \"kling-video\",\n\"model_name\": \"kling-v2-6\",\n\"mode\": \"t2v\",\n\"prompt\": \"海边日落镜头，电影感，风吹长发\",\n\"duration\": 5,\n\"aspect_ratio\": \"16:9\"\n}\n```\n\n- `mode=t2v`\n- Tham số đầu vào tối thiểu: `model + prompt`\n\n- `mode=i2v`\n- Tham số đầu vào tối thiểu: `model + prompt + image_url`\n\n- `mode=i2v_first_last`\n- Tham số đầu vào tối thiểu: `model + prompt + image_url + end_image_url`\n\n- `mode=reference_images`\n- Tham số đầu vào tối thiểu: `model + prompt + reference_images`\n\n- `mode=reference_material`\n- Tham số đầu vào tối thiểu: `model + prompt + (image_urls/video_urls/audio_urls 至少一种)`\n\n### Hướng dẫn gọi Gemini Omni\n\n- `gemini-omni` là tên mô hình video công khai của new-api, có thể trực tiếp gọi qua `POST /v1/videos`.\n- `mode=t2v`: tạo video từ văn bản, tham số đầu vào tối thiểu là `model + prompt`.\n- `mode=r2v`: tạo bằng ảnh/tư liệu tham chiếu, ảnh có thể đặt trong `image`、`image_url`、`images`、`image_urls`、`reference_images`、`input_reference` hoặc `content`.\n- `mode=edit`: chỉnh sửa video, video có thể đặt trong `video`、`video_url`、`videos` hoặc `content`, đồng thời cũng có thể truyền ảnh tham chiếu.\n- Trường thời lượng có thể dùng `seconds` hoặc `duration`, hệ thống sẽ tự động khớp với các mức 4 / 6 / 8 / 10 giây.",
        "operationId": "createVideo",
        "tags": [
          "Định dạng tương thích Sora cho tạo video"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Bắt buộc, tên mô hình công khai. `gemini-omni` Có thể được gọi thông qua `/v1/videos`.",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "gemini-omni",
                      "happyhorse-1.0",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-imagine-1.0-video",
                      "grok-imagine-video-1.5-preview",
                      "grok-video-3",
                      "viduq3-turbo",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Điểm nhập prompt thống nhất. Bắt buộc với hầu hết các mô hình."
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Cổng vào cho một ảnh đơn, một số chế độ tương thích sẽ được ánh xạ tới `images`."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Đầu vào thời lượng được thống nhất; một số mô hình cũng chấp nhận seconds."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Container trường mở rộng động. Một số lượng lớn các trường đặc thù của mô hình được giải tuần tự hóa từ đây."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Tùy chọn, chế độ tạo video. `gemini-omni` Hỗ trợ `t2v`, `r2v`, `edit`."
                  },
                  "images": {
                    "type": "array",
                    "description": "Điểm vào thống nhất cho nhiều ảnh. Vidu, Seedance, Veo sẽ sử dụng, v.v.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Điểm vào kích thước hợp nhất, sẽ được ánh xạ thành resolution/aspect_ratio, v.v."
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora điểm vào tương thích, trong thời gian chạy sẽ quay về duration."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Sora/Veo điểm vào ảnh tham chiếu tương thích, có thể là tệp multipart hoặc đối tượng tương thích."
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Bắt buộc, tên mô hình công khai. `gemini-omni` Có thể được gọi thông qua `/v1/videos`.",
                    "enum": [
                      "sora-2",
                      "sora-2-pro",
                      "gemini-omni",
                      "happyhorse-1.0",
                      "happyhorse-1.0-i2v",
                      "happyhorse-1.0-t2v",
                      "happyhorse-1.0-r2v",
                      "happyhorse-1.0-video-edit",
                      "doubao-seedance-1-0-lite-i2v-250428",
                      "doubao-seedance-1-0-lite-t2v-250428",
                      "doubao-seedance-1-0-pro-250528",
                      "doubao-seedance-1-0-pro-fast-251015",
                      "doubao-seedance-1-5-pro-251215",
                      "doubao-seedance-2-0-260128",
                      "doubao-seedance-2-0-fast-260128",
                      "veo3",
                      "veo3-fast",
                      "veo3-fast-frames",
                      "veo3-frames",
                      "veo3-pro",
                      "veo3-pro-frames",
                      "veo3.1",
                      "veo3.1-4k",
                      "veo3.1-components",
                      "veo3.1-fast",
                      "veo3.1-pro",
                      "veo3.1-pro-4k",
                      "kling-video",
                      "grok-imagine-1.0-video",
                      "grok-imagine-video-1.5-preview",
                      "grok-video-3",
                      "viduq3-turbo",
                      "hailuo-video"
                    ],
                    "example": "sora-2"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Điểm nhập prompt thống nhất. Bắt buộc với hầu hết các mô hình."
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Cổng vào cho một ảnh đơn, một số chế độ tương thích sẽ được ánh xạ tới `images`."
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Đầu vào thời lượng được thống nhất; một số mô hình cũng chấp nhận seconds."
                  },
                  "width": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "example": 512,
                    "description": "Video height"
                  },
                  "fps": {
                    "type": "integer",
                    "example": 30,
                    "description": "Video frame rate"
                  },
                  "seed": {
                    "type": "integer",
                    "example": 20231234,
                    "description": "Random seed"
                  },
                  "n": {
                    "type": "integer",
                    "example": 1,
                    "description": "Number of videos to generate"
                  },
                  "response_format": {
                    "type": "string",
                    "example": "url",
                    "description": "Response format"
                  },
                  "user": {
                    "type": "string",
                    "example": "user-1234",
                    "description": "User identifier"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Container trường mở rộng động. Một số lượng lớn các trường đặc thù của mô hình được giải tuần tự hóa từ đây."
                  },
                  "mode": {
                    "type": "string",
                    "description": "Tùy chọn, chế độ tạo video. `gemini-omni` Hỗ trợ `t2v`, `r2v`, `edit`."
                  },
                  "images": {
                    "type": "array",
                    "description": "Điểm vào thống nhất cho nhiều ảnh. Vidu, Seedance, Veo sẽ sử dụng, v.v.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "size": {
                    "type": "string",
                    "description": "Điểm vào kích thước hợp nhất, sẽ được ánh xạ thành resolution/aspect_ratio, v.v."
                  },
                  "seconds": {
                    "type": "string",
                    "description": "Sora điểm vào tương thích, trong thời gian chạy sẽ quay về duration."
                  },
                  "input_reference": {
                    "type": "string",
                    "description": "Sora/Veo điểm vào ảnh tham chiếu tương thích, có thể là tệp multipart hoặc đối tượng tương thích."
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "model",
                  "prompt"
                ]
              },
              "examples": {
                "openai_t2v": {
                  "summary": "OpenAI t2v (prompt/model)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_i2v_input_reference": {
                  "summary": "OpenAI i2v (input_reference)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "input_reference": {
                      "image_url": "https://example.com/input.jpg"
                    },
                    "seconds": "8",
                    "size": "1280x720",
                    "response_format": "url"
                  }
                },
                "openai_alias_compat": {
                  "summary": "Alias兼容 (image_url/duration/aspect_ratio)",
                  "value": {
                    "model": "sora-2",
                    "prompt": "A cinematic drone shot over snowy mountains at sunrise",
                    "image_url": "https://example.com/input.jpg",
                    "duration": "8",
                    "aspect_ratio": "16:9",
                    "response_format": "url"
                  }
                },
                "gemini_omni_sora_t2v": {
                  "summary": "Gemini Omni Sora t2v",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "t2v",
                    "prompt": "A cinematic product video with smooth camera motion",
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "gemini_omni_sora_r2v": {
                  "summary": "Gemini Omni Sora r2v",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "r2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "Keep the product consistent and create a short ad video"
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/product.jpg"
                        }
                      }
                    ],
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "gemini_omni_sora_edit": {
                  "summary": "Gemini Omni Sora edit",
                  "value": {
                    "model": "gemini-omni",
                    "mode": "edit",
                    "content": [
                      {
                        "type": "text",
                        "text": "Change the outfit color while keeping the motion natural"
                      },
                      {
                        "type": "video_url",
                        "video_url": {
                          "url": "https://example.com/input.mp4"
                        }
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/style.jpg"
                        }
                      }
                    ],
                    "duration": 8,
                    "size": "1280x720"
                  }
                },
                "happyhorse_sora_t2v": {
                  "summary": "HappyHorse Sora t2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "t2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic white horse running through a neon city street"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P",
                    "ratio": "16:9"
                  }
                },
                "happyhorse_sora_i2v": {
                  "summary": "HappyHorse Sora i2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "i2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "The camera slowly pushes in, natural motion"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/first-frame.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P"
                  }
                },
                "happyhorse_sora_r2v": {
                  "summary": "HappyHorse Sora r2v",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "r2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "Keep the character and product consistent in a short cinematic clip"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-2.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720P",
                    "ratio": "16:9"
                  }
                },
                "happyhorse_sora_video_edit": {
                  "summary": "HappyHorse Sora video_edit",
                  "value": {
                    "model": "happyhorse-1.0",
                    "mode": "video_edit",
                    "content": [
                      {
                        "type": "text",
                        "text": "Change the jacket to a striped sweater and keep the motion natural"
                      },
                      {
                        "type": "video_url",
                        "video_url": "https://example.com/input.mp4"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/reference.jpg"
                      }
                    ],
                    "resolution": "720P"
                  }
                },
                "seedance_i2v_first": {
                  "summary": "Seedance i2v_first",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first",
                    "prompt": "A panda skateboarding in a city street, cinematic",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_i2v_first_last": {
                  "summary": "Seedance i2v_first_last",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "i2v_first_last",
                    "prompt": "A camera moves from first frame to last frame naturally",
                    "image_urls": [
                      "https://example.com/first.jpg"
                    ],
                    "end_image_url": "https://example.com/last.jpg",
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_images": {
                  "summary": "Seedance reference_images",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_images",
                    "prompt": "Stylized short video keeping character consistency",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_reference_material": {
                  "summary": "Seedance Chế độ tham chiếu toàn năng(reference_material)",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "prompt": "Blend image and short reference video into a coherent cinematic clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg",
                      "https://example.com/ref-2.jpg"
                    ],
                    "video_urls": [
                      "https://example.com/ref-video.mp4"
                    ],
                    "audio_urls": [
                      "https://example.com/ref-audio.mp3"
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "seedance_volc_content": {
                  "summary": "Seedance chế độ content của Volcengine Ark",
                  "value": {
                    "model": "doubao-seedance-1-0-lite-i2v-250428",
                    "mode": "reference_material",
                    "content": [
                      {
                        "type": "text",
                        "text": "A cinematic teaser video with fast-paced action cuts"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1280x720"
                  }
                },
                "veo_first_last_frame": {
                  "summary": "Veo chế độ khung đầu-cuối",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "A smooth transition from first frame to last frame, cinematic motion",
                    "image_urls": [
                      "https://example.com/first-frame.jpg"
                    ],
                    "end_image_url": "https://example.com/last-frame.jpg",
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "veo_reference_images_1to3": {
                  "summary": "Veo Chế độ 1~3 ảnh tham chiếu",
                  "value": {
                    "model": "veo3.1-fast",
                    "prompt": "Use reference style and character consistency for a short ad clip",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": "8",
                    "size": "1280x720"
                  }
                },
                "kling_text2video": {
                  "summary": "Kling tạo video từ văn bản",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "kling_image2video": {
                  "summary": "Kling Chuyển hình ảnh thành video",
                  "value": {
                    "model": "kling-video",
                    "prompt": "A cat playing piano in the garden",
                    "image": "https://example.com/input.jpg",
                    "duration": 5,
                    "size": "1280x720",
                    "metadata": {
                      "negative_prompt": "blurry, low quality",
                      "mode": "std"
                    }
                  }
                },
                "grok_reference_video": {
                  "summary": "Grok Chế độ video",
                  "value": {
                    "model": "grok-imagine-1.0-video",
                    "prompt": "A dramatic cinematic shot with fast motion and rich lighting",
                    "reference_images": [
                      "https://example.com/ref-1.jpg"
                    ],
                    "seconds": 10,
                    "aspect_ratio": "16:9",
                    "resolution": "720P"
                  }
                },
                "vidu_sora_t2v": {
                  "summary": "Vidu Sora t2v",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "t2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A stylish product ad clip with cinematic lighting"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "vidu_sora_i2v": {
                  "summary": "Vidu Sora i2v",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "i2v",
                    "content": [
                      {
                        "type": "text",
                        "text": "A stylish ad clip from a product still image"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/product.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_sora_first_last": {
                  "summary": "Vidu Sora i2v_first_last",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "i2v_first_last",
                    "content": [
                      {
                        "type": "text",
                        "text": "A smooth shot from start frame to end frame"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/start.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/end.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p"
                  }
                },
                "vidu_sora_reference": {
                  "summary": "Vidu Sora reference_images",
                  "value": {
                    "model": "viduq3-turbo",
                    "mode": "reference_images",
                    "content": [
                      {
                        "type": "text",
                        "text": "Maintain product style and character consistency"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-1.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-2.jpg"
                      },
                      {
                        "type": "image_url",
                        "image_url": "https://example.com/ref-3.jpg"
                      }
                    ],
                    "duration": 5,
                    "resolution": "720p",
                    "aspect_ratio": "16:9"
                  }
                },
                "hailuo_text2video": {
                  "summary": "Hailuo Tạo video từ văn bản",
                  "value": {
                    "model": "hailuo-video",
                    "prompt": "A cinematic travel shot over the coastline",
                    "duration": 6,
                    "size": "1280x720"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Đã tạo tác vụ video thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Tương thích với giao diện cũ (Sắp ngừng hỗ trợ)"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "description": "Should use VideoStatus constants: VideoStatusQueued, VideoStatusInProgress, VideoStatusCompleted, VideoStatusFailed",
                      "enum": [
                        "queued",
                        "in_progress",
                        "completed",
                        "failed",
                        "video_url",
                        "url",
                        "completed_at"
                      ]
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "completed_at": {
                      "type": "integer"
                    },
                    "expires_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "remixed_from_video_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "created_at",
                    "id",
                    "model",
                    "object",
                    "progress",
                    "status"
                  ]
                },
                "example": {
                  "id": "video_abc123",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Tham số yêu cầu bị lỗi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/vi/định-dạng-tương-thích-sora-cho-tạo-video/tạo-video"
        }
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Lấy trạng thái tác vụ video",
        "deprecated": false,
        "description": "OpenAI Giao diện truy vấn trạng thái tác vụ video tương thích.\n\nTrả về thông tin trạng thái chi tiết của tác vụ video.",
        "operationId": "getVideo",
        "tags": [
          "Định dạng tương thích Sora cho tạo video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID tác vụ video",
            "required": true,
            "example": "sora-2-123456",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lấy trạng thái tác vụ video thành công",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "progress": {
                      "type": "integer"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "seconds": {
                      "type": "string"
                    },
                    "video_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Địa chỉ URL của video kết quả. Các mô hình khác nhau có thể trả về `video_url` hoặc `url`, chọn một trong hai."
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Địa chỉ URL của video kết quả. Các mô hình khác nhau có thể trả về `url` hoặc `video_url`, chọn một trong hai."
                    },
                    "completed_at": {
                      "type": "integer",
                      "description": "Thời gian hoàn tất (giây Unix)."
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "Thời gian hết hạn của kết quả (Unix giây)."
                    },
                    "error": {
                      "type": "object",
                      "description": "Thông báo lỗi khi thất bại."
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Siêu dữ liệu bổ sung."
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "model",
                    "status",
                    "progress",
                    "created_at",
                    "seconds"
                  ]
                },
                "example": {
                  "id": "sora-2-123456",
                  "object": "video",
                  "model": "sora-2",
                  "status": "queued",
                  "progress": 0,
                  "created_at": 1764347090922,
                  "seconds": "8"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Nhiệm vụ không tồn tại",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/vi/định-dạng-tương-thích-sora-cho-tạo-video/lấy-trạng-thái-tác-vụ-video"
        }
      }
    },
    "/v1/videos/{task_id}/content": {
      "get": {
        "summary": "Lấy nội dung video",
        "deprecated": false,
        "description": "Lấy nội dung tệp video của các tác vụ video đã hoàn thành.\n\nGiao diện này sẽ đóng vai trò proxy để trả về luồng tệp video (video file stream).",
        "operationId": "getVideoContent",
        "tags": [
          "Định dạng tương thích Sora cho tạo video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID tác vụ video",
            "required": true,
            "example": "video-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lấy nội dung video thành công",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Video không tồn tại hoặc chưa hoàn thành",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/vi/định-dạng-tương-thích-sora-cho-tạo-video/lấy-nội-dung-video"
        }
      }
    },
    "/kling/v1/videos/text2video": {
      "post": {
        "summary": "Kling tạo video từ văn bản",
        "deprecated": false,
        "description": "Dòng này hỗ trợ định dạng tạo video OpenAI (xem chi tiết tại liên kết [Định dạng tương thích với Sora tạo video](/api-reference/vi/tao-video-dinh-dang-tuong-thich-sora/tao-video)).\n\nSử dụng mô hình Kling để tạo video từ mô tả văn bản.\n\nCác mô hình hỗ trợ: kling-v1, kling-v1-5, v.v.",
        "operationId": "createKlingText2Video",
        "tags": [
          "Định dạngKling tạo video"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "宇航员站起身走了",
                "duration": 5,
                "width": 1280,
                "height": 720,
                "fps": 30
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Đã tạo tác vụ tạo video thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Tham số yêu cầu bị lỗi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/vi/định-dạngkling-tạo-video/kling-tạo-video-từ-văn-bản"
        }
      }
    },
    "/kling/v1/videos/text2video/{task_id}": {
      "get": {
        "summary": "Lấy trạng thái tác vụ tạo video từ văn bản Kling",
        "deprecated": false,
        "description": "Dòng này hỗ trợ định dạng tạo video OpenAI (xem chi tiết tại liên kết [Định dạng tương thích với Sora tạo video](/api-reference/vi/tao-video-dinh-dang-tuong-thich-sora/tao-video)).\n\nTruy vấn trạng thái và kết quả của tác vụ tạo video từ văn bản Kling.",
        "operationId": "getKlingText2Video",
        "tags": [
          "Định dạngKling tạo video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID nhiệm vụ",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lấy trạng thái nhiệm vụ thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Nhiệm vụ không tồn tại",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/vi/định-dạngkling-tạo-video/lấy-trạng-thái-tác-vụ-tạo-video-từ-văn-bản-kling"
        }
      }
    },
    "/kling/v1/videos/image2video": {
      "post": {
        "summary": "Kling Chuyển hình ảnh thành video",
        "deprecated": false,
        "description": "Dòng này hỗ trợ định dạng tạo video OpenAI (xem chi tiết tại liên kết [Định dạng tương thích với Sora tạo video](/api-reference/vi/tao-video-dinh-dang-tuong-thich-sora/tao-video)).\n\nDùng mô hình Kling để tạo video từ hình ảnh.\n\nHỗ trợ truyền URL hình ảnh hoặc dữ liệu hình ảnh mã hóa Base64 thông qua tham số image.",
        "operationId": "createKlingImage2Video",
        "tags": [
          "Định dạngKling tạo video"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoRequest"
              },
              "example": {
                "model": "kling-v1",
                "prompt": "人物转身走开",
                "image": "https://example.com/image.jpg",
                "duration": 5,
                "width": 1280,
                "height": 720
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Đã tạo tác vụ tạo video thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Tham số yêu cầu bị lỗi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/vi/định-dạngkling-tạo-video/kling-chuyển-hình-ảnh-thành-video"
        }
      }
    },
    "/kling/v1/videos/image2video/{task_id}": {
      "get": {
        "summary": "Lấy trạng thái tác vụ tạo video từ ảnh Kling",
        "deprecated": false,
        "description": "Dòng này hỗ trợ định dạng tạo video OpenAI (xem chi tiết tại liên kết [Định dạng tương thích với Sora tạo video](/api-reference/vi/tao-video-dinh-dang-tuong-thich-sora/tao-video)).\n\nTruy vấn trạng thái và kết quả của tác vụ tạo video từ ảnh Kling.",
        "operationId": "getKlingImage2Video",
        "tags": [
          "Định dạngKling tạo video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "ID nhiệm vụ",
            "required": true,
            "example": "task-abc123",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lấy trạng thái nhiệm vụ thành công",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            },
            "headers": {}
          },
          "404": {
            "description": "Nhiệm vụ không tồn tại",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {}
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/vi/định-dạngkling-tạo-video/lấy-trạng-thái-tác-vụ-tạo-video-từ-ảnh-kling"
        }
      }
    },
    "/v1/responses/{response_id}": {
      "get": {
        "summary": "Phản hồi truy vấn (OpenAI Responses API)",
        "description": "OpenAI Responses API giao diện truy vấn tác vụ bất đồng bộ. `response_id` Hãy sử dụng đầy đủ `id` được trả về khi tạo phản hồi, không cắt ngắn hoặc viết lại.\n\nTruy vấn tác vụ hình ảnh bất đồng bộ của OpenAI Responses API. `response_id` Phải sử dụng đầy đủ `id` do `POST /v1/responses` trả về, ví dụ `resp_xxx`.\n\n## Ví dụ truy vấn bất đồng bộ\n\n```http\nGET /v1/responses/resp_xxx\n```\n\nGiải thích tương đương của tham số đường dẫn:\n\n```json\n{\n \"response_id\": \"resp_xxx\"\n}\n```\n\nVí dụ phản hồi ở trạng thái hoàn tất:\n\n```json\n{\n \"id\": \"resp_xxx\",\n \"created_at\": 1780649146,\n \"error\": null,\n \"incomplete_details\": null,\n \"instructions\": null,\n \"metadata\": {},\n \"model\": \"gpt-image-2-2k\",\n \"object\": \"response\",\n \"output\": [\n {\n \"id\": \"ig_010c31178d26436ca6194cde07931b33_0\",\n \"result\": null,\n \"status\": \"completed\",\n \"type\": \"image_generation_call\",\n \"url\": \"https://example.png\"\n }\n ],\n \"parallel_tool_calls\": true,\n \"temperature\": null,\n \"tool_choice\": null,\n \"tools\": null,\n \"top_p\": null,\n \"max_output_tokens\": null,\n \"previous_response_id\": null,\n \"reasoning\": null,\n \"status\": \"completed\",\n \"text\": null,\n \"truncation\": null,\n \"usage\": null,\n \"user\": null,\n \"store\": null\n}\n```",
        "tags": [
          "Định dạng OpenAI (Responses)"
        ],
        "parameters": [
          {
            "name": "response_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "resp_xxx"
            },
            "description": "Tạo id đầy đủ được trả về trong phản hồi."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "resp_xxx",
                      "description": "Response ID。"
                    },
                    "object": {
                      "type": "string",
                      "example": "response"
                    },
                    "created_at": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string",
                      "example": "in_progress",
                      "description": "Trạng thái tác vụ, thường là `queued`, `in_progress`, `completed`, `failed`."
                    },
                    "model": {
                      "type": "string"
                    },
                    "output": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "URL hình ảnh sau khi tác vụ ảnh hoàn tất."
                          }
                        }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "task_id": {
                          "type": "string",
                          "description": "Siêu dữ liệu ID của tác vụ thượng nguồn."
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "nullable": true,
                      "description": "Đối tượng lỗi khi thất bại."
                    }
                  }
                },
                "examples": {
                  "responses_image_async_completed": {
                    "summary": "Kết quả trả về khi truy vấn bất đồng bộ tạo ảnh hoàn tất",
                    "value": {
                      "id": "resp_xxx",
                      "created_at": 1780649146,
                      "error": null,
                      "incomplete_details": null,
                      "instructions": null,
                      "metadata": {},
                      "model": "gpt-image-2-2k",
                      "object": "response",
                      "output": [
                        {
                          "id": "ig_010c31178d26436ca6194cde07931b33_0",
                          "result": null,
                          "status": "completed",
                          "type": "image_generation_call",
                          "url": "https://example.png"
                        }
                      ],
                      "parallel_tool_calls": true,
                      "temperature": null,
                      "tool_choice": null,
                      "tools": null,
                      "top_p": null,
                      "max_output_tokens": null,
                      "previous_response_id": null,
                      "reasoning": null,
                      "status": "completed",
                      "text": null,
                      "truncation": null,
                      "usage": null,
                      "user": null,
                      "store": null
                    }
                  }
                }
              }
            }
          }
        },
        "x-doc-source": "relay-openapi+contract-transform",
        "x-drift-status": "ok",
        "x-drift-count": 0,
        "x-drift-types": [],
        "x-mint": {
          "href": "/api-reference/vi/định-dạng-openai-responses/phản-hồi-truy-vấn-openai-responses-api"
        }
      }
    },
    "/suno/submit/music": {
      "post": {
        "summary": "Tạo tác vụ tạo nhạc",
[...]
